<div id='job_box' class="none" style="float:left">
	<div class="r_Interview" style="z-index:10">
		<span class="Interview_span">面试职位：</span>
		<div class="Interview_text_box">
			<input type="button" value="请选择" class="Interview_text_box_t"  id="name" onClick="search_show('job_name');"/>
			<input type="hidden" id="nameid" name="name" value=''/>
			<div class="Interview_text_box_list none" id="job_name">
				<ul>
					{yun:}foreach from=$company_job key=j item=v{/yun}    
						<li><a href="javascript:;" onclick="selects('{yun:}$v.id{/yun}', 'name', '{yun:}$v.name{/yun}');">{yun:}$v.name{/yun}</a></li>
					{yun:}/foreach{/yun} 
				</ul>
			</div>
		</div>
	</div>
	<div class="r_Interview" style="z-index:9"><span class="Interview_span">联系人：</span><input size='5'  id='linkman' value='' class="Interview_text"/></div>
	<div class="r_Interview"><span class="Interview_span">联系电话：</span><input size='19'  id='linktel' value='' class="Interview_text"/></div>
	<div class="r_Interview"><span class="Interview_span">面试时间：</span><input size='40' id='intertime' value=''  class="Interview_text  "/></div>
	<div class="r_Interview"><span class="Interview_span">面试地址：</span><input size='40' id='address' value=''  class="Interview_text"/></div>
	<div class="r_Interview"><span class="Interview_span">面试备注：</span><textarea id="content" cols="40" rows="5"  class="Interview_textarea_text"></textarea></div>
	<div class="r_Interview " style="padding-bottom:20px;"><span class="Interview_span">&nbsp;</span><input type="hidden" value="{yun:}$Info.id{/yun}" id="eid">
		<input type="hidden" value="{yun:}$Info.uid{/yun}" id="uid"/>
		<input type="hidden" id="username" value="{yun:}$Info.name{/yun}"/> 
		<input class="resume_sub_yq" id="click_invite" type="button" value="邀请面试"  />
 	</div>
</div>
 
<div id="talent_pool_beizhu" class="none">
	<div class="resume_beizu" style="margin-left:18px; margin-top:18px;">
		<textarea id="remark" cols="40" rows="5" class="resume_beizu_text" style="width:340px;height:90px;border:1px solid #ddd"></textarea>
	</div>
	<div style="text-align:center; padding:10px 0;">
		<input type="button" value="保存" onClick="talent_pool('{yun:}$Info.uid{/yun}','{yun:}$Info.id{/yun}','{yun:}url m=ajax c=talent_pool{/yun}')" class="resume_beizu_bth"/>
	</div>
</div>

<script>

function search_show(id){
	$("#"+id).show();
}
function selects(id,type,name){
	$("#job_"+type).hide();
	$("#"+type).val(name);
	$("#"+type+"id").val(id);
	
}
window.onload=function(){ 
      
	$('body').click(function (evt) {		
		if($(evt.target).parents("#name").length==0 && evt.target.id != "name") {
			$('#job_name').hide();
		}
  	});
	layui.use(['laydate'], function(){
		var laydate = layui.laydate;

			laydate.render({
			elem: '#intertime'
			,type:'date'
			,format:'yyyy-MM-dd'
		});
	});
}

</script>