{yun:}include file="$lietoustyle/header.htm"{/yun}
<div class="clear"></div>
<div class="hunter_reg_bg"> 
<link href="{yun:}$lietou_style{/yun}/css/login.css?v={yun:}$config.cachecode{/yun}" type="text/css" rel="stylesheet" />
<link href="{yun:}$lietou_style{/yun}/css/message.css?v={yun:}$config.cachecode{/yun}" type="text/css"  rel="stylesheet" />
<!--content  start-->
<div class="prompt_message">
<!--账号激活-->
<div class="prompt_message_cont">
<div class="prompt_message_cont_c">
<div class="prompt_message_img"><img src="{yun:}$lietou_style{/yun}/images/sh_wtg1.gif"></div>
<div class="prompt_message_right">
<div class="prompt_message_right_h1">已关闭会员注册</div>
<div class="prompt_message_right_p">很抱歉，已关闭会员注册功能，如果您有什么疑问,请联系管理员。</div>
</div>
</div>
<div class="prompt_message_touch">欢迎拨打我们客服电话：<span class="prompt_message_touch_tel">400-880-5523</span></div>
</div>
</div>
<!--content  end--> 
</div>
<div class="clear"></div>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
  DD_belatedPNG.fix('.png,.New_post,.box_bot,.new_post_box_h1 span,.icon,.ser_cz a,.Strat-list ,.logoin_su2,.logoin_after_su2,.logoin_after em,.logoin_after_tx dt,.service_filter_fot,.Strat-list .s,.nav_exit span,.company_focus');
</script>
<![endif]-->
<script>var webname = "{yun:}$config.sy_webname{/yun}";</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$lietoustyle/footer.htm"{/yun} 