@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;}
li{list-style-type:none;}
.w1000{width:1100px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
em,i{font-style:normal;}
body{color:#272636;}
input,textarea{font-size:14px; font-family:微软雅黑;}
a{color:#272636;text-decoration:none;cursor:pointer;}
body{width:100%;height:100%;margin:0;padding:0;font:0.8rem Helvetica Neue,Helvetica,STHeiTi,sans-serif;line-height:1.5;background:#f6f6f6;font-family:Microsoft Yahei;}
html{width:100%;height:100%;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none;}

.itwap_head{width:100%;height:50px;background:#3b96de;position:relative;z-index: 10;}
.itwap_head_search{padding-top:7px;margin:0 auto;}
.itwap_head_search_box{width:70%;margin:0 auto;}
.itwap_head_search_box_c{border:1px solid #ddd;height:33px;overflow:hidden;background:#fff;position:relative;border-radius:30px;padding-left:10px;}
.itwap_head_search_text{width:100%;height:35px;line-height:35px;border:none;font-size:14px;color:#666;background:#fff;}
.itwap_head_search_box_bth{position:absolute;right:0;top:0;width:60px;height:40px;border:none;background:#fff;}
.itwap_head_search_icon{width:20px;height:20px;background:url(../images/f.png) no-repeat;display:inline-block;position:absolute;right:10px;top:5px;}
.itwap_top{width:100%;background:#fff;border-bottom:1px solid #f2f2f2; position:relative;z-index: 100;}
.itwap_top ul li{width:23%; padding:10px 0;display:inline-block;border-right:1px solid #f2f2f2;text-align:center;font-size:14px;position:relative;color:#999;}
.itwap_top ul li:nth-child(4n) {border-right: none;}
.itwap_top ul li a{color:#666;word-break:keep-all;white-space:nowrap;overflow:hidden;width:100%;display:block; position:relative;}
.itwap_top_icon{display:inline-block;width:10px;height:6px;position:absolute;right:5px;top:8px;background:url(../images/dw.png) no-repeat;}.train_nav_icon{width:23px;height:23px;background:url(../images/header_nav.png) no-repeat; background-size:100%;display:inline-block;position:absolute;right:5px;top:0px; z-index:1}
.itwap_job_ct{padding:10px;line-height:26px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff;margin-top:10px; position:relative}
.itwap_job_ct_tit{position:relative;}
.itwap_job_ct_tit_nm a{font-size:16px;color:#3b96de;font-weight:bold;}
.itwap_job_ct_wg{position:absolute;top:0;right:0;color:#e91010;font-size:14px;}
.itwap_job_ct_company a{color:#8c8c8c;}
.itwap_job_ct_tm{color:#999;}
.itwap_job_ct_tit_icon{background:#F60;color:#fff;font-size:14px;padding:2px 8px;margin-left:10px;}
.itwap_head_return{position:absolute;left:10px;top:50%;margin-top:-13px;}
.itwap_head_return_icon{width:20px;height:20px;display:inline-block;margin-top:3px;background:url(../images/ft.png) no-repeat;}

.itwap_head_tit{width:100%;text-align:center;font-size:18px;color:#fff;line-height:50px;}
.itwap_job_title{padding:10px;line-height:28px;background:#fff;border:1px solid #dcdcdc;border-left:none;border-right:none;}
.itwap_job_title_nm a{font-size:16px;color:#3b96de;font-weight:bold;}
.itwap_job_title_wage{font-size:14px;color:#8c8c8c;}
.itwap_job_title_wage_cr{color:#e91010;}
.itwap_job_title_city{color:#999;}
.itwap_job_ds{margin-top:10px;background:#fff;padding:10px 20px ;border-top:1px solid #dcdcdc;}
.itwap_job_ds_top{height:30px;position:relative;color:#222;font-weight:bold;}
.itwap_job_ds_top_icon{position:absolute;left:-10px;top:4px;width:6px;height:14px;background:#3b96de;}
.itwap_job_ds_yq{margin-bottom:20px;color:#666; line-height:30px;}
.itwap_job_ds_pp{position:relative;color:#666; min-height:60px;}
.itwap_job_ds_pp_img{position:absolute;left:0;top:5px;}
.itwap_job_ds_pp_img_p{position:absolute;left:0;top:10px;}
.itwap_job_ds_pp_ct{padding-left:65px;}
.itwap_job_ds_gz{position:absolute;right:0;top:-5px;}
.itwap_job_ds_gz a{padding:0px 6px;height:25px;line-height:25px;background:#F60;color:#fff;display:block;}
.itwap_job_ds_pp_nm{font-weight:bold;color:#222;}
.itwap_job_ds_word{border-top:1px solid #dcdcdc;background:#fff;padding:10px;}
.itwap_job_ds_word_icon{margin-right:8px;width:16px;height:14px;background:url(../images/wen.png) no-repeat;display:inline-block;}
.itwap_job_ds_word_top{color:#222;}
.itwap_job_ds_textarea{margin-top:10px;}
.itwap_job_ds_textarea textarea{width:100%;height:88px;border:1px solid #eee;}
.itwap_job_ds_yzm{margin-top:10px;}
.itwap_job_ds_yzm_bx{width:105px;float:left;height:33px;border:1px solid #eee;text-indent:10px;}
.itwap_job_ds_yzm_img{display:inline-block;float:left;margin-left:10px;}
.itwap_job_but_fs{width:85px;height:35px;display:inline-block;margin-left:10px;border:none;background:-webkit-gradient(linear,0 0,0 100%,from(#f60),to(#f60));border:none;border-radius:3px;color:#fff;text-align:center;line-height:35px;}
.itwap_job_ds_detail{color:#666;}
.itwap_job_ds_detail:hover{color:#f60;}
.itwap_bottom{margin-top:3px;width:100%; position:fixed;left:0px;bottom:0px;}
.itwap_bottom_sc{width:30%;height:55px;font-size:16px;text-align:center;line-height:55px;background:#fff url(../images/x.png) no-repeat 20px center;border-top:1px solid #eee;border-right:1px solid #eee;display:inline-block;float:left;}
.itwap_bottom_ysc{width:30%;height:55px;font-size:16px;text-align:center;line-height:55px;background:#fff url(../images/x.png) no-repeat 5px center;border-top:1px solid #eee;border-right:1px solid #eee;display:inline-block;float:left;}
.itwap_bottom_li{width:39%;height:56px;text-align:center;line-height:55px;background:#F60;display:inline-block;}
.itwap_bottom_li a{color:#fff;font-size:16px;}
.itwap_bottom_fx{width:30%;height:55px;font-size:16px;text-align:center;line-height:55px;background:#fff url(../images/y.png) no-repeat 20px center;border-top:1px solid #eee;border-right:1px solid #eee;display:inline-block;float:left;}
.itwap_bottom_sc a{color:#f60;padding-left:10px;}
.itwap_bottom_fx a{color:#f60;padding-left:10px;}
.itwap_job_ds_kh{color:#222;margin-bottom:10px;}
.itwap_job_ds_job_b{padding:10px;line-height:26px;background:#fff;border-bottom:1px solid #dcdcdc;}
.itwap_job_b_nm a {font-size:16px;font-weight:bold;color:#3b96de;}
.itwap_job_b_city{color:#8c8c8c;}
.itwap_job_b_jy{color:#999;}
.itwap_job_b_jy i{color:#f60;font-size:16px;}
.itwap_xs{width:100%;height:39px;line-height:39px;background:#3985bb;color:#fff;position:relative;margin-top:10px; text-indent:10px;}
.itwap_xs_lt em{color:#edf508;font-weight:bold;}
.itwap_xs_ss{position:absolute;right:0;top:0;background:#f60;width:93px;text-align:center;height:39px;line-height:39px;}
.itwap_xs_ss a{color:#fff;}
.itwap_xs_ss:hover{background:#f90;}
.lt_wap_comlogo{width:100%; text-align:center; padding-top:20px;}
.lt_wap_comlogo img{border:1px solid #ddd}
.lt_wap_comname{width:100%; text-align:center; padding:10px 0;}
.lt_wap_comname a{color:#3985bb; font-weight:bold}
.lt_wap_comp{color:#666; line-height:23px;}
.lt_wap_comgz{width:100%; padding-top:10px;}
.lt_wap_comgz a{ display:inline-block;width:100%;height:38px; line-height:38px; text-align:center; background:#3985bb;color:#fff}

.lt_recuser_box{ background:#fff; line-height:23px; padding:10px;}
.lt_recuser_box_js{background:#fff; margin-top:10px; padding:10px;}
.lt_recuser_box_js_p{ padding:0px 10px; line-height:23px;}
.lt_recuser_box_js_h1{ font-weight:bold; padding:5px 0px 5px 15px; position:relative}
.lt_recuser_box_js_h1_icon{width:6px;height:14px; background:#3b96de; display:block; position:absolute;left:0px;top:8px;}
.lt_recuser_box_bt{color:#f00; margin-right:5px;}
.lt_recuser_box_tj_list{ margin-top:10px; padding:0px 10px 0px 80px; position:relative}
.lt_recuser_box_name{width:80px; position:absolute;left:0px;top:0px; line-height:30px; display:inline-block; text-align:right}
.lt_recuser_box_tj_list_text{width:99%;border:1px solid #ddd;height:30px; line-height:30px;}
.lt_recuser_box_tj_list_textarea{width:99%;border:1px solid #ddd;height:50px; line-height:30px;}
.lt_recuser_box_tj_list_sub{width:100%;height:38px;background:-webkit-gradient(linear,left top, left bottom, from(#f60),to(#f60));border:none;color:#fff}
.lt_recuser_box_tj_p{ line-height:23px; background:#fff; padding:10px; margin-top:10px;}
.lt_recuser_box_money{ font-size:20px;color:#f60}
.stamp_exceed{ position:absolute;right:0px;top:50px;}
.lt_h_bth_box{ background:#fff; padding:10px 0;border-bottom:1px solid #ddd; }
.lt_h_bth{width:32%; display:inline-block;border-right:1px solid #ddd; text-align:center;color:#f60; font-weight:bold}
.lt_h_bthend{border:none;}
.itwap_job_ds_pp_ct_t{ line-height:22px;}

.lt_select {position: relative;width: 99%;  border: 1px solid #ddd;height: 30px;line-height: 30px;}
.lt_select select {position: absolute;top: 0;right: 0;margin: 0;padding: 0;width: 100%;border: 0;background: transparent;color: #999;-webkit-appearance: none;height: 30px;line-height: 30px;vertical-align: middle;display: inline-block;}
.lt_select:after {position: absolute;top: 50%;right: 10px;margin-top: -3px;width: 6px;height: 6px;border: #ccc solid;border-width: 1px 1px 0 0;content: ' ';-webkit-transform: rotate(45deg);}
.post_text{width:80px;border:1px solid #ddd;height:30px;line-height: 30px; }
.lt_selectw30 {position: relative;width:30%;border: 1px solid #ddd;height: 30px;line-height: 30px;}
.lt_selectw30 select {position: absolute;top: 0;right: 0;margin: 0;padding: 0;width: 100%;border: 0;background: transparent;color: #999;-webkit-appearance: none;height: 30px;line-height: 30px;vertical-align: middle;display: inline-block;}
.lt_selectw30:after {position: absolute;top: 50%;right: 10px;margin-top: -5px;width: 5px;height: 5px;border: #ccc solid;border-width: 1px 1px 0 0;content: ' ';-webkit-transform: rotate(135deg);}
.ltwap_box{ background:#fff; margin-top:10px;}
.ltwap_box_cont{ padding:13px 5px 13px 10px; position:relative}
.itwap_job_ct_time{color:#999; position:absolute;right:10px;top:8px;}
.itwap_job_ct_line{ font-size:12px; padding:0px 5px;color:#999}
.itwap_job_ct_xz{color:#C30}
.itwap_job_ct_company{ padding:5px 0;color:#666}
.itwap_job_ct_company_box{color:#666}
.itwap_job_ct_company_sj{ background:#f60;color:#fff; padding:2px 5px; font-size:12px; position:relative; margin-left:10px; white-space:nowrap}
.itwap_job_ct_company_sj:after{position: absolute;left: -5px;bottom: 0;width: 0;height: 0;border: 5px solid transparent;border-bottom: 5px solid #ff6a6a;font-size: 0;line-height: 0;content:""; position:absolute;left:-5px;}
.itwap_job_ct_company_box_n{ }
.lt_service{position:relative;margin-top:10px;padding:10px;background:#fff;border:1px solid #dcdcdc;border-left:none;border-right:none;}
.lt_service_img{position:absolute;left:10px;top:20px;}
.lt_service_img img{border-radius:50%;}
.itwap_job_ds_pp_img_p img{border-radius:50%;}
.lt_service_ct{padding-left:77px;line-height:26px;}
.lt_service_ct_tit{font-size:16px;font-weight:bold;color:#3b96de;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.lt_service_ct_tit a{color:#3b96de;}
.lt_service_money{color:#999;font-size:14px;}
.lt_service_money_r{color:#f30;font-size:16px;}
.lt_service_class_st a{color:#999;}
.lt_service_class_st{color:#999;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.lt_service_wt{margin-top:10px;}
.lt_service_wt a{background:#f60;color:#fff;padding:5px 15px;}
.lt_service_st_color{color:#999;}
.lt_service_st{color:#555;}
.it_wap_notip{width:100%; text-align:center; padding:80px 0 0 0; position:relative }
.it_wap_notipiocn{ width:40px;height:40px; display:inline-block; background:url(../images/yun_wap_no.png) no-repeat; background-size:100%; position:absolute;left:50%; margin-left:-25px; top:20px;}
.itwap_job_ds_hzkh{ margin-right:20px; display:inline-block; background:#f8f8f8; padding:2px 10px;}
.chat_bth{width:20px;background:#4abd72; text-align:center;color:#fff; position:fixed;right:0px;bottom:70px;border-radius:5px 0px 0px 5px; }