{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<ul>


</iul>
 <div class="clear"></div>
<section>
  <div class="warp_content clear">


	


    <div class="job_list_content"> 

	{yun:}rewardjob limit=12 reward=1 namelen=6 ispage=1 keyword='auto.keyword'  item=job_list  islt=4{/yun}

      <div class="sj_job_list_box">
            <div class="sj_job_list_box_pd">
   <div class="sj_job_list_box_icon">
 <div class="sj_job_list_box_jg"> ￥{yun:}$job_list.money{/yun}</div>
   
   </div>
   
     <a href="{yun:}url m=wap  c=job a=view id=$job_list.id{/yun}">
   <h3>{yun:}$job_list.name_n{/yun}      </h3>
   <div class="index_wap_joblist_comname">
   <span class="index_wap_joblist_comname_p">{yun:}$job_list.com_name|strip_tags|mb_substr:0:20:'utf-8'{/yun}
        {yun:}if $job_list.ratlogo!="" && $job_list.ratlogo!="0"{/yun}
           <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$job_list.ratlogo{/yun}"  style="vertical-align:middle" />
         {yun:}/if{/yun}
          {yun:}if $job_list.yyzz_status=='1'{/yun}
         <i class="job_qy_rz_icon"></i>
         {yun:}/if{/yun}

        </span>
      
      </div> {yun:}if $job_list.rec=='1' &&$job_list.rec_time gt time(){/yun}
        <i class="job_list_box_jobtj"></i>
        {yun:}/if{/yun}
       
<div class="index_wap_joblist_yq_p">
     
      {yun:}if $job_list.job_exp{/yun}<span class="index_wap_joblist_yq_s"><i class="index_wap_joblist_yq_jyicon"></i>{yun:}$job_list.job_exp{/yun}经验</span>{yun:}/if{/yun}
      {yun:}if $job_list.job_edu{/yun}<span class="index_wap_joblist_yq_s"><i class="index_wap_joblist_yq_xlicon"></i>{yun:}$job_list.job_edu{/yun}学历</span>{yun:}/if{/yun}</div>
       
    <div class="index_wap_joblist_xz">￥{yun:}$job_list.job_salary{/yun}</div>
          <div class="index_wap_joblist_time">    {yun:}if $job_list.time=='今天' || $job_list.time=='昨天'||$job_list.redtime=='1'{/yun}
          {yun:}$job_list.time{/yun}
          {yun:}else{/yun}
          {yun:}$job_list.time{/yun}
          {yun:}/if{/yun}
          </div>
          </a>
            </div>
            
       
 </div>
      {yun:}/rewardjob{/yun}
      {yun:}if $total<=0{/yun}
      {yun:}if $smarty.get.keyword!="" {/yun}
      <div class="wap_member_no">没有搜索到职位<div><a class="wap_mb_no_sr" href="{yun:}url m=wap c='job'{/yun}">重新搜索</a></div></div>
      {yun:}else{/yun}
      <div class="wap_member_no">暂无职位<div><a class="wap_mb_no_sr" href="{yun:}url m=wap c='job'{/yun}">重新搜索</a></div></div>
      {yun:}/if{/yun}
      {yun:}else{/yun}
      <div class="pages">{yun:}$pagenav{/yun}</div>
      {yun:}/if{/yun} </div>
  </div>
</section>


<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
 <script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/search.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/wap_tck.css?v={yun:}$config.cachecode{/yun}" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/demo.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script> 
<link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/demo.css?v={yun:}$config.cachecode{/yun}" type="text/css">
<script>
$(document).ready(function(){
	$("#search").val();
	$(".searchOptions_list li a").removeClass("search_h1_box_cur_list");
});
</script>
{yun:}include file="$wapstyle/footer.htm"{/yun} 