{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<div style="background:url({yun:}$config.sy_weburl{/yun}{yun:}$info.background{/yun}) no-repeat center top;background-size:200%;">
<div class="special_pd">
<div class="special_box">
<div class="special_tit"><i class="special_tit_icon special_tit_iconjs"></i>专题介绍</div>
<div class="special_cont">{yun:}$info.intro{/yun}</div>
</div>
<div class="special_box">
<div class="special_tit"><i class="special_tit_icon"></i>名企招聘</div>
<div class="special_cont">
{yun:}specialcom sid='auto.id' namelen=10 jobnamelen=6 item=clist{/yun}
{yun:}if $clist.jobs{/yun}
<div class="special_comlist">
<div class="special_cominfobox">
<div class="special_comlist_pic">
<a href="{yun:}url m=wap c=company a=show id=$clist.uid{/yun}"><img src="{yun:}$clist.logo{/yun}" width="50" height="50" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);"/></a>
</div>
<div class="special_comlist_name">
<a href="{yun:}url m=wap c=company a=show id=$clist.uid{/yun}">{yun:}$clist.name_n{/yun}</a>
</div>
<div class="special_comlist_info">{yun:}$clist.provinceid{/yun}{yun:}$clist.cityid{/yun}<span class="special_comlist_line">|</span>{yun:}$clist.hyname{/yun}
<div class="">{yun:}$clist.pr{/yun}<span class="special_comlist_line">|</span>{yun:}$clist.mun{/yun}</div></div>
</div>
<div class="special_comlist_job">
{yun:}foreach from=$clist.jobs item=jlist{/yun}
<a href="{yun:}url m=wap c=job a=view id=$jlist.id{/yun}">{yun:}$jlist.name_n{/yun}</a>
{yun:}/foreach{/yun}
</div>

</div>
{yun:}/if{/yun}
{yun:}specialcomelse{/yun}
  <div class="wap_member_no">暂无信息</div> 
{yun:}/specialcom{/yun} 


</div>
</div>
{yun:}if !$isapply{/yun}
<div class="special_box">

<div class="special_box_bm">我是企业,我想参加招聘</div>
{yun:}if $uid{/yun}{yun:}if $usertype=='2'{/yun}
<input type='button' value="我要报名" onclick="comapply('{yun:}$info.id{/yun}','{yun:}$info.integral{/yun}','{yun:}url m=wap c=special a=apply{/yun}')" class="special_box_bth" />
{yun:}else{/yun}
<input type='button' value="我要报名" onclick="layermsg('只有企业用户才能报名！');"class="special_box_bth"/>
{yun:}/if{/yun}
{yun:}else{/yun}
<a href="{yun:}url m=wap c=login{/yun}">我要报名</a>
{yun:}/if{/yun} 
         


</div>
{yun:}/if{/yun}</div>
</div>

<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/special.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
{yun:}include file="$wapstyle/footer.htm"{/yun} 