{yun:}if $usertype=="1"{/yun}   
	<div class="login_after_user_box">
	  <div class="login_after_user_photo"> <img width="60" height="60" src="{yun:}$member.photo{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_member_icon{/yun}',2);"> </div>
	  <div class="login_after_user_name">
          <div class="">
   尊敬的个人用户：</div>
	    <div class="login_after_user_uname"><span class="login_after_username_id">{yun:}$username{/yun}</span></div>
	  </div>
	</div>
	<div class="login_after_ztbox">
	  <div class="login_after_zt_list"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=resume"><span class="login_after_zt_list_n">{yun:}$member.resume_num{/yun}</span>我的简历</a></div>
	  <div class="login_after_zt_list"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=job"> <span class="login_after_zt_list_n">{yun:}$member.sq_jobnum{/yun}</span>申请职位</a></div>
	  <div class="login_after_zt_list login_after_zt_list_end"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=favorite"><span class="login_after_zt_list_n">{yun:}$member.fav_jobnum{/yun}</span>收藏职位</a></div>
	</div>
	<div class="login_after_bthbox"> <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect&add={yun:}$uid{/yun}" class="login_after_userbth">创建简历</a> 
		<a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=resume" class="login_after_usergz">简历管理</a> 
		<a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=atn" class="login_after_userbth">关注的企业</a>
		<a href="{yun:}$config.sy_weburl{/yun}/member/index.php" class=" login_after_userbthend">进入管理中心</a> 
		<a href="javascript:void(0);" onclick="logout('{yun:}url c=logout{/yun}');" class="login_after_bttc"> 安全退出</a>
	</div>
{yun:}elseif $usertype=="2"{/yun}
 
<div class="login_after_userlogo">
<div class="login_after_comlogo"><img width="80" height="80"src="{yun:}$company.logo{/yun}"  onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);">
</div>
<div class="login_after_combg"></div>
</div>
<div class="login_after_username">你好！<span class="login_after_username_id">{yun:}$username{/yun}</span></div>
<div class="login_after_webrname">欢迎登录{yun:}$config.sy_webname{/yun}</div>
<div class="login_after_ztbox">
  <div class="login_after_zt_list"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=hr"><span class="login_after_zt_list_n">{yun:}$company.sq_job{/yun}</span>应聘简历</a></div>
  <div class="login_after_zt_list"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=job&w=1"><span class="login_after_zt_list_n">{yun:}$company.job{/yun}</span>招聘职位</a></div>
  
  <div class="login_after_zt_list login_after_zt_list_end"><a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=talent_pool"><span class="login_after_zt_list_n">{yun:}$company.status2{/yun}</span>收藏简历</a>
  </div>

<div class="login_after_bthbox"> {yun:}if $addjobnum=='1'{/yun} <a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=jobadd" class="login_after_bth">发布职位</a> {yun:}else{/yun} <a href="javascript:void(0)" onclick="jobaddurl('{yun:}$addjobnum{/yun}','{yun:}$config.integral_job{/yun}')" class="login_after_bth">发布职位</a> {yun:}/if{/yun} <a href="{yun:}$config.sy_weburl{/yun}/member/index.php" class=" login_after_bthend">进入管理中心</a> <a href="javascript:void(0);" onclick="logout('{yun:}url c=logout{/yun}');" class="login_after_bttc"> 安全退出</a> </div>

{yun:}else{/yun}
<!--登录-->
<div class="hp_login_tit">

	<input type="hidden" name="act" id="act_login" value="0"/>
	<ul class="login_box_h_list">
		<li id="acount_login" class="login_box_h_list_cur">账号登录</li>
		{yun:}if $config.sy_msg_isopen==1 && $config.sy_msg_login==1{/yun}
		<li id="mobile_login" class="">手机登录<i class="login_box_line"></i></li>
		{yun:}/if{/yun}
	</ul>
	{yun:}if $config.wx_author=='1'{/yun}
	<div class="wxcode_login" title="微信扫一扫登录" style="display:block;"></div>
	<div class="normal_login none" title="普通登录"></div>
	{yun:}/if{/yun}
</div>

<div class="wx_login_show none">
 <div id="wx_login_qrcode" class="wxlogintext">正在获取二维码...</div>
 <div class="wxlogintxt">请使用微信扫一扫登录</div>
</div>

<div id="login_normal">
	<!--账号登录-->
	<div class="login_normal_box" id="login_normal_box">
	<div class="hp_login_hy"> <i class="hp_login_hy_icon fl"></i><i class="hp_login_line"></i>
	  <input class="hp_login_hy_but fl" type="text" id="username" name="username" value="邮箱/手机号/用户名" placeholder="邮箱/手机号/用户名"/>
	  <div class="index_logoin_msg none" id="show_name">
	    <div class="index_logoin_msg_tx">请填写用户名</div>
	    <div class="index_logoin_msg_icon"></div>
	  </div>
	</div>
	<div class="hp_login_hy"> <i class="hp_login_mm_icon fl"></i> <i class="hp_login_line"></i>
	<input type="text" id="password2" value="请输入密码" class="hp_login_mm_but fl">
	<input type="password" id="password" name="password" class="hp_login_mm_but fl none" value="" placeholder="请输入密码">
	  <div class="index_logoin_msg none" id="show_pass">
	    <div class="index_logoin_msg_tx">请填写密码</div>
	    <div class="index_logoin_msg_icon"></div>
	  </div>
	</div>
	</div>
	<div class="clear"></div>
	<!--手机动态码登录-->
	{yun:}if $config.sy_msg_isopen==1 && $config.sy_msg_login==1{/yun}
	<div class="login_sj_box none" id="login_sj_box">
	  <div class="hp_login_hy">
        <i class="hp_login_sj_icon fl"></i><i class="hp_login_line"></i>
	  	<input name="username" id="usermoblie" type="text" class="hp_login_hy_but hp_login_mm_but" value="请输入手机号码">
	  	<div class="index_logoin_msg none" id="show_mobile">
		  <div class="index_logoin_msg_tx" >请填写正确手机号</div>
		  <div class="index_logoin_msg_icon"></div>
		  </div>
	  </div>
	</div>
	<div class="clear"></div>
	{yun:}/if{/yun}
	{yun:}if stripos($config.code_web,"前台登录")!==false{/yun}
		{yun:}if $config.code_kind==3{/yun}	
		<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
		<script>
		var weburl="{yun:}$config.sy_weburl{/yun}",integral_pricename='{yun:}$config.integral_pricename{/yun}',pricename='{yun:}$config.integral_pricename{/yun}',code_web='{yun:}$config.code_web{/yun}',code_kind='{yun:}$config.code_kind{/yun}';
		</script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/gt.js?v={yun:}$config.cachecode{/yun}"></script>
		<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/pc.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
		<div class="index_verification" style="margin-top:15px">
	  <div id="popup-captcha" data-id='sublogin' data-type='click'></div>
		<input type='hidden' id="popup-submit">
		</div>
	  <style>.index_verification .geetest_holder.geetest_wind{min-width:247px;}</style>
		{yun:}else{/yun}
		<div class=" hp_login_yzbox">
	        <i class="hp_login_yzbox_icon"></i><i class="hp_login_line"></i>
			<input type="text" id="txt_CheckCode" name="authcode" value="验证码" class="yun_Indexlogin_yzm" maxlength="6">
			<div class="hp_login_yzbox_pic"><a href="javascript:void(0);" onclick="checkCode('vcode_imgs');"><img id="vcode_imgs" src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php" class="yun_Indexlogin_yzm_img"></a></div>
			<div class="index_logoin_msg none" id="show_code">
	        
				<div class="index_logoin_msg_tx">请填写验证码</div>
				<div class="index_logoin_msg_icon"></div>
		  </div>
		</div>
		{yun:}/if{/yun}
	{yun:}/if{/yun}
	<div class="clear"></div>
	<div class="login_sj_box none" id="login_sjyz_box">
		<div class="hp_login_hy">
         <i class="hp_login_mm_icon fl"></i><i class="hp_login_line"></i>
	  	<input name="password" type="text" class="login_m_text" id="dynamiccode" value="短信动态码">
	  	<div class="index_logoin_msg none" id="show_dynamiccode">
		  <div class="index_logoin_msg_tx" >请填写短信动态码</div>
		  <div class="index_logoin_msg_icon"></div>
		  </div>
		  <a href="javascript:void(0);" class=" hp_login_hy_send" id="send_msg_tip" onclick="send_msg2('{yun:}url m=login c=sendmsg{/yun}');">发送动态码</a>
	  </div>
	</div>
	<div class="hp_login_lg">
	  <input class="hp_login_lg_but" type="button" value="立即登录" onclick="check_login('{yun:}url m=login c=loginsave{/yun}','vcode_imgs');"/>
	</div>
	<div class="clear"></div>
	<div class="hp_login_rg fl"> 
		<span><a href="{yun:}$reg_com_url{/yun}" style="float:left" >注册账号</a></span>
    <span><a href="{yun:}url m=forgetpw{/yun}" style="float:right">忘记密码</a></span>
	</div></div>
	{yun:}/if{/yun}
 
<style>#label{height:34px; line-height:34px;border:1px solid #e6e6e6}</style>
<script>

$(document).ready(function(){
	//账号登录和手机登录tab选择
	$('#acount_login').click(function(data){
		$('#acount_login').removeClass().addClass('login_box_h_list_cur');
		$('#mobile_login').removeClass();
		$('#login_normal_box').show();
		$('#login_sj_box').hide();
		$('#login_sjyz_box').hide();
		$('#act_login').val('0');
	});
	$('#mobile_login').click(function(data){
		$('#mobile_login').removeClass().addClass('login_box_h_list_cur');
		$('#acount_login').removeClass();
		$('#login_sj_box').show();
		$('#login_sjyz_box').show();
		$('#login_normal_box').hide();
		$('#act_login').val('1');
	});
	$("#username,#txt_CheckCode,#usermoblie,#dynamiccode").focus(function(){
		var txAreaVal = $(this).val();
		if( txAreaVal == this.defaultValue){$(this).val("");}
	}).blur(function(){
		var txAreaVal = $(this).val();
		if( txAreaVal == this.defaultValue||$(this).val()==""){$(this).val(this.defaultValue);}
	}).keydown(function (e) {
	    var ev = document.all ? window.event : e;
	    if (ev.keyCode == 13) {
	        check_login('{yun:}url m=login c=loginsave{/yun}','vcode_imgs');
	    } else { return;}
	});
	$("#password2").focus(function(){
		$("#password").show();
		$("#password").focus();
		$("#password2").hide();
	})
	$("#password").blur(function(){
		if($("#password").val()==""){
			$("#password2").show();
			$("#password").hide();
		}
	}).keydown(function (e) {
	    var ev = document.all ? window.event : e;
	    if (ev.keyCode == 13) {
	        check_login('{yun:}url m=login c=loginsave{/yun}','vcode_imgs');
	    } else { return; }
	});
	var setval;
	$('.wxcode_login').click(function(data){
		$('.wxcode_login').hide();
		$('.normal_login').show();
		$('#login_normal').hide();
		$('.login_box_h_list').hide();
		$('.wx_login_show').show();
		$.post('{yun:}url m=login c=wxlogin{/yun}',{t:1},function(data){
			if(data==0){
				$('#wx_login_qrcode').html('二维码获取失败..');
			}else{
				$('#wx_login_qrcode').html('<img src="'+data+'" width="100" height="100">');
				setval = setInterval("wxorderstatus()", 2000); 
			}
		});

	});
	$('.normal_login').click(function(data){
		$('.wxcode_login').show();
		$('.normal_login').hide();
		$('#login_normal').show();
		$('.login_box_h_list').show();
		$('.wx_login_show').hide();
		clearInterval(setval);
	});
});

function wxorderstatus() { 
	$.post('{yun:}url m=login c=getwxloginstatus{/yun}',{t:1},function(data){
		
		var data=eval('('+data+')');
		if(data.url!='' && data.msg!=''){
			layer.msg(data.msg, 2, 9,function(){window.location.href=data.url;});
		}else if(data.url){
			
			window.location.href=data.url;
		}
	});
}
function jobaddurl(num,integral_job){ 
	var gourl= weburl+'/member/index.php?c=jobadd';
		checkType = 'addjob';

	var url = weburl + '/index.php?m=ajax&c=ajax_day_action_check';
		$.post(url,
			{'type': checkType},
			function(data){
				data = eval('(' + data + ')');
				if(data.status == -1){
					layer.msg(data.msg, 2, 8);
				}else if(data.status == 1){
					if(num==1){
						window.location.href=gourl;
						window.event.returnValue = false;
						return false;
					}else if(num==2){
						var msg='套餐已用完，您可以<a href="'+weburl+'/member/index.php?c=right&act=added" style="color:red;">购买增值包</a>！是否继续？';
						layer.confirm(msg, function(){
							layer.closeAll();
							window.location.href=weburl+"/member/index.php?c=right&act=added"; 
							
						});
					}else if(num==0){
						var msg='会员已到期，您可以<a href="'+weburl+'/member/index.php?c=right" style="color:red">购买会员</a>！是否继续？';

						layer.confirm(msg, function(){
							window.location.href=weburl+"/member/index.php?c=right"; 
						});  
 						
 					}
				}
			}
		);
	 
}
</script>