<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<link href="{yun:}$style{/yun}/style/microresume.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<style>
* {
	margin:0;
	padding:0;
}
body, div {
	margin:0;
	padding:0;
}
.content_firm {
	float:left;
	width:100%;
	margin: 0 auto;
	position: relative;
}
</style>
</head>
<body class="once_bg">
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="clear"></div>
<div class="once_banner">
<div class="once_banner_cont">
 <div class="once_banner_cont_cur">您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}url m=once{/yun}">店铺招聘</a></div>
  <div class="once_banner_cont_b"><img src="{yun:}$style{/yun}/images/once_bg.jpg" width="1200" height="204"/></div>
  <div class="once_tips_bg_b"></div>
   <div class="once_tips_bg">
          <div class="once_tips_h1">他们这样招工</div>
          <div class="once_tips_p">不用注册，快速发布招聘广告信息，
            你再也不用到处跑,这里也能贴招聘广告</div>
          <div class="once_tips_fab"> <a href='javascript:;' {yun:}if $num{/yun}onclick="showfabu()"{yun:}else{/yun}onclick="layer.msg('每天最多可发布{yun:}$config.sy_once{/yun}份店铺招聘！',2,8)"{yun:}/if{/yun} class="recruit_user_public">发布店铺招聘</a> </div>
        </div>
        
  </div>
 </div>
<div class="yun_content">
<div class=""></div>
  <div class="clear"></div>
  <!--start-->
  <div class="recruit_micro">
    <div class="wrap">

      <div class="res_search">
      <div class="once_s_box">
        <div class="res_search_con ">
          <form action="{yun:}if !$config.sy_oncedir{/yun}index.php{yun:}else{/yun}{yun:}url m=once{/yun}{yun:}/if{/yun}"   method="get" onsubmit="return search_keyword(this,'请输入店铺招聘的关键字');">
            <div class="res_time ">
              <div class="res_time_con"> <span id="add_times">{yun:}if $smarty.get.add_time{/yun}{yun:}$add_time[$smarty.get.add_time]{/yun}{yun:}else{/yun}不限{yun:}/if{/yun}</span> <i></i> </div>
              {yun:}if  !$config.sy_tinydir{/yun}
              <input type="hidden" value="tiny" name="m" />
              {yun:}/if{/yun}
              <input type="hidden" name="add_time" id="add_time" value="{yun:}$getinfo.val{/yun}" />
              <ul class="none" id="res_menu">
                {yun:}foreach item=v key=key from=$add_time{/yun}
                <li onclick="selectonce('{yun:}$key{/yun}','{yun:}$v{/yun}');"><a href="javascript:;"> {yun:}$v{/yun}</a></li>
                {yun:}/foreach{/yun}
              </ul>
            </div>
            <div class="res_key">
              <input id="key_word" class="res_key_txt" type="text" value="{yun:}if $smarty.get.keyword{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}else{/yun}请输入店铺招聘的关键字{yun:}/if{/yun}"  name="keyword" onclick="if(this.value=='请输入店铺招聘的关键字'){this.value=''}" placeholder="请输入店铺招聘的关键字" onblur="if(this.value==''){this.value='请输入店铺招聘的关键字'}"/>
              <input type="submit"  value="搜索" id="search_button" class="res_key_btn yun_bg_color"/>
            </div>
          </form> 
          {yun:}if $oncekeyword{/yun}
          <div class="res_hot"> 热门搜索：
            {yun:}key limit=12 type=1  item=keylist{/yun} <a href="{yun:}$keylist.url{/yun}"> {yun:}$keylist.key_name{/yun}</a> {yun:}/key{/yun} </div>
          {yun:}else{/yun}
          <div class="res_hot">&nbsp;</div>
          {yun:}/if{/yun} </div>
      </div></div>
      <div class="recruit_micro_list">
        <div class="recruit_micro_list01" style="padding-top:0px;">
          <ul>
            {yun:}fast item=once ispage=1 limit=21  keyword='auto.keyword' add_time='auto.add_time' {/yun}
            <li>
              <div class="recruit_list_title">   <a href="{yun:}url m=once c=show id='`$once.id`'{/yun}">{yun:}$once.title|mb_substr:0:11:'utf-8'{/yun}</a></div>
            
              <div class="recruit_list_detail">
			  {yun:}$once.require|mb_substr:0:100:'utf-8'{/yun}</div>
                <div class="recruit_list_gongzi">工资：{yun:}if $once.salary{/yun}￥{yun:}$once.salary{/yun}{yun:}else{/yun}面议{yun:}/if{/yun}</div>
               <div class="recruit_list_city"></div>
              <div class="recruit_list_link"> 
              {yun:}if $config.user_wzp_link==1 && $uid<=0{/yun}
                <div class="once_tel_p_login fl"><a href="javascript:void(0);" onclick="showlogin('');" style="color:#1c99ef">[登录]</a> 后才可以查看联系方式</div>
             {yun:}else{/yun}
                {yun:}if $once.phone{/yun}
                <div class="once_tel_p">联系电话：{yun:}$once.phone{/yun}（{yun:}$once.linkman{/yun}）</div>
                {yun:}/if{/yun}
                {yun:}if $once.address{/yun}<div class="once_tel_add">联系地址：{yun:}$once.address{/yun}</div>{yun:}else{/yun}<div class="once_tel_add1"> </div>{yun:}/if{/yun}
                {yun:}/if{/yun}
                <div class="once_fb_time">更新于                 
                {yun:}if $once.redtime==1 || $once.ctime<60{/yun} <span style="color:red;">{yun:}$once.ctime{/yun}</span> {yun:}else{/yun}
                {yun:}$once.ctime{/yun}
                {yun:}/if{/yun}
               </div>
                
              </div>
            </li>
            {yun:}/fast{/yun}
          </ul>
          {yun:}if $pagenav{/yun}
          <div class="clear"></div>
          <div class="pages"> {yun:}$pagenav{/yun}</div>
          {yun:}/if{/yun}
          {yun:}if $total==0{/yun}
        
          <div class="onceseachno">
            <div class="onceseachno_left"> <img src="{yun:}$style{/yun}/images/search-no.gif"/></div>
            <div class="onceseachno_content"> <strong>很抱歉，没有找到满足条件的职位</strong><br/>
              <span> 建议您：<br/>
              1、适当减少已选择的条件<br/>
              2、适当删减或更改搜索关键字<br/>
              </span> <span> 热门关键字：<br/>
              {yun:}key limit=6 recom=1 type=1 item=top_key{/yun} <a href="{yun:}$top_key.url{/yun}">{yun:}$top_key.key_name{/yun}</a> {yun:}/key{/yun} </span> </div>
          </div>
          {yun:}/if{/yun} </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--end--> 
</div>
<!--弹出框 -->
<div class=" none" style="_position:absolute;" id="fabufast">
	<form action="{yun:}url m=once{/yun}" target="supportiframe" method="post"  onSubmit="return check_once_job()" enctype="multipart/form-data">
	<div class="once_tck_box">
		<div class="once_tck_box_bg">
			<div class="once_tck_box_tit"><span class="once_tck_box_tit_s"><i class="once_tck_box_tit_icon once_tck_box_tit_icon_job"></i>职位信息</span></div>
			<div class="once_tck_box_jobname">
				<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>我想招聘： </div>   
				<input  class="once_tck_box_text once_tck_box_textname " type="text" id="title" maxlength="15" name="title"/>
			</div> 
		  	<div class="once_tck_box_jobxz"> 
				<div class="once_tck_box_name">工 资： </div>   
		 		<input class="once_tck_box_text once_tck_box_textxz" type="text" id="salary" maxlength="15" name="salary"/>
		 	</div>   
		   	<div class="once_tck_box_jobtime"> 
				<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>招聘有效期：  </div>   
		 		<input class="once_tck_box_text once_tck_box_texttime" type="text" id="edate" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"  maxlength="3" name="edate"/>  <span class="">天</span>
		 	</div> 
		   	<div class="once_tck_box_job_simplew"> 
				<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>招聘要求：  </div>   
		 		<textarea rows='6' class="once_tck_box_job_simplew_textarea" id="require" onfocus="if(this.value=='请填写招聘的具体要求，如：性别，学历，年龄，工作经验，工资待遇等相关信息') this.value=''" onblur="this.value=this.value==''?'请填写招聘的具体要求，如：性别，学历，年龄，工作经验，工资待遇等相关信息':this.value" name="require">请填写招聘的具体要求，如：性别，学历，年龄，工作经验，工资待遇等相关信息</textarea>
		 	</div> 
		</div>
		<div class="once_tck_box_bg ">
		 	<div class="once_tck_box_tit"><span class="once_tck_box_tit_s"><i class="once_tck_box_tit_icon once_tck_box_tit_icon_info"></i>店铺信息</span></div>
		 	<div class="once_tck_box_jobname">
				<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>店铺名称： </div>   
		     	<input class="once_tck_box_text once_tck_box_textname" type="text" id="companyname" maxlength="15" name="companyname"/>
			</div> 
		 	<div class="once_tck_box_jobxz">
				<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>联系电话： </div>   
		     	<input class="once_tck_box_text once_tck_box_textxz" type="text" id="phone" onkeyup="this.value=this.value.replace(/[^0-9-]/g,'')" maxlength="13" name="phone"/>
			</div> 
		 	<div class="once_tck_box_jobtel">
				<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>联系人： </div>   
		  		<input class="once_tck_box_text once_tck_box_texttel" type="text" id="linkman" maxlength="15" name="linkman"/>
			</div> 
			<div class="once_tck_box_jobname">
				<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>店铺地址： </div>   
			    <input class="once_tck_box_text once_tck_box_textname" type="text" id="address" maxlength="15" name="address"/>
			</div> 
		 	<div class="once_tck_box_job_tel">
				<div class="once_tck_box_name"><i class="once_tck_box_icon"></i>店铺形象： </div>   
		     	  <div class="once_tck_box_job_photo"> <input type="file" id="pic" name="pic" class="" style="*width:200px;*height:23px;"/></div>
			</div> 
		</div>
	 	<div class="once_tck_box_bg">
	 		<div class="once_tck_box_tit"><span class="once_tck_box_tit_s"><i class="once_tck_box_tit_icon once_tck_box_tit_icon_zh"></i>账户信息</span></div>
	 		<div class="once_tck_box_jobname">
				<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>设置密码：<span class="once_tck_box_tip">用于刷新/修改/删除信息！</span> </div>   
	     		<input class="once_tck_box_text once_tck_box_textname" type="password"  id="password" name="password" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')"/>
			</div> 
			
	  	{yun:}if strpos($config.code_web,"店铺招聘")!==false{/yun}

	  		<div class="once_tck_box_jobname">

				{yun:}if $config.code_kind==3{/yun}	
				
					<!---geetest----->
		            <div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>验证码： </div>   
		
		            <div class="once_verification">
						<div id="popup-captcha" data-id='botton' data-type='click'></div>
						<input type='hidden' id="popup-submit" />
					</div>
					
				{yun:}else{/yun}
					
					<div class="once_tck_box_name"><i class="once_tck_box_icon">*</i>验证码： </div>   
				  	<input id="authcode" class="once_tck_box_text once_tck_box_textyz" type="text" maxlength="4" name="authcode"/>
				  	<a class="fl"><img id="vcodeimgs" onclick="checkCode('vcodeimgs');" src="{yun:}$config.sy_weburl{/yun}/app/include/authcode.inc.php" style="margin-left:10px;border:1px solid #eee"/></a>
				  	<input id="code_kind" type="hidden" value="1"/>
				{yun:}/if{/yun}
			
			</div>	
	             		 
		{yun:}else{/yun}
				
			<input id="authcode" type="hidden" value="12345" maxlength="4" name="authcode"/>
	    
	    {yun:}/if{/yun} 
	
		</div>
		<div class="once_tck_box_jobbth_box">
	 		<input type="hidden" id="id" name="id"/>
	      	<input id="botton" class="once_tck_box_jobbth" type="submit" value="发布" name="submit"/>
	   	</div> 
	</div>
	</form>
</div> 

<input id="sqjobresume" value='1' type="hidden"/> 
  
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/fast.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/gt.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/pc.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script> 
<style>
.once_tel_add1 {
    width: 330px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding-left: 20px;
}
</style>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]-->
<script type="text/javascript"> 
$(document).ready(function(){
	$(window).scroll(function(){
		var scroll_Top = $(window).scrollTop();
		var width=document.body.clientWidth;
		if(scroll_Top>520){
			if(window.XMLHttpRequest){
				var top=0;
				var right=(width-970)/2+"px";
			}else{
				var top=parseInt(scroll_Top)-(520);
				var right=0;
			}
			$(".Fast_left").attr("style","position:fixed;top:"+top+"px;_position:absolute;right:"+right+";");
		}else{
			$(".Fast_left").attr("style","");
		}
	});
});


$(function(){
	$(".res_time").hover(function(){
		$(this).addClass("res_time_det");
		$(this).find("#res_menu").show();
		
	},function(){
		$(this).removeClass("res_time_det");
		$(this).find("#res_menu").hide();		
	});
});
function selectonce(val,name){
	$("#add_time").val(val);	
	$('#add_times').html(name)
	$("#res_menu").hide();
}
</script>
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" class="none"></iframe>
{yun:}include file="$tplstyle/public_search/login.htm"{/yun} 
{yun:}include file="$tplstyle/footer.htm"{/yun}