<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="js/echarts_plain.js?v={yun:}$config.cachecode{/yun}"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp"> 
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">请按照范本格式上传 xls文件，其他文件无法读取。</div>
</div>
</div>
<div class="clear"></div>


<div class="">
<table class="admin_tj_table">
<tr>
<td><a href="index.php?m=admin_tongji&c=reg&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg"><i class="admin_tj_icon admin_tj_icon_zc"></i></div><div class="admin_tj_p">会员注册统计</div></div></a></td>

<td><a href="index.php?m=admin_tongji&c=lookjob&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_b"><i class="admin_tj_icon admin_tj_icon_l"></i></div><div class="admin_tj_p">职位浏览统计</div></div></a></td>

<td><a href="index.php?m=admin_tongji&c=lookresume&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_c"><i class="admin_tj_icon admin_tj_icon_jianli"></i></div><div class="admin_tj_p">简历浏览统计</div></div></a></td>

<td><a href="index.php?m=admin_tongji&c=useridmsg&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_d"><i class="admin_tj_icon admin_tj_icon_ms"></i></div><div class="admin_tj_p">邀请面试统计</div></div></a></td>

</tr>
<tr>
<td><a href="index.php?m=admin_tongji&c=downresume&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_c"><i class="admin_tj_icon admin_tj_icon_xz"></i></div><div class="admin_tj_p">简历下载统计</div></div></a></td>

<td><a href="index.php?m=admin_tongji&c=useridjob&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_d"><i class="admin_tj_icon admin_tj_icon_td"></i></div><div class="admin_tj_p">简历投递统计</div></div></a></td>

<td><a href="index.php?m=admin_tongji&c=order&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_e"><i class="admin_tj_icon admin_tj_icon_cz"></i></div><div class="admin_tj_p">财务统计</div></div></a></td>

<td><a href="index.php?m=admin_tongji&c=ad&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_a"><i class="admin_tj_icon admin_tj_icon_xf"></i></div><div class="admin_tj_p">广告统计</div></div></a></td>

</tr>

<tr>


<td><a href="index.php?m=admin_tongji&c=company&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_b"><i class="admin_tj_icon admin_tj_icon_bl"></i></div><div class="admin_tj_p">企业统计</div></div></a></td>

<td><a href="index.php?m=admin_tongji&c=job&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg"><i class="admin_tj_icon admin_tj_icon_sj"></i></div><div class="admin_tj_p">职位数据统计</div></div></a></td>

<td><a href="index.php?m=admin_tongji&c=resume&days=7" class="admin_tj_list_box"><div class="admin_tj_list"><div class="admin_tj_icon_bg admin_tj_icon_bg_c"><i class="admin_tj_icon admin_tj_icon_sjtj"></i></div><div class="admin_tj_p">简历数据统计</div></div></a></td>
</tr
></table>



</div>




</body>
</html>