<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">猎头会员信息</div>
</div>
</div>
<div class="clear"></div>

 <div class="tag_box mt10"> 
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
<form name="myform" target="supportiframe" action="index.php?m=admin_lt_member&c=add" method="post" >
<table width="100%" class="table_form">
 <tr class="admin_table_trbg">
          <th colspan="4" bgcolor="#f0f6fb"><span class="admin_bold">猎头会员信息</span></th>
    </tr>
<tr>
		<th width="60" align="left">会员级别：</th>
		<td width="250">

        
        <div class="yun_admin_select_box zindex100"> 
          <input type="button" value="请选择" class="yun_admin_select_box_text" id="com_rating_name" onClick="select_click('com_rating');">
          <input name="rating_name" type="hidden" id="com_rating_val" value="">
          <!--这块后加--> 
         
          <div class="yun_admin_select_box_list_box dn" id="com_rating_select"> {yun:}foreach from=$rating_list item=v{/yun}
            <div class="yun_admin_select_box_list"> <a href="javascript:;" onClick="select_new('com_rating','{yun:}$v.id{/yun}','{yun:}$v.name{/yun}')">{yun:}$v.name{/yun}</a> </div>
            {yun:}/foreach{/yun} </div>
        </div>
        
        
        </td>
	</tr>
	<tr class="admin_table_trbg" >
		<th width="60" >用户名：</th>
		<td width="350"><input type="text"  value="" name="username" class="input-text"></td>
	</tr>
	<tr>
		<th>密码：</th>
		<td><input type="text" value="" name="password" class="input-text">
		<font color="gray"></font>
		</td>
	</tr>
		<tr class="admin_table_trbg" >
		<th>E-mail：</th>
		<td><input type="text" value="" name="email" class="input-text">
		<font color="gray"></font>
		</td>
	</tr>
		<tr>
		<th>联系电话：</th>
		<td><input type="text" value="" name="moblie" class="input-text">
		<font color="gray"></font>
        </td>
	</tr>

	<tr class="admin_table_trbg">
    	<tr class="admin_table_trbg" >
		<th>是否审核：</th>
		<td><input type="radio" name="status" value="0">未审核
        <input type="radio" checked name="status" value="1">已审核
		<font color="gray"></font>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
        <input class="admin_button" type="submit" name="submit" value="&nbsp;添 加&nbsp;" />
		<input class="admin_button" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" />
        </td>
	</tr>
</table>
<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
</form>
</div></div>
</body>
</html>