<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">猎头简历库简历。</div>
</div>
</div>

  <div class="infoboxp_top mt10">
    <h6>简历详情</h6>
  </div>
  <div class="main_tag" >
    <div class="tag_box">
      <table width="100%" class="table_form" style="background:#fff; font-size:14px;">  
		<tr class="admin_table_trbg">
			<th width="120">姓名：</th>
			<td>{yun:}$Info.name{/yun}</td>
		</tr>     
        <tr >
          <th>性别：</th>
          <td>{yun:}$Info.sex{/yun}</td>
        </tr>
		<tr >
          <th>年龄：</th>
          <td>{yun:}$Info.age{/yun}</td>
        </tr>
		<tr >
          <th>现居住地：</th>
          <td>{yun:}$Info.living{/yun}</td>
        </tr>
		<tr >
          <th>最高学历：</th>
          <td>{yun:}$Info.useredu{/yun}</td>
        </tr>
		<tr >
          <th>工作经验：</th>
          <td>{yun:}$Info.user_exp{/yun}</td>
        </tr>
        <tr >
          <th>手机号码：</th>
          <td>{yun:}$Info.linktel{/yun}</td>
        </tr>
		<tr >
          <th>意向岗位：</th>
          <td>{yun:}$Info.jobname{/yun}</td>
        </tr>
		<tr >
          <th>从事行业：</th>
          <td>{yun:}$Info.hy{/yun}</td>
        </tr>
		<tr >
          <th>期望薪资：</th>
          <td>{yun:}$Info.minsalary{/yun} - {yun:}$Info.maxsalary{/yun}</td>
        </tr>
		<tr >
          <th>期望城市：</th>
          <td>{yun:}$Info.city_one{/yun} {yun:}$Info.city_two{/yun} {yun:}$Info.city_three{/yun}</td>
        </tr>
			<tr >
          <th>求职状态：</th>
          <td>{yun:}$Info.jobstatus{/yun}</td>
        </tr>
		<tr >
          <th>工作经历：</th>
          <td>{yun:}$Info.expinfo{/yun}</td>
        </tr>
		<tr >
          <th>教育经历：</th>
          <td>{yun:}$Info.eduinfo{/yun}</td>
        </tr>
		<tr >
          <th>项目经历：</th>
          <td>{yun:}$Info.projectinfo{/yun}</td>
        </tr>
		<tr >
          <th>技能特长：</th>
          <td>{yun:}$Info.skillinfo{/yun}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>