<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
	<div class="tabs_info">
		<ul>
			<li><a href="index.php?m=admin_lt_rating">等级设置</a></li> 
			<li class="curr"><a href="index.php?m=admin_lt_rating&c=server" class="report_uaer_list_on">增值服务</a> </li> 
		</ul>
	</div>
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">该页面您设置的增值服务详细信息，可对增值服务进行选择查看，编辑，删除等操作。</div>
</div>
</div>
 <div class="clear"></div>
  <div class="admin_new_search_box">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="index.php?m=admin_lt_rating&c=delt" name="myform" method="post" id='myform' target="supportiframe">
    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
	<div class="admin_new_search_name">增值类型：</div>
          <div class="admin_Filter_text formselect" >
        {yun:}if $row.name{/yun}
        	{yun:}foreach from=$zzlist key=key item=v{/yun}
	        	{yun:}if $row.name==$v.name{/yun}
	        	<input type="button" value="{yun:}$row.name{/yun}" id="zzlist_name" class="admin_new_select_text" onClick="select_click('zzlist')">
   	            <input name="service_type" type="hidden" id="service_type_val" value="{yun:}$v{/yun}">
	        	{yun:}/if{/yun}
        	{yun:}/foreach{/yun}
       	{yun:}else{/yun}
             <input type="button" value="请选择" class="yun_admin_select_box_text" id="zzlist_name" onClick="select_click('zzlist')">
       	{yun:}/if{/yun}
       	<div class="admin_Filter_text_box dn" id="zzlist_select"> 
       		{yun:}foreach from=$zzlist key=j item=v{/yun}
            	<div class="yun_admin_select_box_list"> <a href="index.php?m=admin_lt_rating&c=list&id={yun:}$v.id{/yun}">{yun:}$v.name{/yun}</a> </div>
   	            <input name="service_type" type="hidden" id="service_type_val" value="">
            {yun:}/foreach{/yun} 
       	</div>
	</div>	
  
 </div>
  <div class="clear"></div>

    <div class="clear"></div>
    <div class="table-list">
  <div class="admin_table_border">
      <table width="100%">
        <thead>
          <tr class="admin_table_top">
            <th style="width:20px;"><label for="chkall"><input type="checkbox" id='chkAll' onclick='CheckAll(this.form)' /></label></th>
            <th>编号</th>
            <th>服务价格</th>
            <th>下载简历</th>
             
            <th>发布职位</th>
            <th>刷新职位</th>
              <th class="admin_table_th_bg">操作</th>
          </tr>
        </thead>
        <tbody>
        {yun:}foreach item=v key=key from=$list{/yun}
        <tr align="center"{yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
          <td><input type="checkbox" value="{yun:}$v.id{/yun}" name='del[]' onclick='unselectall()' rel="del_chk" /></td>
          <td><span>{yun:}$v.id{/yun}</span></td>
          <td><span>{yun:}$v.service_price{/yun}</span>元</td>
          <td><span>{yun:}$v.resume{/yun}</span></td>
           <td><span>{yun:}$v.lt_job_num{/yun}</span></td>
          <td><span>{yun:}$v.lt_breakjob_num{/yun}</span></td>
           <td>
	        <a href="index.php?m=admin_lt_rating&c=edittc&id={yun:}$v.type{/yun}&tid={yun:}$v.id{/yun}"class="admin_new_c_bth ">编辑</a> 
	        <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_lt_rating&c=delt&id={yun:}$v.id{/yun}');"class="admin_new_c_bth admin_new_c_bth_sc"> 删除</a>
        </td>
        </tr>
        {yun:}/foreach{/yun}
        <tr style="background:#f1f1f1;">
            <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
            <td colspan="16" >
            <label for="chkAll2">全选</label>&nbsp;
          <input class="admin_button"  type="button" name="delsub" value="删除所选"  onclick="return really('del[]')"/></td>
        </tr>
          </tbody>
      </table>
    </form>
  </div>
</div>
</div> 
</body>
</html>