<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
  <div class="tabs_info">
    <ul>
      <li><a href="index.php?m=admin_lt_rating">等级设置</a></li>
      <li class="curr"><a href="index.php?m=admin_lt_rating&c=server" class="report_uaer_list_on">增值服务</a> </li>
    </ul>
  </div>
  <div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
    <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
    <div class="admin_new_tip_list_cont">
    <div class="admin_new_tip_list">可设置的增值服务包括：职位增值包，简历增值包等等，按照自已实际情况去设置增值服务，需满足的条件、享受优惠</div>
<div class="admin_new_tip_list">会员中心看不到已下架的增值包</div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="admin_new_search_box"> 
	<a href="index.php?m=admin_lt_rating&c=srating" class="admin_new_cz_tj" style="margin-left:0px;width:110px;"> 设置增值类型</a> 
	<a href="index.php?m=admin_lt_rating&c=edit" class="admin_new_cz_tj"> 设置增值包</a> 
	</div>
  <div class="clear"></div>
  

<div class="table-list">
  <div class="admin_table_border">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="index.php?m=admin_lt_rating&c=dels" name="myform" method="post" id='myform' target="supportiframe">
    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
    <table width="100%">
        <thead>
          <tr class="admin_table_top">
            <th style="width:20px;"><label for="chkall"><input type="checkbox" id='chkAll' onclick='CheckAll(this.form)' /></label></th>
            <th>编号</th>
            <th>服务名称</th>  
            <th>状态</th>
            <th width="150">操作</th>
          </tr>
        </thead>
        <tbody>
        {yun:}foreach item=v key=key from=$list{/yun}
        <tr align="center"{yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
          <td><input type="checkbox" value="{yun:}$v.id{/yun}" name='del[]' onclick='unselectall()' rel="del_chk" /></td>
          <td><span>{yun:}$v.id{/yun}</span></td>
          <td>{yun:}$v.name{/yun}</td>
          <td>
          	{yun:}if $v.display==1{/yun}
            	<font>已启用</font>
                   <div class="mt8"> <a href="javascript:onstatus('{yun:}$v.id{/yun}','2');"class="admin_color">下架此服务</a></div>
            {yun:}else{/yun}
            	<font color="#f00">未启用</font>
                  <div class="mt8">  <a href="javascript:onstatus('{yun:}$v.id{/yun}','1');" class="admin_color">启用此服务</a></div>
            {yun:}/if{/yun}
          </td>
        <td>
        <!-- <a href="index.php?m=admin_lt_rating&c=edit&id={yun:}$v.id{/yun}');"class="admin_new_c_bth ">编辑</a> -->
		<a href="index.php?m=admin_lt_rating&c=list&id={yun:}$v.id{/yun}');"class="admin_new_c_bth admin_new_c_bth_yl">详情</a> 
        
        <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_lt_rating&c=dels&id={yun:}$v.id{/yun}');"class="admin_new_c_bth admin_new_c_bth_sc"> 删除</a></td>
         
        </tr>
        {yun:}/foreach{/yun}
        <tr style="background:#f1f1f1;">
            <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
            <td colspan="8" >
            <label for="chkAll2">全选</label>&nbsp;
          <input class="admin_button"  type="button" name="delsub" value="删除所选"  onclick="return really('del[]')"/></td>
        </tr>
          </tbody>
        
    </table>
    </form>
  </div>
</div>
<script>
function onstatus(id,display){//修改招聘状态
	var pytoken=$("#pytoken").val();
	$.post("index.php?m=admin_lt_rating&c=opera",{id:id,display:display,pytoken:pytoken},function(data){
		if(data==1){ 
			layer.msg('设置成功！', 2, 9,function(){window.location.reload();});return false;
		}else{
			layer.msg('设置失败！', 2, 8);
		}
	})
}
</script>
</body>
</html>