<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<form class="layui-form">
<div class="infoboxp">
<div class="tabs_info">
		<ul>
			<li ><a href="index.php?m=admin_userset">个人设置</a></li> 
			<li><a href="index.php?m=admin_userset&c=logo">头像设置</a></li> 
			<li class="curr" ><a href="index.php?m=admin_userset&c=set">{yun:}$config.integral_pricename{/yun}设置</a></li>
			<li ><a href="index.php?m=admin_userset&c=userspend">消费设置</a></li>  
		</ul>
	</div>
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">该页面展示了网站个人{yun:}$config.integral_pricename{/yun}设置管理</div>
</div>
</div>

<div class="clear"></div>
<div class="main_tag mt10">
<div class="clear"></div>
<div class="tag_box">
<div>
<table width="100%" class="table_form">
  <tr class="admin_table_trbg">
    <th width="220" bgcolor="#f0f6fb"><span class="admin_bold">参数说明</span></th>
    <td bgcolor="#f0f6fb"><span class="admin_bold">参数值</span></td>
    </tr>

    <tr>
    <th width="220">发布简历：</th>
    <td>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <input type="checkbox" name="integral_add_resume_type" id="integral_add_resume_type" lay-skin="switch" lay-text="加|减" {yun:}if $config.integral_add_resume_type=="1"{/yun} checked {yun:}/if{/yun}/>

          <input type="text" name="integral_add_resume" id="integral_add_resume" required  lay-verify="required" value="{yun:}$config.integral_add_resume{/yun}" autocomplete="off" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')" class="input-text"> {yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}          
        </div>
      </div>
    </td>
  </tr>

    <tr class="admin_com_td_bg">
  <th width="220">上传身份验证：</th>
    <td>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <input type="checkbox" name="integral_identity_type" id="integral_identity_type" lay-skin="switch" lay-text="加|减" {yun:}if $config.integral_identity_type=="1"{/yun} checked {yun:}/if{/yun}/>

          <input type="text" name="integral_identity" id="integral_identity" required  lay-verify="required" value="{yun:}$config.integral_identity{/yun}" autocomplete="off" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')" class="input-text"> {yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}          
        </div>
      </div>
    </td>
  </tr>

    <tr class="admin_table_trbg">
 <th>&nbsp;</th>
          <td align="left">
        <input class="layui-btn layui-btn-normal admin_buttonpz" id="integral" type="button" name="config" value="提交" />&nbsp;&nbsp;
        <input class="layui-btn layui-btn-normal admin_buttonpz" type="reset" value="重置" /></td>
  </tr>
</table>
</div>

</div>
</div>
</div>
<input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
<script>

  layui.use(['layer', 'form'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,$ = layui.$;
  });

$(function(){
  $("#integral").click(function(){
    $.post("index.php?m=admin_userset&c=save",{
      config : $("#integral").val(),

      integral_add_resume_type : $("input[name=integral_add_resume_type]").is(":checked") ? 1 : 2,
      integral_add_resume : $("#integral_add_resume").val(),

      integral_identity_type : $("input[name=integral_identity_type]").is(":checked") ? 1 : 2,
      integral_identity : $("#integral_identity").val(),
      
      pytoken : $("#pytoken").val()
    },function(data,textStatus){
      config_msg(data);
    });
  });
})
</script>
</form>
</body>
</html>