<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp"> 
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">微信红包记录功能主要记录网站发给用户的红包记录，记录上有用户名、金额、发送时间、状态等参数。</div>
</div>
</div>
<div class="clear"></div>
<input type="hidden" name="m" value="admin_company">
<input type="hidden" name="status" value="">
<input type="hidden" name="rec" value="">
<input type="hidden" name="time" value="">
<input type="hidden" name="rating" value="">
  <div class="admin_new_search_box">
    <form action="index.php" name="myform" method="get">
      
        <input name="m" value="wx" type="hidden"/>
        <input name="c" value="wxlog" type="hidden"/>
		<input type="hidden" name="type" value="{yun:}$smarty.get.type{/yun}"/>
		<input type="hidden" name="usertype" value="{yun:}$smarty.get.usertype{/yun}"/>
		<input type="hidden" name="time" value="{yun:}$smarty.get.time{/yun}"/>
     
      <div class="admin_new_search_name">搜索类型：</div>
      <div class="admin_Filter_text formselect" did="dwx_type"> 
	  <input type="button" {yun:}if $smarty.get.wtype=='1'||$smarty.get.wtype==''{/yun} value="微信昵称" {yun:}elseif $smarty.get.wtype=='2'{/yun} value="已绑定用户" {yun:}/if{/yun} class="admin_Filter_but" id="bwx_type">
	  		   <input type="hidden" name="wtype" id="wx_type" value="{yun:}if $smarty.get.wtype{/yun}{yun:}$smarty.get.wtype{/yun}{yun:}else{/yun}1{yun:}/if{/yun}"/>
	  		   <div class="admin_Filter_text_box" style="display:none" id="dwx_type">
				  <ul>
					  <li><a href="javascript:void(0)" onClick="formselect('1','wx_type','微信昵称')">微信昵称</a></li>
					  <li><a href="javascript:void(0)" onClick="formselect('2','wx_type','已绑定用户')">已绑定用户</a></li>	
				  </ul>  
			  </div>
	    </div>	
        <input class="admin_Filter_search" type="text" name="keyword"  size="25" />
        <input class="admin_Filter_bth"  type="submit" name="news_search" value="检索用户"/>
   
    </form>
   </div>
  <div class="clear"></div>
  
  <div class="table-list mt10">
    <div class="admin_table_border">
      <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
      <form action="index.php" target="supportiframe" name="myform" id='myform' method="get">
        <input name="m" value="wx" type="hidden"/>
        <input name="c" value="dellog" type="hidden"/>
        <table width="100%">
          <thead>
            <tr class="admin_table_top">
              
              <th>编号</th>
              <th align="left">微信昵称</th>
              <th align="left">红包金额</th>
              <th align="left">红包类型</th>
			  <th align="left">已绑定用户</th>
			  <th align="left">用户类型</th>
			  <th align="left">红包提示</th>
              <th align="left">发放时间</th>
			  <th align="left">发放状态</th>
            </tr>
          </thead>
          <tbody>
          {yun:}foreach item=v key=key from=$logList{/yun}
          <tr align="center">
            
            <td align="left" class="td1" style="text-align:center;"><span>&nbsp;{yun:}$v.id{/yun}</span></td>
			<td class="ud" align="left">&nbsp;{yun:}$v.re_nick{/yun}</td>
			<td class="ud" align="left">&nbsp;{yun:}$v.total_amount{/yun}</td>
             <td class="ud" align="left">&nbsp;{yun:}if $v.type==1{/yun}关注微信公众号{yun:}elseif $v.type==2{/yun}绑定微信账户{yun:}elseif $v.type==3{/yun}创建首份简历{yun:}elseif $v.type==4{/yun}企业完善资料{yun:}/if{/yun}</td>
            <td class="ud" align="left">&nbsp;{yun:}$v.username{/yun}</td>
			<td class="ud" align="left">&nbsp;{yun:}if $v.usertype==1{/yun}个人{yun:}elseif $v.usertype==2{/yun}企业{yun:}/if{/yun}</td>
			<td class="ud" align="left">&nbsp;{yun:}$v.msg{/yun}</td>
            <td class="ud" align="left">&nbsp;{yun:}$v.time|date_format:"%Y-%m-%d %H:%M:%S"{/yun}</td>
            <td align="left">{yun:}if $v.status==1{/yun}<font color='green'>成功</font>{yun:}else{/yun}<font color='red'>失败</font>{yun:}/if{/yun}</td>
          </tr>
          {yun:}/foreach{/yun}
          <tr style="background:#f1f1f1;">
            
            <td colspan="9" class="digg">{yun:}$pagenav{/yun}</td>
          </tr>
            </tbody>
        </table>
		<input type="hidden" name="pytoken"  id="pytoken" value="{yun:}$pytoken{/yun}">
      </form>
    </div>
  </div>
</div>
</body>
</html>