<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">

<div class="tabs_info">
		<ul>
	<li{yun:}if $smarty.get.c==""{/yun}class="curr"{yun:}/if{/yun} ><a href="index.php?m=admin_userlog" >简历下载记录</a></li>
	<li {yun:}if $smarty.get.c=="trust"{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=admin_userlog&c=trust" >简历推送记录</a></li>
	<li {yun:}if $smarty.get.c=="lookresume"{/yun}class="curr"{yun:}/if{/yun}><a href="index.php?m=admin_userlog&c=lookresume" >简历浏览记录</a></li>
		</ul>
	</div>
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">该页面展示了网站所有的职位记录管理，可对职位记录进行删除操作。</div>
<div class="admin_new_tip_list">可输入名称关键字进行搜索，也可进行详细的高级搜索。</div>
</div>
</div>

<div class="clear"></div>

<div class="admin_new_search_box"> 
  <form action="index.php" name="myform" method="get">
      <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
      <input name="m" value="admin_userlog" type="hidden"/>
      <input name="c" value="trust" type="hidden"/>
	<div class="admin_new_search_name">搜索类型：</div>
   <div class="admin_Filter_text formselect"  did='dtype'>
        <input type="button" value="{yun:}if $smarty.get.type=='2'{/yun}企业名称{yun:}elseif $smarty.get.type=='3'{/yun}职位名称{yun:}else{/yun}简历名称{yun:}/if{/yun}" class="admin_Filter_but"  id="btype">
        <input type="hidden" id='type' value="{yun:}$smarty.get.type{/yun}" name='type'>
        <div class="admin_Filter_text_box" style="display:none" id='dtype'>
          <ul>
            <li><a href="javascript:void(0)" onClick="formselect('1','type','简历名称')">简历名称</a></li>
            <li><a href="javascript:void(0)" onClick="formselect('2','type','公司名称')">企业名称</a></li>
            <li><a href="javascript:void(0)" onClick="formselect('3','type','职位名称')">职位名称</a></li>
          </ul>
        </div>
      </div>
  
       <input class="admin_new_text" type="text" name="keyword" size="25"/>
      <input class="admin_new_bth" type="submit" name="search" value="搜索"/>
	
	<a  href="javascript:void(0)" onclick="$('.admin_screenlist_box').toggle();"   class="admin_new_search_gj">高级搜索</a></form>


  
  {yun:}include file="admin/admin_search.htm"{/yun}
  </div>
<div class="clear"></div> 

  <div class="clear"></div>
  <div class="table-list">
    <div class="admin_table_border">
      <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
      <form action="index.php" name="myform" method="get" target="supportiframe" id='myform'>
        <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
        <input name="m" value="admin_userlog" type="hidden"/>
        <input name="c" value="deltrust" type="hidden"/>
        <table width="100%">
          <thead>
            <tr class="admin_table_top">
              <th width="5%"><label for="chkall">
                  <input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/>
                </label></th>
              <th>编号</th>
              <th align="left">简历名称</th>
              <th align="left">企业名称</th>
              <th align="left">职位名称</th>
              <th width="15%">推送时间</th>
              <th class="admin_table_th_bg" width="10%">操作</th>
            </tr>
          </thead>
          <tbody>
          
          {yun:}foreach item=v key=key from=$list{/yun}
          <tr align="center"{yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
            <td><input type="checkbox" value="{yun:}$v.id{/yun}" class="check_all"  name='del[]' onclick='unselectall()' rel="del_chk" /></td>
            <td>{yun:}$v.id{/yun}</td>
            <td align="left">{yun:}$v.resume_name{/yun}</td>
            <td align="left">{yun:}$v.com_name{/yun}</td>
            <td align="left">{yun:}$v.job_name{/yun}</td>
            <td>{yun:}$v.ctime|date_format:"%Y-%m-%d %H:%M:%S"{/yun}</td>
            <td><a href="javascript:;" onClick="layer_del('确定要删除？','index.php?m=admin_userlog&c=deltrust&del={yun:}$v.id{/yun}');" class="admin_new_c_bth admin_new_c_bth_sc">删除</a></td>
          </tr>
          {yun:}/foreach{/yun}
          <tr style="background:#f1f1f1;">
            <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
            <td colspan="2" ><label for="chkAll2">全选</label>
              &nbsp;
              <input class="admin_button"  type="button"  name="delsub" value="删除所选" onClick="return really('del[]');" /></td>
            <td colspan="4" class="digg">{yun:}$pagenav{/yun}</td>
          </tr>
            </tbody>
          
        </table>
      </form>
    </div>
  </div>
</div>
</body>
</html>