<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">

  <div class="tabs_info">
    <ul>
      <li class="curr"><a href="index.php?m=admin_lt_rating">等级设置</a></li>
      <li><a href="index.php?m=admin_lt_rating&c=server" class="report_uaer_list_on">增值服务</a> </li>
    </ul>
  </div>
  <div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
    <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
    <div class="admin_new_tip_list_cont">
      <div class="admin_new_tip_list">猎头可设置的等级包括：普通会员，高级会员，钻石会员等等，按照实际情况去设置等级的区分，会员等级需满足的条件和享受的优惠</div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="admin_new_search_box"> <a href="index.php?m=admin_lt_rating&c=rating" class="admin_new_cz_tj" style="margin-left:0px;width:110px;"> 设置会员等级</a> </div>
  <div class="clear"></div>


<div class="table-list">
  <div class="admin_table_border">
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="index.php?m=admin_lt_rating&c=del" name="myform" method="post" id='myform' target="supportiframe">
    <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
      <table width="100%">
        <thead>
          <tr class="admin_table_top">
            <th width="40"><label for="chkall">
                <input type="checkbox" id='chkAll' onclick='CheckAll(this.form)' />
              </label></th>
            <th>编号</th>
            <th align="left">会员名称</th>
            <th>会员模式</th> 
            <th>购买金额</th>
            <th>服务时间</th>
            <th>状态</th>
            <th width="150">操作</th>
          </tr>
        </thead>
        <tbody>
        
        {yun:}foreach item=v key=key from=$list{/yun}
        <tr align="center"{yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
          <td><input type="checkbox" value="{yun:}$v.id{/yun}" name='del[]' onclick='unselectall()' rel="del_chk" /></td>
          <td><span>{yun:}$v.id{/yun}</span></td>
          <td align="left" >{yun:}$v.name{/yun}</td>
          <td>{yun:}if $v.type==1{/yun}套餐模式{yun:}else{/yun}时间模式{yun:}/if{/yun}</td> 
        <td>{yun:}$v.service_price{/yun}元</td>
        <td>{yun:}if $v.service_time!=""{/yun}{yun:}$v.service_time{/yun}天{yun:}else{/yun}不限{yun:}/if{/yun}</td>
        <td>
            {yun:}if $v.display eq 1{/yun}<span class="admin_com_Audited">已启用</span>{yun:}else{/yun}<span  class="admin_com_tg">未启用</span>{yun:}/if{/yun}
            </td>
        <td>
        <a href="index.php?m=admin_lt_rating&c=rating&id={yun:}$v.id{/yun}"class="admin_new_c_bth ">编辑</a> 
        
        <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_lt_rating&c=del&id={yun:}$v.id{/yun}');"class="admin_new_c_bth admin_new_c_bth_sc"> 删除</a></td>
         
        </tr>
        {yun:}/foreach{/yun}
        <tr style="background: #f1f1f1;">
          <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
          <td colspan="8">
          <label for="chkAll2">全选</label>&nbsp;
          <input class="admin_button"  type="button" name="delsub" value="删除所选"  onclick="return really('del[]')"/></td>
        </tr>
          </tbody>
        
      </table>
    </form>
  </div>
</div>
</body>
</html>