<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="tabs_info">
		<ul>
			<li> <a href="index.php?m=admin_jobpack" {yun:}if $smarty.get.c!="reward"{/yun}class="report_uaer_list_on"{yun:}/if{/yun}>分享职位</a></li>
			<li  class="curr"><a href="index.php?m=admin_jobpack&c=reward" {yun:}if $smarty.get.c=="reward"{/yun}class="report_uaer_list_on"{yun:}/if{/yun}>悬赏职位</a></li>
		</ul>
	</div>
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">该页面展示了网站所有的企业悬赏职位信息，可对会员进行编辑修改操作。</div>
</div>
</div>


  <div class="table-list" style="margin-top:20px;">
    <div class="admin_table_border">
      <form action="index.php" name="myform" method="get" target="supportiframe" id='myform'>
        <input name="m" value="admin_memberlog" type="hidden"/>
        <input name="c" value="dellog" type="hidden"/>
        <table width="100%">
          <thead>
            <tr class="admin_table_top">
              <th style="width:20px;"><label for="chkall">
                  <!--<input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/>-->
                </label></th>
              <th>职位编号</th>
              <th align="left">公司名称</th>
              <th align="left">职位名称</th>
              <th align="center">赏金总额</th>
              <th align="center">投递赏金</th>
              <th align="center">面试赏金</th>
			  <th align="center">入职赏金</th>
             
              <th>更新时间</th>
            
             
              <th align="center">应聘人数</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {yun:}foreach item=v from=$rows{/yun}
          <tr align="center" id="list{yun:}$v.id{/yun}">
            <td><!--<input type="checkbox" value="{yun:}$v.id{/yun}"  name='del[]' onclick='unselectall()' rel="del_chk" />--></td>
            <td>{yun:}$v.jobid{/yun}</td>
            <td align="left" >{yun:}$v.com_name{/yun}</td>
            <td align="left">{yun:}$v.name{/yun}</td>
            <td align="center"><span class="admin_jobpack_n4">{yun:}$v.money{/yun}</span></td>
            <td align="center"><span class="admin_jobpack_n1">￥{yun:}$v.sqmoney{/yun}</span></td>
            <td align="center"><span class="admin_jobpack_n2">￥{yun:}$v.invitemoney{/yun}</span></td>
            <td align="center"><span class="admin_jobpack_n3">￥{yun:}$v.offermoney{/yun}</span></td>
            <td class="td" >{yun:}$v.lastupdate|date_format:"%Y-%m-%d %H:%M"{/yun}</td>
            
            <td  align="center">
			{yun:}if $v.sqnum>0{/yun}

				<a href="index.php?m=admin_jobpack&c=rewardlog&jobid={yun:}$v.jobid{/yun}{yun:}if $smarty.get.t=='r'{/yun}&t=r{yun:}/if{/yun}" class="admin_cz_sc"><font color='green'>{yun:}$v.sqnum{/yun}人 查看应聘记录</font></a>
			
			{yun:}else{/yun}

				<font color='red'>暂无应聘</font>

			{yun:}/if{/yun}
			</td>
            <td><a href="javascript:void(0)" onClick="layer_del('删除悬赏职位将同步删除所有悬赏职位相关数据？', 'index.php?m=admin_jobpack&c=delreward&delid={yun:}$v.jobid{/yun}');" class="admin_new_c_bth admin_new_c_bth_sc">删除</a></td>
          </tr>
          {yun:}/foreach{/yun}
		  <tr style="background:#f1f1f1;">
       		
          <td colspan="12" class="digg">{yun:}$pagenav{/yun}</td>
        </tr>
            </tbody>
        </table>
		<input type="hidden" name="pytoken"  id='pytoken' value="{yun:}$pytoken{/yun}">
      </form>
    </div>
  </div>
  </div>
</body>
</html>