<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<title>后台管理</title>
</head>
<body class="body_ifm">
<form class="layui-form">
<div class="infoboxp">
	<div class="tabs_info">
	<ul>
		<li><a href="index.php?m=admin_comset">企业设置</a></li>
		<li><a href="index.php?m=admin_comset&c=logo">头像设置</a></li> 
		<li class="curr"><a href="index.php?m=admin_comset&c=set">{yun:}$config.integral_pricename{/yun}设置</a></li> 
		<li><a href="index.php?m=admin_comset&c=comspend">消费设置</a></li>  
		<li><a href="index.php?m=admin_comset&c=rating">套餐设置</a></li>  
		<li><a href="index.php?m=admin_comset&c=reward">职位推广设置</a></li> 
	</ul>
</div>
    
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">该页面展示了网站企业{yun:}$config.integral_pricename{/yun}设置管理</div>
</div>
</div>
	<div class="clear"></div>

	<div class="main_tag mt10">
		<div class="clear"></div>
		<div class="tag_box"><div>
		<table width="100%" class="table_form">
			<tr class="admin_table_trbg">
				<th width="220" bgcolor="#f0f6fb"><span class="admin_bold">参数说明</span></th>
				<td bgcolor="#f0f6fb"><span class="admin_bold">参数值</span></td>
			</tr>
			
     
			
  
   
   
  

    
   
  <tr>
  <th width="220">设置企业地图：</th>
    <td>
       
      <div class="layui-form-item">
      <div class="layui-input-block">
        <input type="checkbox" name="integral_map_type" id="integral_map_type" lay-skin="switch" lay-text="加|减"
        {yun:}if $config.integral_map_type=="1"{/yun}
         checked
        {yun:}/if{/yun}
        />

        <input class="input-text" type="text" name="integral_map" id="integral_map" value="{yun:}$config.integral_map{/yun}" size="13" maxlength="255" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')"/> {yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}
      </div>
      </div>

         </td>
  </tr>
  <tr class="admin_table_trbg">
  <th width="220">上传企业横幅：</th>
    <td>
      
      <div class="layui-form-item">
      <div class="layui-input-block">
        <input type="checkbox" name="integral_banner_type" id="integral_banner_type" lay-skin="switch" lay-text="加|减"
        {yun:}if $config.integral_banner_type=="1"{/yun}
         checked
        {yun:}/if{/yun}
        />

        <input class="input-text" type="text" name="integral_banner" id="integral_banner" value="{yun:}$config.integral_banner{/yun}" size="13" maxlength="255" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')"/> {yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}
      </div>
      </div>

        </td>
  </tr>
  <tr>
  <th width="220">认证营业执照：</th>
    <td>
      
      <div class="layui-form-item">
      <div class="layui-input-block">
        <input type="checkbox" name="integral_comcert_type" id="integral_comcert_type" lay-skin="switch" lay-text="加|减"
        {yun:}if $config.integral_comcert_type=="1"{/yun}
         checked
        {yun:}/if{/yun}
        />

        <input class="input-text" type="text" name="integral_comcert" id="integral_comcert" value="{yun:}$config.integral_comcert{/yun}" size="13" maxlength="255" onKeyUp="this.value=this.value.replace(/[^0-9.]/g,'')"/> {yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}
      </div>
      </div>

       </td>
  </tr>
    <tr class="admin_table_trbg">
    <td colspan="2" align="center">
        <input class="layui-btn layui-btn-normal" id="integral" type="button" name="config" value="提交" />&nbsp;&nbsp;
        <input class="layui-btn layui-btn-normal" type="reset" value="重置" /></td>
  </tr>
</table>
</div>

</div>
</div>
</div>
<input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
<script>
  layui.use(['layer', 'form'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,$ = layui.$;
  });
$(function(){

	$("#integral").click(function(){
		$.post("index.php?m=admin_comset&c=save",{
			config : $("#integral").val(),
		 
			integral_map_type : $("input[name=integral_map_type]").is(":checked") ? 1 : 2,
			integral_map : $("#integral_map").val(),

			integral_banner_type : $("input[name=integral_banner_type]").is(":checked") ? 1 : 2,
			integral_banner : $("#integral_banner").val(),      
		  
			integral_comcert_type : $("input[name=integral_comcert_type]").is(":checked") ? 1 : 2,
			integral_comcert : $("#integral_comcert").val(),

			pytoken : $("#pytoken").val()
		},
		
		function(data,textStatus){
			config_msg(data);
		});
	});
})
</script>
</form>
</body>
</html>