<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />  
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<title>后台管理</title>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.1.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script> 
<script>
var tplPath='{yun:}$config.sy_weburl{/yun}/';
var serverPath='index.php?m=admin_company&c=mshowsave';
var returnUrl='index.php?m=admin_company&c=mshow&comid={yun:}$smarty.get.comid{/yun}';
var fileNumLimit=50;
</script>
<link rel="stylesheet" type="text/css" href="{yun:}$config.sy_weburl{/yun}/js/webuploader/webuploader.css?v={yun:}$config.cachecode{/yun}" />
<link rel="stylesheet" type="text/css" href="{yun:}$config.sy_weburl{/yun}/js/webuploader/style.css?v={yun:}$config.cachecode{/yun}" />
<script charset="utf-8" src="{yun:}$config.sy_weburl{/yun}/js/webuploader/webuploader.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script charset="utf-8" src="{yun:}$config.sy_weburl{/yun}/js/webuploader/upload.js?v={yun:}$config.cachecode{/yun}"></script>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">该页面展示了网站企业环境</div>
</div>
</div>

<div class="infoboxp_top mt10">
	<span class="complay_top_span fl">上传企业环境</span>
	<div class="admin_search_div_tianj" > <a href="index.php?m=admin_company&c=mshow&comid={yun:}$smarty.get.comid{/yun}" class="admin_infoboxp_tj">环境列表</a> </div>
</div>
    <div class="admin_table_border ">
	  <div class="com_add_show_box">
		<div id="uploader">
			<div class="queueList">
				<div id="dndArea" class="placeholder">
					<div id="filePicker"></div>
					<p>或将照片拖到这里</p>
				</div>
			</div>
			<div class="statusBar" style="display:none;">
				<div class="progress">
					<span class="text">0%</span>
					<span class="percentage"></span>
				</div>
				<div class="info"></div>
				<div class="btns">
					<div id="filePicker2"></div>
					<div class="uploadBtn">开始上传</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="comid" value="{yun:}$smarty.get.comid{/yun}">
	<input type="hidden" id="pytoken" value="{yun:}$pytoken{/yun}">
</div>
</div>
<style>
.table-list tr:hover,.table-list table tbody tr:hover{ background:none}
</style>
</body>
</html>