<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<!--[if IE 6]>
<script src="./js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
  DD_belatedPNG.fix('.png,.admin_infoboxp_tj,');
</script>
<![endif]-->
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script type="text/javascript" src="js/admin_public.js?v={yun:}$config.cachecode{/yun}"></script>
<script type="text/javascript" src="js/show_pub.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>

<script>
$(document).ready(function () {
    $('body').click(function (evt) {
		if($(evt.target).parents("#gw_name").length==0 && evt.target.id != "gw_name") {
		   $('#gw_select').hide();
		}
   });
})
function changeinput(uid,order){
	$("#"+uid).html("<input type='text'  align=\"middle\" size=\"3\" value='"+order+"' id='input"+uid+"' onBlur=\"changeorder('"+uid+"','"+order+"');\">");
	$("#input"+uid).focus();
}
function audall(){
	var codewebarr="";
	$(".check_all:checked").each(function(){ //由于复选框一般选中的是多个,所以可以循环输出
		if(codewebarr==""){codewebarr=$(this).val();}else{codewebarr=codewebarr+","+$(this).val();}
	});
	if(codewebarr==""){
		parent.layer.msg('您还未选择需要审核的用户！', 2, 8);return false;
	}else{
		$("input[name=uid]").val(codewebarr);
 		$("#statusbody").val('');
		$("input[name='status']").attr('checked',false);
		$.layer({
			type : 1,
			title :'企业用户审核', 
			closeBtn : [0 , true],
			border : [10 , 0.3 , '#000', true],
			area : ['390px','240px'],
			page : {dom :"#infobox2"}
		});
	}
}
function changeorder(uid,order){
	var norder = $("#input"+uid).val();
	var pytoken = $("#pytoken").val();
	if(order!=norder){
		$.post("index.php?m=admin_company&c=changeorder",{uid:uid,order:norder,pytoken:pytoken},function(data){});
	}
	$("#"+uid).html("<p onClick=\"changeinput('"+uid+"','"+norder+"');\">"+norder+"</p>");
}
$(function(){
	$("#m_lock").click(function(){
  		var uid=$("#m_uid").val();
		var ip=$("#m_regip").val();
		var pytoken=$("#pytoken").val();
		var status=$("#m_status").val();
		$("#status_"+status).attr("checked",true);
		layui.use(['form'],function(){
		var form = layui.form;
		form.render();
		});
		$("input[name=statusip]").val(ip);
		$.post("index.php?m=admin_company&c=lockinfo",{uid:uid,pytoken:pytoken},function(msg){
			$("input[name=uid]").val(uid);
			$("#lock_info").val(msg);
			status_div('锁定用户','450','260');
		});
	});
	$("#m_check").click(function(){
		var uid=$("#m_uid").val();
		var status=$("#m_status").val();
		$("#status"+status).attr("checked",true);
		layui.use(['form'],function(){
		var form = layui.form;
		form.render();
		});
		var pytoken=$("#pytoken").val();
		$("input[name=uid]").val(uid);
 		$.post("index.php?m=admin_company&c=lockinfo",{uid:uid,pytoken:pytoken},function(msg){
			$("#statusbody").val(msg);
			$.layer({
				type : 1,
				title :'企业用户审核', 
				closeBtn : [0 , true],
				border : [10 , 0.3 , '#000', true],
				area : ['390px','230px'],
				page : {dom :"#infobox2"}
			});
		});
	});
	$("#m_yyzz").click(function(){				
		var url = $('#m_yyzzurl').val();				
		if(url==""){
			parent.layer.msg('该企业未上传营业执照！', 2, 8);
		}else{			
			$(".job_box_div").html("<img src='"+url+"' style='width:250px;height:100px' />");
			$("#preview_url").attr("href",url);
			$.layer({
				type : 1,
				title : '查看图片',
				closeBtn : [0 , true],  
				offset: ['80px', ''],
				border : [10 , 0.3 , '#000', true],
				area : ['350px','auto'],
				page : {dom : '#preview'}
			}); 						
		}		
	});
	//发短信
	$("#m_sendmsg").click(function(){
		var linktel = $('#m_linktel').val();
		if(!linktel){
			parent.layer.msg('该企业未填写联系手机！', 2, 8);
		}else{
			send_moblie(linktel);
		}
	});
	//发邮件
	$("#m_sendemail").click(function(){
		var linkmail = $('#m_linkmail').val();
		if(!linkmail){
			parent.layer.msg('该企业未填写联系邮箱！', 2, 8);
		}else{
			send_email(linkmail);
		}
	});
	//系统消息
	$("#m_sendsysmsg").click(function(){
		var user = $('#m_user').val();
		send_sysmsg(user);
	});
	$(".comrating").click(function(){
  		var uid=$(this).attr("data-uid");
		var pytoken=$("#pytoken").val();
		$.post("index.php?m=admin_company&c=getstatis",{uid:uid,pytoken:pytoken},function(data){
			if(data){
				var dataJson = eval("(" + data + ")"); 
				$('#lt_job_num').val(dataJson.lt_job_num);
				$('#lt_down_resume').val(dataJson.lt_down_resume);
				$('#lt_breakjob_num').val(dataJson.lt_breakjob_num);
				$('#job_num').val(dataJson.job_num);
				$('#down_resume').val(dataJson.down_resume);
				$('#invite_resume').val(dataJson.invite_resume);
				$('#breakjob_num').val(dataJson.breakjob_num);
				$('#part_num').val(dataJson.part_num);
				$('#breakpart_num').val(dataJson.breakpart_num);
				$('#zph_num').val(dataJson.zph_num);
				//$('#xcx_num').val(dataJson.xcx_num);
				$('#oldetime').val(dataJson.vip_etime);
				$('#vipetime').text(dataJson.vipetime);
				$('#pay').val(dataJson.pay);
				$('#integral').val(dataJson.integral);
				$('#ratuid').val(uid);
				//$("#com_rating_name").val(dataJson.rating_name);
				$("#ratingid").val(dataJson.rating);
			
				layui.use(['form'],function(){
					var f = layui.form;
					f.render();
				});
				var ratingname = $("#ratingid").find("option:selected").text();
				$('#rating_name').val(ratingname);
				//var ratingname = $("#com_rating_name").val(dataJson.rating_name);
				//$('#rating_name').val(dataJson.rating_name);
				$.layer({
					type : 1,
					title :'企业会员等级修改', 
					closeBtn : [0 , true],
					border : [10 , 0.3 , '#000', true],
					area : ['710px','390px'],
					offset: ['20px', ''],
					page : {dom :"#comrating"}
				});
			}else{
				parent.layer.msg('用户信息获取失败！', 2, 8);	return false;
			}
		});
	});
});
function Export(){
	var codewebarr="";
	$(".check_all:checked").each(function(){ //由于复选框一般选中的是多个,所以可以循环输出
		if(codewebarr==""){codewebarr=$(this).val();}else{codewebarr=codewebarr+","+$(this).val();}
	});
	if(codewebarr==""){
		parent.layer.msg('您还未选择需要导出用户！', 2, 8);	return false;
	}else{
		$("input[name=uid]").val(codewebarr);
		add_class('选择导出字段','650','300','#export','');
	}
}
function check_xls(){
	var type="";
	$(".type:checked").each(function(){ //由于复选框一般选中的是多个,所以可以循环输出
		if(type==""){type=$(this).val();}else{type=type+","+$(this).val();}
	});
	if(type==""){
		layer.msg("请选择导出字段！",2,8);return false;
	}
	setTimeout(function(){$('.myform').submit()},0);
	layer.closeAll();
}
 
//在管理中重置密码
function resetpassword(){
	var pytoken = $('#pytoken').val();
	var resetpassword=$("#m_resetpassword").val();//通过管理获取用户名称的值
	var uid=$("#m_uid").val();//通过管理获取用户名称的ID值
	parent.layer.confirm("确定要重置密码呢",function(){//重置程序
		$.get("index.php?m=admin_company&c=reset_companypassword&uid="+uid+"&pytoken="+pytoken,function(data){
			parent.layer.closeAll();
			parent.layer.alert("企业会员："+resetpassword+"密码已经重置为123456！",9);return false
		});
			
	});
}
function manage(comid,url){
	var pytoken=$("#pytoken").val();
	$('#m_comid').html(comid);
    $('#m_uid').val(comid);
    $('#m_home').attr('href',url);
    $('#m_taocan').attr('data-uid',comid);
    $('#m_zengzhi').attr('data-uid',comid);
	$('#m_center').attr('href','index.php?m=admin_company&c=Imitate&uid='+comid);
	$('#m_integral').attr('href','index.php?m=admin_company&c=mintegral&comid='+comid);
	$('#m_order').attr('href','index.php?m=admin_company&c=morder&comid='+comid);
	$('#m_down').attr('href','index.php?m=admin_company&c=mdown&comid='+comid);
	$('#m_apply').attr('href','index.php?m=admin_company&c=mapply&comid='+comid);
	$('#m_invite').attr('href','index.php?m=admin_company&c=minvite&comid='+comid);
	$('#m_job').attr('href','index.php?m=admin_company&c=mjob&comid='+comid);
	$('#m_show').attr('href','index.php?m=admin_company&c=mshow&comid='+comid);
	$('#m_comtpl').attr('href','index.php?m=admin_company&c=mcomtpl&comid='+comid);
	$('#m_memberlog').attr('href','index.php?m=admin_company&c=member_log&comid='+comid);
	$('#m_tongji').attr('href','index.php?m=admin_company&c=Imitate&uid='+comid+'&type=tongji');
	$('#m_tongji').attr('target','_blank');
	$('#m_addjob').attr('href','index.php?m=admin_company_job&c=show&uid='+comid);
	
	var i=layer.load('请稍候...',0);
	$.post("index.php?m=admin_company&c=getinfo",{comid:comid,pytoken:pytoken},function(data){
		layer.close(i);
		if(data){
			var comdata = eval("(" + data + ")"); 
			if(comdata.name!=""){
				$('#m_name').html(comdata.name);
			}else{
				$('#m_name').html("尚未完善资料");
			}
			$('#m_username').html(comdata.username);
			if(comdata.linkman!=""){
				$('#m_linkman').html("【联系人】："+comdata.linkman+"&nbsp;&nbsp;");
			}else{
				$('#m_linkman').html("【联系人】："+"暂无联系人");
			}
			if(comdata.phone!=""){
				$('#m_phone').html("【手机】："+comdata.phone+"&nbsp;&nbsp;");
			}else{
				$('#m_phone').html("【手机】："+"暂无联系手机");
			}
			if(comdata.linkmail!=""){
				$('#m_email').html("【邮箱】："+comdata.linkmail);
			}else{
				$('#m_email').html("【邮箱】："+"暂无联系邮箱");
			}
			if(comdata.adviser!=""){
				$('#m_adviser').html(comdata.adviser);
			}else{
				$('#m_adviser').html("该企业尚未分配顾问");
			}
			$('#m_status').val(comdata.status);
			$('#m_regip').html(comdata.reg_ip);
			$('#m_rating').val(comdata.rating);
			$('#m_info').attr('href','index.php?m=admin_company&c=edit&id='+comid+'&rating='+comdata.rating);
			$('#m_password').attr('href','index.php?m=admin_company&c=edit&id='+comid+'&rating='+comdata.rating);
			$('#m_yyzzurl').val(comdata.yyzzurl);
			$('#m_linktel').val(comdata.linktel);
			$('#m_linkmail').val(comdata.linkmail);
			$('#m_user').val(comdata.username);
			$('#m_resetpassword').val(comdata.username);
			
		    $.layer({
				type : 1,
				title :'企业管理', 
				closeBtn : [0 , true],
				border : [10 , 0.3 , '#000', true],
				area : ['670px','440px'],
				offset: ['20px', ''],
				page : {dom :"#manage"}
			});
			$('#m_guwen').attr('href',"javascript:checkguwen('"+comdata.username+"','"+comid+"','index.php?m=admin_company&c=checkguwen');");
		}
	});
}
</script>
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<title>后台管理</title>
</head>
<body class="body_ifm">
<!--管理弹出框-->
<div id="manage" class="" style="width:650px; display:none;">
<div class="admin_usertck_box">
<div class="admin_userinfo_box">
<div class="admin_userinfo_box_username">【用户名】：<em id="m_username"></em> <span class="admin_userinfo_box_useruid">【用户id】：<em id="m_comid"></em></span><a href="###" class="admin_userinfo_box_zx" id="m_center" target="_blank">进入用户中心>></a><a href="" class="admin_userinfo_box_zx" id="m_home" target="_blank">预览公司主页>></a></div>
<div class="admin_userinfo_box_qyname">【操作对象】：<span class="admin_userinfo_box_qyname_s" id="m_name"></span><span class="admin_userinfo_box_useruid">【顾问姓名】：<em id="m_adviser"></em></span><span class="admin_userinfo_box_useruid">【用户IP】：<em id="m_regip"></em></span></div>
</div>
<div class="admin_operation_box">
<div class="admin_operation_list">
<span class="admin_operation_list_name">业务管理：</span>
<a href="###" class="admin_operation_list_a" id="m_integral">积分管理</a>
<a href="javascript:void(0);" class="admin_operation_list_a comrating" id="m_taocan">套餐管理</a>
<a href="###" class="admin_operation_list_a" id="m_order">充值/订单</a>
<a href="javascript:void(0);" class="admin_operation_list_a comrating" id="m_zengzhi">增值服务</a>
<a href="###" class="admin_operation_list_a" id="m_down">下载简历</a>
<a href="###" class="admin_operation_list_a" id="m_apply">收到的简历</a>
<a href="###" class="admin_operation_list_a" id="m_invite">面试邀请</a>
</div>
<div class="admin_operation_list">
<span class="admin_operation_list_name">资料管理：</span>
<a href="###" class="admin_operation_list_a" id="m_job">职位管理</a>
<a href="###" class="admin_operation_list_a" id="m_info">企业资料</a>
<a href="javascript:void(0);" class="admin_operation_list_a" id="m_yyzz">营业执照</a>
<a href="###" class="admin_operation_list_a" id="m_show">企业环境</a>
<a href="###" class="admin_operation_list_a" id="m_comtpl">企业模板</a>
<a href="###" class="admin_operation_list_a" id="m_password">修改密码</a>
</div>
<div class="admin_operation_list">
<span class="admin_operation_list_name">分析统计：</span>
<a href="###" class="admin_operation_list_a" id="m_tongji">招聘效果</a>
<a href="###" class="admin_operation_list_a" id="m_memberlog">会员行为日志</a>
</div>
<div class="admin_operation_list">
<span class="admin_operation_list_name">联系会员：</span>
<a href="javascript:void(0);" class="admin_operation_list_a" id="m_sendmsg">发送短信</a>
<a href="javascript:void(0);" class="admin_operation_list_a" id="m_sendemail">发送邮件</a>
</div>
<div class="admin_operation_list" style="height:25px;line-height:25px;"><span class="admin_operation_list_name">联系方式：</span><em id="m_linkman"></em><em id="m_phone"></em><em id="m_email"></em></div>

<div class="admin_operation_but">
 
<a href="javascript:void(0)"  class="admin_operation_but_a" id="m_resetpassworde" onClick="resetpassword();">重置密码</a>


<a href="###" class="admin_operation_but_a" id="m_addjob">添加职位</a>
<a href="javascript:void(0);" class="admin_operation_but_a" id="m_lock">锁定企业</a>
<!--a href="javascript:void(0);" class="admin_operation_but_a" id="m_delcom">删除企业</a-->
<a href="javascript:void(0);" class="admin_operation_but_a" id="m_check">审核企业</a>
<a href="javascript:void(0);" class="admin_operation_but_a" id="m_guwen">分配顾问</a>
</div>

<input type="hidden" id="m_yyzzurl" value=""/>
<input type="hidden" id="m_linktel" value=""/>
<input type="hidden" id="m_linkmail" value=""/>
<input type="hidden" id="m_resetpassword" value=""/>

<input type="hidden" id="m_user" value=""/>
<input type="hidden" id="m_uid" value=""/>
<input type="hidden" id="m_status" value=""/>
<input type="hidden" id="m_regip" value=""/>
<input type="hidden" id="m_rating" value=""/>
</div>
</div>
</div>
<!--管理弹出框 end-->
<div id="preview"  style="display:none;width:350px ">
  <div style="height:170px; overflow:auto;width:350px;" >
	<table cellspacing='1' cellpadding='1' class="admin_examine_table">
     <tr>
     <td><div style="width:90px; text-align:center">营业执照：</div></td>
   <td align="center"><div class="job_box_div" ></div>  </td></tr>
  <tr> <td colspan="2"><div style="width:100%;text-align:center; padding-top:10px;"><a target="_blank" href="" id='preview_url' style="padding:5px 15px; background:#f60;color:#fff">查看原图</a></div></td>
   </tr>
    </table>
  </div>
</div>
<div id="export" style="display:none;">
	<div style=" margin-top:10px;">
    <div>
      <form action="index.php?m=admin_company&c=xls" target="supportiframe" method="post" id="formstatus" class="myform">
      <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
      <input type="hidden" name="where" value="{yun:}$where{/yun}"><input name="uid" value="0" type="hidden">
			<div class="admin_resume_dc">
           <label><span class="admin_resume_dc_s"> <input type="checkbox" class="type" name="type[]" value="uid"> 企业UID</span></label>
            <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="name"> 企业名称</span></label>
           <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="hy"> 从事行业</span></label>
             <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="pr"> 企业性质</span></label>
           <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="rating"> 会员等级</span></label>
             <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="provinceid"> 省</span></label>
           <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="cityid"> 市</span></label>
            <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="mun"> 规模</span></label>
           <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="sdate"> 创办时间</span></label>
              <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="money"> 注册资金</span></label>
           <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="address"> 公司地址</span></label>
             <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="zip"> 邮编</span></label>
          <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="linkman"> 联系人</span></label>
    		<label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="linkjob"> 所属职位</span></label>
			<label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="linkqq"> 联系QQ</span></label>
          <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="linkphone"> 固定电话</span></label>
		<label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="linktel"> 联系手机</span></label>
         <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="linkmail"> 邮件</span></label>
          <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="website"> 网址</span></label>
          <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="rec"> 知名企业</span></label>
			<label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="lastdate"> 更新时间</span></label>
           <label><span class="admin_resume_dc_s"><input type="checkbox" class="type" name="type[]" value="vip_stime">会员开始时间</span></label>
          </div>
        <div class="admin_resume_dc_sub" style="margin-top:10px;">  
          <input type="button" onClick="check_xls();"  value='确认' class="admin_resume_dc_bth1">
      <input type="button" onClick="layer.closeAll();" class="admin_resume_dc_bth2" value='取消'></div>
	
      </form>
    </div>
  </div>
</div>
{yun:}include file="$adminstyle/member_send_email.htm"{/yun}
<div id="status_div"  style="display:none; width: 430px;text-align:center; ">
  <div class="" > 
      <form class="layui-form" action="index.php?m=admin_company&c=lock" target="supportiframe" method="post" id="formstatus">
        <table cellspacing='1' cellpadding='1' class="admin_examine_table">
          <tr>
             <th width="80">锁定操作：</th>
            <td align="left">
			<div class="layui-form-item" >
				<div class="layui-input-block">
					<div class="admin_examine_right" style="width:330px;">
						<input name="status" id="status_1" value="1" title="正常" type="radio"/>
						<input name="status" id="status_2" value="2" title="锁定" type="radio"/>
						<input name="status" id="status_3" value="3" title="锁定并限制IP访问" type="radio"/>
					</div>
                </div>
			</div>
			<!--<div class="admin_examine_right" style="width:330px;">
			<label for="status_1"><span class="admin_examine_table_s"><input type="radio" name="status" value="1" id="status_1" >正常</span></label>
			<label for="status_2"><span class="admin_examine_table_s"><input type="radio" name="status" value="2" id="status_2">锁定</span></label>
			<label for="status_3"><span class="admin_examine_table_s" style="width:130px"><input type="radio" name="status" value="3" id="status_3">锁定并限制IP访问</span></label>
             </div>-->
             </td>
          </tr>
          <tr>
            <th>锁定说明：</th>
            <td align="left"><textarea id="lock_info"  name="lock_info" class="admin_explain_textarea" style="width:285px"></textarea></td>
          </tr>
          <tr>
           <td colspan='2' align="center">
            <input type="submit"  value='确认' class="admin_examine_bth">
             <input type="button"class="admin_examine_bth_qx closebutton" value='取消'>
            </td>
          </tr>
        </table>
        <input type="hidden" name="statusip" value="">
		<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
        <input name="uid" value="0" type="hidden">
      </form> 
  </div>
</div>
<div id="comrating"  style="display:none; "> 
<div style="width:710px;"> 
	<form class="layui-form" action="index.php?m=admin_company&c=uprating" target="supportiframe" method="post" id="formstatus">
    	<table cellspacing='1' cellpadding='1' class="table_form contentWrap" width="100%">
        	<tr>
            	<th align="right">会员等级：</th>
            	<td align="left">
					<div class="layui-form-item">
					  <div class="layui-input-block">
						 <div class="layui-input-inline">
						   <select name="rating" id="ratingid" lay-filter="rating">
							<option value="">请选择</option>
							{yun:}foreach from = $ratingarr key=key item=ratlist{/yun}
							<option value="{yun:}$key{/yun}">{yun:}$ratlist{/yun}</option>
							{yun:}/foreach{/yun}
							</select>
						 </div>
					   </div>
					</div>
				</td>
				<th align="right" class="comp_hotjob_line" >账户{yun:}$config.integral_pricename{/yun}：</th>
				<td> 
					<div class="admin_company_width220">
						<input type="text" name="integral"  id="integral" size="15" class="admin_company_jobtext" value="" />
					</div>
				</td>
			</tr>
			<tr class="admin_table_trbg" >
				<th align="right">会员到期时间：</th>
				<td><p id="vipetime"></p></td>
				<th align="right" class="comp_hotjob_line">延长会员有效期：</th>
				<td><input type="text" name="addday"  style="width:40px;" class="admin_company_jobtext"> 天</td>
			</tr> 
			<tr>
				<th  align="right">发布猎头职位数：</th>
				<td><input type="text" name="lt_job_num" id="lt_job_num" size="15" class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
				<th align="right"class="comp_hotjob_line">刷新猎头职位：</th>
				<td><input type="text" name="lt_breakjob_num"  id="lt_breakjob_num" size="15" class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
			</tr>
			<tr>
				<th align="right">发布职位数：</th>
				<td><input type="text" name="job_num"  id="job_num" size="15" class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
				<th align="right" class="comp_hotjob_line">刷新职位数：</th>
				<td><input type="text" name="breakjob_num"  id="breakjob_num" size="15" class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
			</tr>
			<tr class="admin_table_trbg" >
				<th align="right">发布兼职数：</th>
				<td><input type="text" name="part_num"  id="part_num" size="15"class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
				<th align="right"class="comp_hotjob_line">刷新兼职数：</th>
				<td><input type="text" name="breakpart_num"  id="breakpart_num" size="15" class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
			</tr>
			<tr class="admin_table_trbg" >
				<th align="right">剩余下载数：</th>
				<td><input type="text" name="down_resume"  id="down_resume" size="15" class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
				<th align="right"class="comp_hotjob_line">高级简历下载数：</th>
				<td><input type="text" name="lt_down_resume"  id="lt_down_resume" size="15" class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
			</tr>
			<tr class="admin_table_trbg" >
				<th align="right">招聘会报名次数：</th>
				<td ><input type="text" name="zph_num"  id="zph_num" size="15" class="admin_company_jobtext" onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
				<th align="right"class="comp_hotjob_line">邀请面试：</th>
				<td><input type="text" name="invite_resume"  id="invite_resume" size="15"class="admin_company_jobtext"onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"/></td>
			</tr>
			<tr>
		        <th align="center" colspan="4" style="text-align:center;border-right:0px;">
		        	<input type="submit"  value='确认' class="admin_examine_bth"/>
		        	<input type="button" class="admin_examine_bth_qx closebutton" value='取消' />
		        </th>
		    </tr>
		</table>
		<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
		<input type="hidden" name="rating_name" id="rating_name" value="">
		<input type="hidden" name="oldetime" id="oldetime" value="">
        <input name="ratuid" id="ratuid" value="0" type="hidden">
	</form> 
</div>
</div>
<div id="infobox2"  style="display:none; width: 390px; ">  
      <form class="layui-form" action="index.php?m=admin_company&c=status" target="supportiframe" method="post" id="formstatus" >
       <table cellspacing='1' cellpadding='1' class="admin_examine_table">
          <tr>
            <th  width="80">审核操作：</th>
            <td align="left">
            <!--<div class="admin_examine_right">
            <label for="status0"><span class="admin_examine_table_s"><input type="radio" name="status" value="0" id="status0" >未审核</span></label>
			<label for="status1"><span class="admin_examine_table_s"><input type="radio" name="status" value="1" id="status1" >已通过</span></label>
			<label for="status3"><span class="admin_examine_table_s"><input type="radio" name="status" value="3" id="status3">未通过</span></label>
        </div>-->
				<div class="layui-form-item">
				<div class="layui-input-block">
 						<input name="status" id="status0" value="0" title="未审核" type="radio"/>
						<input name="status" id="status1" value="1" title="已通过" type="radio"/>
						<input name="status" id="status3" value="3" title="未通过" type="radio"/>
                 </div>
			</div>
		
        </td>
          </tr>
          <tr>
            <th>审核说明：</th>
            <td align="left"><textarea id="statusbody"  name="statusbody" class="admin_explain_textarea"></textarea></td>
          </tr>
          <tr>
            <td colspan='2' align="center">
			
            <input type="submit"  value='确认' class="admin_examine_bth">
             <input type="button" class="admin_examine_bth_qx closebutton" value='取消'>
            </td>
          </tr>
        </table>
		<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
        <input name="uid" value="0" type="hidden">
      </form> 
</div>



<div class="infoboxp"> 


<div class="admin_new_tip">
<a href="javascript:;" class="admin_new_tip_close"></a>
<a href="javascript:;" class="admin_new_tip_open" style="display:none;"></a>
<div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
<div class="admin_new_tip_list_cont">
<div class="admin_new_tip_list">该页面展示了网站所有的企业会员信息，可对会员进行编辑修改操作。</div>
<div class="admin_new_tip_list">可输入名称关键字进行搜索，也可进行详细的高级搜索。</div>
</div>
</div>
<div class="clear"></div>
<div class="admin_new_search_box">
<div class="admin_new_search_name">搜索类型：</div>
 <form action="index.php" name="myform" method="get" >
 <input type="hidden" name="m" value="admin_company"/>
<input type="hidden" name="status" value="{yun:}$smarty.get.status{/yun}"/>
<input type="hidden" name="rec" value="{yun:}$smarty.get.rec{/yun}"/>
<input type="hidden" name="time" value="{yun:}$smarty.get.time{/yun}"/>
<input type="hidden" name="rating" value="{yun:}$smarty.get.rating{/yun}"/>
  <div class="admin_Filter_text formselect" did="dcom_type"> 
  <input type="button" {yun:}if $smarty.get.type=='1'||$smarty.get.type==''{/yun} value="企业名称" {yun:}elseif $smarty.get.type=='2'{/yun} value="用户名称" {yun:}elseif $smarty.get.type=='3'{/yun} value="联系人" {yun:}elseif $smarty.get.type=='4'{/yun} value="联系电话" {yun:}elseif $smarty.get.type=='5'{/yun} value="用户邮箱" {yun:}elseif $smarty.get.type=='6'{/yun} value="用户ID" {yun:}/if{/yun} class="admin_new_select_text" id="bcom_type">
  		   <input type="hidden" name="type" id="com_type" value="{yun:}if $smarty.get.type{/yun}{yun:}$smarty.get.type{/yun}{yun:}else{/yun}1{yun:}/if{/yun}"/><div class="admin_Filter_text_box" style="display:none" id="dcom_type">
			  <ul>
				  <li><a href="javascript:void(0)" onClick="formselect('1','com_type','企业名称')">企业名称</a></li>
				  <li><a href="javascript:void(0)" onClick="formselect('2','com_type','用户名称')">用户名称</a></li>	
				  <li><a href="javascript:void(0)" onClick="formselect('3','com_type','联系人')">联系人</a></li>	
				  <li><a href="javascript:void(0)" onClick="formselect('4','com_type','联系电话')">联系电话</a></li>	
				  <li><a href="javascript:void(0)" onClick="formselect('5','com_type','用户邮箱')">用户邮箱</a></li>
				  <li><a href="javascript:void(0)" onClick="formselect('6','com_type','用户ID')">用户ID</a></li>
			  </ul>  
		  </div>
    </div>
<input type="text" placeholder="输入你要搜索的关键字" name="keyword" class="admin_new_text">
	<input type="submit" name='news_search' value="搜索" class="admin_new_bth"/>
    
<a  href="javascript:void(0)" onclick="$('.admin_screenlist_box').toggle();"  class="admin_new_search_gj">高级搜索</a>
<a href="index.php?m=admin_company&c=add" class="admin_new_cz_tj">+ 添加企业</a>
</form>


  
  
 {yun:}include file="admin/admin_search.htm"{/yun}
 
 </div>
 <div class="clear"></div>  
 
 
 
  <div class="table-list" style="color:#898989">
    <div class="admin_table_border">
      <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
      <form action="index.php" name="myform" method="get" id='myform' target="supportiframe">
      <input type="hidden" name="pytoken"  id='pytoken' value="{yun:}$pytoken{/yun}">
        <input name="m" value="admin_company" type="hidden"/>
        <input name="c" value="del" type="hidden"/>
        <table width="100%">
          <thead>
            <tr class="admin_table_top">
              <th style="width:20px;"> <label for="chkall"><input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/></label></th>
              <th> {yun:}if $smarty.get.t=="uid" && $smarty.get.order=="asc"{/yun} <a href="{yun:}searchurl order=desc t=uid m=admin_company untype='order,t'{/yun}">用户ID<img src="images/sanj.jpg"/></a> {yun:}else{/yun} <a href="{yun:}searchurl order=asc t=uid m=admin_company untype='order,t'{/yun}">用户ID<img src="images/sanj2.jpg"/></a> {yun:}/if{/yun} </th>
              <th align="left" width="300">用户</th>
              <th align="left">等级/到期时间</th>
              <th align="left">企业顾问</th> 
              <th>企业认证</th>
              <th>登录/注册</th>
              <th>来源</th>
              <th>审核状态</th>
              <th>设为名企</th>
              <th>站点</th>
             <th width="60">操作</th>
            </tr>
          </thead>
          <tbody>
       {yun:}foreach item=v key=key from=$rows{/yun}
          <tr align="center" {yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.uid{/yun}">
           <td><input type="checkbox" value="{yun:}$v.uid{/yun}" class="check_all"  name='del[]' onclick='unselectall()' rel="del_chk" /></td>
             <td align="left" class="td1" style="text-align:center;"><span>{yun:}$v.uid{/yun}</span></td>
            <td align="left">
            <div class=""><a href="index.php?m=admin_company&c=Imitate&uid={yun:}$v.uid{/yun}" target="_blank">{yun:}$v.username{/yun}</a></div>
            <div  class="mt5"><a href="{yun:}url m=company c=show id=$v.uid{/yun}" target="_blank" class="admin_com_name">{yun:}$v.name{/yun} {yun:}if $v.shortname{/yun}【{yun:}$v.shortname{/yun}】{yun:}/if{/yun}</a></div>
            </td>
       


			<td align="left">
				{yun:}if $v.vip_etime < time() && $v.vip_time!=0{/yun}
					{yun:}if $v.vip_done == 0{/yun}
						非会员
					{yun:}/if{/yun}
				{yun:}else{/yun}
                    {yun:}if $v.rating_name=='非会员'{/yun}
					 <b style="color:red;">{yun:}$v.rating_name{/yun}</b>
                    {yun:}else{/yun}
                    {yun:}$v.rating_name{/yun}
                    {yun:}/if{/yun}
				{yun:}/if{/yun}
				<a data-uid="{yun:}$v.uid{/yun}" href="javascript:void(0);" class="comrating"><span class="admin_company_xg_icon">[修改]</span></a>
				{yun:}if $v.vip_etime{/yun}
                    {yun:}if time()|date_format:"%Y-%m-%d"<=$v.vip_etime|date_format:"%Y-%m-%d"{/yun}
                        <div class="mt5">{yun:}$v.vip_etime|date_format:"%Y-%m-%d"{/yun}</div>
                          {yun:}else{/yun}
                           <div class="mt5" style="color:red;">{yun:}$v.vip_etime|date_format:"%Y-%m-%d"{/yun}</div>
                      {yun:}/if{/yun}  
				{yun:}/if{/yun}{yun:}$list.uid{/yun}
			</td>
			<td align="left">{yun:}if $v.conid{/yun}{yun:}$v.con{/yun}{yun:}else{/yun}未分配{yun:}/if{/yun}</td> 
            <td>
			   {yun:}if $v.email_status==1{/yun}
			   <img src="../config/ajax_img/1-1.png" alt="邮箱已认证" class="png"width="20" height="20">
			   {yun:}else{/yun}
			   <img src="../config/ajax_img/1-2.png" alt="邮箱未认证"class="png"width="20" height="20"> 
			   {yun:}/if{/yun}

               {yun:}if $v.moblie_status==1{/yun}
			   <img src="../config/ajax_img/2-1.png" alt="手机已认证"class="png"width="20" height="20">
			   {yun:}else{/yun}
			   <img src="../config/ajax_img/2-2.png" title="手机未认证"class="png"width="20" height="20">
			   {yun:}/if{/yun}

              {yun:}if $v.yyzz_status==1{/yun}
			  <img src="../config/ajax_img/3-1.png" alt="营业执照已认证"class="png"width="20" height="20">
			  {yun:}else{/yun}
			  <img src="../config/ajax_img/3-2.png" alt="营业执照未认证"class="png"width="20" height="20">
			  {yun:}/if{/yun}
			 </td>
             <td>
			 {yun:}if $v.login_date{/yun}
				{yun:}$v.login_date|date_format:"%Y-%m-%d"{/yun}
			 {yun:}else{/yun}
				未登录
			 {yun:}/if{/yun}
			 <div class="">{yun:}$v.reg_date|date_format:"%Y-%m-%d"{/yun}</div>
			 </td>
             <td>
			 {yun:}$source[$v.source]{/yun}
				
			</td>
             <td>
				{yun:}if $v.status=='1'{/yun}
					<span class="admin_com_Audited">已审核</span>
				{yun:}elseif  $v.status=='2'{/yun}
					<span class="admin_com_Lock">已锁定</span>
				{yun:}elseif  $v.status=='3'{/yun}
					<span class="admin_com_tg">未通过</span>
				{yun:}else{/yun}
					<span class="admin_com_noAudited">未审核</span>
				{yun:}/if{/yun}
			</td> 
			 
			<td>
				<div style="width:94px;">
					{yun:}if $v.hottime && $v.rec==1{/yun}
						<a href="javascript:void(0);" onClick="showdiv3('{yun:}$v.uid{/yun}');" class="admin_cz_sc">修改</a>/<a href="javascript:void(0);" onClick="layer_del('确定要取消该名企？','index.php?m=admin_company&c=delhot&id={yun:}$v.uid{/yun}');" class="admin_cz_sc">取消</a>
						<div class="">
							{yun:}if $v.hottime >= time(){/yun} 
								{yun:}$v.hottime|date_format:"%Y-%m-%d"{/yun}
							{yun:}else{/yun} 
								<font color='red'>{yun:}$v.hottime|date_format:"%Y-%m-%d"{/yun}</font>
							{yun:}/if{/yun}
 						</div> 
					{yun:}else{/yun}
						{yun:}if $v.name{/yun}
							<a href="javascript:void(0);" onClick="showdiv('{yun:}$v.uid{/yun}');" class="admin_cz_sc">设为名企</a>
						{yun:}else{/yun}
							<a href="javascript:void(0);" onClick="layer.msg('请先完善企业资料',2,8);" class="admin_cz_sc">设为名企</a>
						{yun:}/if{/yun}
					{yun:}/if{/yun}
				</div>
			</td>

            <td>
			<div>{yun:}$Dname[$v.did]{/yun}</div>
			<div><a href="javascript:;" onclick="checksite('{yun:}$v.name{/yun}','{yun:}$v.uid{/yun}','index.php?m=admin_company&c=checksitedid');" class="admin_company_xg_icon">重新分配</a></div>
			</td> 
            <td>
             <div class="admin_new_bth_c"> <a  href="javascript:;" onclick="manage('{yun:}$v.uid{/yun}','{yun:}url m=company c=show id=$v.uid{/yun}')" class="admin_new_c_bth admin_new_c_bthsh" >管理</a> </div>
                          <div class="admin_new_bth_c"> <a href="javascript:void(0)"  onclick="layer_del('确定要删除？', 'index.php?m=admin_company&c=del&del={yun:}$v.uid{/yun}');" class="admin_new_c_bth admin_new_c_bth_sc" >删除</a> </div>
                          
 
            </td>
          </tr>
          {yun:}/foreach{/yun}
          <tr style="background:#f1f1f1;">
          <td align="center"><label for="chkall2"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></label></td>
         <td colspan="5" >
         <label for="chkAll2">全选</label>
          <input class="admin_button" type="button" name="delsub" value="批量审核" onClick="audall();" />
          {yun:}if $email_promiss{/yun} <input class="admin_button" type="button" value="发邮件"  onclick="return confirm_email('确定发邮件吗？','email_div')"/>{yun:}/if{/yun}
		   {yun:}if $moblie_promiss{/yun}<input class="admin_button" type="button" value="发信息"  onclick="return confirm_email('确定发信息吗？','moblie_div')"/>{yun:}/if{/yun}
         <input class="admin_button" type="button" name="delsub" value="删除所选" onClick="return really('del[]')" />
         <input class="admin_button" type="button" name="delsub" value="导出" onClick="Export();" />
		 <input class="admin_button" type="button" name="delsub" value="批量选择分站" onClick="checksiteall('index.php?m=admin_company&c=checksitedid');" />
		  <input class="admin_button" type="button" name="delsub" value="批量分配顾问" onClick="checkguwenall('index.php?m=admin_company&c=checkguwen');" />
         </td>
            <td colspan="11" class="digg">{yun:}$pagenav{/yun}</td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<script>

  layui.use(['layer', 'form'], function(){
    var layer = layui.layer,
		form = layui.form,
		$ = layui.$,
		url = "index.php?m=admin_company&c=getrating";

	var pytoken=$("#pytoken").val();

	form.on('select(rating)', function(data){
		$.post(url, {id : data.value, pytoken:pytoken},function(htm){
			if(htm){
				var dataJson = eval("(" + htm + ")"); 
				$('#lt_job_num').val(dataJson.lt_job_num);
				$('#lt_down_resume').val(dataJson.lt_resume);
				$('#lt_editjob_num').val(dataJson.lt_editjob_num);
				$('#lt_breakjob_num').val(dataJson.lt_breakjob_num);
				$('#job_num').val(dataJson.job_num);
				$('#down_resume').val(dataJson.resume);
				$('#editjob_num').val(dataJson.editjob_num);
				$('#invite_resume').val(dataJson.interview);
				$('#breakjob_num').val(dataJson.breakjob_num);
				$('#part_num').val(dataJson.part_num);
				$('#editpart_num').val(dataJson.editpart_num);
				$('#breakpart_num').val(dataJson.breakpart_num);
				$('#zph_num').val(dataJson.zph_num);
				$('#xcx_num').val(dataJson.xcx_num);
				$('#vipetime').text(dataJson.vipetime);
				$('#oldetime').val(dataJson.oldetime);				
				$('#rating_name').val(dataJson.name);
				$('#com_rating_val').val(dataJson.id);
			}else{
				layer.msg('请选择会员等级');
			}
			form.render('select');
		});
	});

  });

</script>
{yun:}include file="$adminstyle/checkdomain.htm"{/yun}
</body>
</html>