<!--购买--------------------------------------------------->

<div class="yun_resume_buy">
<div class="Value_added">
	        <div class="Value_added_mune">  
		        <ul class="Value_added_mune_left">
		        						<li class="Value_added_mune_cur"><a href="index.php?c=right&act=added&id=67">下载增值包</a><i class="Value_added_bg"></i></li>
										<li ><a href="index.php?c=right&act=added&id=69">职位增值包</a><i class="Value_added_bg"></i></li>
										<li ><a href="index.php?c=right&act=added&id=70">综合增值包</a><i class="Value_added_bg"></i></li>
										<li ><a href="index.php?c=right&act=added&id=83">兼职增值包</a><i class="Value_added_bg"></i></li>
										<li ><a href="index.php?c=right&act=added&id=78">简历超值套餐</a><i class="Value_added_bg"></i></li>
										<li ><a href="index.php?c=right&act=added&id=84">猎头增值包</a><i class="Value_added_bg"></i></li>
							        </ul>
	        </div>
            <div class="Value_added_box"> 
            <div class="clear"></div>
			        	<table class="added_de_box_table" cellpadding="0" cellspacing="0">
           		<tbody>
	           		<tr>
	           			<th>套餐内容</th><th  align="center"><div style="width:65px">套餐价</div></th><th align="center"><div style="width:85px">会员价格</div></th>
	           		</tr>
	           			                <tr>
                   
	           			<td>
	           				<label>
                            <div class="added_cont_b">
	                    	<input type="radio" name="service_package" value="2" onclick="toChange()" class="added_cont_radio"/>
	                    	<span class="added_cont_s">下载简历：<i class="com_dt_rage">20</i>,</span>	                    	<span class="added_cont_s">邀请面试：<i class="com_dt_rage">18</i>,</span>	                    		                    	 
	                    	
	                    	 
	                    	 
	                    	 
	                    	 
	                    	 
                            </div>
	                    	</label>
	                    </td>
	           			<td align="center"><span class="">10</span>元</td>
	           			<td align="center">
	           				<span class="added_de_box_table_jg">10</span>元 
	           				<div class="added_de_box_table_jgyh"> </div> 
	           			</td>
                     
	         		</tr>  
	         			                <tr>
                   
	           			<td>
	           				<label>
                            <div class="added_cont_b">
	                    	<input type="radio" name="service_package" value="6" onclick="toChange()" class="added_cont_radio"/>
	                    	<span class="added_cont_s">下载简历：<i class="com_dt_rage">50</i>,</span>	                    	<span class="added_cont_s">邀请面试：<i class="com_dt_rage">45</i>,</span>	                    		                    	 
	                    	
	                    	 
	                    	 
	                    	 
	                    	 
	                    	 
                            </div>
	                    	</label>
	                    </td>
	           			<td align="center"><span class="">20</span>元</td>
	           			<td align="center">
	           				<span class="added_de_box_table_jg">20</span>元 
	           				<div class="added_de_box_table_jgyh"> </div> 
	           			</td>
                     
	         		</tr>  
	         			                <tr>
                   
	           			<td>
	           				<label>
                            <div class="added_cont_b">
	                    	<input type="radio" name="service_package" value="16" onclick="toChange()" class="added_cont_radio"/>
	                    	<span class="added_cont_s">下载简历：<i class="com_dt_rage">3</i>,</span>	                    	<span class="added_cont_s">邀请面试：<i class="com_dt_rage">3</i>,</span>	                    	<span class="added_cont_s">发布职位：<i class="com_dt_rage">3</i>,</span>	                    	<span class="added_cont_s">刷新职位：<i class="com_dt_rage">3</i>,</span> 
	                    	
	                    	 
	                    	 
	                    	 
	                    	 
	                    	 
                            </div>
	                    	</label>
	                    </td>
	           			<td align="center"><span class="">300</span>元</td>
	           			<td align="center">
	           				<span class="added_de_box_table_jg">300</span>元 
	           				<div class="added_de_box_table_jgyh"> </div> 
	           			</td>
                     
	         		</tr>  
	         			                <tr>
                   
	           			<td>
	           				<label>
                            <div class="added_cont_b">
	                    	<input type="radio" name="service_package" value="11" onclick="toChange()" class="added_cont_radio"/>
	                    	<span class="added_cont_s">下载简历：<i class="com_dt_rage">80</i>,</span>	                    	<span class="added_cont_s">邀请面试：<i class="com_dt_rage">80</i>,</span>	                    		                    	 
	                    	
	                    	 
	                    	 
	                    	 
	                    	 
	                    	 
                            </div>
	                    	</label>
	                    </td>
	           			<td align="center"><span class="">40</span>元</td>
	           			<td align="center">
	           				<span class="added_de_box_table_jg">40</span>元 
	           				<div class="added_de_box_table_jgyh"> </div> 
	           			</td>
                     
	         		</tr>  
	         			                <tr>
                   
	           			<td>
	           				<label>
                            <div class="added_cont_b">
	                    	<input type="radio" name="service_package" value="1" onclick="toChange()" class="added_cont_radio"/>
	                    	<span class="added_cont_s">下载简历：<i class="com_dt_rage">10</i>,</span>	                    	<span class="added_cont_s">邀请面试：<i class="com_dt_rage">8</i>,</span>	                    		                    	 
	                    	
	                    	 
	                    	 
	                    	 
	                    	 
	                    	 
                            </div>
	                    	</label>
	                    </td>
	           			<td align="center"><span class="">5</span>元</td>
	           			<td align="center">
	           				<span class="added_de_box_table_jg">5</span>元 
	           				<div class="added_de_box_table_jgyh"> </div> 
	           			</td>
                     
	         		</tr>  
	         			                <tr>
                   
	           			<td>
	           				<label>
                            <div class="added_cont_b">
	                    	<input type="radio" name="service_package" value="34" onclick="toChange()" class="added_cont_radio"/>
	                    	<span class="added_cont_s">下载简历：<i class="com_dt_rage">8</i>,</span>	                    	<span class="added_cont_s">邀请面试：<i class="com_dt_rage">10</i>,</span>	                    		                    	 
	                    	
	                    	 
	                    	 
	                    	 
	                    	 
	                    	 
                            </div>
	                    	</label>
	                    </td>
	           			<td align="center"><span class="">5</span>元</td>
	           			<td align="center">
	           				<span class="added_de_box_table_jg">5</span>元 
	           				<div class="added_de_box_table_jgyh"> </div> 
	           			</td>
                     
	         		</tr>  
	         		           		</tbody>
           	</table>
            <div class="added_de_box_fk">应付金额：<span class="added_de_box_fk_je" id="price">0</span> 元</div>
            <div class="added_de_box_fk">
            <form name="alipayment" target="fdingdan" action="index.php?c=pay&act=dingdan" method="post" id="myform1">
            	<input type="hidden" value="" id="comserviceid" name="comservice"/>
            	<a href="javascript:buyvip();" class="added_de_box_bth">立即购买</a>
            </form>
            </div>

</div>
<script>

</script>
<!--购买-------------------------------------------------end-->
