<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	{yun:}include file="$lietoustyle/public.htm"{/yun}
	<link rel="stylesheet" href="{yun:}$lietou_style{/yun}/css/jianli.css?v={yun:}$config.cachecode{/yun}" type="text/css">
	<link rel="stylesheet" href="{yun:}$lietou_style{/yun}/css/account.css?v={yun:}$config.cachecode{/yun}" type="text/css">
	<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/member_public.js?v={yun:}$config.cachecode{/yun}"></script>
</head>

<body>
	{yun:}include file="$lietoustyle/header.htm"{/yun} 
	<!--内容部分content-->
	<style>
	.my_table_msg th{ text-align:right}
	</style>
	
	<div class="m_content">
		<div class="wrap">{yun:}include file="$lietoustyle/left.htm"{/yun}
			<div class="m_inner_youb fr">
				<div class="report_uaer_list fl">
					<ul>
						<li><a href="index.php?c=integral" >{yun:}$config.integral_pricename{/yun}任务</a></li>
						<li class="report_uaer_list_cur"><a href="index.php?c=integral_reduce" >{yun:}$config.integral_pricename{/yun}规则</a></li> 
						<li><a href="index.php?c=reward_list" >{yun:}$config.integral_pricename{/yun}兑换</a></li> 
					</ul>
				</div>

				<div class="com_body">
					<div class="integral_cont">
						<ul class="integral_cont_list">
							<li>
								<span class="integral_cont_list_span">猎头发布职位</span> 
								<span class="integral_cont_list_span_c" style="border:none;"> 消费 <b>{yun:}$config.integral_lt_job{/yun}</b>元 / 份 </span> 
							</li>
						
							<li> 
								<span class="integral_cont_list_span">猎头刷新职位</span> 
								<span class="integral_cont_list_span_c" style="border:none;"> 消费 <b>{yun:}$config.integral_lt_jobefresh{/yun}</b> 元 / 份 </span> 
							</li>

							<li> 
								<span class="integral_cont_list_span">猎头下载人才简历</span> 
								<span class="integral_cont_list_span_c" style="border:none;"> 消费 <b>{yun:}$config.integral_lt_downresume{/yun}</b> 元 / 份 </span> 
							</li>

							{yun:}if $config.integral_question_type==2{/yun}
								<li> 
									<span class="integral_cont_list_span">发布问题</span> 
									<span class="integral_cont_list_span_c" style="border:none">消费 <b>{yun:}$config.integral_question{/yun}</b>{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}</span>
								</li>
							{yun:}/if{/yun}

							{yun:}if $config.integral_answer_type==2{/yun}
								<li> 
									<span class="integral_cont_list_span">回答问题</span> 
									<span class="integral_cont_list_span_c" style="border:none">消费 <b>{yun:}$config.integral_answer{/yun}</b>{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}</span>
								</li>
							{yun:}/if{/yun}

							{yun:}if $config.integral_answerpl_type==2{/yun}
								<li> 
									<span class="integral_cont_list_span">评论回答</span> 
									<span class="integral_cont_list_span_c" style="border:none">消费 <b>{yun:}$config.integral_answerpl{/yun}</b>{yun:}$config.integral_priceunit{/yun}{yun:}$config.integral_pricename{/yun}</span>
								</li>
							{yun:}/if{/yun}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
 {yun:}include file="$lietoustyle/footer.htm"{/yun} 
