<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
{yun:}include file="$lietoustyle/public.htm"{/yun} 
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/member_public.js?v={yun:}$config.cachecode{/yun}"></script>
<link rel="stylesheet" href="{yun:}$lietou_style{/yun}/css/jianli.css?v={yun:}$config.cachecode{/yun}" type="text/css">
<link rel="stylesheet" href="{yun:}$lietou_style{/yun}/css/account.css?v={yun:}$config.cachecode{/yun}" type="text/css">
</head>
<body>
{yun:}include file="$lietoustyle/header.htm"{/yun} 
<!--内容部分content-->
<div class="m_content">
  <div class="wrap my_rebates">
{yun:}include file="$lietoustyle/left.htm"{/yun}
      <div class="m_inner_youb fr">
      <div class="report_uaer_list fl">
            <ul>
			    <li ><a href="index.php?c=give_rebates" >推荐给我的人才</a></li>
			    <li class="report_uaer_list_cur"><a href="index.php?c=my_rebates" >我推荐的悬赏</a></li> 
            </ul>
		</div>  
        <div class="m_youb_sent">
        {yun:}if !empty($rows){/yun}
          <div class="m_sent_title">
            <ul>
              <li class="w120">职位名称</li>
              <li class="w260">企业名称</li>
              <li class="w120">悬赏金额</li>
              <li class="w120">时间</li>
              <li class="w120">回复</li>
              <li class="w70">状态</li>
               <li class="w120">操作</li>
            </ul>
            <div class="clear"></div>
          </div>
        {yun:}/if{/yun}
          {yun:}foreach item=v from=$rows{/yun}
             <div class="m_sent_cont"> <ul>
              <li class="w120"> {yun:}if $v.type==2{/yun} 
        		<a href="{yun:}url m=lietou c=jobcomshow id='`$v.job_id`'{/yun}" target="_blank" class="List_Title_span_com"  title="{yun:}$v.job_name{/yun}">{yun:}$v.job_name{/yun}</a> <font color="#FF0000">[企业]</font> 
        		{yun:}else{/yun} 
        		<a href="{yun:}url m=lietou c=jobshow id='`$v.job_id`'{/yun}" target="_blank" class="List_Title_span_com" title="{yun:}$v.job_name{/yun}">{yun:}$v.job_name{/yun}</a> <font color="#FF0000">[猎头]</font> 
        		{yun:}/if{/yun} </li>
              <li class="w260">{yun:}if $v.type==3{/yun} 
					<a href="{yun:}url m=lietou c=headhunter uid='`$v.job_uid`'{/yun}" target="_blank" title="{yun:}$v.com_name{/yun}" class="List_Ope_a">{yun:}$v.com_name{/yun} </a> 
				{yun:}else{/yun} 
				<a href="{yun:}url m=company c=show id='`$v.job_uid`'{/yun}" target="_blank" title="{yun:}$v.com_name{/yun}"class="List_Ope_a">{yun:}$v.com_name{/yun} </a> 
				{yun:}/if{/yun}</li>
              <li class="w120">{yun:}$v.rebates{/yun}</li>
              <li class="w120">{yun:}$v.datetime|date_format:'%Y-%m-%d %H:%M'{/yun}</li>
              {yun:}if $v.reply!=""{/yun}
              <li class="w120  m_look01"><a href="javascript:show_reply('{yun:}$v.id{/yun}');">查看回复</a></li>
              {yun:}else{/yun}
              <li class="w120  m_look">未回复</li>
              {yun:}/if{/yun}
            <li class="w70 look_posi">{yun:}if $v.status=="0"{/yun}未查看{yun:}elseif $v.status=="1"{/yun}已查看{yun:}elseif $v.status=="2"{/yun}已试用{yun:}elseif $v.status=="3"{/yun}未通过{yun:}elseif $v.status=="4"{/yun}已返利{yun:}/if{/yun}</li>
             <li class="w120"><a href="javascript:void(0);" onclick="showrebate('{yun:}$v.id{/yun}','{yun:}url m=ajax c=showrebates{/yun}')">查看</a><span class="del_span">|</span><a href="javascript:void(0)" onclick="layer_del('确定要删除？', 'index.php?c=my_rebates&act=del&id={yun:}$v.id{/yun}');" >删除</a></li>
            </ul>
            <div class="clear"></div>
            <div class="m_cont_chakan " id="reply{yun:}$v.id{/yun}" style="display: none;">
            <div class="m_ck_arrow"></div>
                <dl class="fl">
                <dt class="cont_consult">收件人回复：</dt>
                <dd><div class="fl">{yun:}$v.reply{/yun}</div><div class="hunter_time fr">发送时间：{yun:}$v.reply_time|date_format:"%Y-%m-%d %H:%M"{/yun}</div></dd>
                </dl>
            </div>
            </div>
          {yun:}foreachelse{/yun}
          <div class="member_no_content"><p>暂无我推荐的悬赏</p><div class="lt_src"><a href="{yun:}url m=lietou c=post{/yun}">去推荐</a></div></div>
          {yun:}/foreach{/yun}
        <div class="pages">{yun:}$pagenav{/yun}</div>
        
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
 <div id="showrebate" style="display:none">
     <div class="rebates_user_cont" style="padding:10px;">
     <div class="rebates_user" style="width:100%;float:left;">   <div class="com_detail_jb"><span class="com_detail_l">基本信息</span></div></div>
 <div class="rebates_user" style="width:49%;float:left;">   <i class="rebates_nm">姓名：</i><span class="rebates_name" id="rebateuname"></span></div>
 <div class="rebates_user"><i class="rebates_nm"> 性别：</i><span id="rebatesex"></span></div>
 <div class="rebates_user" style="width:49%;float:left;">  <i class="rebates_nm">出生年月：</i><span id="rebatebirthday"></span></div>
 <div class="rebates_user"><i class="rebates_nm"> 最高学历：</i><span id="rebateedu"></span></div>
 <div class="rebates_user" style="width:49%;float:left;"><i class="rebates_nm"> 工作经验：</i><span id="rebateexp"></span></div>
 <div class="rebates_user" style="width:49%;float:left;"><i class="rebates_nm"> 联系手机：</i><span id="rebatetelphone"></span></div>
  <div class="rebates_user" style="width:49%;float:left;"> <i class="rebates_nm">联系邮箱：</i><span id="rebateemail"></span></div>
  
<div class="rebates_user" style="width:100%;float:left;">   <div class="com_detail_jb"><span class="com_detail_l">求职意向</span></div></div>
 <div class="rebates_user"><i class="rebates_nm"> 从事行业：</i><span id="rebatehy"></span></div>
 <div class="rebates_user"><i class="rebates_nm"> 期望城市：</i> <span id="rebatecity"></span></div>
 <div class="rebates_user"><i class="rebates_nm"> 期望薪资：</i><span class="rebates_rage" id="rebatesalary"></span>万/年</div>
 <div class="rebates_user"><i class="rebates_nm"> 工作性质：</i><span id="rebatetype"></span></div>
 <div class="rebates_user"> <i class="rebates_nm">到岗时间：</i><span id="rebatereport"></span></div>
 <div class="rebates_user">  <i class="rebates_nm"> 期望职位：</i><span id="rebatejob_classid"></span>
 
<div class="rebates_user" style="width:100%;float:left;">   <div class="com_detail_jb"><span class="com_detail_l">推荐理由</span></div></div>
<div class="clear"></div>
 <div class="rebates_user_box" style="height:80px;"> <div id="rebatecontent"></div></div>
    </div>
</div>    </div>
<script>
function show_reply(id){
	$("#reply"+id).toggle();
}
</script>
<!--内容结束--> 
{yun:}include file="$lietoustyle/footer.htm"{/yun}