<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
{yun:}include file="$lietoustyle/public.htm"{/yun} 
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/member_public.js?v={yun:}$config.cachecode{/yun}"></script>
<link rel="stylesheet" href="{yun:}$lietou_style{/yun}/css/jianli.css?v={yun:}$config.cachecode{/yun}" type="text/css">
</head>

<body>
{yun:}include file="$lietoustyle/header.htm"{/yun}
<!--内容部分content-->
<div class="m_content">
<div class="wrap">
{yun:}include file="$lietoustyle/left.htm"{/yun}
    
    <div class="m_inner_youb fr">
          <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
          <form action="index.php?c=zixun&act=del" target="supportiframe" method="post" name='myform' id='myform'>
    	<div class="m_youb_sent">
        {yun:}if !empty($rows){/yun}
        	<div class="m_sent_title">
            <ul>
                <li class="w90" style="width:150px;">求职人</li>
                <li class="w270 sent_main" style="width:180px;">公司名称</li>
                <li class="w120">职位名称</li>
                <li class="w146">咨询时间</li>
                <li class="w80">状态</li>
                <li class="w90">操作</li>
            </ul>
            <div class="clear"></div>
            </div>
       		{yun:}foreach from=$rows item=item{/yun}
            <div class="m_sent_cont">
            <ul>
                <li class="w90" style="width:150px;"><input class="m_cont_check " type="checkbox" value="{yun:}$item.id{/yun}" name="delid[]"><a href="{yun:}url m=resume c=show uid=$item.uid{/yun}" class="sent_star" style="width:120px;height:20px; overflow:hidden">{yun:}$item.username{/yun}</a></li>
                <li class="sent_neir" style="width:180px;">{yun:}$item.com_name|mb_substr:0:12:'utf-8'{/yun}</li>
                <li class="w120"><a href="{yun:}url m=lietou c=jobshow id=$item.jobid{/yun}" target="_blank">{yun:}$item.job_name|mb_substr:0:7:'utf-8'{/yun}</a></li>
                <li class="w146">{yun:}$item.datetime|date_format:"%Y-%m-%d %H:%M"{/yun}</li>
                <li class="w80 m_look">{yun:}if $item.reply!=""{/yun}<font color="green">已回复</font> {yun:}else{/yun}<font color="#FF0000">未回复</font>{yun:}/if{/yun}</li>
               <li class="w90"><a href="javascript:void(0)"  onclick="layer_del('确定要删除？', 'index.php?c=zixun&act=del&id={yun:}$item.id{/yun}');" class="cont_del">删除</a><span class="hunter_line">丨</span><a href="index.php?c=zixun&act=replys&id={yun:}$item.id{/yun}" class="cont_del">{yun:}if $item.reply!=""{/yun}查看{yun:}else{/yun}回复{yun:}/if{/yun}</a></li>
            </ul>
          
            <div class="clear"></div>
            </div>
          {yun:}/foreach{/yun}
          {yun:}else{/yun}
          <div class="member_no_content">暂无信息！</div>
          {yun:}/if{/yun}
         
         {yun:}if !empty($rows){/yun}
        <div class="m_browse_del">
        <input id='checkAll'  type="checkbox" onclick='m_checkAll(this.form)' class="m_del_che">
          全选<a href="javascript:void(0);" onclick="return really('delid[]');">批量删除</a> </div>
        <div class="clear"></div>
        <div class="pages">{yun:}$pagenav{/yun}</div>
        {yun:}/if{/yun}
		</div>
        </form>
      </div>
    <div class="clear"></div>
</div>


</div>
<div class="clear"></div>
</div>
<!--内容结束-->
{yun:}include file="$lietoustyle/footer.htm"{/yun} 