<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}" />
<meta name="description" content="{yun:}$description{/yun}" />
<link href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="{yun:}$style{/yun}/style/job.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="{yun:}$style{/yun}/style/reward.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />

</head>
<body style="background:#f8f8f8">
<script>
var weburl="{yun:}$config.sy_weburl{/yun}",integral_pricename='{yun:}$config.integral_pricename{/yun}',pricename='{yun:}$config.integral_pricename{/yun}',code_web='{yun:}$config.code_web{/yun}',code_kind='{yun:}$config.code_kind{/yun}';</script>

<div class="top">
  <div class="top_cot">
    <div class="top_cot_content">
      <div class="top_left fl">
        <div class="yun_welcome fl">欢迎来到{yun:}$config.sy_webname{/yun}！</div>
       </div>
      <div class="top_right_re fr">
        <div class="top_right">
			
          <div class="yun_topNav fr"> 
		  <a class="yun_navMore" href="javascript:;">网站导航</a>
            <div class="yun_webMoredown none">
              <div class="yun_top_nav_box"> 
			  <ul class="yun_top_nav_box_l">
             {yun:}navmap key=key item=maplist{/yun}
                  <li><a href="{yun:}$maplist.url{/yun}" {yun:}if $maplist.eject{/yun} target="_blank"{yun:}/if{/yun}>{yun:}$maplist.name{/yun}</a></li>
                {yun:}/navmap{/yun}
                 </ul>
                <ul class="yun_top_nav_box_wx">
               {yun:}nav item=navlist_app hovclass=nav_list_hover nid=11{/yun}          
            <li> <a class="move_0{yun:}$navlist_app.sort{/yun}"{yun:}if $navlist_app.eject{/yun} target="_blank"{yun:}/if{/yun} href="{yun:}$config.sy_weburl{/yun}/{yun:}$navlist_app.url{/yun}">{yun:}$navlist_app.name{/yun}</a> </li>
          {yun:}/nav{/yun}
                </ul>
                
                </div>
            </div>
          </div> 
            <span class="fr"><a href="{yun:}$config.sy_weburl{/yun}/wap" class="wap_icon" target="_blank">手机版</a><i class="htop_line">|</i><a href="{yun:}url m=subscribe{/yun}" target="_blank" class="top_dy">订阅</a><i class="htop_line_two">|</i></span>
            <script language='JavaScript' src='{yun:}url m=ajax c=RedLoginHead{/yun}'></script> 
        </div>
      </div>
    </div>
  </div>
</div>


<div class="reward_header">
<div class="w1200">
<div class="reward_header_logo"><a href="{yun:}$config.sy_weburl{/yun}" title="{yun:}$config.sy_webname{/yun}最新招聘求职信息"><img  src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_logo{/yun}" alt="{yun:}$config.sy_webname{/yun}"/></a>
</div>
<div class="reward_header_nav">
<ul class="reward_header_nav_list">
<li><a href="{yun:}url m=reward{/yun}">首页</a></li>
<li class="reward_header_nav_list_cur"><a href="{yun:}url m=reward c=job{/yun}">悬赏职位</a></li>

</ul>
</div>
<div class="reward_header_tel">{yun:}$config.sy_freewebtel{/yun}</div>
</div>
</div>
<div class="w1200">
 <div class="clear"></div>    
    <div class="Search_jobs_box" style="margin-top:20px; padding-bottom:20px;">
      <form action="/reward/" method="get" id="form" onsubmit="return search_keyword(this,'请输入职位名称的关键字');">
        
        <input type="hidden" name="c" value="job" />
        
		<div class="Search_jobs_form_list" >
          <div class="yun_job_search">
          <div class="Search_jobs_sub">
            <input type="text" name="keyword" value="{yun:}if $smarty.get.keyword{/yun}{yun:}$smarty.get.keyword{/yun}{yun:}else{/yun}请输入职位名称的关键字{yun:}/if{/yun}" onclick="if(this.value=='请输入职位名称的关键字'){this.value=''}" onblur="if(this.value==''){this.value='请输入职位名称的关键字'}" class="Search_jobs_text "/>
            <input type="submit" value="搜索" class="Search_jobs_submit yun_bg_color"/>
  
            </div> 
            </div>
        </div>
     
      </form>
      <div class="clear"></div>
    </div>


<div class="reward_jobsearch_content">
<div class="reward_jobsearch_content_tit">悬赏职位</div>
<div class="reward_jobsearch_tit">
<span class="reward_jobsearch_tit_jobname">职位信息</span>
<span class="reward_jobsearch_tit_red">赏金</span>
<span class="reward_jobsearch_tit_resume">投递者简历要求<i class="reward_jobsearch_tit_resume_icon">（* 投递者简历需必填红色项目）</i></span>
<span class="reward_jobsearch_tit_cz">操作</span>


</div>
{yun:}rewardjob keyword='auto.keyword' limit=12 reward=1 ispage=1  item=rlist{/yun}


<div class="reward_jobsearch_list">
<div class="reward_jobsearch_listleft">
<div class="reward_jobsearch_name"><a href="{yun:}$rlist.job_url{/yun}" target="_blank">{yun:}$rlist.name{/yun}</a></div>
<div class="reward_jobsearch_p"><span class="reward_jobsearch_p_xz">{yun:}if $rlist.job_salary!='面议'{/yun}￥{yun:}/if{/yun}{yun:}$rlist.job_salary{/yun}</span> {yun:}$rlist.job_exp{/yun}经验<i class="reward_jobsearch_p_line">|</i>{yun:}$rlist.job_edu{/yun}学历</div>
<div class="reward_jobsearch_fl">{yun:}$rlist.com_name{/yun}</div>

</div>
<div class="reward_jobsearch_hbn_box">
赏金：<span class="reward_jobsearch_hbn">￥{yun:}$rlist.money{/yun}</span>
<div class=""><span class="reward_jobsearch_hb_md">投递：￥{yun:}$rlist.sqmoney{/yun} </span>面试：￥{yun:}$rlist.invitemoney{/yun}</div>
入职：￥{yun:}$rlist.offermoney{/yun}
</div>
<div class="reward_com_content">
			<div class="job_redpack_list_c">
					<div class="job_redpack_list_c_s {yun:}if $rlist.r_exp=='1'{/yun}job_redpack_list_c_s_cur{yun:}/if{/yun}">
                   <i class="job_redpack_list_c_icon job_redpack_list_c_icon_gz"></i>工作经历	
                    </div>
					<div class="job_redpack_list_c_s {yun:}if $rlist.r_edu=='1'{/yun}job_redpack_list_c_s_cur{yun:}/if{/yun}">
                  <i class="job_redpack_list_c_icon job_redpack_list_c_icon_jy"></i>教育经历
                    </div>
					<div class="job_redpack_list_c_s {yun:}if $rlist.r_project=='1'{/yun}job_redpack_list_c_s_cur{yun:}/if{/yun}">  <i class="job_redpack_list_c_icon job_redpack_list_c_icon_xm"></i>项目经历 </div>
					<div class="job_redpack_list_c_s {yun:}if $rlist.r_skill=='1'{/yun}job_redpack_list_c_s_cur{yun:}/if{/yun}">  <i class="job_redpack_list_c_icon job_redpack_list_c_icon_jn"></i>技能证书</div>
						<div id="rewardmsg" class="job_redpack_tips"></div>
				</div>
		
</div>
<div class="reward_com_td"><a href="{yun:}$rlist.job_url{/yun}" target="_blank" class="reward_com_td_a">投递</a><a href="javascript:fav_job('{yun:}$rlist.id{/yun}','1');" class="reward_com_td_a">收藏</a><div class="reward_com_time">更新日期：{yun:}$rlist.time{/yun}</div></div>
</div>
{yun:}/rewardjob{/yun}

</div>

</div>

<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script>var weburl="{yun:}$config.sy_weburl{/yun}",integral_pricename='{yun:}$config.integral_pricename{/yun}';
</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>

{yun:}include file="$tplstyle/footer.htm"{/yun}
</body>