<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{yun:}$title{/yun}</title>
<meta name="keywords" content="{yun:}$keywords{/yun}"/>
<meta name="description" content="{yun:}$description{/yun}"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/news.css?v={yun:}$config.cachecode{/yun}" type="text/css"/>
{yun:}if $ishtml{/yun}
<script src="{yun:}url m=ajax c=wjump url='c,article;nid,`$nid`'{/yun}" language="javascript"></script>
{yun:}/if{/yun}
</head>
<body style="background:#f8f8f8">
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="yun_content">
<div class="current_Location  png"> 
您当前的位置：<a href="{yun:}$config.sy_weburl{/yun}">首页</a> > <a href="{yun:}url m=article{/yun}">职场资讯</a> > 
{yun:}if $classname{/yun}{yun:}$classname{/yun}{yun:}else{/yun}搜索{yun:}/if{/yun}
</div>
<div class="n_list_box">

<div class="n_list_box_cont">
<div class="news_index_today_h1" style="margin-top:10px;"> <span class="news_index_today_h1_s">{yun:}if $classname{/yun}{yun:}$classname{/yun}
    {yun:}else{/yun}搜索{yun:}/if{/yun} </span></div>
<ul class="news_index_box_list">
  {yun:}article nid='auto.nid' keyword='auto.keyword' ispage=1 urlstatic=1 limit=20  t_len=30 item=news{/yun}
          <li>
          <div class="news_index_box_list_img"> 
          
          <a href="{yun:}$news.url{/yun}" target="_blank">
          <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$news.s_thumb{/yun}" onerror="showImgDelay(this,'{yun:}$style{/yun}/images/nopic.gif',2);"width="150" height="100" alt="{yun:}$news.title{/yun}"/>
          </a>
          </div>
    <div class="news_index_box_list_r" style="width:560px;">
             <h3 class="news_index_box_list_r_h1"><a target="_blank" href="{yun:}$news.url{/yun}"  {yun:}if $news.color{/yun}style="color:{yun:}$news.color{/yun}"{yun:}/if{/yun}>{yun:}$news.title{/yun}</a>  </h3>
              
              <div class="news_index_box_list_r_p">
              <p>{yun:}$news.description|mb_substr:0:60:'utf-8'{/yun}</p>
              <p>{yun:}$news.time{/yun}<span class="zx_part_nr-date_s">{yun:}$news.author{/yun}</span></p>
            </div>
               </div>
          </li>
          {yun:}/article{/yun}
    </ul>
          <div class="clear"></div>
          <div class="pages">{yun:}$pagenav{/yun}</div>
          
          
</div>

<div class="news_index_box_right">
<form method="get" action="index.php">
    <div class="news_index_box_search">
    <input name='m' value="article" type="hidden"/>
    <input name='c' value="list" type="hidden"/>
	<input name='nid' value="{yun:}$smarty.get.nid{/yun}" type="hidden"/>
    <input type="text" id="keyword" name="keyword" value="{yun:}$smarty.get.keyword{/yun}" placeholder="搜索文章" class="news_index_box_search_text"/>
    <input type="submit" value="" class="news_index_box_search_bth"/>
    </div>
    </form>
    <div class="clear"></div>
            <div class="news_index_today_h1" > <span class="news_index_today_hot_s">热门话题</span></div>
                <div class="clear"></div>
    <div class="n_list_box_left"id="news_nav" style="margin-top:25px;">
 {yun:}articleclass r_list=1 item=v{/yun}
            <div class="zx_fl_list">
            <a href="{yun:}$v.url{/yun}" class="zx_fl_list_a">{yun:}$v.name{/yun}</a>
            <div class="zx_fl_list_box">
            <div class="zx_fl_list_t_fl">
            <div class="zx_fl_list_box_h1">  <a href="{yun:}$v.url{/yun}">{yun:}$v.name{/yun}</a></div>
            {yun:}foreach item=val from=$v.r_list{/yun}
            <a href="{yun:}$val.url{/yun}"  class="zx_fl_list_t_fl_a">{yun:}$val.name{/yun}</a>
            {yun:}/foreach{/yun}
            </div>
            </div>
              </div>
             {yun:}/articleclass{/yun}

</div>
 <div class="clear"></div>
  <div class="zx_article">

 <div class="news_index_today_h1"> <span class="news_index_today_tj_s">推荐文章</span></div>
  <div class="clear"></div>
 
          <div class="zx_art_hot mt20">
           {yun:}article limit=1 type=tj pic=1 t_len=7 urlstatic=1 item=news_jian{/yun}
            <dl>
              <dt><a href="{yun:}$news_jian.url{/yun}" target="_blank"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$news_jian.newsphoto{/yun}" width="84" height="63" alt="{yun:}$news_jian.title{/yun}"/></a></dt>
              <dd>
                <div class="art_fanfu"><a href="{yun:}$news_jian.url{/yun}" target="_blank">{yun:}$news_jian.title{/yun}</a></div>
                <div class="art_xq">{yun:}$news_jian.description|mb_substr:0:22:'utf-8'{/yun}</div>
              </dd>
            </dl>
            {yun:}/article{/yun}
            <div class="clear"></div>
          </div>
          <div class="zx_art_list">
            <ul>
              {yun:}article limit=7 type=tj t_len=17 urlstatic=1 item=news_hits{/yun}
			  {yun:}if $news_hits.id!=$news_jian.id{/yun}
              <li><a href="{yun:}$news_hits.url{/yun}" target="_blank">{yun:}$news_hits.title{/yun}</a></li>
			  {yun:}/if{/yun}
              {yun:}/article{/yun}
            </ul>
          </div>
          <div class="clear"></div>
        </div>         <div class="news_index_today_h1"> <span class="news_index_today_news_s">最新文章</span></div>
  <div class="clear"></div>
        <div class="zx_article mt20">

          {yun:}article limit=1 pic=1 t_len=7 d_len=24 urlstatic=1 item=indexnews1 key=key{/yun}
            <div class="zx_art_hot">
              <dl>
                <dt><a href="{yun:}$indexnews1.url{/yun}" target="_blank"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$indexnews1.newsphoto{/yun}" width="84" height="63" alt="{yun:}$indexnews1.title{/yun}"/></a></dt>
                <dd>
                  <div class="art_fanfu"><a href="{yun:}$indexnews1.url{/yun}" target="_blank">{yun:}$indexnews1.title{/yun}</a></div>
                  <div class="art_xq">{yun:}$indexnews1.description{/yun}..</div>
                </dd>
              </dl>
              <div class="clear"></div>
            </div>
              {yun:}/article{/yun}
			  
            <div class="zx_art_list">
              <ul>
                  {yun:}article limit=7 t_len=16 d_len=24 urlstatic=1   item=indexnews2{/yun}
				  {yun:}if $indexnews2.id!=$indexnews1.id{/yun}
                   <li><a href="{yun:}$indexnews2.url{/yun}" target="_blank">{yun:}$indexnews2.title{/yun}</a></li>
				  {yun:}/if{/yun}
                  {yun:}/article{/yun}
              </ul>
            </div>
            <div class="clear"></div>   
</div>
</div>
</div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]-->
<script type="text/javascript"> 
	$(function() {
		var $keyword = $("#keyword").val();
		setHeightKeyWord('fontshow', $keyword, 'Red', true);
		//分类浏览
	     var sfEls = $("#news_nav").find("div");
		 for (var i=0; i<sfEls.length; i++) {
			  sfEls[i].onmouseover=function() {
			  this.className+=(this.className.length>0? " ": "") + "zx_fl_list_hover";
			  }
			  sfEls[i].onMouseDown=function() {
			  this.className+=(this.className.length>0? " ": "") + "zx_fl_list_hover";
			  }
			  sfEls[i].onMouseUp=function() {
			  this.className+=(this.className.length>0? " ": "") + "zx_fl_list_hover";
			  }
			  sfEls[i].onmouseout=function() {
			  this.className=this.className.replace(new RegExp("( ?|^)zx_fl_list_hover\\b"),"");
			  }
		 }
	});
	function setHeightKeyWord(id, keyword, color, bold) {
		if (keyword == "")
			return;
		var tempHTML = $("#" + id).html();
		var htmlReg = new RegExp("\<.*?\>", "i");
		var arrA = new Array();
		for (var i = 0; true; i++) {
			var m = htmlReg.exec(tempHTML);
			if (m) {
				arrA[i] = m;
			} else {
				break;
			}
			tempHTML = tempHTML.replace(m, "[[[[" + i + "]]]]");
		}
		var replaceText
		if (bold)
			replaceText = "<b style='color:" + color + ";'>$1</b>";
		else
			replaceText = "<font style='color:" + color + ";'>$1</font>";
		var arrayWord = keyword.split(',');
		for (var w = 0; w < arrayWord.length; w++) {
			var r = new RegExp("("+ arrayWord[w].replace(/[(){}.+*?^$|\\\[\]]/g, "\\$&")+ ")", "ig");
			tempHTML = tempHTML.replace(r, replaceText);
		}
		for (var i = 0; i < arrA.length; i++) {
			tempHTML = tempHTML.replace("[[[[" + i + "]]]]", arrA[i]);
		}
		$("#" + id).html(tempHTML);
	}
</script>
{yun:}include file="$tplstyle/footer.htm"{/yun}