{yun:}include file="$userstyle/header.htm"{/yun}
{yun:}include file="$tplstyle/public_search/index_search.htm"{/yun}
<form action="index.php?c=expect&act=add" method="post" target="supportiframe" onsubmit="return checkexpect();" autocomplete="off" class="layui-form">
  <div class="news_expect_body">
 <div class="news_expect">
<div class="news_expect_cont">
<div class="news_expect_cont_h1">
<div class="news_expect_cont_h1_box">
<span class="news_expect_cont_h1_s">简历是求职的利器，好的简历才能更快找到好工作！</span>
<div class="news_expect_cont_h1_p">填写简历要像对待每一次考试那样认真哦！</div>
</div>{yun:}if $save{/yun}
 <div id="forms" class="text_tips">您有上次未提交成功的数据 <a href="javascript:;" onclick="saveexp();"  class="text_tips_a">恢复数据</a> <i  id="close"class="text_tips_close"></i></div>
 {yun:}/if{/yun}
</div>




<div class="news_expect_content">

 
<div class="news_expect_tit"><span class="news_expect_tit_s"><i class="news_expect_tit_s_icon"></i>基本信息</span></div>
<div class="news_expect_n_box">
<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>姓名：</span>
<input type="text" value="{yun:}$resume.name{/yun}" name="uname" id="uname" class="news_expect_text_t1" onBlur="checkonblur('uname');"/>
<div class="resume_tip"><span class="none" id="hiduname"></span></div>
</div>
	
<div class="news_expect_list"><span class="news_expect_list_span news_expect_list_spanw160"><i class="news_expectfont">*</i>性别：</span>
	<input type="hidden" id="sex" name="sex" value="{yun:}$resume.sex{/yun}" />
    
   
              {yun:}foreach from=$arr_data.sex key=j item=v{/yun}
              <span class="news_expect_sex_t news_expect_sex {yun:}if $j eq $resume.sex{/yun}news_expect_sex_cur{yun:}/if{/yun}" id="sex{yun:}$j{/yun}" onclick="checksex('{yun:}$j{/yun}')"><i class="news_expect_icon_sex news_expect_icon_sex{yun:}$j{/yun}"></i>{yun:}$v{/yun}</span>                     
              {yun:}/foreach{/yun}            
    
<div class="resume_tip"><span class="none" id="hidsex"></span></div>

</div>
<div class="news_expect_list"> 
	<span class="news_expect_list_span"><i class="news_expectfont">*</i>出生年月：</span>
	   <div class="text"> 
			<input name="birthday" id="birthday"  type="text"  value="{yun:}$resume.birthday{/yun}" class="news_expect_text_t1" readonly />
		</div> 
        <div class="resume_tip"><span class="none" id="hidbirthday"></span>	</div>
	</div>
<div class="news_expect_list"><span class="news_expect_list_span news_expect_list_spanw160"><i class="news_expectfont">*</i>现居住地：</span><input type="text" value="{yun:}$resume.living{/yun}" name="living" class="news_expect_text_t1" id="living" onBlur="checkonblur('living');"/>
<div class="resume_tip"><span class="none" id="hidliving"></span></div>
</div>

<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>最高学历：</span>
<div class="news_expect_text_big   news_expect_text_re2">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:230px;">
    <select name="edu" lay-filter="" id="educid">
      <option value="">请选择最高学历</option>
      {yun:}foreach from=$userdata.user_edu key=j item=v{/yun}
      <option value="{yun:}$v{/yun}" {yun:}if $resume.edu==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
      {yun:}/foreach{/yun}
    </select>
  </div>
</div>

</div>
<div class="resume_tip"><span class="none" id="hideducid"></span></div>
</div>
<div class="news_expect_list"><span class="news_expect_list_span news_expect_list_spanw160"><i class="news_expectfont">*</i>工作经验：</span>
<div class="news_expect_text_big   news_expect_text_re1">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:230px;">
    <select name="exp" lay-filter="" id="expid">
      <option value="">请选择工作经验</option>
      {yun:}foreach from=$userdata.user_word key=j item=v{/yun}
      <option value="{yun:}$v{/yun}" {yun:}if $resume.exp==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
      {yun:}/foreach{/yun}
    </select>
  </div>
</div>
</div>
<div class="resume_tip"><span class="none" id="hidexpid"></span></div>
</div>

<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>手机号码：</span>
{yun:}if $resume.moblie_status==1{/yun}
<span class="news_phe_ok">{yun:}$resume.telphone{/yun} </span><a href="index.php?c=passwd" class="news_ok_rz">重新认证</a>
  <input type="hidden" id="telphone" name="telphone" value="{yun:}$resume.telphone{/yun}">
{yun:}else{/yun}
<input name="telphone" id="telphone" type="text" value="{yun:}$resume.telphone{/yun}" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" class="news_expect_text_t1" onBlur="checkonblur('telphone');"/>
<span id="by_telphone" style="display:none">请正确填写手机号码</span>
{yun:}/if{/yun}
<div class="resume_tip"><span class="none" id="hidtelphone"></span></div>
</div>

<div class="news_expect_list"><span class="news_expect_list_span news_expect_list_spanw160">联系邮箱：</span>
{yun:}if $resume.email_status==1{/yun}
<span class="news_email_ok">{yun:}$resume.email{/yun}</span><a href="index.php?c=passwd"  class="news_ok_rz">重新认证</a>
  <input type="hidden" id="email" value="{yun:}$resume.email{/yun}">
{yun:}else{/yun}
 <input name="email" id="email" type="text" size="30" value="{yun:}$resume.email{/yun}" class="news_expect_text_t1" onBlur="checkonblur('email');"/>
<span id="by_email" class="errordisplay">邮件格式错误</span>
{yun:}/if{/yun}
<div class="resume_tip"><span class="none" id="hidemail"></span></div>
</div>
</div>



<div class="news_expect_tit"><span class="news_expect_tit_s"><i class="news_expect_tit_yx_icon"></i>求职意向</span></div>
<div class="news_expect_n_box">

<div class="news_expect_list"><span class="news_expect_list_span "><i class="news_expectfont">*</i>从事行业：</span>
<div class="news_expect_text_big  news_expect_text_re10">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:230px;">
    <select name="hy" lay-filter="" id="hyid">
      <option value="">请选择行业</option>
      {yun:}foreach from=$industry_index key=j item=v{/yun}
      <option value="{yun:}$v{/yun}" {yun:}if $resume.hy==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$industry_name[$v]{/yun}</option>
      {yun:}/foreach{/yun}
    </select>
  </div>
</div>
	
</div>
<div class="resume_tip"><span class="none" id="hidhyid"></span></div>
</div>

<div class="news_expect_list"><span class="news_expect_list_span news_expect_list_spanw160"><i class="news_expectfont">*</i>工作职能：</span>
<div class="news_expect_text_big_box  news_expect_text_re9">
<input type="button" {yun:}if $resume.job_classid{/yun} value="{yun:}$resume.job_classname{/yun}"{yun:}else{/yun} value="请选择" {yun:}/if{/yun}style=" float:left;" class="news_expect_bth_big" onclick="index_job(5,'#workadds_job','#job_class','left:100px;top:100px; position:absolute;');" id="workadds_job" >
 <input name='job_class' id='job_class'  value="{yun:}$resume.job_classid{/yun}"type='hidden' />

</div>
<div class="resume_tip"><span class="none" id="hidjob_class"></span></div>
</div>
<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>期望岗位：</span>
<input type="text" value="" name="name" id="name" class="news_expect_text_t1" onBlur="checkonblur('name');" placeholder="具体岗位 如：销售主管"/>
   
<div class="resume_tip"><span class="none" id="hidname"></span></div>
</div>



<div class="news_expect_list"><span class="news_expect_list_span news_expect_list_spanw160"><i class="news_expectfont">*</i>期望薪资：</span>
	<div class="news_expect_xztext_box">
		<input type="text" id="minsalary" name="minsalary" size="5" value="{yun:}$resume.minsalary{/yun}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="news_expect_xztext " onBlur="checkonblur('minsalary');" placeholder="最低薪资" />
          <span class="job_expectxz_dw">元/月</span>
        </div>
		<span class="news_expect_text_xzline">-</span>
        <div class="news_expect_xztext_box">
		<input type="text" id="maxsalary" name="maxsalary" size="5" placeholder="最高薪资" value="{yun:}$resume.maxsalary{/yun}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"class="news_expect_xztext" />
          <span class="job_expectxz_dw">元/月</span>
    </div>
	<div class="resume_tip"><span class="none" id="hidminsalary"></span></div>
</div>


<div class="news_expect_list" style="position:relative; z-index:6">

<span class="news_expect_list_span"><i class="news_expectfont">*</i>期望城市：</span>
<div class="news_expect_listcity_box">
<div class="news_expect_text_w90  news_expect_text_re7">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:109px;">
    <select name="provinceid" lay-filter="citys" id="provinceid">
      <option value="">请选择</option>
      {yun:}foreach from=$city_index key=j item=v{/yun}
      <option value="{yun:}$v{/yun}" {yun:}if $resume.provinceid==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
      {yun:}/foreach{/yun}
    </select>
  </div>
</div>
</div>
<div class="news_expect_text_w90  news_expect_text_re7">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:109px;">
    <select name="citysid" lay-filter="citys" id="citysid">
      <option value="">请选择</option>
    </select>
  </div>
</div>
</div>
<div class="news_expect_text_w90  news_expect_text_re7 none" id="cityshowth">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:109px;">
    <select name="three_cityid" lay-filter="" id="three_cityid">
      <option value="">请选择</option>
    </select>
  </div>
</div>
</div>
<div class="resume_tip"><span class="none" id="hidcitysid"></span></div>
</div>
</div>
<div class="news_expect_list"><span class="news_expect_list_span news_expect_list_spanw160"><i class="news_expectfont">*</i>工作性质：</span>
<div class="news_expect_text_big  news_expect_text_re6">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:250px;">
    {yun:}foreach from=$userdata.user_type key=j item=v{/yun}
    <input type="radio" id="type{yun:}$j{/yun}" name="type" value="{yun:}$v{/yun}" {yun:}if $resume.type==$v{/yun}checked="checked"{yun:}/if{/yun} title="{yun:}$userclass_name[$v]{/yun}" />
    {yun:}/foreach{/yun}<input type="hidden" id="typeid" value="{yun:}$resume.type{/yun}" />
  </div>
</div>
</div>
<div class="resume_tip"><span class="none" id="hidtypeid"></span></div>
</div>


<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>到岗时间：</span>
<div class="news_expect_text_big  news_expect_text_re5">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:230px;">
    <select name="report" lay-filter="" id="reportid">
      <option value="">请选择到岗时间</option>
      {yun:}foreach from=$userdata.user_report key=j item=v{/yun}
      <option value="{yun:}$v{/yun}" {yun:}if $resume.report==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
      {yun:}/foreach{/yun}
    </select>
  </div>
</div>
</div>
<div class="resume_tip"><span class="none" id="hidreportid"></span></div>
</div>

<div class="news_expect_list">
<span class="news_expect_list_span news_expect_list_spanw160"><i class="news_expectfont">*</i>求职状态：</span>
<div class="news_expect_text_big  news_expect_text_re4">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:230px;">
    <select name="jobstatus" lay-filter="" id="statusid">
      <option value="">请选择求职状态</option>
      {yun:}foreach from=$userdata.user_jobstatus key=j item=v{/yun}
      <option value="{yun:}$v{/yun}" {yun:}if $resume.jobstatus==$v{/yun}selected="selected"{yun:}/if{/yun}>{yun:}$userclass_name[$v]{/yun}</option>
      {yun:}/foreach{/yun}
    </select>
  </div>
</div>
</div>
<div class="resume_tip"><span class="none" id="hidstatusid"></span></div>
</div>
{yun:}if $config.resume_create_exp=='1'{/yun}
<!---工作经历---->
<div class="news_expect_tit"><span class="news_expect_tit_s"><i class="news_expect_tit_yx_icon"></i>最近一份工作</span></div>

<div class="news_expect_n_box">
<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>公司名称：</span>
<input type="text" value="" name="workname" id="workname" class="news_expect_text_t1" onBlur="checkonblur('workname');"/>
<span class="news_expect_name"></span>     
<div class="resume_tip"><span class="none" id="hidworkname"></span></div>
</div>


<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>担任职位：</span>
<input type="text" value="" name="worktitle" id="worktitle" class="news_expect_text_t1" onBlur="checkonblur('worktitle');"/>
<span class="news_expect_name"></span>     
<div class="resume_tip"><span class="none" id="hidworktitle"></span></div>
</div>


<div class="news_expect_list news_expect_listw100"><span class="news_expect_list_span"><i class="news_expectfont">*</i>在职时间：</span>
<input name="worksdate" id="worksdate" type="text" value="" class="news_expectadd_text" onBlur="checkonblur('worksdate');"><span class="news_expect_text_xzline">-</span><input name="workedate" id="workedate" type="text" value="" class="news_expectadd_text"> <div class="news_expect_listtody"><input type="checkbox" value='1' id="stopdate" lay-filter="stopdate" title="至今" lay-skin="primary"> </div>
<span class="news_expect_name"></span>
<div class="resume_tip"><span class="none" id="hidworksdate"></span></div>
</div>


<div class="news_expect_textarea" ><span class="news_expect_list_span">工作内容：</span>
<div class="news_expect_textarea_box"><textarea rows="5" cols="50" name="workcontent" id="workcontent" class="news_expect_n_boxtextarea "></textarea></div>
<span class="news_expect_name"></span>     
<div class="resume_tip"><span class="none" id="hidworkcontent"></span></div>
</div>
<!---end--->
{yun:}/if{/yun}
{yun:}if $config.resume_create_edu=='1'{/yun}
<!---教育经历---->
<div class="news_expect_tit"><span class="news_expect_tit_s"><i class="news_expect_tit_yx_icon"></i>毕业院校</span></div>

<div class="news_expect_n_box">
<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>学校名称：</span>
<input type="text" value="" name="eduname" id="eduname" class="news_expect_text_t1" onBlur="checkonblur('eduname');"/>
<span class="news_expect_name"></span>     
<div class="resume_tip"><span class="none" id="hideduname"></span></div>
</div>


<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>在校时间：</span>
<input name="edusdate" id="edusdate" type="text" value="" class="news_expectadd_text"/><span class="news_expect_text_xzline">-</span><input name="eduedate" id="eduedate" type="text" value="" class="news_expectadd_text"/> 
<span class="news_expect_name"></span>     
<div class="resume_tip resume_tipw160"><span class="none" id="hidedusdate"></span></div>
</div>


<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>最高学历：</span>
<div class="news_expect_text_big   news_expect_text_re2">
<div class="layui-form-item">
  <div class="layui-input-inline" style="width:230px;">
    <select name="education" lay-filter="" id="education">
      <option value="">请选择学历</option>
      {yun:}foreach from=$userdata.user_edu key=j item=v{/yun}
      <option value="{yun:}$v{/yun}">{yun:}$userclass_name[$v]{/yun}</option>
      {yun:}/foreach{/yun}
    </select>
  </div>
</div>

</div>

<div class="resume_tip"><span class="none" id="hideducation"></span></div>
</div>

<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>所学专业：</span>
<input type="text" value="" name="eduspec" id="eduspec" class="news_expect_text_t1" onBlur="checkonblur('eduspec');"/>
<span class="news_expect_name"></span>     
<div class="resume_tip"><span class="none" id="hideduspec"></span></div>
</div>
{yun:}/if{/yun}
<!---end--->
{yun:}if $config.resume_create_project=='1'{/yun}
<!---项目经历---->
<div class="news_expect_tit"><span class="news_expect_tit_s"><i class="news_expect_tit_yx_icon"></i>近期项目：</span></div>

<div class="news_expect_n_box">
<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>项目名称：</span>
<input type="text" value="" name="proname" id="proname" class="news_expect_text_t1" onBlur="checkonblur('proname');"/>
<span class="news_expect_name"></span>     
<div class="resume_tip"><span class="none" id="hidproname"></span></div>
</div>

<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>担任职位：</span>
<input type="text" value="" name="protitle" id="protitle" class="news_expect_text_t1" onBlur="checkonblur('protitle');"/>
<span class="news_expect_name"></span>     
<div class="resume_tip"><span class="none" id="hidprotitle"></span></div>
</div>

<div class="news_expect_list"><span class="news_expect_list_span"><i class="news_expectfont">*</i>项目时间：</span>
<input name="prosdate" id="prosdate" type="text" value="" class="news_expectadd_text"/><span class="news_expect_text_xzline">-</span><input name="proedate" id="proedate" type="text" value="" class="news_expectadd_text"/> 
<span class="news_expect_name"></span>     
<div class="resume_tip resume_tipw140"><span class="none" id="hidprosdate"></span></div>
</div>

<div class="news_expect_textarea" ><span class="news_expect_list_span">项目内容：</span>
<div class="news_expect_textarea_box"><textarea rows="5" cols="50" name="procontent" id="procontent" class="news_expect_n_boxtextarea"></textarea></div>
<span class="news_expect_name"></span>
<div class="resume_tip"><span class="none" id="hidprocontent"></span></div>
</div>

<!--end-->
{yun:}/if{/yun}


<div class="news_expect_nbth"><input type="submit"  class="news_expect_list_sub" value="保存" name="submit">
<input id="save" name="save" value="{yun:}$save.name{/yun}" type="hidden"/>
<input id="addtype" value="addexpect" type="hidden"/>
</div>
</div>
{yun:}if !$save{/yun}
   <div class="text_tips_bc">
   <div class="text_tips_bc_h1"> 信息保存</div>
   <div class="text_tips_bc_cont"> 
   {yun:}if $save.time{/yun}
   <div class="text_tips_bc_l">信息已于{yun:}$save.time{/yun}保存</div>
   {yun:}/if{/yun} 
   <div class="text_tips_bc_time">   <span id="totalSecond"></span>s后将自动保存<br>已填信息</div>
   <a  id="atime"href="javascript:;" onclick="saveexpform();" class="text_tips_bc_bth">保存数据</a>
   </div>
   </div>
   {yun:}/if{/yun}
    </div>
</div>
</div>
</div>
</div>
<input type='hidden' id='resume_edu' value='{yun:}$config.resume_create_edu{/yun}'>
<input type='hidden' id='resume_exp' value='{yun:}$config.resume_create_exp{/yun}'>
<input type='hidden' id='resume_pro' value='{yun:}$config.resume_create_project{/yun}'>
</form>

<script src="{yun:}$config.sy_weburl{/yun}/data/plus/job.cache.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>
<link rel="stylesheet" href="{yun:}$style{/yun}/style/class.public.css?v={yun:}$config.cachecode{/yun}" type="text/css">
<script src="{yun:}$config.sy_weburl{/yun}/js/class.public.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lssave.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script> 

<script>
layui.use(['layer', 'form','laydate'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,laydate = layui.laydate
    ,$ = layui.$;
	laydate.render({
		elem: '#birthday'
		,max: -5113
		,value: '1990-01-01'
	});
	laydate.render({
		elem: '#worksdate',type: 'month'
		,done: function(value, date, endDate){checkonblur('worksdate');}
	});
	laydate.render({
		elem: '#workedate',type: 'month'
	});
	laydate.render({
		elem: '#edusdate',type: 'month'
		,done: function(value, date, endDate){checkonblur('edusdate');}
	});
	laydate.render({
		elem: '#eduedate',type: 'month'
		,done: function(value, date, endDate){checkonblur('eduedate');}
	});
	laydate.render({
		elem: '#prosdate',type: 'month'
		,done: function(value, date, endDate){checkonblur('prosdate');}
	});
	laydate.render({
		elem: '#proedate',type: 'month'
		,done: function(value, date, endDate){checkonblur('proedate');}
	});
	$("input[name='type']").each(function(){
		$(this).next().click(function(){
			var val = $(this).prev().val();
			if(val){
				$("#typeid").val(val);
			}
			
		});
		
	});
	form.on('select(citys)',function(data){
		$.post(weburl+"/index.php?m=ajax&c=ajax",{str:data.value},function(htm){
			if(data.elem.name=='provinceid'){
				$("#citysid").html(htm);
				$("#three_cityid").html("<option value=''>请选择</option>");
			}else if(data.elem.name=='citysid'){
				$("#cityshowth").show();
				$("#three_cityid").html(htm);
			}
			form.render('select');
		});
	});
	form.on('checkbox(stopdate)', function(data){
		
	  if(data.elem.checked){
	    $('#workedate').attr('disabled','disabled');
		$('#workedate').val('至今');
	  }else{
		$('#workedate').val('');
		$('#workedate').removeAttr('disabled');
	  }
	  form.render('checkbox');
	  
	});
	form.on('radio', function(data){
	

		msg='';
		showblurmsg('typeid',"1",msg);
	  
	}); 
	form.on('select', function(data){
	

		var selid = data.elem.id;
		checkonblur(selid);
	  
	}); 

});
var userstyle='{yun:}$user_style{/yun}';
var start = 30;
var step = -1;
var save=$("#save").val();
if(!save){
	function count()
		{
		$("#atime").click(function(){ start=30});
		document.getElementById("totalSecond").innerHTML = start;
		start += step;
		if(start < 0 ){
			saveexpform();
			start = 30;
		}
	setTimeout("count()",1000);
}
	window.onload = count;	
}
function checkexpect(){

	var resume_edu = $('#resume_edu').val();
	var resume_exp = $('#resume_exp').val();
	var resume_pro = $('#resume_pro').val();

	var arrayObj = new Array('name','hyid','job_class','maxsalary','minsalary','citysid','typeid','reportid','statusid','uname','sex','birthday','educid','expid','telphone','email','living');
	if(resume_exp=='1'){
		
		var arrayExp = new Array('workname','worktitle','worksdate');

		arrayObj = arrayObj.concat(arrayExp);
	}
	if(resume_edu=='1'){
		var arrayEdu = new Array('eduname','edusdate','eduedate','education','eduspec');
		arrayObj = arrayObj = arrayObj.concat(arrayEdu);
	}
	if(resume_pro=='1'){
		var arrayPro = new Array('proname','protitle','prosdate','proedate');
		arrayObj = arrayObj.concat(arrayPro);
	}
	
	for(i=0;i<arrayObj.length;i++){
	
		checkonblur(arrayObj[i]);
	}
	
	for(i=0;i<arrayObj.length;i++){
		if(exitsdate(arrayObj[i])==false){
			
			return false;
		}
	}
	var loadi = layer.load('保存中，请稍候...',0);
} 
function checkonblur(id){
	var obj = $.trim($("#"+id).val());
	var msg; 
	

	if(id=="name"){
		if(obj==""){
			msg='请填写期望岗位！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="hyid"){
		if(obj==""){
			msg='请选择从事行业！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="job_class"){
		if(obj==""){
			msg='请选择期望职位！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="maxsalary"){
	    var minsalary=parseInt($('#minsalary').val());
		if(parseInt(obj)>0&&parseInt(obj)<minsalary){
			msg='最高薪资必须大于最低薪资！';
			showblurmsg('minsalary',"0",msg);
		}else{
			msg='';
			showblurmsg('minsalary',"1",msg);
			$("#"+id).attr('date','1');
		}
	}
	if(id=="minsalary"){
	    var maxsalary=parseInt($('#maxsalary').val());
		if(obj=="" || obj=="最低薪资"){
			msg='请填写期望薪资！';
			showblurmsg(id,"0",msg);
		}else if(parseInt(obj)>maxsalary){
			msg='最高薪资必须大于最低薪资！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}	
	if(id=="citysid"){
		if(obj==""){
			msg='请选择工作地区！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="typeid"){
		if(obj==""){
			msg='请选择工作性质！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="reportid"){
		if(obj==""){
			msg='请选择到岗时间！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="statusid"){
		if(obj==""){
			msg='请选择求职状态！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="uname"){
		if(obj==""){
			msg='请输入真实姓名！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="sex"){
		if(obj==""){
			msg='请选择性别！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="birthday"){
		if(obj==""){
			msg='请选择出生日期！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="educid"){
		if(obj==""){
			msg='请选择最高学历！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="expid"){
		if(obj==""){
			msg='请选择工作经验！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="telphone"){
		var reg= /^[1][3456789]\d{9}$/; //验证手机号码  
		if(obj==''){
			msg="请输入手机号码！";
			showblurmsg(id,"0",msg);
		}else if(!reg.test(obj)){
			msg="手机号码格式错误！";
			showblurmsg(id,"0",msg);
		}else{
			 $.ajax({
				 type: "POST",
				 url: weburl+"/member/index.php?c=expect&act=regmoblie",
				 data: {telphone:obj},
				 dataType: "text",
				 async:false,
				 success: function(data){
							if(data==0){	
								msg='';
								showblurmsg(id,"1",msg);
								return true;
							}else{					
								msg="号码已存在！";					
								showblurmsg(id,"0",msg);					
							}
					}
			 });
		 }		
	}
	if(id=="email"){
		var myreg = /^([a-zA-Z0-9\-]+[_|\_|\.]?)*[a-zA-Z0-9\-]+@([a-zA-Z0-9\-]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
		if(obj!=""){
			 
			 if(!myreg.test(obj)){
				msg="邮箱格式错误！";
				showblurmsg(id,"0",msg);
			 }else{
				$.ajax({
					 type: "POST",
					 url: weburl+"/member/index.php?c=expect&act=ajaxreg",
					 data: {email:obj},
					 dataType: "text",
					 async:false,
					 success: function(data){
								if(data==0){
									msg='';
									showblurmsg(id,"1",msg);
								}else{
									msg="邮箱已被使用！";
									showblurmsg(id,"0",msg);
								}
						}
				 });
															
			}
		}else{
			 msg='';
			 showblurmsg(id,"1",msg);
		
		}
	}
	if(id=="living"){
		if(obj==""){
			msg='请输入现居住地！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	
	if(id=="workname"){
	
		if(obj==""){
			msg='请填写公司名称！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="worktitle"){
	
		if(obj==""){
			msg='请填写担任职位！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="worksdate"){
	
		if(obj==""){
			msg='请填写工作时间！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}	

	if(id=="eduname"){
	
		if(obj==""){
			msg='请填写学校名称！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="edusdate"){
	
		if(obj==""){
			msg='请填写在校时间！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}

	if(id=="eduedate"){
	
		if(obj==""){
			msg='请填写离校或预计离校时间！';
			showblurmsg('edusdate',"0",msg);
			showblurmsg('eduedate',"0",msg);
		}else{
			var st=toDate($('#edusdate').val());
			var ed=toDate(obj);
			if(st>ed){
				msg='离校时间不合理';
				showblurmsg('edusdate',"0",msg);
				showblurmsg('eduedate',"0",msg);
			}else{
				msg='';
				showblurmsg('edusdate',"1",msg);
				showblurmsg('eduedate',"1",msg);
			}
			
		}
	}

	if(id=="education"){
	
		if(obj==""){
			msg='请选择相关学历！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="eduspec"){
	
		if(obj==""){
			msg='请填写所学专业！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="proname"){
	
		if(obj==""){
			msg='请填写项目名称！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="protitle"){
	
		if(obj==""){
			msg='请填写项目职位！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="prosdate"){
	
		if(obj==""){
			msg='请选择项目时间！';
			showblurmsg(id,"0",msg);
		}else{
			msg='';
			showblurmsg(id,"1",msg);
		}
	}
	if(id=="proedate"){
	
		if(obj==""){
			msg='请选择项目结束时间！';
			showblurmsg('prosdate',"0",msg);
			showblurmsg('proedate',"0",msg);
		}else{
			var st=toDate($('#prosdate').val());
			var ed=toDate(obj);

			if(st>ed){
			
				msg='项目结束时间不合理';
				showblurmsg('prosdate',"0",msg);
				showblurmsg('proedate',"0",msg);
			}else{
				msg='';
				showblurmsg('prosdate',"1",msg);
				showblurmsg('proedate',"1",msg);
			}
		
		}
	}
	
}
function toDate(str){
    var sd=str.split("-");
    return new Date(sd[0],sd[1]);
}
function showblurmsg(id,type,msg){
	$("#hid_"+id).show();
	$("#hid"+id).html(msg); 
	if(type=="0"){  
		$("#hid"+id).attr("class","");
		$("#"+id).removeClass("resume_tipfalse");
		$("#"+id).attr('date','0');
		return false;
	}else{ 
		$("#hid"+id).attr("class","resume_tipok");
		$("#"+id).addClass("resume_tipfalse");
		$("#"+id).attr('date','1');
	}
}
function exitsdate(id){
	if(document.getElementById(id)){
		if($('#'+id).attr('date')!='1'){
			return false;
		}else{
			return true;
		}
	}else{
		return true;
	}
}
function checksex(id){
	$(".news_expect_sex").removeClass('news_expect_sex_cur');
	$("#sex"+id).addClass('news_expect_sex_cur');
	$("#sex").val(id); 
}
</script>

{yun:}include file="$userstyle/footer.htm"{/yun}