{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
     <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">我的职位</span> <i class="member_right_h1_icon user_bg"></i></div>
    <div id="gms_showclew"></div>
    <form action="index.php" method="get" target="supportiframe" id='myform'>
      <input type="hidden" name="c" value="favorite" />
      <input type="hidden" name="act" value="del" />
     <div class="job_list_tit"> <ul class="">
	<li {yun:}if $smarty.get.c=='msg'{/yun}class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=msg">面试通知</a>{yun:}if $msgnum{/yun}<i class="job_list_tit_cur">{yun:}$msgnum{/yun}</i>{yun:}/if{/yun}</li>
      <li {yun:}if $smarty.get.c=='job'{/yun}class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=job">申请的职位</a></li>
      <li {yun:}if $smarty.get.c=='favorite'{/yun}class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=favorite">职位收藏</a></li>
      <li {yun:}if $smarty.get.c=='look_job'{/yun}class="job_list_tit_cur"{yun:}/if{/yun}><a href="index.php?c=look_job">浏览的职位 </a></li>
	</ul> </div>
	<div class="resume_box_list  mt20">{yun:}if empty($rows){/yun}
        <div class="msg_no">
          <p>亲爱的用户，您还没有收藏过职位，想要获得更多工作机会</p>
          <p>立即搜索您感兴趣的职位并收藏吧！</p>
          <a href="{yun:}url m=job{/yun}" target="_blank" class="msg_no_sq uesr_submit">立即搜索我感兴趣的职位>></a> </div>
        {yun:}else{/yun}

		    <div class="job_collection_tit">
         <div class="job_collection_span job_collection_span_checkbox">&nbsp;</div>
          <div class="job_collection_span job_collection_job">收藏的职位</div>
          <div class="job_collection_span job_collection_xz">薪资待遇</div>
           <div class="job_collection_span job_collection_add">工作地点</div>
           <div class="job_collection_span job_collection_zt">招聘状态</div> 
             <div class="job_collection_span job_collection_cz">操作</div> 
           </div>
        {yun:}foreach item=job from=$rows{/yun}
  <div class="job_collection_list">

  <div class="job_collection_span job_collection_span_checkbox">  <input type=checkbox name="del[]" value="{yun:}$job.id{/yun}" class="interview_application_checkbox_input"></div>

       <div class="job_collection_span job_collection_job">

 {yun:}if $job.type==1{/yun} 
          <a href="{yun:}url m=job c=comapply id='`$job.job_id`'{/yun}" target="_blank" title="{yun:}$job.job_name{/yun}" class="interview_application_name">{yun:}$job.job_name{/yun}</a> {yun:}elseif $job.type==2{/yun}
           <a href="{yun:}url m=lietou c=jobcomshow id='`$job.job_id`'{/yun}" class="interview_application_name" target="_blank" title="{yun:}$job.job_name{/yun}"> {yun:}$job.job_name{/yun} </a><font color="#FF0000">[高级]</font> {yun:}elseif $job.type==3{/yun}
           <a href="{yun:}url m=lietou c=jobshow id='`$job.job_id`'{/yun}" target="_blank" class="interview_application_name" title="{yun:}$job.job_name{/yun}"> {yun:}$job.job_name{/yun} </a><font color="#FF0000">[猎头]</font> {yun:}/if{/yun}
          <div class="mt10">{yun:}if $job.type==3{/yun} 
          <a href="{yun:}url m=lietou c=headhunter uid='`$job.com_id`'{/yun}" target="_blank" title="{yun:}$job.com_name{/yun}" class="">{yun:}$job.com_name{/yun} </a> {yun:}else{/yun} 
          <a href="{yun:}url m=company c=show id='`$job.com_id`'{/yun}" target="_blank" title="{yun:}$job.com_name{/yun}"class="">{yun:}$job.com_name{/yun} </a> {yun:}/if{/yun} </div>
		  </div>

 <div class="job_collection_span job_collection_xz"> &nbsp;{yun:}if $job.minsalary&&$job.maxsalary{/yun}￥{yun:}$job.minsalary{/yun}-{yun:}$job.maxsalary{/yun}{yun:}if $job.type!=1{/yun}万{yun:}/if{/yun}{yun:}else if $job.minsalary{/yun}￥{yun:}$job.minsalary{/yun}{yun:}if $job.type!=1{/yun}万{yun:}/if{/yun}以上{yun:}else{/yun}面议{yun:}/if{/yun}</div>
           <div class="job_collection_span job_collection_add">&nbsp;{yun:}$city_name[$job.provinceid]{/yun}-{yun:}$city_name[$job.cityid]{/yun}</div>
           <div class="job_collection_span job_collection_zt">&nbsp;{yun:}$job.statename{/yun}</div> 
             <div class="job_collection_span job_collection_cz"> <a href="javascript:void(0)" onclick="layer_del('确定要删除？', 'index.php?c=favorite&act=del&id={yun:}$job.id{/yun}');" class="re_sc cblue">删除</a> </div> 

           </div>

        {yun:}/foreach{/yun}
        {yun:}/if{/yun} 
		</div>
      {yun:}if $rows{/yun}
       <div class="job_operation_bot">
        <input id="checkAll" type="checkbox" onclick="m_checkAll(this.form)" class="job_operation_botcheckbox">
      
        <input type="button" name="subdel" value="批量删除" onclick="return really('del[]');" class="job_operation_bth">
      </div>


      <div class="diggg" style="float:right; margin-top:10px;">{yun:}$pagenav{/yun}</div>
      {yun:}/if{/yun}
    </form>
  </div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun}