{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
{yun:}include file="$userstyle/left.htm"{/yun}
<div class="yun_m_rightbox fltR mt20 re">
  <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">我的悬赏</span> <i class="member_right_h1_icon user_bg"></i></div>
  <div class="job_list_tit">
    <ul class="">
      <li><a href="index.php?c=rebates">我推荐的悬赏</a></li>
      <li class="job_list_tit_cur"><a href="index.php?c=jobpack">我参与的悬赏</a></li>
    </ul>
  </div>
  <div  class="resume_Prompt_box">
    <div  class="resume_Prompt"><i class="resume_Prompt_icon"></i>温馨提示：招聘企业无权收取任何费用，求职中请加强自我保护，避免上当受骗！</div>
  </div>
  <div class="resume_box_list">
    <div class="m_xs fl">
      <ul>
        <li {yun:}if !$smarty.get.state{/yun}class="m_xs_cur"{yun:}/if{/yun}><a href="index.php?c=jobpack">全部</a></li>
        {yun:}foreach from=$StateList item=one{/yun}
        <li  {yun:}if $smarty.get.state==$one.id{/yun}class="m_xs_cur"{yun:}/if{/yun}> <a href="index.php?c=jobpack&state={yun:}$one.id{/yun}">{yun:}$one.name{/yun}</a></li>
        {yun:}/foreach{/yun}
      </ul>
    </div>
    {yun:}foreach item=v key=key from=$rows{/yun}
    <div class="sq_jobpack">
      <div class="sq_jobpack_top"><a href="{yun:}url m=job c=comapply id='`$v.jobid`'{/yun}" target="_blank" class="sq_jobpack_jobname_a">{yun:}$v.name{/yun}</a>
        <div class="sq_jobpack_time">申请日期：{yun:}$v.datetime|date_format:"%Y-%m-%d"{/yun}</div>
      </div>
      <div class="sq_jobpack_left">
        <div class="reward_hb_box">
          <div class="reward_hb_list"> <i class="reward_hb_list_line"></i> <span class="reward_hb_fonttd">￥{yun:}$v.money{/yun}</span>
            <div class="reward_hb_list_P">总赏金</div>
          </div>
          <div class="reward_hb_list"> <i class="reward_hb_list_line"></i> <span class="reward_hb_fonttd">￥{yun:}$v.sqmoney{/yun}</span>
            <div class="reward_hb_list_P">投递简历</div>
          </div>
          <div class="reward_hb_list"> <i class="reward_hb_list_line"></i> <span class="reward_hb_fontms">￥{yun:}$v.invitemoney{/yun}</span>
            <div class="reward_hb_list_P">面试职位</div>
          </div>
          <div class="reward_hb_list"><span class="reward_hb_fontrz">￥{yun:}$v.offermoney{/yun}</span>
            <div class="reward_hb_list_P">入职成功</div>
          </div>
        </div>
        <div class="sq_jobpack_zt"> <span class="sq_jobpack_zt_c">状态：{yun:}$v.log.nowmsg{/yun}</span> {yun:}if $v.log.loglist{/yun} <span class="sq_jobpack_zt_sq" data-id='{yun:}$v.id{/yun}'> </span> {yun:}/if{/yun} </div>
      </div>
      <div class="sq_jobpack_right"> {yun:}foreach from= $v.log.input item=inputv{/yun} <a class="sq_jobpack_right_a" href="javascript:void(0);" onclick="getStatus('{yun:}$v.id{/yun}','{yun:}$inputv.status{/yun}');">{yun:}$inputv.name{/yun}</a> {yun:}/foreach{/yun} </div>
      <div class="sq_jobpack_zt_list  show{yun:}$v.id{/yun}" style="display:none"> {yun:}if $v.log.loglist{/yun}
        <ul class="">
          {yun:}foreach from=$v.log.loglist item=linfo{/yun}
          <li class="m_xs_pr_f_cur"> <span class="m_xs_pr_f_icon"><i class="m_xs_pr_f_icon_c"></i></span>
            <div class="jobrewardlog_box">{yun:}$linfo.info{/yun}</div>
            <div class="jobrewardlog_time"> {yun:}$linfo.time|date_format:"%Y-%m-%d %H:%M"{/yun} </div>
          </li>
          {yun:}/foreach{/yun}
        </ul>
        {yun:}/if{/yun}
        {yun:}if $v.log.endmsg{/yun}
        <ul>
          <li><span class="m_xs_pr_f_icon"><i class="m_xs_pr_f_icon_c m_xs_pr_f_icon_c_f60"></i></span><font color="#FF6600">{yun:}$v.log.endmsg{/yun}</font></li>
        </ul>
        {yun:}/if{/yun} 
        
        <!----操作记录END----> 
        
      </div>
    </div>
    {yun:}foreachelse{/yun}
    <div class="msg_no">
      <p>立即搜索您感兴趣的赏金职位吧！</p>
      <a href="{yun:}url m=reward{/yun}" target="_blank"class="msg_no_sq uesr_submit">立即搜索赏金职位>></a> </div>
    {yun:}/foreach{/yun}
    <div class="clear"></div>
    <div class="diggg">{yun:}$pagenav{/yun}</div>
  </div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/rewardpay.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script> 
<!----申请仲裁--->
<div id='job_box' style="display:none;float:left">
  <div class="jobpark_zc_cont">
    <form name="alipayment" action="index.php?c=jobpack&act=arb" method="post" target="supportiframe" encType="multipart/form-data">
      <dl>
        <dt>资料凭证：</dt>
        <dd>
          <button type="button" class="layui-btn layui-btn-normal" id="noupload">选择文件</button>
          <input type="hidden" id="laynoupload" value="1"/>
        </dd>
      </dl>
      <dl>
        <dt>仲裁原因：</dt>
        <dd>
          <textarea id="content" name='content' cols="40" rows="5" class="jobpark_zc_conttextarea"></textarea>
        </dd>
      </dl>
      <dl>
        <dt>&nbsp;</dt>
        <dd>
          <input  type="hidden" name='rewardid' id='rewardid' value="">
          <input class="jobpark_zc_bth" type="submit" value="申请仲裁">
        </dd>
      </dl>
    </form>
  </div>
</div>
<script>
$(function(){
$('.sq_jobpack_zt_sq').click(function(){
	var showid = $(this).attr('data-id');
	
	$('.show'+showid).toggle()
});
})
</script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/layui.upload.js?v={yun:}$config.cachecode{/yun}" type='text/javascript'></script> 
{yun:}include file="$userstyle/footer.htm"{/yun} 