{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
         <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">财务明细</span> <i class="member_right_h1_icon user_bg"></i></div>
    
        <div>
            <div id="gms_showclew"></div>
          
            <div class="job_list_tit"> <ul class="">
	<li class="job_list_tit_cur" ><a href="index.php?c=paylist">充值记录</a></li>
      <li><a href="index.php?c=paylog">消费记录</a></li>

	</ul> 
    </div>  <div class="resume_box_list  mt20  fltL">
            {yun:}if !empty($rows){/yun}
                <div class="paylist_tit">
                    <div class="paylist_span paylist_dh">充值单号</div>
                    <div class="paylist_span paylist_money">充值金额</div>
                    <div class="paylist_span paylist_lx">支付类型</div>
                    <div class="paylist_span paylist_zt"> 状态	 </div>
                    <div class="paylist_span paylist_time" >时间</div>
                    <div class="paylist_span paylist_cz">操作</div>
                </div>
                {yun:}/if{/yun}
                {yun:}foreach from=$rows item=log{/yun}
                {yun:}assign var="state" value=$log.order_state{/yun}
                {yun:}assign var="type" value=$log.order_type{/yun}
                <div class="paylist_list">
                   <div class="paylist_span paylist_dh">{yun:}$log.order_id{/yun}</div>
                   <div class="paylist_span paylist_money">{yun:}$log.order_price{/yun}</div>
                   <div class="paylist_span paylist_lx">{yun:}if $type{/yun}{yun:}$arr_data.pay.$type{/yun}{yun:}else{/yun}手动{yun:}/if{/yun}</div>
                    <div class="paylist_span paylist_zt">{yun:}$arr_data.paystate.$state{/yun}	 </div>
                   <div class="paylist_span paylist_time">{yun:}$log.order_time|date_format:'%Y-%m-%d %H:%M'{/yun}</div>
                    <div class="paylist_span paylist_cz">
                        {yun:}if $log.order_state=='1'{/yun} <a href="index.php?c=payment&id={yun:}$log.id{/yun}" class="cblue">去付款</a>  <span class="jobnotice_cz_line">|</span>
                        <a href="javascript:void(0)" onclick="layer_del('确定要取消？', 'index.php?c=paylist&act=del&id={yun:}$log.id{/yun}');" class="cblue">
                            取消充值
                        </a>
                        {yun:}else{/yun}
                        {yun:}$arr_data.paystate.$state{/yun}
                        {yun:}/if{/yun}
                    </div>
                     {yun:}if $log.order_remark{/yun}
                   <div class="paylist_beizhu"> <span class="paylist_beizhu_name">备注：</span>{yun:}$log.order_remark{/yun}</div>{yun:}/if{/yun}
                </div>
                
                {yun:}foreachelse{/yun}
                <div class="msg_no">您还没有充值记录，<a href="index.php?c=pay" class="cblue">点击充值</a>。</div>
                {yun:}/foreach{/yun}
                {yun:}if !empty($rows){/yun}
               
                {yun:}/if{/yun}
                <div class="diggg">{yun:}$pagenav{/yun}</div>
            </div>
        </div>
    </div>
</div>

{yun:}include file="$userstyle/footer.htm"{/yun}