{yun:}include file="$userstyle/header.htm"{/yun}
<div class="yun_w1200">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="yun_m_rightbox fltR mt20 re">
    
      <div class="member_right_index_h1 fltL"> <span class="member_right_h1_span fltL">系统消息</span> <i class="member_right_h1_icon user_bg"></i></div>

        <div>
            <div id="gms_showclew"></div>
            <div class="resume_box_list">
            {yun:}if !empty($rows){/yun}
                <div class="sysynews_tit ">
                    <div class="sysynews_span sysynews_name"><em class="List_Title_span_name">内容</em></div>
                    <div class="sysynews_span sysynews_time">时间</div>
                    <div class="sysynews_span sysynews_cz">操作</div>
                </div>
                {yun:}/if{/yun}
                {yun:}foreach from=$rows item=item{/yun}
                <div class="sysynews_list">
                    <div class="sysynews_span sysynews_name" {yun:}if $item.remind_status==0{/yun}style="font-weight:bold"{yun:}/if{/yun}>{yun:}$item.content|mb_substr:0:50:'utf-8'{/yun}</div>
                   <div class="sysynews_span sysynews_time">{yun:}$item.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}</div>
                   <div class="sysynews_span sysynews_cz">
					   <a href="javascript:void(0)" onclick="showsys('{yun:}$item.content_all{/yun}','{yun:}$item.id{/yun}','{yun:}$item.ctime|date_format:"%Y-%m-%d %H:%M"{/yun}'); "> 查看</a> <span class="jobnotice_cz_line">|</span>
                        <a href="javascript:void(0)" onclick="layer_del('确定要删除？','index.php?c=sysnews&act=del&id={yun:}$item.id{/yun}');" class="List_dete  cblue">删除</a>
                    </div>
                </div>
                {yun:}foreachelse{/yun}
                <div class="msg_no"> 暂无系统消息！ </div>
                {yun:}/foreach{/yun}
                <div class="diggg">{yun:}$pagenav{/yun}</div>
            </div>
        </div>
    </div>
</div>
<div id="show" style="display:none;width:100%;">
	<div class="sys_tm">
	    <p><i>时间：</i><span id="systime"></span></p>
	    <p><i>内容：</i><span id="sysshow"></span></p>
	</div>
	<div class="sys_bot">
	<a class="sys_bot_del" href="javascript:void(0)" id="delsys"> 删除</a><a class="sys_bot_qx" href="javascript:void(0)" onclick="window.location.reload();" class="cblue">返回</a>
	</div>
</div>
<style>.layui-layer-setwin{display:none}</style>
{yun:}include file="$userstyle/footer.htm"{/yun}