<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{yun:}$title{/yun}</title>
    <meta name=keywords content="{yun:}$keywords{/yun}" />
    <meta name=description content="{yun:}$description{/yun}" />
    <link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css?v={yun:}$config.cachecode{/yun}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{yun:}$com_style{/yun}/images/style.css?v={yun:}$config.cachecode{/yun}" />
</head>
<body>
   <!--header头部-->
<div class="header_top"><div class="header_cont">{yun:}$com.name{/yun}欢迎您！<a href="{yun:}$config.sy_weburl{/yun}" class="header_cont_home">人才网首页</a></div></div>
<div class="">
   <div class="header_bg" >
  <div class="header_banner" ><img  src="{yun:}$banner.pic{/yun}" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_banner{/yun}',2);"> </div></div>
  
<div class="header_combox">
<div class="header_combox_cont">
<div class="header_comlogo">{yun:}if $com.logo{/yun}<img src="{yun:}$com.logo{/yun}" width="90" height="90" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);" />{yun:}else{/yun}<img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}" width="185" height="75" />{yun:}/if{/yun}</div>
<div class="header_cominfo"> <div class="header_cominfo_top">  <h1 class="header_cominfo_name" style="display:inline-block">{yun:}$com.name{/yun}</h1>
<div class="header_combox_rz">
{yun:}if $com.email_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx2.png" alt="邮箱未认证" title="邮箱已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_yx.png" alt="邮箱未认证" title="邮箱未认证" class="png" /> {yun:}/if{/yun}
        {yun:}if $com.moblie_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj2.png" alt="手机未认证" title="手机已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_sj.png" alt="手机未认证" title="手机未认证" class="png" /> {yun:}/if{/yun}
        {yun:}if $com.yyzz_status=="1"{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz2.png" alt="执照未认证" title="执照已认证" class="png" /> {yun:}else{/yun} <img src="{yun:}$com_style{/yun}images/rz_zz.png" alt="执照未认证" title="执照未认证" class="png" /> {yun:}/if{/yun}
        </div>
 {yun:}if $ComMember.source==6 && $ComMember.claim==0 && $ComMember.email!=""{/yun}
        <a href="javascript:claim('{yun:}url m=ajax c=claim uid=$com.uid{/yun}');">认领</a>
        {yun:}/if{/yun}
        <div class="wrap_l_name_p"> {yun:}if $usertype=='1'{/yun}
          {yun:}if $isatn.id{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atn_company{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">取消关注</a> {yun:}else{/yun} <a href="javascript:void(0)" onclick="atn('{yun:}$com.uid{/yun}','{yun:}url m=ajax c=atn_company{/yun}')" id='atn_{yun:}$com.uid{/yun}' class="wrap_l_name_gz">关注</a> {yun:}/if{/yun}
          {yun:}else{/yun}
            {yun:}if $uid{/yun}
            <a href="javascript:void(0)" onclick="layer.msg('只有个人用户才能关注', 2, 8)" class="wrap_l_name_gz">关注</a> 
            {yun:}else{/yun}
            <a href="javascript:void(0)" onclick="showlogin('1');" class="wrap_l_name_gz">关注</a> 
            {yun:}/if{/yun} 
          {yun:}/if{/yun}
        </div>
          
        </div>
{yun:}if $com.welfare_n{/yun}<div class="com_welfare">
			{yun:}foreach from=$com.welfare_n item=wlist{/yun} 
			<span class="com_welfare_s">{yun:}$wlist{/yun}</span>
			{yun:}/foreach{/yun}
			</div>{yun:}/if{/yun}</div>
            
            
 <div class="header_comtj"> 
 <ul class="header_comtj_list">
			<li title="该公司在招职位数量">
				<span class="header_comtj_n"><a href="###">8</a><a>个</a></span><a>
				<span class="header_comtj_p">招聘职位</span>
                <i class="header_comtj_list_icon"></i>
			</li>
			<li  title="该公司所有职位收到的简历中，在投递后7天内处理完成的简历所占比例">
				<span class="header_comtj_n">{yun:}$pre{/yun}%</span>
				<span class="header_comtj_p">简历及时处理率</span>
                 <i class="header_comtj_list_icon"></i>
                
			</li>
			<li  title="该公司所有职位完成简历处理的平均用时">
				<span class="header_comtj_n">0.3天</span>
				<span class="header_comtj_p">简历处理用时</span>
                 <i class="header_comtj_list_icon"></i>
			</li>
            <li  title="该公司关注人数">
				<span class="header_comtj_n">{yun:}$com.ant_num{/yun}人</span>
				<span class="header_comtj_p">关注人数</span>
                 <i class="header_comtj_list_icon"></i>
			</li>
			<li  title="该公司最近一次登录时间">
				<span class="header_comtj_n">今天</span>
				<span class="header_comtj_p">企业最后登录</span>
                
			</li>
		</ul>
          </div>      
</div>


</div>


</div>

    <div class="clear"></div>
    <!--内容content-->
    <div class="com_cont">
<div class="com_left">

<div class="com_nav"> <ul>
    <li><a href="{yun:}url m=company c=show id=$com.uid{/yun}">首页</a><i class="c_currer_line"></i></li>
    <li ><a href="#about">关于我们</a><i class="c_currer_line"></i></li>
	<li><a href="#contact">联系方式</a><i class="c_currer_line"></i></li>
    <li ><a href="#job">招聘职位</a><i class="c_currer_line"></i></li>
    <li ><a href="#show">企业环境</a><i class="c_currer_line"></i></li>
    <li   class="c_currer"><a href="#news">企业新闻</a><i class="c_currer_line"></i></li>
    <li><a href="#product">公司产品</a><i class="c_currer_line"></i></li>
  </ul></div><div class="com_left_pd">
  <div class="com_list">
  
   <div class="com_tit"><span class="com_tit_s"><i class="com_tit_icon com_tit_iconnews"></i>企业新闻</span></div>
<div class="news_cont">{yun:}$NewsInfo.title{/yun}</div>
                <div class="c_about_nr"> {yun:}$NewsInfo.body{/yun} </div>
   </div>
   
   </div>
   </div> <div class="com_right">
<div class="com_right_box">
<div class="com_tit">基本信息</div>
 <div class="c_nr_hybox">
 <div class="c_nr_hy"><em>行业</em><span>{yun:}$com.hy_info{/yun}</span></div>
              <div class="c_nr_hy"><em>性质</em><span>{yun:}$com.pr_info{/yun}</span></div>
              <div class="c_nr_hy"><em>规模</em><span>{yun:}$com.mun_info{/yun}</span></div>
              <div class="c_nr_hy"><em>地区</em><span>{yun:}$com.provinceid{/yun}</span></div>
          {yun:}if $com.money{/yun}<div class="c_nr_hy"><em>注资</em>{yun:}$com.money{/yun}{yun:}if $com.moneytype==1{/yun}万元{yun:}else{/yun}万美元{yun:}/if{/yun}</div>{yun:}/if{/yun}
          {yun:}if $com.sdate{/yun}<div class="c_nr_hy"><em>创办</em>{yun:}$com.sdate{/yun}</div>{yun:}/if{/yun}
</div>

<div class="com_tit" id="contact" data-slide='2'>联系方式</div>



     {yun:}if $looktype=="1"{/yun}
      <div class="firm_det_link"> 
      {yun:}if $com.linkman{/yun}<span class="firm_mes1">联 &nbsp;系&nbsp;人：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkman{/yun}</em> </i></span>{yun:}/if{/yun}
      {yun:}if $com.linkjob{/yun}<span class="firm_mes1">联系人职位：<i> <em class="JoB_material_right JoB_material_line">{yun:}$com.linkjob{/yun}</em> </i></span>{yun:}/if{/yun}
    {yun:}if $com.linkphone{/yun} <span class="firm_mes1">固定电话：<i>{yun:}$com.linkphone{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.linktel{/yun} <span class="firm_mes1">联系电话：<i> <em class="JoB_material_right JoB_material_line">{yun:}image uid=$com.uid action=linktel{/yun}</em> </i></span> {yun:}/if{/yun}
          {yun:}if $com.linkmail{/yun} <span class="firm_mes1">联系邮件：<i>{yun:}$com.linkmail{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.linkqq{/yun} <span class="firm_mes1">联 系 QQ：<i>{yun:}$com.linkqq{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.zip{/yun} <span class="firm_mes1">邮政编码：<i>{yun:}$com.zip{/yun}</i></span> {yun:}/if{/yun}        
          {yun:}if $com.website{/yun} <span class="firm_mes1">企业网址：<i>{yun:}$com.website{/yun}</i></span> {yun:}/if{/yun}
           {yun:}if $com.busstops{/yun} <span class="firm_mes1" style="width:100%;">公交站点：<i>{yun:}$com.busstops{/yun}</i></span> {yun:}/if{/yun}
          {yun:}if $com.address{/yun} <span class="firm_mes1" style="width:100%;">公司地址：<i>{yun:}$com.address{/yun}</i></span> {yun:}/if{/yun} 
           {yun:}if $com.comqcode{/yun} <span class="firm_mes1" style="width:100%;">微信公众号：<i><img src="{yun:}$com.comqcode{/yun}" width="120" height="120"></i></span> {yun:}/if{/yun} 
           </div>
           {yun:}else{/yun}
           {yun:}if $looktype=="3" || $looktype=="2"|| $looktype=="5"{/yun} 
            <div class="firm_login">
        <div class="firm_login_con"> <span>{yun:}$look_msg{/yun}</span> </div>
      </div>
            {yun:}elseif $looktype=="6"{/yun} 
             <div class="firm_login">
        <div class="firm_login_con"> <span>{yun:}$look_msg{/yun}</span>
		<a href="{yun:}$config.sy_weburl{/yun}/member/index.php?c=expect" class="firm_login_zc">创建简历</a> </div>
      	</div>
         {yun:}elseif $looktype=="4"{/yun} 
      <div class="firm_login">
        <div class="firm_login_con"> <div><span>{yun:}$look_msg{/yun}</span></div> 请您先 <a class="firm_login_dl" href="javascript:void(0);" onclick="showlogin('1');">登录</a> or <a class="firm_login_zc" href="{yun:}url m=register usertype=1 type=1{/yun}">注册</a>
		</div>
      </div>
    {yun:}/if{/yun}
          {yun:}/if{/yun}
      </div>
      
      



<div class="com_right_box">
<div class="com_tit">分享到朋友圈</div>
       <div class="wx_share_fx">
        <div class="wx_share_fx_img"><img src="{yun:}url m=ajax c=pubqrcode toc=company toa=show toid=$com.uid{/yun}" width="120" height="120"></div>
        <div class="wx_share_fx_p">分享到朋友圈</div>
        </div>
</div>
</div></div>
    <!--内容结束-->
    

<script>
var weburl="{yun:}$config.sy_weburl{/yun}",integral_pricename='{yun:}$config.integral_pricename{/yun}',pricename='{yun:}$config.integral_pricename{/yun}',code_web='{yun:}$config.code_web{/yun}',code_kind='{yun:}$config.code_kind{/yun}';</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /><script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script><script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
DD_belatedPNG.fix('.png,.inter_con .inter_con_new,.vip_pic_xg a,.vip_mes h2 a');
</script>
<![endif]-->
{yun:}include file="$tplstyle/public_search/login.htm"{/yun} 
{yun:}include file="$tplstyle/footer.htm"{/yun}