<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /> 
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script> 
<script>
function check_link(id){
	if(id==2){ 
		$("#photo").show();
		$(".pic").show();
	}
	if(id==1){ 
		$("#photo").hide();
		$(".pic").hide();
	}		
}
function photo_change(id){
	if(id==1){ 
		$("#image1").show();
		$("#image2").hide();
	}
	if(id==2){ 
		$("#image1").hide();
		$("#image2").show();
	}		
}
function checkform(myform){
  if (myform.title.value=="") { 
	  parent.layer.msg('请填写链接标题！', 2, 8); 
      return (false);
  }	
  if (myform.url.value=="") { 
	  parent.layer.msg('请填写链接地址！', 2,8);  
      return (false);
  }	
}
</script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet"/>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="admin_Prompt">
        <div class="admin_Prompt_span">
           注意：添加链接时，请正确选择链接类型。
        </div>
        <div class="admin_Prompt_close"></div>
    </div>

<div class="infoboxp_top">
<h6>添加链接</h6>
    <a href="index.php?m=link" class="infoboxp_tj">友情链接列表</a>
</div>
<div class="admin_table_border">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
<form name="myform" target="supportiframe" action="index.php?m=link&c=save" method="post"  encType="multipart/form-data"  onSubmit="return checkform(this);" class="layui-form">
<input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
<table width="100%" class="table_form" style="background:#fff;">
	<tr>
		<th width="120">链接类型：</th>
		<td>
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <select name="type" onchange="check_link(this.value);" lay-filter="type">
      			<option value="1" {yun:}if $linkrow.link_type==1{/yun}selected{yun:}/if{/yun}>文字链接</option>
      			<option value="2" {yun:}if $linkrow.link_type==2{/yun}selected{yun:}/if{/yun}>图片链接</option>
      		</select>
        </div>
      </div>
    </td>
	</tr>
	    	<tr class="admin_table_trbg" >
		<th width="120">链接标题：</th>
		<td><input class="input-text" type="text" name="title" size="40" value="{yun:}$linkrow.link_name{/yun}" />
		<font color="gray">例：联美网络</font>
		</td>
	</tr>
	<tr>
		<th width="120">链接地址：</th>
		<td><input class="input-text" type="text" name="url" size="30" value="{yun:}$linkrow.link_url{/yun}" />
		<font color="gray">例：http://www.lian-mei.com</font>
		</td>
	</tr>
  
	<tr>
		<th width="120">站点下使用范围：</th>
		<td>
      <div class="layui-form-item">
        <div class="layui-input-inline">
    			<select name="tem_type">
    				<option value='1' {yun:}if $linkrow.tem_type==1{/yun}selected{yun:}/if{/yun}>全站使用</option>
    				<option value="2" {yun:}if $linkrow.tem_type==2{/yun}selected{yun:}/if{/yun} >仅在首页使用</option> 
    				<option value="3" {yun:}if $linkrow.tem_type==3{/yun}selected{yun:}/if{/yun} >仅在猎头页使用</option> 
    			</select>
        </div>
      </div>
		</td>
	</tr>
	<tr id="photo" {yun:}if $linkrow.link_type neq 2{/yun}style="display:none;"{yun:}/if{/yun}>
		<th width="120">缩 略 图：</th>
		<td>
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <input type="radio" name="phototype" value="1" {yun:}if $linkrow.img_type eq 1{/yun}checked{yun:}/if{/yun} title="上传图片" lay-filter="phototype"/>
          <input type="radio" name="phototype" value="2" {yun:}if $linkrow.img_type eq 2{/yun}checked{yun:}/if{/yun}/ title="远程图片" lay-filter="phototype"/> 
        </div>
		
        <div id="image1" {yun:}if $linkrow.img_type!="1"{/yun}style="display:none"{yun:}/if{/yun}>
          <input name="uplocadpic" type="file" size="40"  class="input-text"/>
        </div>
        <div id="image2" {yun:}if $linkrow.img_type!="2"{/yun}style="display:none"{yun:}/if{/yun}>            
          <input name="uplocadpic" type="text" size="40" value="{yun:}$linkrow.pic{/yun}"  class="input-text"/>
          <div class="layui-form-mid layui-word-aux">例：http://www.hr135.com/yun.jpg</div>
        </div>
      </div>
		</td>
	</tr>
    {yun:}if $linkrow.link_type eq 2{/yun}
        {yun:}if $linkrow.img_type eq 1{/yun}
            <tr class="pic">
                <th width="120">图片预览：</th>
                <td><img src="../{yun:}$linkrow.pic{/yun}" width="150" height="80" /></td>
            </tr>
        {yun:}else if $linkrow.img_type eq 2{/yun}
            <tr class="pic">
                <th width="120">图片预览：</th>
                <td><img src="{yun:}$linkrow.pic{/yun}" width="150" height="80" /></td>
            </tr>
        {yun:}/if{/yun}
	{yun:}/if{/yun}
    	<tr class="admin_table_trbg" >
		<th width="120">排序：</th>
		<td><input class="input-text" type="text" name="sorting" size="20" value="{yun:}$linkrow.link_sorting{/yun}" />
		<font color="gray">例：大前小后</font>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
        {yun:}if is_array($linkrow){/yun}
        <input type="hidden" name="id" value="{yun:}$linkrow.id{/yun}" />
        <input type="hidden" name="lasturl" value="{yun:}$lasturl{/yun}">
        <input class="admin_submit4" type="submit" name="link_update" value="&nbsp;修 改&nbsp;" />
        {yun:}else{/yun}
        <input class="admin_submit4" type="submit" name="link_add" value="&nbsp;添 加&nbsp;" />
        {yun:}/if{/yun}
		<input class="admin_submit4" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" /></td>
	</tr>
</table>
</form>
</div></div>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script type="text/javascript">
  layui.use(['form'], function(){
    var form = layui.form
      ,$ = layui.$;

    form.on('select(type)', function(data){
      check_link(data.value);
    });

    form.on('radio(phototype)', function(data){
      photo_change(data.value);
    });
  });
</script>
</body>
</html>