<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /> 
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script> 
<script language="javascript">
	function checkform(myform) {
		if (myform.title.value=="") { 
			parent.layer.msg('请填写公告标题！', 2,8);
			 myform.title.focus();
			return (false);
		}
		if (myform.keyword.value=="") { 
			parent.layer.msg('请填写公告关键字！', 2,8);
			myform.keyword.focus();
			return (false);
		} 
		if (myform.description.value=="") { 
			parent.layer.msg('请填写公告描述！', 2,8);
			myform.description.focus();
			return (false);
		}
	}
</script>
<title>后台管理</title>
</head>

<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<span class="admin_title_span">添加公告</span>
<div class="infoboxp_right"><a href="index.php?m=admin_announcement" class="infoboxp_tj">公告列表</a></div>
</div>
<div class="admin_table_border">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
<form name="myform" target="supportiframe" action="index.php?m=admin_announcement&c=save" method="post" encType="multipart/form-data"  onSubmit="return checkform(this);">
	<table width="100%" class="table_form" style="background:#fff;">
    
		<tr >
			<th>公告标题：</th>
			<td><input class="input-text" type="text" name="title" size="40" value="{yun:}$announcement.title{/yun}"/></td>
		</tr>
	   	<tr class="admin_table_trbg" >
			<th>关 键 词：</th>
			<td>
			 <input class="input-text" type="text" name="keyword" size="50" value="{yun:}$announcement.keyword{/yun}"/>(多关键字，请用，隔开，请不要为空)
			</td>
		</tr>
    		<tr >

			<th>描　　述：</th>
			<td>
			 <textarea name="description" cols="55" rows="3">{yun:}$announcement.description{/yun}</textarea>
 			</td>
		</tr>
    	   	<tr class="admin_table_trbg" >
			<th>公告内容： </th>
			<td>
 			<script id="content" name="content" type="text/plain" cols="100" rows="8" style="width:700px; height:300px;"> {yun:}$announcement.content{/yun} </script>
			</td>
		</tr>

		<tr>
			<td align="center" colspan="2">
            <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
			{yun:}if $announcement.id{/yun}
        	<input type="hidden" name="id" size="40" value="{yun:}$announcement.id{/yun}"/>
        	<input class="admin_submit4" type="submit" name="submit" value="&nbsp;更 新&nbsp;"  />
        	{yun:}else{/yun}
    		<input class="admin_submit4" type="submit" name="submit" value="&nbsp;添 加&nbsp;"  />
     		{yun:}/if{/yun}
     		<input class="admin_submit4" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" />
			</td>
		</tr>
        
	</table>
	
</form>
</div>
</div>
<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.all.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script language="javascript">
	var editor = UE.getEditor('content',{
		toolbars:[[ 'Source','|', 'Undo', 'Redo','Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize',  'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|','insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','simpleupload', '|','link', 'unlink', 'indent', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],wordCount:false,elementPathEnabled:false,initialFrameHeight:300
	});
</script>
</body>
</html>