<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
function audall(status){
	var codewebarr="";
	$(".check_all:checked").each(function(){ //由于复选框一般选中的是多个,所以可以循环输出
		if(codewebarr==""){codewebarr=$(this).val();}else{codewebarr=codewebarr+","+$(this).val();}
	});
	if(codewebarr==""){
		parent.layer.msg('您还未选择任何信息！', 2, 8);return false;
	}else{
		$("input[name=pid]").val(codewebarr);
		status_div('猎头职位审核','350','220');
	}
}
function audall2(status){
	var codewebarr="";
	$(".check_all:checked").each(function(){ //由于复选框一般选中的是多个,所以可以循环输出
		if(codewebarr==""){codewebarr=$(this).val();}else{codewebarr=codewebarr+","+$(this).val();}
	});
	if(codewebarr==""){
		parent.layer.msg('您还未选择任何信息！', 2, 8);return false;
	}else{
		$("input[name=jobid]").val(codewebarr);
 		$("#alertcontent").val('');
		$("input[name='status']").attr('checked',false);
 		$.layer({
			type : 1,
			title :'猎头职位审核', 
			closeBtn : [0 , true],
			offset : ['10%' , '25%'],
			border : [10 , 0.3 , '#000', true],
			area : ['270px','180px'],
			page : {dom :"#infobox2"}
		});
	}
}
$(function(){
	$(".status").click(function(){
		$("#status"+$(this).attr("status")).attr("checked","checked");
		$("input[name=pid]").val($(this).attr("pid"));
		var id=$(this).attr("pid");
		layui.use(['form'], function(){
			var form = layui.form;
			form.render();
		});
		$.get("index.php?m=admin_lt_job&c=lockinfo&id="+id,function(msg){
			$("#alertcontent").val(msg);
			status_div('猎头职位审核','350','230');
		});
	});

});
</script>
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />

<title>后台管理</title>
</head>
<body class="body_ifm">
<div id="status_div"  style="display:none; width: 380px; ">
  <div class=""   >
    <form action="index.php?m=admin_lt_job&c=status" target="supportiframe" method="post" id="formstatus" class="layui-form">
      <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
     		 <table cellspacing='1' cellpadding='1' class="admin_examine_table">
     <tr>
    <th width="80">审核操作：</th>
     <td align="left">
            <div class="layui-form-item">
              <div class="layui-input-block">
                 <div class="layui-input-inline">
                   <input type="radio" name="status" value="0" id="status0" title="未审核" >
                   <input type="radio" name="status" value="1" id="status1" title="正常" >
                   <input type="radio" name="status" value="3" id="status3" title="未通过" >
                 </div>
               </div>
            </div>
              </td>
        </tr>
       <tr>
            <th>审核说明：</th>
          <td><textarea id="alertcontent" name="statusbody" class="admin_explain_textarea"></textarea></td>
        </tr>
        <tr>
         <td colspan='2' align="center"><input type="submit"  value='确认' class="layui-btn layui-btn-normal" >
        
            <input type="button" onClick="layer.closeAll();" class="admin_examine_bth_qx" value='取消'></td>
        </tr>
      </table>
      <input name="pid" value="0" type="hidden">
    </form>
  </div>
</div>
<div id="infobox2" style="display:none;">
 	<div class="admin_com_t_box"> 
    <form action="index.php?m=admin_lt_job&c=ctime" target="supportiframe" method="post" id="formstatus" onSubmit="return tcdiv();">
      <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}">
     <div class="admin_com_smbox_list"><span class="admin_com_smbox_span">延长时间：</span>
  <input class="admin_com_smbox_text" value="" name="endtime"  onKeyUp="this.value=this.value.replace(/[^0-9]/g,'')"> <span class="admin_com_smbox_list_s">天</span>    </div>
    <div class="admin_com_smbox_opt"><input type="submit"  value='确认'class="admin_examine_bth"><input type="button"  onClick="layer.closeAll();"  class="admin_examine_bth_qx" value='取消'></div>
    
     
      <input name="jobid" value="0" type="hidden">
    </form>
  </div>
</div>
<div class="infoboxp">
  <div class="infoboxp_top_bg"></div>
  <div class="admin_Filter"> <span class="complay_top_span fl">猎头职位列表</span>
    <form action="index.php" name="myform" method="get">
      <input name="m" value="admin_lt_job" type="hidden"/>
      <input type="hidden" name="status" value="{yun:}$smarty.get.status{/yun}"/>
      <input type="hidden" name="salary" value="{yun:}$smarty.get.salary{/yun}"/>
      <input type="hidden" name="ex" value="{yun:}$smarty.get.ex{/yun}"/>
      <span class="admin_Filter_span">检索类型：</span>
      <div class="admin_Filter_text formselect"  did='dltname'>
        <input type="button" value="{yun:}if $smarty.get.ltname=='1'||$smarty.get.ltname==''{/yun}用户名{yun:}elseif $smarty.get.ltname=='2'{/yun}职位名称{yun:}elseif $smarty.get.ltname=='3'{/yun}公司名称{yun:}/if{/yun}" class="admin_Filter_but"  id="bltname">
        <input type="hidden" id='ltname' value="{yun:}if $smarty.get.ltname{/yun}{yun:}$smarty.get.ltname{/yun}{yun:}else{/yun}1{yun:}/if{/yun}" name='ltname'>
        <div class="admin_Filter_text_box" style="display:none" id='dltname'>
          <ul>
            <li><a href="javascript:void(0)" onClick="formselect('1','ltname','用户名')">用户名</a></li>           
            <li><a href="javascript:void(0)" onClick="formselect('2','ltname','职位名称')">职位名称</a></li>
            <li><a href="javascript:void(0)" onClick="formselect('3','ltname','公司名称')">公司名称</a></li>
          </ul>
        </div>
      </div>
      <input class="admin_Filter_search" type="text" name="keyword"  size="25">
      <input class="admin_Filter_bth" type="submit" name="news_search" value="检索"/>
    </form>
    <span class='admin_search_div'>
    <div class="admin_adv_search">
      <div class="admin_adv_search_bth ">高级搜索</div>
    </div>
    </span> </div>
  {yun:}include file="siteadmin/admin_search.htm"{/yun}
  <div class="table-list">
    <div class="admin_table_border">
      <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
      <form action="index.php" name="myform" method="get" target="supportiframe" id='myform'>
        <input type="hidden" name="pytoken" id='pytoken' value="{yun:}$pytoken{/yun}">
        <input name="m" value="admin_lt_job" type="hidden"/>
        <input name="c" value="del" type="hidden"/>
        <table width="100%">
          <thead>
            <tr class="admin_table_top">
              <th style="width:20px;"><label for="chkall">
                  <input type="checkbox" id='chkAll'  onclick='CheckAll(this.form)'/>
                </label></th>
              <th width="60"> {yun:}if $smarty.get.t=="id" && $smarty.get.order=="asc"{/yun} <a href="{yun:}searchurl order=desc t=id m=admin_lt_job untype='order,t'{/yun}">编号<img src="images/sanj.jpg"/></a> {yun:}else{/yun} <a href="{yun:}searchurl order=asc t=id m=admin_lt_job untype='order,t'{/yun}">编号<img src="images/sanj2.jpg"/></a> {yun:}/if{/yun}</th>
              <th align="left">用户名</th>
              <th align="left" width="15%">职位名称</th>
              <th align="left" width="15%">公司名称</th>
              <th align="left">行业类别</th>
              <th align="left">职位年薪</th>
              <th align="left">工作地点</th>
              <th>工作经验</th>
              <th>状态</th>
              <th>推荐</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          
          {yun:}foreach item=v key=key from=$rows{/yun}
          <tr align="center" {yun:}if ($key+1)%2=='0'{/yun}class="admin_com_td_bg"{yun:}/if{/yun} id="list{yun:}$v.id{/yun}">
            <td style="width:20px;"><input type="checkbox" value="{yun:}$v.id{/yun}" class="check_all"  name='del[]' onclick='unselectall()' rel="del_chk" /></td>
            <td class="td1" style="text-align:center;"><span>{yun:}$v.id{/yun}</span></td>
            <td  align="left">{yun:}$v.username{/yun}</td>
            <td class="gd" align="left"> {yun:}if $v.usertype==3{/yun} <a href="{yun:}$config.sy_weburl{/yun}/lietou/index.php?c=jobshow&id={yun:}$v.id{/yun}" target="_blank"> {yun:}else{/yun} <a href="{yun:}$config.sy_weburl{/yun}/lietou/index.php?c=jobshow&id={yun:}$v.id{/yun}" target="_blank"> {yun:}/if{/yun}
              {yun:}$v.job_name{/yun}</a></td>
            <td class="ud" align="left">{yun:}$v.com_name{/yun}</td>
            <td class="td" align="left">{yun:}$v.jobone{/yun}</td>
            <td class="td" align="left">{yun:}if $v.minsalary&&$v.maxsalary{/yun}￥{yun:}$v.minsalary{/yun}-{yun:}$v.maxsalary{/yun}万{yun:}else if $v.minsalary{/yun}￥{yun:}$v.minsalary{/yun}万以上{yun:}else{/yun}面议{yun:}/if{/yun}</td>
            <td align="left">{yun:}$v.cityid{/yun}</td>
            <td >{yun:}$v.exp{/yun}</td>
            <td>{yun:}if $v.edate<=time(){/yun}<span class="admin_com_Lock">已过期</span>{yun:}elseif $v.status==1{/yun}<span class="admin_com_Audited">已审核</span>{yun:}elseif $v.status==0{/yun}<span class="admin_com_noAudited">未审核</span>{yun:}elseif $v.status==3{/yun}<span class="admin_com_tg">未通过</span>{yun:}/if{/yun}</td>
            <td id="rec{yun:}$v.id{/yun}">{yun:}if $v.rec=="1"{/yun}<a href="javascript:void(0);" onClick="rec_up('index.php?m=admin_lt_job&c=recommend','{yun:}$v.id{/yun}','0','rec');"><img src="../config/ajax_img/doneico.gif"></a>{yun:}else{/yun}<a href="javascript:void(0);" onClick="rec_up('index.php?m=admin_lt_job&c=recommend','{yun:}$v.id{/yun}','1','rec');"><img src="../config/ajax_img/errorico.gif"></a>{yun:}/if{/yun}</td>
            <td><a href="javascript:void(0);" class="status admin_cz_sh" status="{yun:}$v.status{/yun}" pid="{yun:}$v.id{/yun}">审核</a> |  {yun:}if $v.usertype==3{/yun} <a class="admin_cz_sc" href="{yun:}$config.sy_weburl{/yun}/lietou/index.php?c=jobshow&id={yun:}$v.id{/yun}" target="_blank"> {yun:}else{/yun} <a href="{yun:}$config.sy_weburl{/yun}/lietou/index.php?c=jobshow&id={yun:}$v.id{/yun}" class="admin_cz_sc" target="_blank"> {yun:}/if{/yun} 预览</a> | <a href="javascript:void(0)" onClick="layer_del('确定要删除？', 'index.php?m=admin_lt_job&c=del&del={yun:}$v.id{/yun}');" class="admin_cz_sc">删除</a></td>
          </tr>
          {yun:}/foreach{/yun}
          <tr style="background:#f1f1f1;">
            <td align="center"><input type="checkbox" id='chkAll2' onclick='CheckAll2(this.form)' /></td>
            <td colspan="3"><label for="chkAll2">全选</label>
              &nbsp;
              <input class="admin_submit4"  type="button"  name="delsub" value="删除所选" onClick="return really('del[]')" />
              &nbsp;&nbsp;
              <input class="admin_submit4"  type="button" name="delsub" value="批量审核" onClick="audall('1');" />
              &nbsp;&nbsp;
              <input class="admin_submit4"  type="button" name="delsub" value="批量延期" onClick="audall2('0');" /></td>
            <td colspan="8" class="digg">{yun:}$pagenav{/yun}</td>
          </tr>
            </tbody>         
        </table>
      </form>
    </div>
  </div>
</div>
<script>
layui.use(['layer', 'form'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,$ = layui.$;
});
</script>
</body>
</html>