<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" /> 
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script> 
<script>var weburl='{yun:}$config.sy_weburl{/yun}';</script>
<link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>

<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.all.min.js?v={yun:}$config.cachecode{/yun}"></script>

<script language="javascript">
UE.getEditor('content',{
 	toolbars:[[ 'Source','|', 'Undo', 'Redo','Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize',  'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|','insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','simpleupload','|','link', 'unlink', 'indent', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],
	wordCount:false,
	elementPathEnabled:false,
	initialFrameHeight:300
});
UE.getEditor('booth',{
 	toolbars:[[ 'Source','|', 'Undo', 'Redo','Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize',  'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|','insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','simpleupload', '|','link', 'unlink', 'indent', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],
	wordCount:false,
	elementPathEnabled:false,
	initialFrameHeight:300
});
UE.getEditor('media',{
 	toolbars:[[ 'Source','|', 'Undo', 'Redo','Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize',  'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|','insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','simpleupload', '|','link', 'unlink', 'indent', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],
	wordCount:false,
	elementPathEnabled:false,
	initialFrameHeight:300
});
UE.getEditor('packages',{
 	toolbars:[[ 'Source','|', 'Undo', 'Redo','Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize',  'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|','insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','simpleupload', '|','link', 'unlink', 'indent', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],
	wordCount:false,
	elementPathEnabled:false,
	initialFrameHeight:300
});
UE.getEditor('participate',{
 	toolbars:[[ 'Source','|', 'Undo', 'Redo','Bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'fontfamily', 'fontsize',  'forecolor', 'backcolor', 'removeformat', 'autotypeset', 'pasteplain', '|','insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|','simpleupload', '|','link', 'unlink', 'indent', '|','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify']],
	wordCount:false,
	elementPathEnabled:false,
	initialFrameHeight:300
});

</script>
<style>
* {margin: 0 ;padding: 0;}
body,div{ margin: 0 ;padding: 0;}
</style>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
<div class="infoboxp_top">
<span class="admin_title_span">添加招聘会</span>
</div>
<div class="admin_table_border">
<iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe> 
<form name="myform" target="supportiframe" action="index.php?m=zhaopinhui&c=save" method="post"  encType="multipart/form-data" onSubmit="return checkform(this);" class="layui-form">
<table width="100%" class="table_form" style="background:#fff;">
	<tr>
		<th width="120">招聘会标题：</th>
		<td>
		  <div class="layui-form-item">
            <div class="layui-input-block">
              <input type="text" name="title" id="title"  lay-verify="required" placeholder="请输入招聘会标题" value="{yun:}$linkrow.title{/yun}" size="40" style="width:400px;" autocomplete="off" class="layui-input input-text">
            </div>
          </div>
		</td>
	</tr>
	<tr class="vip_type_2 admin_table_trbg" >
		<th width="120">举办场地：</th>
		<td>
		{yun:}if $space{/yun}
		
		
		<div class="layui-input-inline" style='float:left'>
	      <select name="sid" id='sid'>
		    {yun:}if $linkrow.sid{/yun}
	 		  {yun:}foreach item=v from=$space{/yun}
                    {yun:}if $v.id eq $linkrow.sid{/yun}
                    <option value="{yun:}$v.id{/yun}" selected>{yun:}$v.name{/yun}</option>
                    {yun:}else{/yun}
                    <option value="{yun:}$v.id{/yun}" >{yun:}$v.name{/yun}</option>
                    {yun:}/if{/yun}
                {yun:}/foreach{/yun}
            {yun:}else{/yun}
                <option value="">请选择</option>
            {yun:}/if{/yun}
	        
	        {yun:}if !$linkrow.sid{/yun}
		        {yun:}foreach item=v from=$space{/yun}
                	<option value="{yun:}$v.id{/yun}">{yun:}$v.name{/yun}</option>
                {yun:}/foreach{/yun}
            {yun:}/if{/yun}
            
	      </select>
	    </div>
		
		
        
        
        <a href="javascript:void(0);" onClick="setStandaside()" class="zph_sz_b">设置预留展位</a>
        
        <input type="hidden" value="{yun:}$linkrow.reserved{/yun}" id="reserved" name="reserved">
        {yun:}else{/yun}
       	<b>当前暂无可选场地</b> 
        <a href="index.php?m=zph_space" class="zph_sz_b_tjcd">添加场地</a>
        {yun:}/if{/yun}
        </td>
	</tr>
   
	<tr  class="admin_table_trbg">
		<th width="120">举办时间：</th>
		<td>
		
        <div class="layui-inline">
	      <div class="layui-input-inline">
	        <input type="text" class="layui-input" id="time" name="time" value="{yun:}if $linkrow.starttime||$linkrow.endtime{/yun}{yun:}$linkrow.starttime{/yun} ~ {yun:}$linkrow.endtime{/yun}{yun:}/if{/yun}" placeholder="yyyy-MM-dd HH:mm:ss~yyyy-MM-dd HH:mm:ss" lay-key="6" size="50">
	      </div>
	    </div>
        
        </td>
	</tr>
    <tr>
		<th width="120">举办会场：</th>
		<td>
		  <div class="layui-form-item">
	        <div class="layui-input-block">
	          <input type="text" name="address" id="address"  lay-verify="required" placeholder="请输入举办会场" value="{yun:}$linkrow.address{/yun}" size="60" style="width:400px;" autocomplete="off" class="layui-input input-text">
	        </div>
	      </div>
		</td>
	</tr>
 	<tr  class="admin_table_trbg">
		<th width="120">交通路线：</th>
		<td>
		
		<div class="layui-form-item">
		  <div class="layui-input-block">
			<textarea name="traffic" cols="55" rows="3" placeholder="请输入交通路线"   lay-verify="required" class="layui-input input-text"  style="display:inline;width:295px;padding-left:10px;" autocomplete="off">{yun:}$linkrow.traffic{/yun}</textarea>
		  </div>
		</div>
		
		</td>
	</tr>
    <tr>
		<th width="120">联系电话：</th>
		<td>
			
			<div class="layui-form-item">
		        <div class="layui-input-block">
		          <input type="text" name="phone" id="phone"  lay-verify="required" placeholder="请输入联系电话" value="{yun:}$linkrow.phone{/yun}" size="30" style="width:227px;" autocomplete="off" class="layui-input input-text" onkeyup="this.value=this.value.replace(/[^0-9-]/g,'')">
		        </div>
	     	 </div>
			
			</td>
	</tr>
   	<tr  class="admin_table_trbg">
		<th width="120">主办方：</th>
		<td>
		
		  <div class="layui-form-item">
	        <div class="layui-input-block">
	          <input type="text" name="organizers" id="organizers"  lay-verify="required" placeholder="请输入主办方" value="{yun:}$linkrow.organizers{/yun}" size="30" style="width:227px;" autocomplete="off" class="layui-input input-text">
	        </div>
	      </div>
		
		</td>
	</tr>
    <tr>
		<th width="120">联系人：</th>
		<td>
		
		
		<div class="layui-form-item">
	        <div class="layui-input-block">
	          <input type="text" name="user" id="user"  lay-verify="required" placeholder="请输入联系人" value="{yun:}$linkrow.user{/yun}" size="30" style="width:227px;" autocomplete="off" class="layui-input input-text">
	        </div>
	      </div>
		
		</td>
	</tr>
   
	<tr>	
		<th width="120">缩略图：</th>
			<td>
				<input class="input-text" type="file" name="is_themb" style="width:227px" />
				{yun:}if $linkrow.is_themb{/yun}
				<img src="{yun:}$config.sy_weburl{/yun}/{yun:}$linkrow.is_themb{/yun}" style="width:200px;height:150px;">
				{yun:}/if{/yun}
			  </td>
			</tr>
			
			
	<tr>
		<th width="120">网址：</th>
		<td>
		
		
		<div class="layui-form-item">
	        <div class="layui-input-block">
	          <input type="text" name="weburl" id="weburl"  lay-verify="required" placeholder="请输入网址" value="{yun:}$linkrow.weburl{/yun}" size="30" style="width:227px;" autocomplete="off" class="layui-input input-text">
	        </div>
	      </div>
		
		</td>
	</tr>
	
    <tr>
		<th width="120">招聘会介绍：</th>
		<td>
		<script id="content" name="body" type="text/plain" style="width:820px;height:300px;">{yun:}$linkrow.body{/yun}</script>
 		</td>
	</tr>
	<tr  class="admin_table_trbg">
		<th width="120">媒体宣传：</th>
		<td>
		<script id="media" name="media" type="text/plain" style="width:820px;height:300px;">{yun:}$linkrow.media{/yun}</script>
 		</td>
	</tr>
    <tr>
		<th width="120">服务套餐：</th>
		<td>
		<script id="packages" name="packages" type="text/plain" style="width:820px;height:300px;">{yun:}$linkrow.packages{/yun}</script>
 		</td>
	</tr>
 	<tr  class="admin_table_trbg">
		<th width="120">展位设置方案：</th>
		<td>
		<script id="booth" name="booth" type="text/plain" style="width:820px;height:300px;">{yun:}$linkrow.booth{/yun}</script>
 	</tr>
    <tr>
		<th width="120">参与办法：</th>
		<td>
		<script id="participate" name="participate" type="text/plain" style="width:820px;height:300px;">{yun:}$linkrow.participate{/yun}</script>
 		</td>
	</tr>

		<tr  class="admin_table_trbg">
		<td align="center" colspan="2">
        {yun:}if is_array($linkrow){/yun}
        <input type="hidden" name="id" value="{yun:}$linkrow.id{/yun}" />
        <input class="layui-btn layui-btn-normal" type="submit" name="update" value="&nbsp;修 改&nbsp;" />
        {yun:}else{/yun}
        <input class="layui-btn layui-btn-normal" type="submit" name="add" value="&nbsp;添 加&nbsp;" />
        {yun:}/if{/yun}
		<input class="layui-btn layui-btn-normal" type="reset" name="reset" value="&nbsp;重 置 &nbsp;" /></td>
	</tr>
</table>
<input type="hidden" name="pytoken"  id="pytoken" value="{yun:}$pytoken{/yun}">
</form>
</div></div>
<div id="news_preview"  style="display:none;width:560px ">
	<div style="height:300px; overflow:auto;width:560px;" >
		<div class="job_box_div" style="text-align:center;margin-top:10px;"></div>
	</div>
</div>
{yun:}include file="$adminstyle/checkdomain.htm"{/yun}

<div id="Standaside" style="display:none;">
	<div style=" margin-top:10px;">
    <div id="zhanwei"></div>
  </div>
</div>
<style>
.layui-form-item {
    margin-bottom: 0px;
    clear: both;
}
.layui-form-label {
    width: 60px;
    padding: 9px 1px;font-size: 10px;
}
</style>
<script language="javascript">
  layui.use(['layer', 'form','element'], function(){
    var layer = layui.layer
    ,form = layui.form
	,element = layui.element
    ,$ = layui.$;

  });
function checkform(myform){
	if(myform.title.value=="") { 
      	parent.layer.msg('请填写招聘会标题！', 2, 8);
      	return (false);
    }		
	var time = $("#time").val();
	if(time==""){
		parent.layer.msg('举办时间不能为空！', 2, 8);
		return false
	}
}
function setStandaside(){
	var zid='{yun:}$linkrow.id{/yun}';
	var sid=$("#sid").val();
	var pytoken=$("#pytoken").val();
	if(sid==""){
		parent.layer.msg("请先选择场地！",2,8);
	}else{
		$.post("index.php?m=zhaopinhui&c=getzhanwei",{sid:sid,zid:zid,pytoken:pytoken},function(data){
			$("#zhanwei").html(data);
			$.layer({
				type : 1,
				title : '设置预留展位',
				offset: ['100px', ''],
				closeBtn : [0 , true], 
				border : [10 , 0.3 , '#000', true],
				area : ['400px','320px'],
				page : {dom : '#Standaside'}
			});
		})

	}
}
function check_zhanwei(){
	var chk_value =[];    
	$('input[name="zhanwei"]:checked').each(function(){
		chk_value.push($(this).val());   
	}); 
	$("#reserved").val(chk_value);  
	layer.closeAll();
}
function news_preview(url){
	$(".job_box_div").html("<img src='"+url+"' style='max-width:500px' />");//
 	$.layer({
		type : 1,
		title : '查看图片',
		closeBtn : [0 , true],
		offset : ['20%' , '30%'],
		border : [10 , 0.3 , '#000', true],
		area : ['560px','auto'],
		page : {dom : '#news_preview'}
	}); 
}
layui.use('laydate', function(){
  var laydate = layui.laydate;
  //时间选择器
  laydate.render({
    elem: '#time'
    ,type: 'datetime'
	,range:'~'
  });
});
</script>




<style>
.zph_sz_b {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 127px;
    background: url({yun:}$config.sy_weburl{/yun}/siteadmin/images/admin_zph_s.png) no-repeat;
    text-indent: 10px;
    margin-left: 10px;
    font-size:10px;
    float: left;
}
.layui-form-item {margin-bottom: 0px;clear: both;}
.layui-input-block {margin-left: 0px;}
.Basic_in_span {line-height: 38px;}
.layui-select-title{width:158px;}
.layui-form-select{width:158px;margin-right:5px;}
</style>
</body>
</html>