<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link href="images/reset.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/system.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<link href="images/table_form.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet" type="text/css" />
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="js/check_public.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/app/template/member/com/js/part.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="js/admin_public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
 <link href="{yun:}$config.sy_weburl{/yun}/js/layui/css/layui.css?v={yun:}$config.cachecode{/yun}" rel="stylesheet">
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/layui.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layui/phpyun_layer.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.config.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/ueditor/ueditor.all.min.js?v={yun:}$config.cachecode{/yun}"></script>

<style>
* {margin: 0 ;padding: 0;}
body,div{ margin: 0 ;padding: 0;}
</style>
<title>后台管理</title>
</head>
<body class="body_ifm">
<div class="infoboxp">
<div class="infoboxp_top_bg"></div>
  <div class="infoboxp_top">
    <h6>兼职职位详情</h6>
  </div>
  <div class="admin_table_border">
  <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="" target="supportiframe" method="post" onsubmit="return CheckPost_part();" class="layui-form">
  <table width="100%" class="table_form" style="background:#fff;">

    <input type="hidden" name="pytoken" value="{yun:}$pytoken{/yun}"/>
		{yun:}if $show.id{/yun}
      <tr >
        <th>招聘编号：</th>
        <td>{yun:}$show.id{/yun}</td>
      </tr>
	  {yun:}/if{/yun}
    <tr class="admin_table_trbg" >
        <th>招聘名称：</th>
        <td><input type="text" name="name" id="name" class="input-text" size="30" value="{yun:}$show.name{/yun}"></td>
      </tr>
<tr  > 
        <th>工作类型：</th>
        <td>
            <div class="layui-form-item">
              <div class="layui-input-block">
                 <div class="layui-input-inline">
                   <select name="type" id="typeid">
                {yun:}foreach from=$partdata.part_type key=j item=v{/yun}
            <option value='{yun:}$v{/yun}' {yun:}if $show.type==$v{/yun}selected{yun:}/if{/yun}>{yun:}$partclass_name[$v]{/yun}</option>
                {yun:}/foreach{/yun}
          </select>
                 </div>
               </div>
            </div></td>
      </tr>
		<tr class="admin_table_trbg">
        <th width="120">兼职有效期：</th>
        <td>
          <input id="sdate" class="input-text" type="text" readonly size="15" value="{yun:}$show.sdate|date_format:'%Y-%m-%d'{/yun}" name="sdate"> 
          <input id="edate" class="input-text" type="text" readonly size="15" value="{yun:}$show.edate|date_format:'%Y-%m-%d'{/yun}" name="edate" {yun:}if $show.edate==0{/yun}style="display:none"{yun:}/if{/yun}>
<input type="checkbox" value='1' id="timetype" name="timetype" class="" {yun:}if $show.edate==0{/yun}checked="checked"{yun:}/if{/yun} title="长期招聘" lay-filter="timetype"/>
        </td>
      </tr>
      <tr class="admin_table_trbg" id="deadtype" {yun:}if $show.edate==0{/yun}style="display:none"{yun:}/if{/yun}>
        <th width="120">报名截止：</th>
        <td> 
          <input id="deadline" class="input-text" type="text" readonly size="15" value="{yun:}$show.deadline|date_format:'%Y-%m-%d'{/yun}" name="deadline">
          </td>
      </tr>
      <tr >
         <th width="120">工作时间：</th>
         <td><table class="tjob_timetable" style="float:left" >
                    	<tr>
                    		<th>&nbsp;</th>
                    		<th>周一</th>
                    		<th>周二</th>
                    		<th>周三</th>
                    		<th>周四</th>
                    		<th>周五</th>
                    		<th>周六</th>
                    		<th>周日</th>
                    	</tr>
                    	<tr>
                    		<th>上午</th>
							{yun:}foreach from=$morning item=v{/yun}
							<td><input data-mark='isneed' name='worktime[]' type="checkbox" {yun:}if in_array($v,$show.worktime){/yun}checked="checked"{yun:}/if{/yun}value='{yun:}$v{/yun}'/></td>
							{yun:}/foreach{/yun}
						</tr>
                    	<tr>
                    		<th>下午</th>
							{yun:}foreach from=$noon item=v{/yun}
							<td><input data-mark='isneed' name='worktime[]' type="checkbox" {yun:}if in_array($v,$show.worktime){/yun}checked="checked"{yun:}/if{/yun} value='{yun:}$v{/yun}'/></td>
							{yun:}/foreach{/yun}
						</tr>
                    	<tr>
                    		<th>晚上</th>
							{yun:}foreach from=$afternoon item=v{/yun}
							<td><input data-mark='isneed' name='worktime[]' type="checkbox" {yun:}if in_array($v,$show.worktime){/yun}checked="checked"{yun:}/if{/yun} value='{yun:}$v{/yun}'/></td>
							{yun:}/foreach{/yun}
						</tr>
                           <tr><td colspan="8">	<input id='upAllSelect' type="checkbox" class="com_Release_job_qx_check" lay-filter="upAllSelect">全选</td></tr>
                    </table>
					
         </td>
      </tr>
      <tr class="admin_table_trbg" >
        <th width="120">招聘人数：</th>
        <td><input type="text" name="number" id="number" class="input-text" size="10" value="{yun:}$show.number{/yun}"></td>
      </tr>
	  <tr >
       <th width="120">性　　别：</th>
        <td>
            <div class="layui-form-item">
              <div class="layui-input-block">
                 <div class="layui-input-inline">
                   <select name="sex">
                    {yun:}foreach from=$arr_data.sex key=j item=v{/yun}
                    <option value='{yun:}$j{/yun}' {yun:}if $show.sex==$j{/yun}selected{yun:}/if{/yun}>{yun:}$v{/yun}</option>            
                    {yun:}/foreach{/yun}   
                  </select>
                 </div>
               </div>
            </div></td>
      </tr>
      <tr class="admin_table_trbg" >
        <th width="120">薪　　水：</th>
        <td>
            <div class="layui-form-item">
              <div class="layui-input-block">
                 <div class="layui-input-inline">
                   <input type="text" name="salary" id="salary" class="layui-input input-text" size="10" value="{yun:}$show.salary{/yun}">
                 </div>
                 <div class="layui-input-inline">
                   <select name="salary_type" id="salary_typeid">
                    {yun:}foreach from=$partdata.part_salary_type key=j item=v{/yun}
                    <option value='{yun:}$v{/yun}' {yun:}if $show.salary_type==$v{/yun}selected{yun:}/if{/yun}>{yun:}$partclass_name[$v]{/yun}</option>
                    {yun:}/foreach{/yun}
                  </select>
                 </div>
               </div>
            </div></td>
      </tr>
      <tr  >
        <th width="120">薪资结算：</th>
        <td>
            <div class="layui-form-item">
              <div class="layui-input-block">
                 <div class="layui-input-inline">
                   <select name="billing_cycle" id="billing_cycleid">
                    {yun:}foreach from=$partdata.part_billing_cycle key=j item=v{/yun}
                    <option value='{yun:}$v{/yun}' {yun:}if $show.billing_cycle==$v{/yun}selected{yun:}/if{/yun}>{yun:}$partclass_name[$v]{/yun}</option>
                    {yun:}/foreach{/yun}
                  </select>
                 </div>
               </div>
            </div></td>
      </tr>

      <tr class="admin_table_trbg">
        <th>工作地点：</th>
        <td>
            <div class="layui-form-item">
              <div class="layui-input-block">
                 <div class="layui-input-inline">
                   <select name="provinceid" id="provinceid" lay-filter="citys">
                      <option value="">请选择</option>
                        {yun:}foreach from=$city_index key=j item=v{/yun}
                      <option value='{yun:}$v{/yun}' {yun:}if $show.provinceid==$v{/yun}selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
                        {yun:}/foreach{/yun}
                    </select>
                 </div>
                 <div class="layui-input-inline">
                    <select name="cityid" size="1" id="cityid" lay-filter="citys">
                      <option value="">请选择</option>
                        {yun:}if $show.provinceid{/yun}
                            {yun:}foreach from=$city_type[$show.provinceid] key=j item=v{/yun}
                      <option value='{yun:}$v{/yun}' {yun:}if $show.cityid==$v{/yun}selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
                            {yun:}/foreach{/yun}
                        {yun:}/if{/yun}
                    </select>
                 </div>
                 <div class="layui-input-inline">
                <select name="three_cityid" size="1" id="three_cityid" {yun:}if !$show.three_cityid{/yun} style="display:none;"{yun:}/if{/yun}>
                <option value="">请选择</option>
                {yun:}if $show.cityid{/yun}
                {yun:}foreach from=$city_type[$show.cityid] key=j item=v{/yun}
                <option value='{yun:}$v{/yun}' {yun:}if $show.three_cityid==$v{/yun}selected{yun:}/if{/yun}>{yun:}$city_name[$v]{/yun}</option>
                {yun:}/foreach{/yun}
                {yun:}/if{/yun}
                </select>
                 </div>
               </div>
            </div></td>
      </tr>
       <tr >
        <th width="120">详细地址：</th>
        <td ><input type="text" class="input-text" name="address" id="address" size="30" value="{yun:}$show.address{/yun}"> </td>
      </tr>
       <tr >
        <th width="120"></th>
        <td >
                  <div id="map_container" style="width:70%;height:300px;"></div>
                  <input name="x" id="map_x" type="hidden" value="{yun:}$show.x{/yun}">
                  <input name="y" id="map_y" type="hidden" value="{yun:}$show.y{/yun}">
        </td>
      </tr>
   <tr class="具体要求" >
        <th width="120">工作内容：</th>
        <td>
		<!-- <script id="myEditor" name="content" type="text/plain" style="width:600px;height:200px;">{yun:}$show.content{/yun}</script> -->
		<textarea  id="myEditor" name="content" style="width:600px; height:200px;" >{yun:}$show.content{/yun}</textarea>
		</td>
       </tr>
     <tr >
        <th width="120">联系人：</th>
        <td><input type="text" class="input-text" name="linkman" id="linkman" size="15" value="{yun:}$show.linkman{/yun}"></td>
      </tr>
      <tr class="admin_table_trbg">
        <th width="120">联系手机：</th>
        <td><input type="text" class="input-text" name="linktel" id="linktel" size="15" value="{yun:}$show.linktel{/yun}"></td>
        </tr>
	  {yun:}if $show.id{/yun}
      <tr  >
        <th width="120">状　　态：</th>
        <td>{yun:}if $show.state==1{/yun}

		{yun:}if $show.edate<time() && $show.edate>0{/yun}
		
		<font color="orange">已过期</font>
		
		{yun:}else{/yun}

		<font color="blue">已审核</font>
		{yun:}/if{/yun}
		{yun:}elseif $show.state==3{/yun}

		<font color="red">未通过</font>

		{yun:}else{/yun}
		<font color="red">未审核</font>
		
		{yun:}/if{/yun}

		</td>
      </tr>
	  {yun:}/if{/yun}
	<tr>
        <th width="120"></th>
        <td>
			{yun:}if $show.id{/yun}
            <input type="hidden" name="lasturl" value="{yun:}$lasturl{/yun}">
			<input type="hidden" name="id" value="{yun:}$show.id{/yun}">
          <input class="layui-btn layui-btn-normal" type="submit" name="update" value="&nbsp;修 改&nbsp;" />
		  {yun:}else{/yun}
          <input class="layui-btn layui-btn-normal" type="submit" name="update" value="&nbsp;保 存&nbsp;" />{yun:}/if{/yun}
		  </td>
      </tr>
  </table>
   </form>
</div>
</div>
<script src="{yun:}$config.mapurl{/yun}"></script> 
<script type="text/javascript" src="{yun:}$config.sy_weburl{/yun}/js/map.js?v={yun:}$config.cachecode{/yun}"></script>
<script>
	var map=new BMap.Map("map_container");
	setLocation('map_container',116.404,39.915,"map_x","map_y");
	$(document).ready(function() {
		{yun:}if ($show.x=="" || $show.y=="") && $show.address!=""{/yun}
			$("#address").val("{yun:}$show.address{/yun}");
			localsearch('{yun:}if $city_name[$show.cityid]{/yun}{yun:}$city_name[$show.cityid]{/yun}{yun:}else{/yun}全国{yun:}/if{/yun}');
		{yun:}elseif $show.x!="" && $show.y!=""{/yun}
			setLocation('map_container',{yun:}$show.x{/yun},{yun:}$show.y{/yun},"map_x","map_y");
		{yun:}else{/yun}
			//根据IP到城市开始
			function myFun(result){
				var cityName = result.name;
				map.setCenter(cityName);
			}
			var myCity = new BMap.LocalCity();
			myCity.get(myFun);
			//根据IP到城市结结束
		{yun:}/if{/yun}
	});
	var local ;
	function getLocalResult(){
		var address=$.trim($("#address").val());
		var points=local.getResults();
			var lngLat=points.getPoi(0).point;
			setLocation('map_container',lngLat.lng,lngLat.lat,"map_x","map_y");
	}
	function localsearch(city){
		if($("#address").val()==""){
			layer.msg('请输入地址！', 2, 8);return false;
		}
		local = new BMap.LocalSearch(city, {
		renderOptions: {
			map: map,
			panel : "r-result",
			autoViewport: true,
			selectFirstResult: false
		  },onSearchComplete : getLocalResult
		});
		map.centerAndZoom(new BMap.Point(116.404, 39.915), 4);
		local.search($("#address").val());
	}
	function setLocation(id,x,y,xid,yid){
		var data=get_map_config();
		var config=eval('('+data+')');
		var rating,map_control_type,map_control_anchor;
		if(!x && !y){x=config.map_x;y=config.map_y;}
		var point = new BMap.Point(x,y);
		var marker = new BMap.Marker(point);
		var opts = {type:BMAP_NAVIGATION_CONTROL_LARGE}
		map.enableScrollWheelZoom(true);
		map.addControl(new BMap.NavigationControl(opts));
		map.centerAndZoom(point, 15);
		map.addOverlay(marker);
		map.addEventListener("click",function(e){
		   var info = new BMap.InfoWindow('', {width: 260});
			var projection = this.getMapType().getProjection();
			var lngLat = e.point;
			document.getElementById(xid).value=lngLat.lng;
			document.getElementById(yid).value=lngLat.lat;
			map.clearOverlays();
			var point = new BMap.Point(lngLat.lng,lngLat.lat);
			var marker = new BMap.Marker(point);
			map.addOverlay(marker);
		});
	}
UE.getEditor('myEditor',{
	toolbars:[['Source','|','Bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright','insertorderedlist', 'insertunorderedlist','emotion']],
	wordCount:false,
    elementPathEnabled:false,
    initialFrameHeight:200
});
</script> 
<script language="javascript">
layui.use(['layer', 'form','laydate'], function(){
    var layer = layui.layer
    ,form = layui.form
    ,laydate = layui.laydate
    ,$ = layui.$;
	laydate.render({
		elem: '#sdate'
	});
	laydate.render({
		elem: '#edate'
	});
	laydate.render({
		elem: '#deadline'
	});
	form.on('select(citys)',function(data){
		$.post(weburl+"/index.php?m=ajax&c=ajax",{str:data.value},function(htm){
			if(data.elem.name=='provinceid'){
				$("#cityid").html(htm);
				$("#three_cityid").html("<option value=''>请选择</option>");
			}else if(data.elem.name=='cityid'){
				$("#cityshowth").show();
				$("#three_cityid").html(htm);
			}
			form.render('select');
		});
	});
	form.on('checkbox(timetype)',function(data){
		if(data.elem.checked){
			$("#edate").hide();
			$("#deadtype").hide();
		}else{
			$("#edate").show();
			$("#deadtype").show();
		}
	});
	form.on('checkbox(upAllSelect)',function(data){
		var child = $(data.elem).parents('table').find('input[name="worktime[]"]');  
		child.each(function(index, item){  
			item.checked = data.elem.checked;  
		});  
		form.render('checkbox');
	})
	
});
 var weburl="{yun:}$config.sy_weburl{/yun}";
</script>
</body>
</html>