@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0}
body{ font-size:14px; background:#fff;width:100%;height:100%;}
a{ text-decoration:none;color:#666}
a:hover{ text-decoration:underline;color:#c30;}
ul,li,ol{ list-style:none;}
img{border:none;}
em,i{ font-style:normal}
input,textarea{font-family:microsoft yahei;}
.fl{float:left;}
.fr{float:right;}
.clear{ clear:both}
.w1000{width:1200px; margin:0 auto}
.hp_kk{width:1200px;margin-top:15px;}
/*logoin*/
.hp_login{width:253px;padding:0px 20px;height:380px; background:#fff;border:1px solid #eaeeed;}
.hp_login_tit{position:relative;width:100%; padding-top:38px;height:20px; padding-bottom:10px; font-size:16px;}
.hp_login_tit_icon{width:21px;height:20px;float:left;background:url(../images/cn.png) no-repeat left center;display:inline-block;margin-right:10px;}
.hp_login_hy{position:relative;width:202px;height:43px;line-height:43px;padding-left:50px;margin-top: 20px;border: 1px solid #f3eded;border-radius:2px;}
.hp_login_yzbox{position:relative;width:85px;height:43px;line-height:43px;padding-left:50px;margin-top: 20px;border: 1px solid #f3eded;border-radius:2px;}
.hp_login_line{width:1px;height:20px; background:#f3eded; display:inline-block; position:absolute;left:38px;top:13px;}
.hp_login_hy_icon{position:absolute;left:10px;top:12px;width:18px;height:18px;background:url(../images/re.png) no-repeat;}
.hp_login_sj_icon{position:absolute;left:10px;top:13px;width:16px;height:20px;background:url(../images/sjicon.png) no-repeat;}
.hp_login_yzbox_icon{position:absolute;left:10px;top:13px;width:16px;height:20px;background:url(../images/yzm_icon.png) no-repeat;}
.hp_login_hy_but{width:100%;height:43px;line-height:43px;border:0;color:#999}
.login_m_text{width: 100px;float:left;height: 43px;line-height: 43px;border: 0;color: #999;}
.hp_login_hy_send{width: 90px;line-height:20px;text-align:center;display:inline-block; position:absolute;right:0px;top:12px;border-left:1px solid #eee}
.hp_login_hy_send:hover{color:#f60; text-decoration:none;}
.hp_login_mm_icon{position:absolute;left:10px;top:12px;width:18px;height:18px;background:url(../images/so.png) no-repeat;}
.hp_login_mm_but{width:100%;height:43px;line-height:43px;border:0;color:#999;}
.hp_login_box{width:100%;height:43px; padding-top:15px;}
.hp_login_box_r{color:#6f7274;}
.hp_login_box_rt a{color:#a09c9c;}
.hp_login_box_rt a:hover{color:#c30;}
.hp_login_lg{width:100%;margin-top:20px;}
.hp_login_lg_but{width:100%;height:43px;cursor:pointer;line-height:43px;text-align:center;background:#0ea7f8;color:#fff;border:none;border-radius:3px; font-size:16px;}
.hp_login_lg_but:hover{background:#38a5df;}
.hp_login_rg{width:100%;margin-top:15px;}
.hp_login_rg a{color:#3cb0ed;display:inline-block;}
.hp_login_rg a:hover{color:#3cb0ed;}
.hp_t_cont{width:590px;margin-left:15px; float:left}
.hp_banner{width:590px;height:270px;position:relative;display:inline-block;overflow:hidden;}
.index_login_tp{width:100%; float:left; padding:20px 0 5px  0; position:relative}
.login_box_h_list { text-align:center}
.login_box_h_list li{width: 110px; display:inline-block;text-align:center;cursor:pointer;font-size: 16px; font-weight:bold; position:relative; float:left}
.login_box_h_list .login_box_h_list_cur{color:#0ea7f8; position:relative}
.yun_Indexlogin_yzm_box{width:100%; padding:10px 0;}
.yun_Indexlogin_yzm{width:100%;height:43px; line-height:43px; border:none;color: #999;}
.hp_login_yzbox_pic{width:150px; position:absolute;right:-160px;top:0px;}
.login_box_line{width:1px;height:20px; background:#dddddd; position:absolute;left:0px;top:0px; display:inline-block}
.wxcode_login {width: 35px;height: 35px;background: url(../images/eer.png) no-repeat;position: absolute;right:-10px;top: 10px;cursor: pointer;}
.normal_login {width: 35px;height: 35px;background: url(../images/pc.png) no-repeat;position: absolute;right:-10px;top: 10px;cursor: pointer;display: none;}
.wxlogintext {margin: 0 auto;width: 100%;height: 150px;padding:30px  0px 20px 0px;margin-top: 10px;text-align:center}
.wxlogintext img {width: 150px;height: 150px;border: 0px;}
.wxlogintxt {margin: 0 auto;width: 190px;text-align:center;margin-top:20px;height: 36px;line-height: 36px;background-color: #EEEEEE;color: #999999;border-radius: 30px;}
.yun_Indexlogin_yzm_img{width:110px;height:43px;}
/*start*/
.banner .img{width: 99999px; position:absolute; left:0px; top:0;}
.banner .img li{ float:left;}
.banner .img img{ width: 608px;}
/*end*/
.hp_banner_icon_ft{position:absolute;left:0;top:116px;cursor:pointer;}
.hp_banner_icon_rt{position:absolute;right:0;top:116px;cursor:pointer;}
.hp_br_icon_f{width:24px;height:36px;background:#000;opacity:0.5;position:relative;}
.hp_br_icon_r{position:absolute;width:6px;height:11px;display:block;background:url(../images/ffy.png) no-repeat;top:12px;left:9px;}
.hp_br_icon_fr{width:24px;height:36px;background:#000;opacity:0.5;position:relative;}
.hp_br_icon_tt{position:absolute;width:6px;height:11px;display:block;background:url(../images/ffr.png) no-repeat;top:12px;left:9px;}
.hp_banner_gd{width:100%;position:absolute;left:0px;bottom:18px;}
.hp_banner_gd_list{position:relative;width:100%;height:13px;border-radius:30px;display:block; text-align:center}
.hp_banner_gd_list_ab{width:100%;position:absolute;top:2px;}
.hp_banner_gd_list_ab ul{width:100%; text-align:center}
.hp_banner_gd_list_ab ul li{width:12px;height:12px;cursor:pointer;background:#b7b7b7;display:inline-block;border-radius:50px;margin-right:5px;}
.hp_banner_gd_list_ab ul li.hp_banner_gd_list_cur{background:#f60;}
.hp_zp{width:283px; float:right; background:#fff;border:1px solid #eaeeed;}
.wantedjob{width:100%; background:#fff;height:290px; float:left;overflow:hidden; position:relative}
.wantedjob_cont{ padding:0px 20px;height:225px; overflow:hidden}
.wantedjob_tit {width:100%; position:relative}
.wantedjob_titmore{ position:absolute;right:15px;top:15px; font-size:12px;color:#1c99ef}
.wantedjob_tit .wantedjob_tit_s{ font-weight: bold; padding-left:50px; background:url(../images/hotn.png) no-repeat 12px  center;height:50px; line-height:50px; font-size:16px;}
.wantedjob_cont_list{width:;border-left:1px solid #eeeeee; padding-left:15px;}
.wantedjob_cont_list li .wantedjob_cont_list_b{  padding-bottom:13px;}
.wantedjob_name{position:relative; }
.wantedjob_icon{width:5px;height:5px;border-radius:50%;border:1px solid #d48e00; display:inline-block; position:absolute;left:-19px;top:6px; background:#fff}
.wantedjob_comname{ font-size:12px;}
.wantedjob_comname a{color:#999}
.wantedjob_info{ font-size:12px; padding:8px 0;color:#666}
.hp_z_w a{width:139px;height:43px;background:#18d0eb url(../images/wx.png) no-repeat 13px;color:#fff;display:block;text-align:center;line-height:43px;}
.hp_z_s a{width:139px;height:43px;background:#ff6a6a url(../images/shk.png) no-repeat 13px;color:#fff;display:block;text-align:center;line-height:43px;}
.hp_z_w a:hover{ text-decoration:none;color:#fff;}
.hp_z_s a:hover{ text-decoration:none;color:#fff;}
.hp_z_w_sp{padding-left:20px;}

.hp_z_w_er dl dt{width:71px;margin:0 auto;height:70px;display:block;}
.hp_z_s_er dl dt{width:71px;margin:0 auto;height:70px;display:block;}
.hp_z_s_er dl dd{color:#496063;line-height:20px; margin-top:10px;}
.hp_z_w_er dl dd{color:#496063;line-height:20px;margin-top:10px;}
.hp_z_w{position:relative;}
.hp_z_s{position:relative;margin-top:20px;}
.hp_z_w_er{position:absolute;left:160px;top:-6px;width:120px;text-align:center;}
.hp_z_w_icon{position:absolute;top:15px;width:6px;height:12px;left:139px;background:url(../images/rt.png) no-repeat;}
.hp_z_s_er{position:absolute;left:160px;top:-69px;width:120px;text-align:center;}
.hp_z_s_icon{position:absolute;top:15px;width:6px;height:12px;left:139px;background:url(../images/rtr.png) no-repeat;}
.hp_web_cont{width:243px; padding:0px 20px; float:left;background:#fff; }
.hp_web{width:100%;height:90px;border-top:1px dashed #eee; float:left}
.hp_web_top{width:100%;height:33px;line-height:33px;color:#1a1c1d;font-size:14px; font-weight:bold; position:relative}
.g_more{ position:absolute;right:0px;top:0px;color:#1c99ef; font-size:12px; font-weight:normal}
.hp_web_ct{width:100%;text-overflow: ellipsis;overflow:hidden;line-height:25px;}

.hp_web_ct li{ padding-left:10px; background:url(../images/news_icon2.png) no-repeat left center; font-size:12px;}
.hp_web_ct a{color:#666;width:100%;white-space:nowrap;text-overflow: ellipsis;overflow:hidden;height:30px;}
.hp_web_ct a:hover{color:#c30;}
.hp_hotjob{width:588px;height:110px;overflow:hidden; background:#fff;border:1px solid #eaeeed;}
.hp_hot_tit{ font-weight:bold; padding-left:10px; padding-top:5px;}
.hp_hotjob_b {}
.hp_hotjob_b a{ display:inline-block; word-break:break-all; white-space:nowrap; padding:3px 13px;border:1px solid #eee; margin-left:8px; margin-top:10px;border-radius:20px; font-size:12px;}
.hp_hotjob_b a:hover{border:1px solid #f60;color:#f60;}
.hp_hotjob_h{width:78px;height:50px;padding-top:8px;color:#666;font-weight:bold; font-size:16px;border-right:1px solid #e3e2e2;text-align:center;}
.hp_company_banner{width:1200px;margin-top:20px;overflow:hidden;}
.hp_company_banner ul{width:1220px;}
.hp_company_banner ul li{float:left;margin-right:12px;margin-bottom:12px;}
.hp_company_banner ul li a img{border:1px solid #e3e2e2;}
.yun_new_index_box{width:1198px; margin-top:20px;border:1px solid #eee; background:#fff; float:left; padding-bottom:20px;}
.yun_new_index_tit{width:100%;height:45px;position:relative}
/*.yun_new_index_tit_line{width:100%;height:1px; background:#eee; position:absolute;left:0px;top:28px; z-index:1}*/
.yun_new_index_tit_left{height:30px; line-height:30px; background:#fff; position:absolute;left:0px;top:15px; padding-left:15px; padding-right:20px; font-weight:bold; font-size:18px; z-index:2;color:#333333}
.yun_new_index_titmore{height:30px; line-height:30px; background:#fff; display:inline-block; padding:0px 10px; position:absolute;right:0px;top:14px;color:#0ea7f8; z-index:2; font-size:12px;}
.yun_new_index_tit_lefticon{width:5px;height:18px; background:#0ea7f8;display:inline-block; position:absolute;left:0px;top:22px; z-index:5}
.hp_title{width:1200px;height:40px; line-height:40px; background:#fff;}
.hp_title_ft{color:#666;font-size:16px; font-weight:bold; position:relative; float:left; padding-left:15px;}
.hp_title_icon{width:5px;height:17px; background:#0ea7f8;display:inline-block; position:absolute;left:0px;top:11px;}
.hp_title_rt a{color:#919090;}
.hp_title_rt a:hover{color:#f60;}
.index_lookmore{width:80px; float:right; text-align:center;margin-right:10px;}
.index_lookmore a{ display: block;width: 100%; line-height:40px; font-size: 12px;color: #1c99ef;text-align: right; }

/*赏金*/
.index_job_red{width:100%;}
.index_job_red .index_job_red_list{width:1230px;}
.index_job_red .index_job_red_list li{width:347px;height:165px; overflow:hidden;padding:15px 15px 15px 15px;border:1px solid #eaeeed; background:#fff;float:left;margin-left:15px;margin-top:15px; position:relative}
.index_job_red .index_job_red_list li:hover{border:1px #f60 solid;z-index:99;/*ie*/-moz-box-shadow:0px 0px 10px #CCCCCC;/*firefox*/-webkit-box-shadow:0px 0px 10px #CCCCCC;box-shadow:0px 0px 10px #CCCCCC;}
.index_job_red_momey{width:100%;}
.index_job_red_momey_n{ font-size:24px;height:32px; line-height:32px; padding-top:5px;  font-weight:bold;color:#ff4400; display:inline-block; padding-left:40px; background:url(../images/sj_icon.png) no-repeat left top}

.reward_hb_list{width:110px;  float:left; position:relative;  margin-top:15px; padding-bottom:5px; }
.reward_hb_list_icon{width:20px;height:20px; background:url(../images/reward_icon1.png) no-repeat; display:inline-block; position:absolute;left:0px;top:10px;}
.reward_hb_list_r{border:none;}
.reward_hb_list_icon_ms{ background:url(../images/reward_icon2.png) no-repeat; }
.reward_hb_list_icon_rz{ background:url(../images/reward_icon3.png) no-repeat; }
.reward_hb_list_P{color:#999999; font-size:12px; padding-top:4px;}
.reward_hb_fonttd{color:#ff4400}
.reward_hb_fontms{color:#ff4400}
.reward_hb_fontrz{color:#ff4400}
.reward_hb_listjobname{width:100%; padding:10px 0 0 0; float:left;border-top:1px dashed #e0e0e0; margin-top:10px;}
.reward_hb_listjobname_l{width:100%; float:left;height:22px; line-height:22px; font-size:16px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.reward_hb_listjobmoney{width:105px; float:right;color:#f00; text-align:right}
.reward_hb_list_line{width:1px;height:30px; background:#ededed; position:absolute;right:30px;top:5px; display:block}
.index_job_line{ font-size:12px;color:#e4e0e4; padding:0px 8px;}
.reward_hb_listjobinfo{width:100%; height:22px; line-height:22px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;float:left; color:#666;padding:10px 0 0 0; }
.reward_hb_ls{width:70px;height:33px; line-height:33px;background:#ffae00;color:#fff; display:inline-block; position:absolute;right:15px;top:30px;border-radius:2px; text-align:center}
.reward_hb_ls:hover{ background:#da9b15;color:#fff; text-decoration:none;}
/*newsjob*/
.index_newjob{width:100%; overflow:hidden}
.index_newjob ul {width:1230px;}
.index_newjob ul li{width:347px;height:135px; overflow:hidden;padding:15px 15px 15px 15px;border:1px solid #eaeeed; background:#fff;float:left;margin-left:15px;margin-top:15px; position:relative}
.index_newjob ul li:hover{border:1px #f60 solid;z-index:99;/*ie*/-moz-box-shadow:0px 0px 10px #CCCCCC;/*firefox*/-webkit-box-shadow:0px 0px 10px #CCCCCC;box-shadow:0px 0px 10px #CCCCCC;}
.index_newjob_info_xz{ font-size:16px;color:#ff6100; margin-right:10px; display:inline-block}
.index_newjob_info{width:100%;color:#666;padding:15px 0 20px 0; height:22px; line-height:22px;color:#999;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.index_newjob_name{width:280px;height:22px; line-height:22px; font-size:16px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.index_newjob_time{ font-size:12px; position:absolute;right:15px;top:15px;color:#b7bcbe}
.index_newjob_com{ padding-left:65px; position:relative}
.index_newjob_comname{ padding-bottom:10px;}
.index_newjob_cominfo{width:100%;height:22px; line-height:22px;color:#999;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.index_newjob_comlogo{width:48px;height:48px;border:1px solid #eee; position:absolute;left:0px;top:0px;}



.hp_urg_job{width:1200px;}
.hp_urg_job ul{width:1220px;}
.hp_urg_job ul li{width:277px;padding:0px 7px 7px;border:1px solid #e3e2e2;float:left;margin-right:9px;margin-top:14px;}
.hp_urg_job ul li:hover{border:1px #5bb7f6 solid;z-index:99;background-color:#eff6fb;/*ie*/-moz-box-shadow:0px 0px 10px #CCCCCC;/*firefox*/-webkit-box-shadow:0px 0px 10px #CCCCCC;box-shadow:0px 0px 10px #CCCCCC;}
.hp_urg_job_top{width:100%;height:37px;line-height:37px;font-size:16px;border-bottom:1px solid #e3e2e2; overflow:hidden}
.hp_urg_job_top a{color:#1c99ef;font-size:16px;}
.hp_urg_job_top a:hover{color:#1c99ef;}
.hp_urg_job_ct{color:#666;line-height:26px;padding:5px 0px 0px 0px;}
.hp_urg_job_ct a{color:#666;}
.hp_urg_job_ct a:hover{color:#c30;}
.hp_urg_job_l{width:1200px; overflow:hidden}
.hp_urg_job_l img{ margin-top:15px; margin-right:10px;}
.hp_urg_job_ct_r{color:#e43b2e;padding-right:6px;}
.hp_c_br{width:1200px;overflow:hidden;margin-top:20px;}
.hp_c_br ul {width:1220px;}
.hp_c_br ul li{float:left;margin-right:10px;}
.hp_c_br ul li a img{border:1px solid #e3e2e2;}
.hp_recommend{width:1200px;}
.hp_recommend ul{width:1220px;}
.hp_recommend ul li{width:271px;line-height:28px;padding:6px 10px;border:1px solid #e3e2e2;float:left;margin-right:9px;margin-top:14px;}
.hp_recommend ul li:hover{border:1px #5bb7f6 solid;z-index:99;background-color:#eff6fb;/*ie*/-moz-box-shadow:0px 0px 10px #CCCCCC;/*firefox*/-webkit-box-shadow:0px 0px 10px #CCCCCC;box-shadow:0px 0px 10px #CCCCCC;}
.hp_recommend_top{width:100%;font-size:16px;}
.hp_recommend_top_ft{}
.hp_recommend_top a{color:#1c99ef;font-size:16px;}
.hp_recommend_top a:hover{color:#1c99ef;}
.hp_recommend_top_rt{color:#f60e3a;font-size:14px;}
.hp_recommend_d{width:100%;color:#666;height:28px; line-height:28px; overflow:hidden;white-space: nowrap; text-overflow: ellipsis;}
.hp_recommend_company{width:100%;}
.hp_recommend_company a{color:#666;}
.hp_recommend_company a:hover{color:#c30;}
.hp_recommend_company img{max-width:20px;}
.hp_newjob_company img{max-width:20px;}
.hp_urg_job_ov{width:100%;color:#666;height:26px; line-height:26px; overflow:hidden;white-space: nowrap; text-overflow: ellipsis;}
.hp_newjob{width:1200px;}
.hp_newjob ul{width:1220px;}
.hp_newjob ul li{width:271px;line-height:28px;padding:10px;border:1px solid #e3e2e2;float:left;margin-right:9px;margin-top:14px;}
.hp_newjob ul li:hover{border:1px #5bb7f6 solid;z-index:99;background-color:#eff6fb;/*ie*/-moz-box-shadow:0px 0px 10px #CCCCCC;/*firefox*/-webkit-box-shadow:0px 0px 10px #CCCCCC;box-shadow:0px 0px 10px #CCCCCC;}
.hp_newjob_top{width:100%;}
.hp_newjob_top a{color:#1c99ef;font-size:16px;}
.hp_newjob_top a:hover{color:#1c99ef;}
.hp_newjob_top_rt{color:#999;font-size:14px; font-weight:normal}
.hp_newjob_m_r{color:#f60e3a;font-weight:bold;font-size:15px;padding-right:10px;}
.hp_newjob_m{width:100%;color:#888;height:28px; line-height:28px; overflow:hidden;white-space: nowrap; text-overflow: ellipsis;}
.hp_newjob_company{width:100%;color:#888;height:28px; line-height:28px; overflow:hidden;white-space: nowrap; text-overflow: ellipsis;}
.hp_newjob_company a{color:#666;}
.hp_newjob_company a:hover{color:#c30;}
.hp_people{width:1200px; overflow:hidden}
.hp_people ul{width:1220px;}
.hp_people ul li{width:200px;line-height:23px;padding:10px 10px 20px 10px;border:1px solid #eaeeed;float:left;margin-left:15px;margin-top:15px; background:#fff}
.hp_people ul li:hover{border:1px #ff6100 solid;z-index:99;/*ie*/-moz-box-shadow:0px 0px 10px #CCCCCC;/*firefox*/-webkit-box-shadow:0px 0px 10px #CCCCCC;box-shadow:0px 0px 10px #CCCCCC;}
.hp_people_box_ft{width:100%; text-align:center}
.hp_people_box_rt{width:100%; padding:15px 0; position:relative;text-align:center}
.hp_people_box_rt img{border-radius:50%;}
.hp_people_box_ft_nm a{color:#000;font-size:16px;font-weight:bold;}
.hp_people_box_ft_nm a:hover{color:#1c99ef;}
.hp_people_box_ft_y{width:100%;height:23px; line-height:23px; overflow:hidden;white-space: nowrap; text-overflow: ellipsis;color:#ff6100; font-weight:bold}
.hp_people_box_ft_v{color:#666;width:100%;overflow:hidden;word-break:keep-all;text-overflow:ellipsis;white-space:nowrap; padding:10px 0;}
.hp_news{width:1200px;margin-top:17px;}
.hp_news_w{width:100%;}
.hp_news_w_p{width:430px; float:left; margin-top:15px; margin-left:15px;}
.hp_news_p_img{width:160px;}
.hp_news_p_wr{width:230px;padding-left:10px;padding-right:10px; height: 115px; padding-top:5px;
    background: #fff;}
.hp_news_t dl{width:430px; margin-right:15px; overflow:hidden;height:260px;position:relative; float:left}
.hp_news_t dl dd{position:absolute;bottom:0;background:#ebeaea;width:100%;color:#666;height:33px;line-height:33px;text-align:center;}
.hp_news_p_wr_tit{height:22px; line-height:22px;font-size:14px; font-weight:bold;width:100%;overflow:hidden;word-break:keep-all;text-overflow:ellipsis;white-space:nowrap; }
.hp_news_p_wr_tit a{color:#666;}
.hp_news_p_ct{color:#999;line-height:25px;height:80px;overflow:hidden;text-overflow: ellipsis; padding-top:5px;}
.hp_news_list{width:316px;margin-left:17px;}
.hp_news_list li{overflow:hidden;line-height:35px;white-space:nowrap;text-overflow: ellipsis;width:100%;}
.hp_link{width:1198px;}
.hp_link_banner_img{width:100%;float:left;}
.hp_link_banner_img li{width:160px;float:left; margin-top:15px;margin-left:15px; padding:10px;border:1px solid #eee;}
.hp_link_banner_img li:hover{border:1px #ff6100 solid;z-index:99;/*ie*/-moz-box-shadow:0px 0px 10px #CCCCCC;/*firefox*/-webkit-box-shadow:0px 0px 10px #CCCCCC;box-shadow:0px 0px 10px #CCCCCC;}
.hp_link_banner_img li img{width:160px;height:50px}
.hp_link_banner_wr{width:100%;float:left;margin:10px 0 0 0px;}
.hp_link_banner_wr a{ margin-left:15px; line-height:30px; margin-right:10px; display:inline-block; white-space:normal}
.hp_link_banner_wr li{float:left;margin-right:10px;}
.hp_link_banner_wr a:hover{color:#f60}
.hp_urg_job_l_1250{width:1230px;}
.index_line{color:#999; font-size:12px; padding:0px 5px;}

.index_logoin_after {background:#fff;float:left;}
.hunter_logoin_bg {float: left;padding:15px 0px 0px 0px;width: 247px;}
.logoin_after_tx {background: url(../images/lt_line.png) repeat-x center bottom;float: left;width: 100%;}
.logoin_after_tx dt {float: left;height: 68px;width: 68px;}
.logoin_after_tx dt img {display: block; margin:7px 0 0 6px;border-radius: 2px 2px 2px 2px;}
.logoin_after_tx dd {float: left;width: 155px;padding-left:10px;font-size: 12px;color: #000; line-height:25px;}
.logoin_after_cj {float: left;font-size: 15px;width: 100%;margin:14px 0 14px 0;color:#898785}
.logoin_after_cj u {color: #FF3300;}
.hunter_logoin_list {width: 100%;float: left;margin:0 0 8px 0;}
.logoin_after {border-bottom: 1px dashed #fff;float: left;height:30px;line-height:30px;width: 100%;}
.logoin_after a {color: #999}
.logoin_after_su1 {background:#1c99ef;color: #FFFFFF;display: block;float: left; font-weight:bold;font-size: 14px;height:30px;line-height:30px;text-align: center;width:100px;border-radius:2px }
.logoin_after_su1:hover {color: #FFFFFF;text-decoration: none;}
.logoin_after_su2 {background:#ff6a6a;color: #fff;display: block;float: left;font-size: 14px; font-weight:bold;height:30px;line-height:30px;margin-left:15px;text-align: center;width:100px;border-radius:2px }
.logoin_after_su2:hover {color: #fff;text-decoration: none;}
.logoin_after_cz {float: left;width: 100%; margin-top:5px;}
.logoin_after em {display: inline-block;font-family: Tahoma, sans-serif;font-weight: 700;height: 22px;line-height: 22px;padding: 0 10px 0 8px;text-decoration: underline;width: auto;margin-top: 3px;color:#000; }
.logoin_after_cz a {color: #666;float: left;line-height: 12px;padding: 6px 10px; width:90px; background:#f8f8f8; text-align:center }
.logoin_after_cz .in_l_cor{color:#C00; text-decoration:underline;font-weight:bold;  background:#f8f8f8;margin-left:10px;}
.index_logoin_re{ position:relative; z-index:5}
.index_logoin_msg{width:165px;height:28px; position:absolute;left:0;top:-25px;}
.index_logoin_msg_tx{width:124px;height:26px; line-height:26px; padding-left:25px;border:1px solid #ffc7c7; background:#ffecec url(../images/ico_warn2.png) no-repeat 5px center;color:#d54801; position:relative}
.index_logoin_re_m{ position:relative; z-index:10}
.index_logoin_msg_icon{width:10px;height:6px; background:url(../images/yun_icon_sj.png) no-repeat; position:absolute;left:10px;bottom:-5px;_bottom:-13px;}
.index_login_zd{width:100%; padding:10px 0;}
.yunFamousenterprises{width:100%; }
.index_left15560 {float: left;width: 1220px;}
.Famous_recruitment_cont {width: 1198px;border-top:1px solid #eee;float: left;  _overflow:hidden ; margin-top:15px;}
.Famous_recruitment_cont_box{width:1198px;border:1px solid #e6e6e6;border-top:none; float:left; _overflow:hidden}
.Famous_recruitment_cont .tlogo li {border-right: 1px solid #eee;border-bottom: 1px solid #eee;width:198.9px; height:165px;background: #fff;float: left; text-align:center; position:relative  }
.Famous_recruitment_cont .tlogo li img{ margin-top:20px;}
.yunFamousenterprises_comname{ width:170px; margin:0 auto;height:25px; line-height:25px; text-align:center;color:#666;overflow:hidden; margin-top:10px; position:absolute;left:10px;bottom:10px; z-index:10000}

.Famous_recruitment_act {position: relative}
#mainids .tlogo ul li.current1 {list-style-type: none;position: relative;width:198.9px;z-index:1000}
#mainids .tlogo ul li.current1 .on {position: relative;z-index: 1003;}
#mainids .tlogo ul li .show {display: none;left:0px;position: absolute;
text-align: left;top:-2px;width:198.9px;;box-shadow: 4px 2px 6px #eee; text-align:center;  border: 2px solid #3b8ee3;overflow:hidden}
#mainids .tlogo ul li.current1 .yunFamousenterprises_comname{ font-weight:bold}
#mainids .tlogo .show .area {width:100%;background:#fff;overflow: hidden;padding:155px 0 0;float: left}
#mainids .tlogo ul li.current1 .show {display: block;}


#mainids .area_left {width:190px;max-height:135px; overflow:auto;float: left; padding-bottom:10px; }
#mainids .area_left a {color:#1c99ef;;overflow: hidden; display:block; padding:0px 0px 0px 20px;height:24px; line-height:24px; margin-top:5px; background:url(../images/job-Auction.png) no-repeat 8px 12px; text-align:left}
#mainids .area_left a:hover {color: #3B8EE3;text-decoration:none}
#mainids .area_right {float: left;width:130px;overflow: hidden;padding-left: 5px;line-height: 22px;color: #333;white-space: normal; word-break: break-all; display:none; }
#mainids .area_right a {width: 100%;height: 22px;line-height: 22px;overflow: hidden;text-align: center;display: block;color:#3B8EE3;font-weight: bold}
#mainids .area_right a:hover {color: #333;text-decoration: underline}
#mainids .area_left_bot {width:93px;background-color: #EEEEEE;float: left;height: 22px;line-height: 22px;margin-top: 5px;text-align: center;}
#mainids .area_left_bot a {color: #333;}
#mainids .area_right_bot{width:91px;background-color: #EEEEEE;float: left;height: 22px;line-height: 22px;margin-top: 5px;text-align: center;border-left:1px solid #fff;}
#mainids .area_right_bot a {color: #333}
#mainids .w160 {width: 160px;}
#mainids .w170 {width: 173px;}
#mainids .tlogo ul li .show_ban {background: #EAE8E8;border: 1px solid #65A9E6;display: none;left: -1px;padding: 1px;position: absolute;text-align: left;top: -1px;width: 313px;}
#mainids .tlogo ul li.current1 .show_ban {display: block;}
#mainids .tlogo .show_ban .area {background: #FFFFFF;overflow: hidden;padding: 55px 0 0;float: left}
#mainids .tlogo ul li.current2 {list-style-type: none;position: relative;width: 313px;}
#mainids .tlogo ul li.current2 .on {position: relative;z-index: 1003;}

/*login after*/
.login_after_welcome{width:100%; padding:20px 0 10px 0; font-size:16px; font-weight:bold; text-align:center}
.login_after_userlogo{width:100%; padding-top:30px;  text-align:center;height:80px; position:relative ; float:left}
.login_after_comlogo{z-index:10}
.login_after_combg{}
.login_after_username{width:100%; font-size:14px;color:#787b7e; text-align:center; float:left;height:20px; line-height:20px; overflow:hidden; margin-top:10px;}
.login_after_username_id{color:#ff6a6a}
.login_after_webrname{width:100%; font-size:14px;color:#787b7e; text-align:center; padding:5px 0 13px 0;border-bottom:1px solid #e6e6e6; float:left}
.login_after_ztbox{width:100%; padding-top:10px;color:#787b7e; float:left}
.login_after_zt_list{width:81px;border-right:1px solid #e6e6e6; float:left;text-align:center;}
.login_after_zt_list a{color:#787b7e;}
.login_after_zt_list a:hover{ text-decoration:none;}
.login_after_zt_list_n{ display:block;width:100%; font-size:20px; padding:5px 0; color:#1c99ef}
.login_after_zt_list_end{border:none;}
.login_after_bthbox{width:100%; padding-top:5px; float:left}
.login_after_bth{width:120px;height:40px; line-height:40px; display:inline-block; background:#1c99ef;color:#fff; text-align:center; margin-top:15px; float:left;border-radius:3px;}
.login_after_bthend{width:120px;height:40px; line-height:40px; display:inline-block; background:#ff6a6a;color:#fff; text-align:center; margin-top:15px; float:right;}
.login_after_bttc{width:100%;height:40px; line-height:40px; display:inline-block; background:#ebf6ff url(../images/yun_intc.png) no-repeat 70px center; text-align:center; margin-top:15px; float:left;color:#55aae3}
.login_after_bth:hover{ background:#00b2fc;color:#fff; text-decoration:none}
.login_after_bthend:hover{ background:#f84848;color:#fff; text-decoration:none}
.login_after_user_box{width:100%; float:left; padding:12px 0 10px 0;border-bottom:1px solid #e6e6e6; color:#787b7e;}
.login_after_user_photo{ float:left}
.login_after_user_name{ width:165px;float:left; padding-left:10px;}
.login_after_user_webname{ padding:6px 0 0 0;height:20px; line-height:20px; overflow:hidden ;    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.login_after_user_uname{width:100%;height:20px; line-height:20px; overflow:hidden; margin-top:10px;}
.login_after_userbth{width:120px;height:40px; line-height:40px; display:inline-block; background:#1c99ef;color:#fff; text-align:center; margin-top:15px; float:left;border-radius:3px;}
.login_after_userbthend{width:120px;height:40px; line-height:40px; display:inline-block; background:#ff6a6a;color:#fff; text-align:center; margin-top:15px; float:right;border-radius:3px;}
.login_after_usergz{width:120px;height:40px; line-height:40px; display:inline-block; background:#1c99ef;color:#fff; text-align:center; margin-top:15px; float:right;border-radius:3px;}
.login_after_userbth:hover{ background:#00b2fc;color:#fff; text-decoration:none}
.login_after_userbthend:hover{  background:#f84848;color:#fff; text-decoration:none}
.login_after_usergz:hover{ background:#00b2fc;color:#fff; text-decoration:none}
.index_banner{width:100%; float:left;}
.index_banner img{ margin-top:10px;}

/*tip bottom*/
.tip_bottom {width: 100%;height: 65px;position: fixed;bottom: 0;left: 0;z-index:1000000; }
.tip_bottom_icon {width:155px;height:86px;background: url(../images/i_bottom.png) no-repeat; position:absolute;left:-150px;top:-86px; display:none;}
.tip_bottom_cont {width: 100%;height: 65px;position: relative;}
.tip_bottom_bg{width: 100%;height: 65px; position:absolute;left:0px;top:0px; z-index:9;background-color:#000000;opacity: 0.5; filter:Alpha(opacity=50); }
.tip_bottom_cont_c{width: 100%;height: 65px; position:absolute;left:0px;top:0px; z-index:10}
.tip_bottom_main {width:1200px;height: 65px;position: relative;margin:0 auto}
.tip_bottom_left {width:1200px;position: relative;}
.tip_bottom_ewm{width:110px;height:110px; padding:10px 10px  0 0; text-align:center; position:absolute;right:0px;bottom:3px;}
.tip_bottom_ewm_p{width:100%;height:20px; line-height:20px; text-align:center;color:#fff; font-size:12px; position:relative}
.tip_bottom_ewm_bg{width:90px;height:90px; background:#fff; position:relative; margin:0 auto}
.tip_bottom_ewm_p_icon{width:15px;height:46px; background:url(../images/ewm_icon.png) no-repeat; display:inline-block; position:absolute;right:-15px;top:0px;}

.tip_bottom_close {display: block;width: 11px;height: 11px;background: url(../images/i_bottom_close.png) no-repeat;position: absolute;top: 10px;right: -37px; z-index:10}
.tip_bottom_logo {display: inline-block;color: #fff;font-size: 15px; }
.tip_bottom_logo h1 {font-weight: bolder;line-height: 25px;font-size:18px;font-weight:normal}
.tip_bottom_logo h2 {line-height: 65px;font-size:24px; font-weight:normal;}
.tip_bottom_fast{ font-size:24px; display:inline-block; padding-left:50px; background:url(../images/i_bottomtime.png) no-repeat left center}
.tip_bottom_time{color:#fcff00;font-weight:bold; font-size:28px; }
.tip_bottom_num {display: inline-block;width: 195px;font-size: 17px;color: #fff;text-align: center;}
.tip_bottom_num span {font-size: 31px;font-family: Arial;padding-right: 5px;}
.tip_bottom_member{ position:absolute;right:130px;top:10px;}
.tip_bottom_login,.tip_bottom_reg {display:inline-block;width: 110px;height: 46px;background:#0ea7f8;    border-radius: 4px;color: #fff;line-height: 46px;text-align: center;font-size: 18px;}
.tip_bottom_reg:hover{ background:#ed9914;color:#fff; text-decoration:none;}
.tip_bottom_login:hover{ background:#228dc9;color:#fff; text-decoration:none;}
.tip_bottom_reg {width: 110px;text-align: center;background:#ff9f00;height:46px; line-height:46px; margin-left:10px;}
.tip_bottom_login {margin-left: 25px;}
.index_verification{padding-top: 5px;}
.index_news_box{width:100%; float:left; margin-top:15px;}
.index_news_left{width:280px;height:395px; float:right; margin-right:15px;}
.index_news_tip{width:100%;height:125px; position:relative; background:#0ea7f8;color:#fff; text-align:center}
.index_news_tip_icon{ width:26px;height:26px; position:absolute;left:50%;bottom:-16px; margin-left:-13px;-webkit-transform: rotate(45deg);background:#fff; display:block}
.index_news_tip_tit{ font-size:16px; font-weight:bold; padding-top:30px; padding-bottom:10px;}
.index_news_list ul{width:258px;border:1px solid #eee; background:#fff; padding:10px;}
.index_news_list ul li{overflow:hidden;line-height:35px;white-space:nowrap;text-overflow: ellipsis;width:245px; padding-left:13px; background:url(../images/dian.png) no-repeat 0px 17px;}
.index_news_list_imgnews{width:885px;height:395px; overflow:hidden; float:left;  padding:0px 0 0px 0px;}
.hp_news_t{width:430px; margin-left:15px; float:left}
.index_news_list_imgnews_cont {width:950px}