{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
<div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
  <div class=right_box>
    <div class=admincont_box>
      <div class="com_tit"> <span class="com_tit_span">面试邀请</span> </div>
      <div class="com_body">
        <div class="admin_new_tip">
          <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
          <div class="admin_new_tip_list_cont">
            <div class="admin_new_tip_list">面试邀请若求职者没有回复，可直接拨打电话进行联系 </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="joblist_search">
          <form action="index.php" method="get">
            <div class="joblist_search_box">
              <input name="c" type="hidden" value="{yun:}$smarty.get.c{/yun}">
              <input name="keyword" id="keyword" type="text" class="joblist_search_box_text" value="{yun:}$smarty.get.keyword{/yun}" placeholder="请输入简历关键字">
              <input name="" type="submit" class="joblist_search_bth" value=" ">
            </div>
          </form>
        </div>
        <div class="clear"></div>
        <div class=admin_textbox_04>
          <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
          <form action="{yun:}$now_url{/yun}&act=del" method="post" target="supportiframe" id='myform'>
            <div id="job_checkbokid" >
            <table class="com_table mt20">
            {yun:}if !empty($rows){/yun}
            <tr>
              <th width="20">&nbsp;</th>
              <th>姓名</th>
              <th>基本信息</th>
              <th>面试职位</th>
             <th>联系电话</th>
            <th> 邀请时间</th>
              <th>状态 </th>
              <th width="160">操作</th>
            </tr>
            {yun:}foreach from=$rows item=job{/yun}
            {yun:}assign var="uid" value=$job.uid{/yun}
            <tr>
              <td width="20"><input type=checkbox name="delid[]" value="{yun:}$job.id{/yun}"   class="com_Release_job_qx_check"></td>
              <td><a href="{yun:}url m=resume c=show uid='`$uid`'{/yun}" target=_blank class="yun_m_jobname_a" id='name{yun:}$job.id{/yun}'>{yun:}$user[$uid].name{/yun}</a></td>
              <td><div class="invite_info"> 意向：<span class="invite_user_job">{yun:}$user[$uid].jobname{/yun}</span> </div>
                <div class="invite_info"> 经验：{yun:}$user[$uid].exp{/yun}</div>
                <div class="invite_info"> 学历：{yun:}$user[$uid].edu{/yun}</div></td>
              <td align="center">{yun:}$job.jobname{/yun}   
                 </td>
              <td align="center">{yun:}$user[$uid].telphone{/yun}
                 </td>
              <td align="center"> {yun:}$job.datetime|date_format:'%Y-%m-%d'{/yun}
              </td>
              <td align="center"> {yun:}if $job.is_browse=="1"{/yun} <span class="tip_no"><i class="tip_no_icon"></i>对方未回复</span> {yun:}elseif $job.is_browse=="2"{/yun}
                已查看
                {yun:}elseif $job.is_browse=="3"{/yun} <font color="#008000">已同意</font> {yun:}elseif $job.is_browse=="4"{/yun} <font color="#FF00000">已拒绝</font> {yun:}/if{/yun} </td>
              <td align="center"><a href="javascript:getcont('{yun:}$job.id{/yun}');"class="com_bth cblue">邀请函</a> <a href="javascript:void(0)" onclick="layer_del('确定要删除？', '{yun:}$now_url{/yun}&act=del&id={yun:}$job.id{/yun}')" class="com_bth cblue">删除</a></td>
            </tr>
            {yun:}/foreach{/yun}
            <tr>
              <td colspan="7" class="table_end"><div class="com_Release_job_bot">
                <span class="com_Release_job_qx">
                <input id='checkAll'  type="checkbox" onclick='m_checkAll(this.form)'class="com_Release_job_qx_check">
                全选</span>
                <INPUT  class="c_btn_02" type="button" name="subdel" value="批量删除" onclick="return really('delid[]');">
                <div class="diggg" style="width:100%; text-align:center; margin-top:20px; float:left;">{yun:}$pagenav{/yun}</div></td>
            </tr>
            {yun:}elseif $smarty.get.keyword!="" {/yun}
            <tr>
              <td colspan="7" class="table_end"><div class="msg_no">
                  <p>没有搜索邀请记录。</p>
                  <a href="{yun:}url m=resume{/yun}" class="com_msg_no_bth com_submit" target="_blank">我要主动找人才</a> </div></td>
            </tr>
            {yun:}else{/yun}
            <tr>
              <td colspan="7" class="table_end"><div class="msg_no">
                  <p> 亲爱的用户，目前您还没有邀请人才面试记录！</p>
                  <a href="{yun:}url m=resume{/yun}" class="com_msg_no_bth com_submit" target="_blank">我要主动找人才</a> </div></td>
            </tr>
            {yun:}/if{/yun}
          </form>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 邀请函弹出框 Start -->
<div id="getcont" style="width:100%; display:none;">
  <div class="aud_face">
    <div class="audition_list"><span class="audition_list_span"></span></div>
    <div  style="padding:10px;">
      <div class="invitation_user">尊敬的 <span class="invitation_user_name" id='manname'></span> 您好!</div>
      <div class="invitation_cont">&nbsp;&nbsp;&nbsp;&nbsp;经过人力资源部的初步筛选,我们认为您基本具备 <i class="invitation_cont_job"  id="jobname"></i> 岗位的任职资格，因此正式邀请您来我公司参加面试。</div>
      <div class="invitation_cont_tip">具体详见如下：</div>
      <div class="invitation_cont_p"><span class="invitation_cont_pn">【面试时间】</span><em class="audition_list_e" id="intertime"></em></div>
      <div class="invitation_cont_p"><span class="invitation_cont_pn">【面试地址】</span><em class="audition_list_e" id="address"></em></div>
      <div class="invitation_cont_p"><span class="invitation_cont_pn">【面试备注】</span><em class="" id="content"></em></div>
      <div class="invitation_cont_p"><span class="invitation_cont_pn">【联系方式】</span><em class="audition_list_e" id="linkman"></em> ( TEL：<em class="invitation_cont_tel" id="linktel"></em> )</div>
    </div>
    <div class="invitation_cont_jy">
      <div class="invitation_cont_d">特此邀请&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="invitation_cont_d"><em class="" id="comname"></em>&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="invitation_cont_d"><em class="" id="datetime"></em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
  </div>
</div>
<!-- 邀请函弹出框 End --> 
<script>
    function getcont(id) {
        $.post("index.php?c=invite&act=ajax", { id: id }, function (data) {
            var data = eval('(' + data + ')');
            $("#comname").html(data.comname);
            $("#jobname").html(data.jobname);
            $("#manname").html($('#name'+id).text());
            $("#linkman").html(data.linkman);
            $("#linktel").html(data.linktel);
            $("#intertime").html(data.intertime);
            $("#address").html(data.address);
			if(data.content){
				$("#content").html(data.content);
			}else{
				$("#content").html('&nbsp');
			}
            
            $("#datetime").html(data.datetime);
            $.layer({
                type: 1,
                title: '面试邀请函',
                shade: [0],
                closeBtn: [0, true],
                border: [10, 0.3, '#000', true],
                area: ['600px', 'auto'],
                page: { dom: "#getcont" }
            });
        })
    }
</script> 
{yun:}include file="$comstyle/footer.htm"{/yun} 