<script>
function jingjia(id,xsdate){ //置顶服务
	$("#wnameid").val(id);
	var height="400px";
	if(xsdate!='0'){
		$("#xsdiv").show();
		$('#xstime').html('<font color="red">'+xsdate+'</font>');
		height='400px';
	}
	$.layer({
		type : 1,
		title : '职位置顶',
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['480px',height],
        page : {dom : '#wname'}
	});
}
function rec(id,rectime){ //职位推荐
	$("#recjobid").val(id);
	var height="400px";
	if(rectime!='0'){
		$("#recdiv").show();
		$('#rectime').html('<font color="red">'+rectime+'</font>');
		height='400px';
	}
	$.layer({
		type : 1,
		title : '推荐职位',
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['480px',height],
		page : {dom : '#recom'}
	});
}

function recpart(id,rectime){
	$("#recpartid").val(id);
	var height="400px";
	if(rectime!='0'){
 		$("#recpartdiv").show();
		$('#recparttime').html('<font color="red">'+rectime+'</font>');
		height='400px';
	}
	$.layer({
		type : 1,
		title : '推荐兼职',
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['480px',height],
		page : {dom : '#recpart'}
	});
}
function urgent(id,urgenttime){ //紧急招聘
	if(id==''){
		var id = $("#jobid").val();
	}
	$("#urgentid").val(id);
	var height="400px";
	if(urgenttime&&urgenttime!=0){
	    $("#udiv").show();
		$('#utime').html('<font color="red">'+urgenttime+'</font>');
		height='400px';
	}
	$.layer({
		type : 1,
		title : '紧急招聘',
		move:false,
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['480px',height],
		page : {dom : '#urgent'}
	});
}
function autojobs(name,id,date){ //自动刷新
	if(id==''){
		var id = $("#jobid").val();
	}
    var height="400px";
	if(id){
		var chk_value=id;
		var i=1;
	}else{
		var chk_value =[];
		var i=0;
		$('input[name="'+name+'"]:checked').each(function(){
			chk_value.push($(this).val());
			i++;
		}); 
	} 
	var dj = $("#autodj").val();//单价

	var online = '{yun:}$config.com_integral_online{/yun}';
	var pro = '{yun:}$config.integral_proportion{/yun}';

	if(i>0){ 
		$("input[name='synalljob']").attr('checked',false);
		$("#jobautoids").val(chk_value);
		$("#jobnum").val(i);
		if(online==3){
			$("#rneed").html(i*dj*pro);
		}else{
			$("#rneed").html(i*dj);
		}
		$("#jobautobuysdate").hide();
		$(".synalljob").hide();
		if(date){
			$("#rdiv").show();
		    $('#rtime').html('<font color="red">'+date+'</font>');
			height='400px';
		}
		if(id){
			$(".synalljob").show();
		}
		$.layer({
			type : 1,
			move:false,
			title : '预约自动刷新', 
			border : [10 , 0.3 , '#000', true],
			area : ['480px',height],
			page : {dom : '#jobautobuys'}
		})
	}else{
		layer.msg("请选择要自动刷新的职位！",2,8);return false;
	}
}

//加减乘除
function accAdd(arg1,arg2){ 
	var r1,r2,m; 
	try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0} 
	try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0} 
	m=Math.pow(10,Math.max(r1,r2)) 
	return (arg1*m+arg2*m)/m 
} 
function accSub(arg1,arg2){ 
	return accAdd(arg1,-arg2); 
} 
function accMul(arg1, arg2) {
	var m = 0, s1 = arg1.toString(), s2 = arg2.toString();
	try { m += s1.split(".")[1].length } catch (e) { }
	try { m += s2.split(".")[1].length } catch (e) { }
	return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m)
}
function accDiv(arg1,arg2){    
	var t1=0,t2=0,r1,r2;    
	try{t1=arg1.toString().split(".")[1].length}catch(e){}    
	try{t2=arg2.toString().split(".")[1].length}catch(e){}    
	with(Math){        
		r1=Number(arg1.toString().replace(".",""));        
		r2=Number(arg2.toString().replace(".",""));        
		return (r1/r2)*pow(10,t2-t1);    
	}
}

function myFunction(_this) {
    _this.value = _this.value.replace(/[^0-9]/g, '');
}
 
$(document).ready(function(){ 
	var online = '{yun:}$config.com_integral_online{/yun}';
	var pro = '{yun:}$config.integral_proportion{/yun}';

	$(".job_tck_list").click(function(){
		var cron = $(this).attr('data-cron');
		var name = $(this).attr('data-name');
		$("#autotype").val(cron);
		$(".job_box_in").html(name);
		$(".job_tck_box_pot").hide();
	});
	$(".job_box_in").click(function(e){
		$(".job_tck_box_pot").toggle();
	});
	$(document).bind("click",function(e){
		if(e.target.className != 'job_box_in'){
			$(".job_tck_box_pot").hide();
		}
	}); 
	$("input[name='xsdays']").click(function(){
		var days=$(this).val();
		var xs=$("#myxs").val();
		var need=accMul(xs,days);
		if(online==3){
			var need = accMul(need, pro);
		}
		$("#xsneed").html(need);
		var all=$("#xsall").html();
		if (all<need){
			$("#xspay").show();
		}else{
			$("#xspay").hide();
		}
	});
	$("input[name='recdays']").click(function(){
		var days=$(this).val();
		var rec=$("#myrec").val();
		var need=accMul(rec,days);
		if(online==3){
			var need = accMul(need, pro);
		}
		$("#recneed").html(need);
		var all=$("#recall").html();
		if (all<need){
			$("#recpay").show();
		}else{
	       $("#recpay").hide();
	    }
	});
	$("input[name='recpartdays']").click(function(){
		var days=$(this).val();
		var rec=$("#myrecpart").val();
		var need=accMul(rec,days);
		if(online==3){
			var need = accMul(need, pro);
		}
		$("#recpartneed").html(need);
		var all=$("#recpartall").html();
		if (all<need){
			$("#recpartpay").show();
		}else{
	       $("#recpartpay").hide();
	    }
	});
	$("input[name='udays']").click(function(){
		var days=$(this).val();
		var u=$("#myu").val();
		var need=accMul(u,days);
		$("#uneed").html(need);
		if(online==3){
			var need = accMul(need, pro);
		}
		var all=$("#uall").html();
		if (all<need){
			$("#upay").show();
		}else{
			$("#upay").hide();
		}
	});
	$("input[name='rdays']").click(function(){
		var days=$(this).val();
		var r=$("#myr").val();
		var num=$("#jobnum").val();
		var need=accMul(r,days);
		var needs=accMul(need, num);
		if(online==3){
			var needs = accMul(needs, pro);
		}
		$("#rneed").html(needs);
		var all=$("#rall").html();
		if (all<need){
			$("#rpay").show();
		}else{
	        $("#rpay").hide();
	    }
	});
	
}); 


//置顶职位自定义天数
function checkXs(){
	var online = '{yun:}$config.com_integral_online{/yun}';
	var pro = '{yun:}$config.integral_proportion{/yun}';

	var xs=$("#myxs").val();
	var cdays=$("#cxsdays").val();
	if(cdays==''){
		cdays=0;
	}
	var need=accMul(xs,cdays);
	if(online==3){
		var need = accMul(need, pro);
	}
	$("#xsneed").html(need);
	var all=$("#xsall").html();
	if (all<need){
		$("#xspay").show();
	}else{
	    $("#xspay").hide();
	}
}

//置顶职位积分抵扣填写
function checkXsNum(integral,integral_pro){
	var dkjf = $("#xsdkjf").val();
 	if(dkjf){
		$(".xsjfdkh_m").show();
	} 
	var need = $("#xsneed").text();
	var need_jifen = accMul(need, integral_pro);
	if(parseInt(integral) >= parseInt(need_jifen)){
		if(parseInt(dkjf) > parseInt(need_jifen)){
			$("#xsdkjf").val(need_jifen);
			var dkjfh = accSub(need , accDiv(need_jifen,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
		}	
 	}else{
		if(parseInt(dkjf) > parseInt(integral)){
			$("#xsdkjf").val(integral);
			var dkjfh = accSub(need , accDiv(integral,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
 		}
 	}
	if(dkjfh<=0){
		$("#xsdkjfh").html(0);
		$("#xszf").hide();
		$("#xs_btn").show();
	}else{
		$("#xsdkjfh").html(dkjfh);
		$("#xszf").show();
		$("#xs_btn").hide();
	}
  	 	
 }

//职位推荐自定义天数
function checkRec(){
	var online = '{yun:}$config.com_integral_online{/yun}';
	var pro = '{yun:}$config.integral_proportion{/yun}';

	var rec=$("#myrec").val();
	var cdays=$("#crecdays").val();
	var need=accMul(rec,cdays);
	$("#recneed").html(need);
	if(online==3){
		var need = accMul(need, pro);
	}
	var all=$("#recall").html();
	if (all<need){
		$("#recpay").show();
	}else{
	    $("#recpay").hide();
	}
}

//职位推荐积分抵扣填写
function checkRecNum(integral,integral_pro){
	var dkjf = $("#recdkjf").val();
 	if(dkjf){
		$(".recjfdkh_m").show();
	} 
	var need = $("#recneed").text();
	var need_jifen = accMul(need, integral_pro);
	if(parseInt(integral) >= parseInt(need_jifen)){
		if(parseInt(dkjf) > parseInt(need_jifen)){
			$("#recdkjf").val(need_jifen);
			var dkjfh = accSub(need , accDiv(need_jifen,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
		}	
 	}else{
		if(parseInt(dkjf) > parseInt(integral)){
			$("#recdkjf").val(integral);
			var dkjfh = accSub(need , accDiv(integral,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
 		}
 	}
	if(dkjfh<=0){
		$("#recdkjfh").html(0);
		$("#reczf").hide();
		$("#rec_btn").show();
	}else{
		$("#recdkjfh").html(dkjfh);
		$("#reczf").show();
		$("#rec_btn").hide();
	}	
 }

//兼职推荐自定义天数
function checkRecPart(){
	var online = '{yun:}$config.com_integral_online{/yun}';
	var pro = '{yun:}$config.integral_proportion{/yun}';

	var rec=$("#myrecpart").val();
	var cdays=$("#crecpartdays").val();
	var need=accMul(rec,cdays);

	if(online==3){
		var need = accMul(need, pro);
	}

	$("#recpartneed").html(need);
	var all=$("#recpartall").html();
	if (all<need){
		$("#recpartpay").show();
	}else{
	    $("#recpartpay").hide();
	}
}

//兼职推荐积分抵扣填写
function checkRecPartNum(integral,integral_pro){
	var dkjf = $("#recpartdkjf").val();
 	if(dkjf){
		$(".recpartjfdkh_m").show();
	} 
	var need = $("#recpartneed").text();
	var need_jifen = accMul(need, integral_pro);
	
	if(parseInt(integral) >= parseInt(need_jifen)){
		if(parseInt(dkjf) > parseInt(need_jifen)){
			$("#recpartdkjf").val(need_jifen);
			var dkjfh = accSub(need , accDiv(need_jifen,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
		}	
 	}else{
		if(parseInt(dkjf) > parseInt(integral)){
			$("#recpartdkjf").val(integral);
			var dkjfh = accSub(need , accDiv(integral,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
 		}
 	}
  
	if(dkjfh<=0){
		$("#recpartdkjfh").html(0);
		$("#recpartzf").hide();
		$("#recpart_btn").show();
	}else{
		$("#recpartdkjfh").html(dkjfh);
		$("#recpartzf").show();
		$("#recpart_btn").hide();
	}	
 }

//紧急职位自定义天数
function checkU(){
	var online = '{yun:}$config.com_integral_online{/yun}';
	var pro = '{yun:}$config.integral_proportion{/yun}';

	var u=$("#myu").val();
	var cdays=$("#cudays").val();
	var need=accMul(u,cdays);
	
	if(online==3){
		var need = accMul(need, pro);
	}

	$("#uneed").html(need);
	var all=$("#uall").html();
	if (all<need){
		$("#upay").show();
	}else{
	    $("#upay").hide();
	}
}

//紧急职位积分抵扣填写
function checkUrNum(integral,integral_pro){
	var dkjf = $("#urdkjf").val();
 	if(dkjf){
		$(".urjfdkh_m").show();
	} 
	var need = $("#uneed").text();
	var need_jifen = accMul(need, integral_pro);
  	if(parseInt(integral) >= parseInt(need_jifen)){
		if(parseInt(dkjf) > parseInt(need_jifen)){
			$("#urdkjf").val(need_jifen);
			var dkjfh = accSub(need , accDiv(need_jifen,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
		}	
 	}else{
		if(parseInt(dkjf) > parseInt(integral)){
			$("#urdkjf").val(integral);
			var dkjfh = accSub(need , accDiv(integral,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
 		}
 	}
 	if(dkjfh<=0){
		$("#urdkjfh").html(0);
		$("#urzf").hide();
		$("#ur_btn").show();
	}else{
		$("#urdkjfh").html(dkjfh);
		$("#urzf").show();
		$("#ur_btn").hide();
	}
}

//自动刷新职位自定义天数
function checkUp(){
	var online = '{yun:}$config.com_integral_online{/yun}';
	var pro = '{yun:}$config.integral_proportion{/yun}';

	var r=$("#myr").val();
	var cdays=$("#crdays").val();
	var num=$("#jobnum").val();
	var need=accMul(r,cdays);
	var needs=accMul(need,num);
	if(online==3){
		var needs = accMul(needs, pro);
	}

	$("#rneed").html(needs);
 	var all=$("#rall").html();
	if (all<need){
		$("#rpay").show();
	}else{
	    $("#rpay").hide();
	}
}

//职位自动刷新积分抵扣填写
function checkNum(integral,integral_pro){
	var dkjf = $("#rdkjf").val();
 	if(dkjf){
		$(".jfdkh_m").show();
	} 
	var need = $("#rneed").text();
	var need_jifen = accMul(need, integral_pro);
	if(parseInt(integral) >= parseInt(need_jifen)){
		if(parseInt(dkjf) > parseInt(need_jifen)){
			$("#rdkjf").val(need_jifen);
			var dkjfh = accSub(need , accDiv(need_jifen,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
		}	
 	}else{
		if(parseInt(dkjf) > parseInt(integral)){
			$("#rdkjf").val(integral);
			var dkjfh = accSub(need , accDiv(integral,integral_pro));
		}else{
			var dkjfh = accSub(need, accDiv(dkjf,integral_pro));
 		}
 	}
  	 
	if(dkjfh<=0){
		$("#dkjfh").html(0);
		$("#zffs").hide();
		$("#auto_btn").show();
	}else{
		$("#dkjfh").html(dkjfh);
		$("#zffs").show();
		$("#auto_btn").hide();
	}
 
}

function dayclean(type){
    $(".job_recom_time_zdy").val('');

	var online = '{yun:}$config.com_integral_online{/yun}';
	var myr = $("#myr").val();
	var myxs= $("#myxs").val();
	var myrec = $("#myrec").val();
	var myu = $("#myu").val();
	var myrecpart = $("#myrecpart").val();

	if(type==rec && myrec!='0' && online!='3'){
		$("#recdkjf").val('');
		$(".recjfdkh_m").hide();
		$("#reczf").show();
		$("#rec_btn").hide();
	}else if(type==urgent && myu!='0' && online!='3'){
		$("#urdkjf").val('');
		$(".urjfdkh_m").hide();
		$("#urzf").show();
		$("#ur_btn").hide();
	}else if(type==top && myxs!='0' && online!='3'){
		$("#xsdkjf").val('');
		$(".xsjfdkh_m").hide();
		$("#xszf").show();
		$("#xs_btn").hide();
	}else if(type==refresh && myr!='0' && online!='3'){
 		$("#rdkjf").val('');
		$(".jfdkh_m").hide();
		$("#zffs").show();
		$("#auto_btn").hide();
	}else if(type==recpart && myrecpart!='0' && online!='3'){
  		$("#recpartdkjf").val('');
		$(".recpartjfdkh_m").hide();
		$("#recpartzf").show();
		$("#recpart_btn").hide();
	}	
}

function radioclean(obj){
    $("input[name='recdays']").attr("checked",false);
	$("input[name='xsdays']").attr("checked",false);
	$("input[name='udays']").attr("checked",false);
	$("input[name='rdays']").attr("checked",false);
	$("input[name='recpartdays']").attr("checked",false);
	if(obj==''){
	    $(".job_recom_list_jobtime_s").html('0');
	}
	$("#rdkjf").val('');
	$(".jfdkh_m").hide();

	$("#xsdkjf").val('');
	$(".xsjfdkh_m").hide();
	
	$("#recdkjf").val('');
	$(".recjfdkh_m").hide();
	
	$("#urdkjf").val('');
	$(".urjfdkh_m").hide();
	
	$("#recpartdkjf").val('');
	$(".recpartjfdkh_m").hide();
}

/**
 * 积分抵扣，全额积分付费
 */
function dkzf(){//自动刷新职位
	var jobautoids = $('#jobautoids').val();
 	var rdays = $("input[name='rdays']:checked").val();
 	var crdays = $('#crdays').val();
 	var rdkjf = $('#rdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);
	var url = "index.php?c=job&act=dkBuy";
	$.post(url,{jobautoids:jobautoids,rdays:rdays,crdays:crdays,rdkjf:rdkjf},function(data){
		if(data){
			layer.closeAll();
			data=eval('('+data+')'); 
			if(data.error==1){
				if(data.url){
					layer.msg(data.msg, 2,8,function(){
						window.location.href=data.url;
					});
				}else{
					layer.msg(data.msg, 2,8);
				}
     			
     		}else if(data.error==0){
     			layer.msg(data.msg, 2,9,function(){
					window.location.href='';
				}); 
    		}
		}
	})
}
function xsdkzf(){//职位置顶
	var jobid = $('#wnameid').val();
 	var xsdays = $("input[name='xsdays']:checked").val();
 	var cxsdays = $('#cxsdays').val();
 	var xsdkjf = $('#xsdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);
	var url = "index.php?c=job&act=dkBuy";
	$.post(url,{zdjobid:jobid,xsdays:xsdays,cxsdays:cxsdays,xsdkjf:xsdkjf},function(data){
		if(data){
			layer.closeAll();
			data=eval('('+data+')'); 
			if(data.error==1){
				if(data.url){
					layer.msg(data.msg, 2,8,function(){
						window.location.href=data.url;
					});
				}else{
					layer.msg(data.msg, 2,8);
				}
     			
     		}else if(data.error==0){
     			layer.msg(data.msg, 2,9,function(){
					window.location.href='';
				}); 
    		}
		}
	})
}
function recdkzf(){//职位推荐
	var jobid = $('#recjobid').val();
 	var recdays = $("input[name='recdays']:checked").val();
 	var crecdays = $('#crecdays').val();
 	var recdkjf = $('#recdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);
	var url = "index.php?c=job&act=dkBuy";
	$.post(url,{recjobid:jobid,recdays:recdays,crecdays:crecdays,recdkjf:recdkjf},function(data){
		if(data){
			layer.closeAll();
			data=eval('('+data+')'); 
			if(data.error==1){
				if(data.url){
					layer.msg(data.msg, 2,8,function(){
						window.location.href=data.url;
					});
				}else{
					layer.msg(data.msg, 2,8);
				}
     			
     		}else if(data.error==0){
     			layer.msg(data.msg, 2,9,function(){
					window.location.href='';
				}); 
    		}
		}
	})
}
function urdkzf(){//紧急招聘
	var jobid = $('#urgentid').val();
 	var udays = $("input[name='udays']:checked").val();
 	var cudays = $('#cudays').val();
 	var urdkjf = $('#urdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);
	var url = "index.php?c=job&act=dkBuy";
	$.post(url,{ujobid:jobid,udays:udays,cudays:cudays,urdkjf:urdkjf},function(data){
		if(data){
			layer.closeAll();
			data=eval('('+data+')'); 
			if(data.error==1){
				if(data.url){
					layer.msg(data.msg, 2,8,function(){
						window.location.href=data.url;
					});
				}else{
					layer.msg(data.msg, 2,8);
				}
     			
     		}else if(data.error==0){
     			layer.msg(data.msg, 2,9,function(){
					window.location.href='';
				}); 
    		}
		}
	})
}
function recpartdkzf(){//兼职推荐
	var jobid = $('#recpartid').val();
 	var recpartdays = $("input[name='recpartdays']:checked").val();
 	var crecpartdays = $('#crecpartdays').val();
 	var recpartdkjf = $('#recpartdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);
	var url = "index.php?c=job&act=dkBuy";
	$.post(url,{recpartid:jobid,recpartdays:recpartdays,crecpartdays:crecpartdays,recpartdkjf:recpartdkjf},function(data){
		if(data){
			layer.closeAll();
			data=eval('('+data+')'); 
			if(data.error==1){
				if(data.url){
					layer.msg(data.msg, 2,8,function(){
						window.location.href=data.url;
					});
				}else{
					layer.msg(data.msg, 2,8);
				}
     			
     		}else if(data.error==0){
     			layer.msg(data.msg, 2,9,function(){
					window.location.href='';
				}); 
    		}
		}
	})
}
 
function buyAutoJobOrder(pay_type){ 
 	$('#pay_type').val(pay_type);
 	var jobautoids = $('#jobautoids').val();
 	var rdays = $("input[name='rdays']:checked").val();
 	var crdays = $('#crdays').val();
 	var rdkjf = $('#rdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);
 	
 	$.ajax({
  		async: false,   
        type: 'POST',  
        global:false,
        url: "index.php?c=job&act=buyJob",  
        data: {jobautoids:jobautoids,rdays:rdays,crdays:crdays,rdkjf:rdkjf},  
        success: function(data){  
          layer.close(index);
        	var data=eval('('+data+')'); 
          
        	if(data.error==1){
     			layer.msg(data.msg, 2,8);
     		}else if(data.error==0){
     			$('#order_auto_id').val(data.orderid);
    			$('#orderid').val(data.id);
    			//提交表单
    			$('#payform_auto').submit();
    		}
        }  
  	});
}

function zdJobOrder(pay_type){//职位置顶
 	$('#pay_type').val(pay_type);
 	var jobid = $('#wnameid').val();
 	var xsdays = $("input[name='xsdays']:checked").val();
 	var cxsdays = $('#cxsdays').val();
	var xsdkjf = $('#xsdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);

 	$.ajax({
  		async: false, 
        type: 'POST',  
        global:false,
        url: "index.php?c=job&act=buyJob",  
        data: {zdjobid:jobid,xsdays:xsdays,cxsdays:cxsdays,xsdkjf:xsdkjf},  
        success: function(data){  
          layer.close(index);
        	var data=eval('('+data+')'); 
          
        	if(data.error==1){
     			layer.msg(data.msg, 2,8);
     		}else if(data.error==0){
     			$('#order_zd_id').val(data.orderid);
    			$('#orderid').val(data.id);
    			//提交表单
    			$('#payform_zd').submit();
    		}
        }  
  	});
}

function recJobOrder(pay_type){//推荐职位
 	$('#pay_type').val(pay_type);
 	var jobid = $('#recjobid').val();
 	var recdays = $("input[name='recdays']:checked").val();
 	var crecdays = $('#crecdays').val();
	var recdkjf = $('#recdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);

 	$.ajax({
  		async: false, 
        type: 'POST',  
        global:false,
        url: "index.php?c=job&act=buyJob",  
        data: {recjobid:jobid,recdays:recdays,crecdays:crecdays,recdkjf:recdkjf},  
        success: function(data){  
          layer.close(index);
        	var data=eval('('+data+')'); 
          
        	if(data.error==1){
     			layer.msg(data.msg, 2,8);
     		}else if(data.error==0){
     			$('#order_rec_id').val(data.orderid);
    			$('#orderid').val(data.id);
    			//提交表单
    			$('#payform_rec').submit();
    		}
        }  
  	});
}

function urgentJobOrder(pay_type){//紧急招聘
 	$('#pay_type').val(pay_type);
 	var jobid = $('#urgentid').val();
 	var udays = $("input[name='udays']:checked").val();
 	var cudays = $('#cudays').val();
	var urdkjf = $('#urdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);

 	$.ajax({
  		async: false, 
        type: 'POST',  
        global:false,
        url: "index.php?c=job&act=buyJob",  
        data: {ujobid:jobid,udays:udays,cudays:cudays,urdkjf:urdkjf},  
        success: function(data){  
          layer.close(index);
        	var data=eval('('+data+')'); 
          
        	if(data.error==1){
     			layer.msg(data.msg, 2,8);
     		}else if(data.error==0){
     			$('#order_urgent_id').val(data.orderid);
    			$('#orderid').val(data.id);
    			//提交表单
    			$('#payform_urgent').submit();
    		}
        }  
  	});
}

function recPartOrder(pay_type){//推荐兼职
 	$('#pay_type').val(pay_type);
 	var jobid = $('#recpartid').val();
 	var recdays = $("input[name='recpartdays']:checked").val();
 	var crecdays = $('#crecpartdays').val();
	var recdkjf = $('#recpartdkjf').val();
 	var index = layer.load('执行中，请稍候...',0);

 	$.ajax({
  		async: false, 
        type: 'POST',  
        global:false,
        url: "index.php?c=job&act=buyJob",  
        data: {recpartid:jobid,recdays:recdays,crecdays:crecdays,recdkjf:recdkjf},  
        success: function(data){  
          layer.close(index);
        	var data=eval('('+data+')'); 
          
        	if(data.error==1){
     			layer.msg(data.msg, 2,8);
     		}else if(data.error==0){
     			$('#order_recpart_id').val(data.orderid);
    			$('#orderid').val(data.id);
    			//提交表单
    			$('#payform_recpart').submit();
    		}
        }  
  	});
}

function wxorderstatus(orderid) { 
	$.post('index.php?c=payment&act=wxpaystatus',{orderid:orderid},function(data){
		if(data==1){
			window.location.href='';
		}
	});
}

function pay_forms(){
	var pay_type=$("#pay_type").val();
	if(pay_type==''){
		layer.msg('请选择支付方式！', 2,8);
	}else if(pay_type == 'wxpay'){ 
		var orderId = $("#orderid").val();
		$.post('index.php?c=payment&act=wxurl',{orderId:orderId},function(data){
			$('.wx_payment_ewm').html(data);
			$.layer({
				type : 1,
				title :'微信扫码支付', 
				closeBtn : [0 , true],
				border : [10 , 0.3 , '#000', true],
				area : ['320px','400px'],
				page : {dom :"#wxpayTx"}
			});
			setInterval("wxorderstatus("+orderId+")", 3000); 
		})
		return false;  
	} else{
		$.layer({
			type : 1,
			title :'提示',
			closeBtn : [0 , true],
			border : [10 , 0.3 , '#000', true],
			area : ['450px','280px'],
			page : {dom :"#payshow"}
		});
	}
}
function rePay(){
	var orderId = $("#orderid").val();
	location.href="index.php?c=payment&id="+orderId;
}
</script>

 
<div class="job_tck_box" id="jobautobuys" style="display:none;">
	<div class="job_recom_box">
		<div class="job_recom_list">
			<span class="job_recom_s job_recom_s_mt">自动刷新：</span>
			<div class="job_recom_list_jobtime">
				<label><span class="job_recom_time"><input type="radio" name="rdays" value="1" onclick="dayclean(refresh)" checked="checked">1天</span></label> 
				<label><span class="job_recom_time"><input type="radio" name="rdays" value="3" onclick="dayclean(refresh)">3天</span> </label> 
				<label><span class="job_recom_time"><input type="radio" name="rdays" value="7" onclick="dayclean(refresh)">7天</span> </label> 
				<label><span class="job_recom_time"><input type="radio" name="rdays" value="15" onclick="dayclean(refresh)">15天</span></label>  
				<label><span class="job_recom_time"><input type="radio" name="rdays" value="30" onclick="dayclean(refresh)">30天</span></label>  
				<input type="text" value="" class="job_recom_time_zdy" id="crdays" name="crdays" maxlength="3" onclick="radioclean(this.value)" onkeyup="checkUp();" oninput="myFunction(this)" placeholder="自定义"><span class="job_recom_time_zdy_t">天</span>
				<input type="hidden" name="jobautoids" id="jobautoids"/>
				<input type="hidden" name="jobnum" id="jobnum"/>
				<input type="hidden" id="myr" value="{yun:}$config.job_auto{/yun}"/>
			</div>
 		</div>
		<div class="job_recom_list">
			{yun:}if $config.com_integral_online==3{/yun}
			<span class="job_recom_s">账户{yun:}$config.integral_pricename{/yun}：</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					<span class="job_recom_list_jobtime_s">{yun:}$statis.integral{/yun} </span>{yun:}$config.integral_pricename{/yun}
					（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
					<a href="index.php?c=pay&type=integral" class="comindex_money_pd_a cblue">充值</a>
 				</div>
			</div>
			{yun:}/if{/yun}
			<span class="job_recom_s">所需{yun:}if $config.com_integral_online==3{/yun}{yun:}$config.integral_pricename{/yun}：{yun:}else{/yun}金额：{yun:}/if{/yun}</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					{yun:}if $config.com_integral_online==3{/yun}
						<span id="rneed" class="job_recom_list_jobtime_s">{yun:}$config.integral_proportion * $config.job_auto{/yun} </span>{yun:}$config.integral_pricename{/yun}
					{yun:}else{/yun}
						<span id="rneed" class="job_recom_list_jobtime_s">{yun:}$config.job_auto{/yun}</span>元
					{yun:}/if{/yun}
 				</div>
			</div>
		</div>

		<!-- 可用积分抵扣 -->
		{yun:}if $config.com_integral_online==1{/yun}
		<div class="job_recom_list">
			<span class="job_recom_s">抵扣{yun:}$config.integral_pricename{/yun}：</span>
			<input type="text" value="" id="rdkjf" name="rdkjf" onkeyup="checkNum('{yun:}$statis.integral{/yun}','{yun:}$config.integral_proportion{/yun}');" oninput="myFunction(this)" class="com_jf_text">账户{yun:}$config.integral_pricename{/yun}{yun:}$statis.integral{/yun}（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
		</div>
		{yun:}/if{/yun}
		<div class="job_recom_list jfdkh_m" style="display:none">
			<span class="job_recom_s">抵扣后金额：</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					<span id="dkjfh" class="job_recom_list_jobtime_s"></span>元
				</div>
			</div>
		</div>

		<div class="job_recom_list" id="rdiv" style="display:none">
			<span class="job_recom_s">到期时间：</span>
			<div class="job_recom_list_jobtime">
				<span id="rtime" class="job_recom_list_tip_s"></span>
			</div>
		</div>
		<div id="zffs" {yun:}if $config.job_auto==0 || $config.com_integral_online==3{/yun}style="display:none"{yun:}/if{/yun}>
			<form name="alipayment"  id="payform_auto" action="../api/alipay/alipayto.php" method="post" target="_blank" onsubmit="return pay_forms();">
				<div class="job_redpack_list">
					{yun:}if $config.alipay=='1' || $config.wxpay=='1' {/yun}
						<div class="job_redpack_list_name">支付方式：</div>
						{yun:}if $config.wxpay=='1' {/yun}
							<div class="job_redpack_pay">
								<a href="javascript:;" onclick="buyAutoJobOrder('wxpay');">
									<div class="job_redpack_pay_bor"><img src="{yun:}$com_style{/yun}/images/wx_pay.png"></div> 微信支付
								</a>
							</div> 
						{yun:}/if{/yun}
						{yun:}if $config.alipay=='1'{/yun}
							<div class="job_redpack_pay">
								<a href="javascript:;" onclick="buyAutoJobOrder('alipay');">
									<div class="job_redpack_pay_bor job_redpack_pay_bor_pd"><img src="{yun:}$com_style{/yun}/images/ap_pay.png"></div>支付宝支付
								</a>
							</div>
						{yun:}/if{/yun}
					{yun:}else{/yun}
						<div class="con_banner_no" style="width:300px;"><span></span><em>网站已关闭支付接口，请联系管理员</em></div>
					{yun:}/if{/yun}
					<input type="hidden" value="" id="pay_type" name="pay_type"/>
					<input type="hidden" name="dingdan" id="order_auto_id" value=""/>
					<input type="hidden" value="自动刷新金额"  name="subject"/>
					<input type="hidden" name="pay_bank" value="directPay">
				</div>
			</form>
		</div>
		<div id="auto_btn" {yun:}if $config.job_auto!=0 && $config.com_integral_online!=3{/yun}style="display:none"{yun:}/if{/yun} class="job_tck_bth_pd">
			<input type='button' name='rzf' value='确认支付' onClick="dkzf();" class='job_redpack_list_c_bth'>
		</div>
	</div>
</div>

<!--置顶职位弹出框-->
<div id="wname"  style="display:none; ">
	<div class="job_recom_box">
		<div class="job_recom_box_js">  
			<div class="job_recom_list">
				<span class="job_recom_s job_recom_s_mt">置顶时长：</span>
				<div class="job_recom_list_jobtime">
					<label><span class="job_recom_time"><input type="radio" name="xsdays" value="1" onclick="dayclean(top)" checked="checked"/>1天</span></label> 
					<label><span class="job_recom_time"><input type="radio" name="xsdays" value="3" onclick="dayclean(top)"/>3天</span> </label> 
					<label><span class="job_recom_time"><input type="radio" name="xsdays" value="7" onclick="dayclean(top)"/>7天</span> </label> 
					<label><span class="job_recom_time"><input type="radio" name="xsdays" value="15" onclick="dayclean(top)"/>15天</span></label>  
					<label><span class="job_recom_time"><input type="radio" name="xsdays" value="30" onclick="dayclean(top)"/>30天</span></label>  
					<input type="text" value="" class="job_recom_time_zdy" id="cxsdays" name="cxsdays" maxlength="3" onclick="radioclean(this.value)" onkeyup="checkXs();" oninput="myFunction(this)" placeholder="自定义"/><span class="job_recom_time_zdy_t">天</span>
					<input type="hidden" name="wnameid" id="wnameid" value=""/>
					<input type="hidden" id="myxs" value="{yun:}$config.integral_job_top{/yun}"/>
				</div>
			</div>
			<div class="job_recom_list">
				{yun:}if $config.com_integral_online==3{/yun}
				<span class="job_recom_s">账户{yun:}$config.integral_pricename{/yun}：</span>
				<div class="job_recom_list_jobtime">
					<div class="job_recom_list_jobtime_money">
						<span class="job_recom_list_jobtime_s">{yun:}$statis.integral{/yun} </span>{yun:}$config.integral_pricename{/yun}
						（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
						<a href="index.php?c=pay&type=integral" class="comindex_money_pd_a cblue">充值</a>
					</div>
				</div>
				{yun:}/if{/yun}
				<span class="job_recom_s">所需{yun:}if $config.com_integral_online==3{/yun}{yun:}$config.integral_pricename{/yun}：{yun:}else{/yun}金额：{yun:}/if{/yun}</span>
				<div class="job_recom_list_jobtime">
					<div class="job_recom_list_jobtime_money">
						{yun:}if $config.com_integral_online==3{/yun}
							<span id="xsneed" class="job_recom_list_jobtime_s">{yun:}$config.integral_proportion * $config.integral_job_top{/yun} </span>{yun:}$config.integral_pricename{/yun}
						{yun:}else{/yun}
							<span id="xsneed" class="job_recom_list_jobtime_s">{yun:}$config.integral_job_top{/yun}</span>元
						{yun:}/if{/yun}
 					</div>
				</div>
			</div>

			<!-- 可用积分抵扣 -->
			{yun:}if $config.com_integral_online==1{/yun}
			<div class="job_recom_list">
				<span class="job_recom_s">抵扣{yun:}$config.integral_pricename{/yun}：</span>
				<input type="text" value="" id="xsdkjf" name="xsdkjf" onkeyup="checkXsNum('{yun:}$statis.integral{/yun}','{yun:}$config.integral_proportion{/yun}');" oninput="myFunction(this)" class="com_jf_text">账户{yun:}$config.integral_pricename{/yun}{yun:}$statis.integral{/yun}（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
			</div>
			{yun:}/if{/yun}
			<div class="job_recom_list xsjfdkh_m" style="display:none">
				<span class="job_recom_s">抵扣后金额：</span>
				<div class="job_recom_list_jobtime">
					<div class="job_recom_list_jobtime_money">
						<span id="xsdkjfh" class="job_recom_list_jobtime_s"></span>元
					</div>
				</div>
			</div>

			<div class="job_recom_list" id="xsdiv" style="display:none">
				<span class="job_recom_s">到期时间：</span>
				<div class="job_recom_list_jobtime"><span id="xstime" class="job_recom_list_tip_s"></span></div>
			</div>
			<div id="xszf" {yun:}if $config.integral_job_top==0 || $config.com_integral_online==3{/yun}style="display:none"{yun:}/if{/yun}>
				<form name="alipayment"  id="payform_zd" action="../api/alipay/alipayto.php" method="post" target="_blank" onsubmit="return pay_forms();">
					<div class="job_redpack_list" >
						{yun:}if $config.alipay=='1' || $config.wxpay=='1' {/yun}
						<div class="job_redpack_list_name">支付方式：</div>
						{yun:}if $config.wxpay=='1' {/yun}
						<div class="job_redpack_pay">
							<a href="javascript:;" onclick="zdJobOrder('wxpay');"><div class="job_redpack_pay_bor"><img src="{yun:}$com_style{/yun}/images/wx_pay.png"></div> 微信支付</a>
						</div> 
						{yun:}/if{/yun}
						{yun:}if $config.alipay=='1'{/yun}
						<div class="job_redpack_pay">
							<a href="javascript:;" onclick="zdJobOrder('alipay');"><div class="job_redpack_pay_bor job_redpack_pay_bor_pd"><img src="{yun:}$com_style{/yun}/images/ap_pay.png"></div>支付宝支付</a>
						</div>
						{yun:}/if{/yun}
						{yun:}else{/yun}
						<div class="con_banner_no" style="width:300px;"><span></span><em>网站已关闭支付接口，请联系管理员</em></div>
						{yun:}/if{/yun}
						<input type="hidden" value="" id="pay_type" name="pay_type"/>
						<input type="hidden" name="dingdan" id="order_zd_id" value=""/>
						<input type="hidden" value="置顶服务金额"  name="subject"/>
						<input type="hidden" name="pay_bank" value="directPay">
					</div>
				</form>
			</div>
			<div id="xs_btn" {yun:}if $config.integral_job_top!=0 && $config.com_integral_online!=3{/yun}style="display:none"{yun:}/if{/yun} class="job_tck_bth_pd">
				<input type='button' name='xszf' value='确认支付' onClick="xsdkzf();" class='job_redpack_list_c_bth'>
			</div>
		</div>
	</div>
</div>

<!--推荐职位弹出框-->
<div id="recom"  style="display:none; width:480px; ">
	<div class="job_recom_box">
		<div class="job_recom_list">
			<span class="job_recom_s job_recom_s_mt">推荐时长：</span>
			<div class="job_recom_list_jobtime">
				<label><span class="job_recom_time"><input type="radio" name="recdays" value="1" onclick="dayclean(rec)" checked="checked">1天</span></label> 
				<label><span class="job_recom_time"><input type="radio" name="recdays" value="3" onclick="dayclean(rec)">3天</span> </label> 
				<label><span class="job_recom_time"><input type="radio" name="recdays" value="7" onclick="dayclean(rec)">7天</span> </label> 
				<label><span class="job_recom_time"><input type="radio" name="recdays" value="15" onclick="dayclean(rec)">15天</span></label>  
				<label><span class="job_recom_time"><input type="radio" name="recdays" value="30" onclick="dayclean(rec)">30天</span></label>  
				<input type="text" value="" class="job_recom_time_zdy" id="crecdays" name="crecdays" maxlength="3" onclick="radioclean(this.value)" onkeyup="checkRec();" oninput="myFunction(this)" placeholder="自定义"/>
				<span class="job_recom_time_zdy_t">天</span>
				<input type="hidden" name="recjobid" id="recjobid" value=""/>
				<input type="hidden" id="myrec" value="{yun:}$config.com_recjob{/yun}"/>
			</div>
		</div>
		<div class="job_recom_list">
			{yun:}if $config.com_integral_online==3{/yun}
			<span class="job_recom_s">账户{yun:}$config.integral_pricename{/yun}：</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					<span class="job_recom_list_jobtime_s">{yun:}$statis.integral{/yun} </span>{yun:}$config.integral_pricename{/yun}
					<a href="index.php?c=pay&type=integral" class="comindex_money_pd_a cblue">充值</a>
 				</div>
			</div>
			{yun:}/if{/yun}
			<span class="job_recom_s">所需{yun:}if $config.com_integral_online==3{/yun}{yun:}$config.integral_pricename{/yun}：{yun:}else{/yun}金额：{yun:}/if{/yun}</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					{yun:}if $config.com_integral_online==3{/yun}
						<span id="recneed" class="job_recom_list_jobtime_s">{yun:}$config.integral_proportion * $config.com_recjob{/yun} </span>{yun:}$config.integral_pricename{/yun}
					{yun:}else{/yun}
						<span id="recneed" class="job_recom_list_jobtime_s">{yun:}$config.com_recjob{/yun}</span>元
					{yun:}/if{/yun}
 				</div>
			</div>
		</div>

		<!-- 可用积分抵扣 -->
		{yun:}if $config.com_integral_online==1{/yun}
			<div class="job_recom_list">
				<span class="job_recom_s">抵扣{yun:}$config.integral_pricename{/yun}：</span>
				<input type="text" value="" id="recdkjf" name="recdkjf" onkeyup="checkRecNum('{yun:}$statis.integral{/yun}','{yun:}$config.integral_proportion{/yun}');" oninput="myFunction(this)" class="com_jf_text">账户{yun:}$config.integral_pricename{/yun}{yun:}$statis.integral{/yun}（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
			</div>
		{yun:}/if{/yun}
		<div class="job_recom_list recjfdkh_m" style="display:none">
			<span class="job_recom_s">抵扣后金额：</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					<span id="recdkjfh" class="job_recom_list_jobtime_s"></span>元
				</div>
			</div>
		</div>

		<div class="job_recom_list" id="recdiv" style="display:none">
			<span class="job_recom_s">到期时间：</span>
			<div class="job_recom_list_jobtime"><span id="rectime" class="job_recom_list_tip_s"></span></div>
		</div>
		
		<div id="reczf" {yun:}if $config.com_recjob==0 || $config.com_integral_online==3{/yun}style="display:none"{yun:}/if{/yun}>
			<form name="alipayment"  id="payform_rec" action="../api/alipay/alipayto.php" method="post" target="_blank" onsubmit="return pay_forms();">
				<div class="job_redpack_list">
					{yun:}if $config.alipay=='1' || $config.wxpay=='1' {/yun}
					<div class="job_redpack_list_name">支付方式：</div>
					{yun:}if $config.wxpay=='1' {/yun}
					<div class="job_redpack_pay">
						<a href="javascript:;" onclick="recJobOrder('wxpay');"><div class="job_redpack_pay_bor"><img src="{yun:}$com_style{/yun}/images/wx_pay.png"></div> 微信支付</a>
					</div> 
					{yun:}/if{/yun}
					{yun:}if $config.alipay=='1'{/yun}
				 	<div class="job_redpack_pay">
						<a href="javascript:;" onclick="recJobOrder('alipay');"><div class="job_redpack_pay_bor job_redpack_pay_bor_pd"><img src="{yun:}$com_style{/yun}/images/ap_pay.png"></div>支付宝支付</a>
					</div>
					{yun:}/if{/yun}
					{yun:}else{/yun}
					<div class="con_banner_no" style="width:300px;"><span></span><em>网站已关闭支付接口，请联系管理员</em></div>
					{yun:}/if{/yun}
					<input type="hidden" value="" id="pay_type" name="pay_type"/>
					<input type="hidden" name="dingdan" id="order_rec_id" value=""/>
					<input type="hidden" value="职位推荐金额"  name="subject"/>
					<input type="hidden" name="pay_bank" value="directPay">
				</div>
 			</form>
		</div>
		<div id="rec_btn" {yun:}if $config.com_recjob!=0 && $config.com_integral_online!=3{/yun}style="display:none"{yun:}/if{/yun} class="job_tck_bth_pd">
			<input type='button' name='reczf' value='确认支付' onClick="recdkzf();" class='job_redpack_list_c_bth'>
		</div>
	</div>
</div>
 
<!--紧急招聘弹出框-->
<div id="urgent"  style="display:none; ">
	<div class="job_recom_box">
		<div class="job_recom_list">
			<span class="job_recom_s job_recom_s_mt">紧急天数：</span>
			<div class="job_recom_list_jobtime">
				<label><span class="job_recom_time"><input type="radio" name="udays" value="1" onclick="dayclean(urgent)" checked="checked">1天</span></label> 
				<label><span class="job_recom_time"><input type="radio" name="udays" value="3" onclick="dayclean(urgent)">3天</span> </label> 
				<label><span class="job_recom_time"><input type="radio" name="udays" value="7" onclick="dayclean(urgent)">7天</span> </label> 
				<label><span class="job_recom_time"><input type="radio" name="udays" value="15" onclick="dayclean(urgent)">15天</span></label>  
				<label><span class="job_recom_time"><input type="radio" name="udays" value="30" onclick="dayclean(urgent)">30天</span></label>  
				<input type="text" value="" class="job_recom_time_zdy" id="cudays" name="cudays" maxlength="3" onclick="radioclean(this.value)" onkeyup="checkU();" oninput="myFunction(this)" placeholder="自定义"><span class="job_recom_time_zdy_t">天</span>
				<input type="hidden" name="urgentid" id="urgentid" value=""/>
				<input type="hidden" id="myu" value="{yun:}$config.com_urgent{/yun}"/>
			</div>
		</div>
		<div class="job_recom_list">
			{yun:}if $config.com_integral_online==3{/yun}
			<span class="job_recom_s">账户{yun:}$config.integral_pricename{/yun}：</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					<span class="job_recom_list_jobtime_s">{yun:}$statis.integral{/yun} </span>{yun:}$config.integral_pricename{/yun}
					（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
					<a href="index.php?c=pay&type=integral" class="comindex_money_pd_a cblue">充值</a>
 				</div>
			</div>
			{yun:}/if{/yun}
			<span class="job_recom_s">所需{yun:}if $config.com_integral_online==3{/yun}{yun:}$config.integral_pricename{/yun}：{yun:}else{/yun}金额：{yun:}/if{/yun}</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					{yun:}if $config.com_integral_online==3{/yun}
						<span id="uneed" class="job_recom_list_jobtime_s">{yun:}$config.integral_proportion * $config.com_urgent{/yun} </span>{yun:}$config.integral_pricename{/yun}
					{yun:}else{/yun}
						<span id="uneed" class="job_recom_list_jobtime_s">{yun:}$config.com_urgent{/yun}</span>元
					{yun:}/if{/yun}
 				</div>
			</div>
		</div>

		<!-- 可用积分抵扣 -->
		{yun:}if $config.com_integral_online==1{/yun}
			<div class="job_recom_list">
				<span class="job_recom_s">抵扣{yun:}$config.integral_pricename{/yun}：</span>
				<input type="text" value="" id="urdkjf" name="urdkjf" onkeyup="checkUrNum('{yun:}$statis.integral{/yun}','{yun:}$config.integral_proportion{/yun}');" oninput="myFunction(this)" class="com_jf_text">账户{yun:}$config.integral_pricename{/yun}{yun:}$statis.integral{/yun}（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
			</div>
		{yun:}/if{/yun}
		<div class="job_recom_list urjfdkh_m" style="display:none">
			<span class="job_recom_s">抵扣后金额：</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					<span id="urdkjfh" class="job_recom_list_jobtime_s"></span>元
				</div>
			</div>
		</div>

		<div class="job_recom_list" id="udiv" style="display:none">
			<span class="job_recom_s">到期时间：</span>
			<div class="job_recom_list_jobtime"><span id="utime" class="job_recom_list_tip_s"></span></div>
		</div>
		<div id="urzf" {yun:}if $config.com_urgent==0 || $config.com_integral_online==3{/yun}style="display:none"{yun:}/if{/yun}>
			<form name="alipayment"  id="payform_urgent" action="../api/alipay/alipayto.php" method="post" target="_blank" onsubmit="return pay_forms();">
				<div class="job_redpack_list">
					{yun:}if $config.alipay=='1' || $config.wxpay=='1' {/yun}
					<div class="job_redpack_list_name">支付方式：</div>
					{yun:}if $config.wxpay=='1' {/yun}
					<div class="job_redpack_pay">
						<a href="javascript:;" onclick="urgentJobOrder('wxpay');"><div class="job_redpack_pay_bor"><img src="{yun:}$com_style{/yun}/images/wx_pay.png"></div> 微信支付</a>
					</div> 
					{yun:}/if{/yun}
					{yun:}if $config.alipay=='1'{/yun}
					<div class="job_redpack_pay">
						<a href="javascript:;" onclick="urgentJobOrder('alipay');"><div class="job_redpack_pay_bor job_redpack_pay_bor_pd"><img src="{yun:}$com_style{/yun}/images/ap_pay.png"></div>支付宝支付</a>
					</div>
					{yun:}/if{/yun}
					{yun:}else{/yun}
					<div class="con_banner_no" style="width:300px;"><span></span><em>网站已关闭支付接口，请联系管理员</em></div>
					{yun:}/if{/yun}
					<input type="hidden" value="" id="pay_type" name="pay_type"/>
					<input type="hidden" name="dingdan" id="order_urgent_id" value=""/>
					<input type="hidden" value="紧急招聘金额"  name="subject"/>
					<input type="hidden" name="pay_bank" value="directPay">
				</div>
			</form>
		</div>
		<div id="ur_btn" {yun:}if $config.com_urgent!=0 && $config.com_integral_online!=3{/yun}style="display:none"{yun:}/if{/yun} class="job_tck_bth_pd">
			<input type='button' name='urzf' value='确认支付' onClick="urdkzf();" class='job_redpack_list_c_bth'>
		</div>
	</div>
</div>

<!--推荐兼职弹出框-->
<div id="recpart"  style="display:none;">
	<div class="job_recom_box">
		<div class="job_recom_list">
			<span class="job_recom_s job_recom_s_mt">推荐时长：</span>
			<div class="job_recom_list_jobtime">
				<label><span class="job_recom_time"><input type="radio" name="recpartdays" value="1" onclick="dayclean(recpart)" checked="checked">1天</span></label> 
				<label><span class="job_recom_time"><input type="radio" name="recpartdays" value="3" onclick="dayclean(recpart)">3天</span> </label> 
				<label><span class="job_recom_time"><input type="radio" name="recpartdays" value="7" onclick="dayclean(recpart)">7天</span> </label> 
				<label><span class="job_recom_time"><input type="radio" name="recpartdays" value="15" onclick="dayclean(recpart)">15天</span></label>  
				<label><span class="job_recom_time"><input type="radio" name="recpartdays" value="30" onclick="dayclean(recpart)">30天</span></label>  
				<input type="text" value="" class="job_recom_time_zdy" id="crecpartdays" name="crecpartdays" onclick="radioclean(this.value)" onkeyup="checkRecPart();" oninput="myFunction(this)" placeholder="自定义"/><span class="job_recom_time_zdy_t">天</span>
				<input type="hidden" name="recpartid" id="recpartid" value=""/>
				<input type="hidden" id="myrecpart" value="{yun:}$config.com_recpartjob{/yun}"/>
			</div>
		</div>
		<div class="job_recom_list">
			{yun:}if $config.com_integral_online==3{/yun}
			<span class="job_recom_s">账户{yun:}$config.integral_pricename{/yun}：</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					<span class="job_recom_list_jobtime_s">{yun:}$statis.integral{/yun} </span>{yun:}$config.integral_pricename{/yun}
					（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
					<a href="index.php?c=pay&type=integral" class="comindex_money_pd_a cblue">充值</a>
 				</div>
			</div>
			{yun:}/if{/yun}
			<span class="job_recom_s">所需{yun:}if $config.com_integral_online==3{/yun}{yun:}$config.integral_pricename{/yun}：{yun:}else{/yun}金额：{yun:}/if{/yun}</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					{yun:}if $config.com_integral_online==3{/yun}
						<span id="recpartneed" class="job_recom_list_jobtime_s">{yun:}$config.integral_proportion * $config.com_recpartjob{/yun} </span>{yun:}$config.integral_pricename{/yun}
					{yun:}else{/yun}
						<span id="recpartneed" class="job_recom_list_jobtime_s">{yun:}$config.com_recpartjob{/yun}</span>元
					{yun:}/if{/yun}
 				</div>
			</div>
		</div>

		<!-- 可用积分抵扣 -->
		{yun:}if $config.com_integral_online==1{/yun}
			<div class="job_recom_list">
				<span class="job_recom_s">抵扣{yun:}$config.integral_pricename{/yun}：</span>
				<input type="text" value="" id="recpartdkjf" name="recpartdkjf" onkeyup="checkRecPartNum('{yun:}$statis.integral{/yun}','{yun:}$config.integral_proportion{/yun}');" oninput="myFunction(this)" class="com_jf_text">账户{yun:}$config.integral_pricename{/yun}{yun:}$statis.integral{/yun}（1元 = {yun:}$config.integral_proportion{/yun}{yun:}$config.integral_pricename{/yun}）
			</div>
		{yun:}/if{/yun}
		<div class="job_recom_list recpartjfdkh_m" style="display:none">
			<span class="job_recom_s">抵扣后金额：</span>
			<div class="job_recom_list_jobtime">
				<div class="job_recom_list_jobtime_money">
					<span id="recpartdkjfh" class="job_recom_list_jobtime_s"></span>元
				</div>
			</div>
		</div>

		<div class="job_recom_list" id="recpartdiv" style="display:none">
			<span class="job_recom_s">到期时间：</span>
			<div class="job_recom_list_jobtime"><span id="recparttime" class="job_recom_list_tip_s"></span></div>
		</div>
		
		<div id="recpartzf" {yun:}if $config.com_recpartjob==0 || $config.com_integral_online==3{/yun}style="display:none"{yun:}/if{/yun}>
			<form name="alipayment"  id="payform_recpart" action="../api/alipay/alipayto.php" method="post" target="_blank" onsubmit="return pay_forms();">
				<div class="job_redpack_list">
					{yun:}if $config.alipay=='1' || $config.wxpay=='1' {/yun}
					<div class="job_redpack_list_name">支付方式：</div>
					{yun:}if $config.wxpay=='1' {/yun}
					<div class="job_redpack_pay">
						<a href="javascript:;" onclick="recPartOrder('wxpay');"><div class="job_redpack_pay_bor"><img src="{yun:}$com_style{/yun}/images/wx_pay.png"></div> 微信支付</a>
					</div> 
					{yun:}/if{/yun}
					{yun:}if $config.alipay=='1'{/yun}
				 	<div class="job_redpack_pay">
						<a href="javascript:;" onclick="recPartOrder('alipay');"><div class="job_redpack_pay_bor job_redpack_pay_bor_pd"><img src="{yun:}$com_style{/yun}/images/ap_pay.png"></div>支付宝支付</a>
					</div>
					{yun:}/if{/yun}
					{yun:}else{/yun}
					<div class="con_banner_no" style="width:300px;"><span></span><em>网站已关闭支付接口，请联系管理员</em></div>
					{yun:}/if{/yun}
					<input type="hidden" value="" id="pay_type" name="pay_type"/>
					<input type="hidden" name="dingdan" id="order_recpart_id" value=""/>
					<input type="hidden" value="兼职推荐金额"  name="subject"/>
					<input type="hidden" name="pay_bank" value="directPay">
				</div>
 			</form>
		</div>
		<div id="recpart_btn"  {yun:}if $config.com_recpartjob!=0 && $config.com_integral_online!=3{/yun}style="display:none"{yun:}/if{/yun} class="job_tck_bth_pd">
			<input type='button' name='recpartzf' value='确认支付' onClick="recpartdkzf();" class='job_redpack_list_c_bth'>
		</div>
	</div>
</div>

<input type="hidden" name="orderid" id="orderid" value=""/>
  
<!-- 微信tck -->
<div id="wxpayTx"  style="display:none;">
	<div class="wx_payment">
		<div class="wx_payment_cont"><div class="wx_payment_ewm">正在加载微信二维码,请稍候....</div> </div><div class="wx_payment_h2">二维码有效时长为2小时，请尽快支付</div>
		
		<div class="wx_payment_tip">
			<div class="wx_payment_tip_left">
				<i class="wx_payment_tip_line1"></i>
				<i class="wx_payment_tip_line2"></i>
				<i class="wx_payment_tip_line3"></i>
			</div> 
			<div class="wx_payment_tip_right">请使用微信扫一扫<br>扫描二维码支付</div>
		</div>
	</div>
</div>  

<!--  支付弹出框 -->
<div id="payshow" style="width:450px; position:absolute;left:0px;top:0px; background:#fff; display:none;">
	<div class="payment_tip">
		请在新打开的支付页面上完成付款，付款完成前请不要关闭此窗口。<br>
		如您在支付过程中遇到问题，请联系客服：<span class="payment_tip_s">{yun:}$config.sy_freewebtel{/yun}</span>
	</div>
	
	<div class="payment_bottom">
		<a href="index.php?c=paylog" class="payment_bottombutt">已完成付款</a>
		<a href="javascript:;" onclick="rePay();" class="payment_bottom_bth2">重新支付</a>
	</div>
</div>

 