<script type='text/javascript' src='{yun:}$config.sy_weburl{/yun}/js/easemob/webim.config.js?v={yun:}$config.cachecode{/yun}'></script>
<script type='text/javascript' src='{yun:}$config.sy_weburl{/yun}/js/easemob/strophe-1.2.8.min.js?v={yun:}$config.cachecode{/yun}'></script>
<script type='text/javascript' src='{yun:}$config.sy_weburl{/yun}/js/easemob/websdk-1.4.13.js?v={yun:}$config.cachecode{/yun}'></script> 
<script type='text/javascript' src='{yun:}$config.sy_weburl{/yun}/js/easemob/chat.js?v={yun:}$config.cachecode{/yun}'></script> 