<div class="sidebar">
	<div class="left_box">
		<div class="left_box_nav">
			
			<ul class="left_box_nav_list">
				<li {yun:}if $smarty.get.c==""{/yun} class="left_box_nav_cur"{yun:}/if{/yun} data-def='1'>
					<a href="{yun:}$config.sy_weburl{/yun}/member/">首页
						<i class="left_box_nav_icon"></i>
						<i class="left_box_nav_line"></i>
					</a>
				</li>
					
				<li {yun:}if $smarty.get.c=="job" or $js_def==3{/yun} class="left_box_nav_cur"{yun:}/if{/yun} data-def='3'>
					<a href="javascript:;">职位
						<i class="left_box_nav_icon left_box_nav_icon_zw"></i>
						<i class="left_box_nav_line"></i>
					</a>
				</li>
				
				<li {yun:}if $smarty.get.c=="hr" or $js_def==5{/yun} class="left_box_nav_cur"{yun:}/if{/yun} data-def='5'>
					<a href="javascript:;">简历
						<i class="left_box_nav_icon left_box_nav_icon_jl"></i>
						<i class="left_box_nav_line"></i>
						{yun:}if $newResumeNum > 0{/yun}
						<i class="left_box_nav_new"></i>
						{yun:}/if{/yun}
					</a>
				</li>
				
				<li {yun:}if $smarty.get.c=="paylogtc" or $js_def==4{/yun} class="left_box_nav_cur"{yun:}/if{/yun} data-def='4'>
					<a href="javascript:;">财务
						<i class="left_box_nav_icon left_box_nav_icon_cw"></i>
						<i class="left_box_nav_line"></i>
					</a>
				</li>
				
				<li {yun:}if $smarty.get.c=="vs" or $js_def==7{/yun} class="left_box_nav_cur"{yun:}/if{/yun} data-def='7'>
					<a href="javascript:;">设置
						<i class="left_box_nav_icon left_box_nav_icon_sz"></i>
						<i class="left_box_nav_line"></i>
					</a>
				</li>
				
				<li {yun:}if $smarty.get.c=="info" or $js_def==2{/yun} class="left_box_nav_cur"{yun:}/if{/yun} data-def='2'>
					<a href="javascript:;">资料
						<i class="left_box_nav_icon left_box_nav_icon_zl"></i>
						<i class="left_box_nav_line"></i>
					</a>
				</li>
			</ul>

		</div>

		
			<ul class="left_nav_ul  {yun:}if $js_def!=1{/yun}none{yun:}/if{/yun}" id='def1'>
				<li><span><a href="index.php?c=info" title="基本信息"><i class="com_left_icon com_left_icon_info"></i>基本信息</a></span></li>
				<li>
					<span><a href="javascript:void(0)"  onclick="jobadd_url('{yun:}$addjobnum{/yun}','{yun:}$config.integral_job{/yun}','','{yun:}$config.com_integral_online{/yun}','{yun:}$config.integral_proportion{/yun}');return false;" title="发布职位" style="color:red;"><i class="com_left_icon com_left_icon_info"></i>发布职位</a></span> 
				</li>
                	<li><span>
						<a href="index.php?c=job&w=1" title="职位管理"><i class="com_left_icon com_left_icon_zwgl"></i>职位管理</a>
					</span></li>
                 <li {yun:}if $smarty.get.c=="right" && $smarty.get.act=="" || $smarty.get.c=="right" && $smarty.get.act=="time" || $smarty.get.c=="right" && $smarty.get.act=="added" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style12" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=right" style="color:red;">
							<i class="com_left_icon com_left_icon_fw"></i>会员服务
							<i class="com_icon com_icon_new"></i>
						</a>
					</span>
				</li>
				<li {yun:}if $smarty.get.c=="hr" || $smarty.get.c=="down" || $smarty.get.c=="talent_pool" || $smarty.get.c=="look_resume" || $smarty.get.c=="record" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style01" {yun:}/if{/yun}>
					<span><a href="index.php?c=hr" title="我的简历"><i class="com_left_icon com_left_icon_jl"></i>我的简历</a></span> 
				</li>
				<li><span><a href="index.php?c=hr" title="简历投递"><i class="com_left_icon com_left_icon_info"></i>简历投递</a></span></li>
                <li {yun:}if $smarty.get.c=="invite"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span><a href="index.php?c=invite" title="已邀请面试的人才" style="color:red;"><i class="com_left_icon com_left_icon_yq"></i>面试邀请</a></span>
				</li>
				<li><span><a href="index.php?c=paylogtc" title="会员套餐"><i class="com_left_icon com_left_icon_info"></i>我的服务</a></span></li>
				
         		<li {yun:}if $smarty.get.c=="tongji" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07"{yun:}/if{/yun}>
					<span><a href="index.php?c=tongji"><i class="com_left_icon com_left_icon_fx"></i>招聘分析</a></span>
				</li>
                <li {yun:}if $smarty.get.c=="pay"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style05" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=pay" title="{yun:}$config.integral_pricename{/yun}充值">
							<font color="#FF0000"><i class="com_left_icon com_left_icon_cz"></i>{yun:}$config.integral_pricename{/yun}充值</font>
						</a>
					</span>
				</li>  
                <li {yun:}if $smarty.get.c=="binding"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span><a href="index.php?c=binding"><i class="com_left_icon com_left_icon_bd"></i>账户绑定</a></span>
				</li>
                <li><span><a href="index.php?c=sysnews" title="网站公告"><i class="com_left_icon com_left_icon_info"></i>系统消息</a></span></li>
			</ul>
		
		
		
			<ul class="left_nav_ul   {yun:}if $js_def!=2{/yun}none{yun:}/if{/yun}" id='def2'>
				<li {yun:}if $smarty.get.c=="info"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style01"{yun:}/if{/yun}>
					<span><a href="index.php?c=info" title="基本信息"><i class="com_left_icon com_left_icon_info"></i>基本信息</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="uppic"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style08" {yun:}/if{/yun}>
					<span><a href="index.php?c=uppic" title="企业LOGO"><i class="com_left_icon com_left_icon_logo"></i>企业Logo</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="map"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style02" {yun:}/if{/yun}>
					<span><a href="index.php?c=map" title="企业地图"><i class="com_left_icon com_left_icon_map"></i>企业地图</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="news"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span><a href="index.php?c=news" title="企业新闻"><i class="com_left_icon com_left_icon_news"></i>企业新闻</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="product"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style04" {yun:}/if{/yun}>
					<span><a href="index.php?c=product" title="企业产品"><i class="com_left_icon com_left_icon_cp"></i>企业产品</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="show"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style05" {yun:}/if{/yun}>
					<span><a href="index.php?c=show" title="企业环境"><i class="com_left_icon com_left_icon_hj"></i>企业环境</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="comtpl"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style09" {yun:}/if{/yun}>
					<span><a href="index.php?c=comtpl" title="模板切换"><i class="com_left_icon com_left_icon_mb"></i>企业模板</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="binding"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span><a href="index.php?c=binding"  style="color:red;"><i class="com_left_icon com_left_icon_bd"></i>账户认证</a></span>
				</li> 
			</ul>
	

		
			<ul class="left_nav_ul  {yun:}if $js_def!=5{/yun}none{yun:}/if{/yun}" id='def5'>
				{yun:}if $config.com_search==1{/yun}
					<li {yun:}if $smarty.get.c=="resume"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06"{yun:}/if{/yun}>
						<span>
							<a href="index.php?c=resume" class="f60">
								<i class="com_left_icon com_left_icon_search"></i>搜人才
								<i class="com_icon com_icon_new"></i>
							</a>
						</span>
					</li>
				{yun:}/if{/yun}
				<li {yun:}if $smarty.get.c=="hr" || $smarty.get.c=="down" || $smarty.get.c=="talent_pool" || $smarty.get.c=="look_resume" || $smarty.get.c=="record" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style01" {yun:}/if{/yun}>
					<span><a href="index.php?c=hr" title="我的简历"><i class="com_left_icon com_left_icon_jl"></i>我的简历</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="invite"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span><a href="index.php?c=invite" title="已邀请面试的人才" style="color:red;"><i class="com_left_icon com_left_icon_yq"></i>面试邀请</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="subscribe"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06" {yun:}/if{/yun}>
					<span><a href="index.php?c=subscribe"><i class="com_left_icon com_left_icon_info"></i>人才订阅</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="finder"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06" {yun:}/if{/yun}>
					<span><a href="index.php?c=finder"><i class="com_left_icon com_left_icon_sq"></i>人才搜索器</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="attention_me"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06" {yun:}/if{/yun}>
					<span><a href="index.php?c=attention_me" ><i class="com_left_icon com_left_icon_gz"></i>关注我的人才</a></span> 
				</li>
				<li {yun:}if $smarty.get.c=="look_job"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style06" {yun:}/if{/yun}>
					<span><a href="index.php?c=look_job"><i class="com_left_icon com_left_icon_eye"></i>被浏览的职位</a></span> 
				</li>
				{yun:}if $config.lt_rec_rebates==1{/yun}
					<li {yun:}if $smarty.get.c=="my_rebates" || $smarty.get.c=="give_rebates" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
						<span><a href="index.php?c=my_rebates" title="猎头悬赏"><i class="com_left_icon com_left_icon_lt"></i>猎头悬赏</a></span>
					</li>
				{yun:}/if{/yun}
				<li class="style09">
					<span>
						<a href="{yun:}url m=ask c=friend a=myquestion uid=$uid{/yun}" target="_blank" title="我的问答">
							<i class="com_left_icon com_left_icon_ask"></i>我的问答
						</a>
					</span> 
				</li>
			</ul>
		

		
			<ul class="left_nav_ul  {yun:}if $js_def!=3{/yun}none{yun:}/if{/yun}" id='def3'> 
				<li {yun:}if $smarty.get.c=="jobadd"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span>
						<a href="javascript:void(0)"  onclick="jobadd_url('{yun:}$addjobnum{/yun}','{yun:}$config.integral_job{/yun}','','{yun:}$config.com_integral_online{/yun}','{yun:}$config.integral_proportion{/yun}');return false;" class="f60 bold">
							<i class="com_left_icon com_left_icon_fb"></i>发布新职位
						</a>
					</span> 
				</li>
				<li {yun:}if $smarty.get.c=="job"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=job&w=1" title="发布中的职位" style="color:red;"><i class="com_left_icon com_left_icon_zwgl"></i>职位管理</a>
					</span>
				</li>
				<li {yun:}if $smarty.get.c=="jobpack"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=jobpack" title="赏金推广职位"><i class="com_left_icon com_left_icon_hbtgl"></i>赏金推广职位</a>
					</span>
				</li>
				<li {yun:}if $smarty.get.c=="zhaopinhui"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span><a href="index.php?c=zhaopinhui"><i class="com_left_icon com_left_iconzph"></i>招聘会记录</a></span>
				</li>    
				<li {yun:}if $smarty.get.c=="special"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span><a href="index.php?c=special" style="color:red;"><i class="com_left_icon com_left_icon_zt"></i>专题招聘</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="partadd"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span>
						<a onclick="jobadd_url('{yun:}$addpartjobnum{/yun}','{yun:}$config.integral_partjob{/yun}','part','{yun:}$config.com_integral_online{/yun}','{yun:}$config.integral_proportion{/yun}');" title="发布兼职" class="f60 bold" style="cursor:pointer"><i class="com_left_icon com_left_icon_jz"></i>发布兼职</a>
					
					</span> 
				</li>
				<li {yun:}if $smarty.get.c=="partok" || $smarty.get.c=="part"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span><a href="index.php?c=partok&w=1" title="全部兼职"><i class="com_left_icon com_left_icon_jzgl"></i>兼职管理</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="partapply"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span><a href="index.php?c=partapply" title="兼职报名"><i class="com_left_icon com_left_iconbm"></i>兼职报名</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="lt_job" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style04" {yun:}/if{/yun}>
					<span><a href="index.php?c=lt_job" title="猎头职位"><i class="com_left_icon com_left_icon_lt"></i>猎头职位</a></span>
				</li>
				<li {yun:}if $smarty.get.c=="tongji"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span><a href="index.php?c=tongji"><i class="com_left_icon com_left_icon_fx"></i>招聘分析</a></span>
				</li>
			</ul>
		
		
		

			<ul class="left_nav_ul  {yun:}if $js_def!=4{/yun}none{yun:}/if{/yun}" id='def4'>
			
				<li {yun:}if $smarty.get.c=="pay"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style05" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=pay" title="立刻充值">
							<font color="#FF0000"><i class="com_left_icon com_left_icon_cz"></i>立刻充值</font>
						</a>
					</span>
				</li>  

				<li {yun:}if $smarty.get.c=="paylogtc"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style08" {yun:}/if{/yun}>
					<span><a href="index.php?c=paylogtc" title="我的服务"><i class="com_left_icon com_left_icon_myhy"></i>我的服务</a></span>
				</li>
					
				<li {yun:}if $smarty.get.c=="right" && $smarty.get.act=="" || $smarty.get.c=="right" && $smarty.get.act=="time" || $smarty.get.c=="right" && $smarty.get.act=="added" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style12" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=right" style="color:red;">
							<i class="com_left_icon com_left_icon_fw"></i>会员服务
							<i class="com_icon com_icon_new"></i>
						</a>
					</span>
				</li>
			
				<li {yun:}if $smarty.get.c=="com" || $smarty.get.c=="paylog" {/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style09" {yun:}/if{/yun}>
					<span><a href="index.php?c=com" title="财务明细"><i class="com_left_icon com_left_icon_mx"></i>财务明细</a></span>
				</li>


				<li {yun:}if $smarty.get.act=="loglist"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style09" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=jobpack&act=loglist" title="赏金收益">
							<i class="com_left_icon com_left_icon_hb"></i>赏金收益
						</a>
					</span>
				</li>

				<li {yun:}if $smarty.get.c=="integral" || $smarty.get.c=="reward_list" || $smarty.get.c=="integral_reduce"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style12" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=integral"><i class="com_left_icon com_left_icon_gl"></i>{yun:}$config.integral_pricename{/yun}管理</a>
					</span>
				</li>

				<li {yun:}if $smarty.get.c=="coupon_list"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style12" {yun:}/if{/yun}>
					<span><a href="index.php?c=coupon_list"><i class="com_left_icon com_left_icon_yhq"></i>优惠卡券</a></span>
				</li>

				<li {yun:}if $smarty.get.c=="invoice"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style08" {yun:}/if{/yun}>
					<span><a href="index.php?c=invoice" title="发票列表"><i class="com_left_icon com_left_icon_fp"></i>我的发票</a></span>
				</li>

				<li {yun:}if $smarty.get.c=="ad_order"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style07" {yun:}/if{/yun}>
					<span>
						<a href="index.php?c=ad_order" title="广告位购买"><i class="com_left_icon com_left_icon_ban"></i>广告位购买</a>
					</span>
				</li>
			
			</ul>
		
			
	
			<ul class="left_nav_ul  {yun:}if $js_def!=7{/yun}none{yun:}/if{/yun}" id='def7'>
				<li {yun:}if $smarty.get.c=="vs"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span><a href="index.php?c=vs" title="修改密码"><i class="com_left_icon com_left_icon_m"></i>修改密码</a></span> 
				</li>  
				
					
				<li {yun:}if $smarty.get.c=="sysnews"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style11" {yun:}/if{/yun}>
					<span><a href="index.php?c=sysnews" title="系统消息"><i class="com_left_icon com_left_icon_xin"></i>系统消息</a></span> 
				</li>
				
				<li {yun:}if $smarty.get.c=="msg"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style03" {yun:}/if{/yun}>
					<span><a href="index.php?c=msg" title="求职咨询"><i class="com_left_icon com_left_icon_zx"></i>求职咨询</a></span> 
				</li>
				
				<li {yun:}if $smarty.get.c=="pl"{/yun} class="style01 left_nav_hover" {yun:}else{/yun} class="style05" {yun:}/if{/yun}>
					<span><a href="index.php?c=pl" title="企业评论"><i class="com_left_icon com_left_icon_pl"></i>面试评价</a></span> 
				</li>
				
			</ul>
	</div>
</div>	
<script>
$(function(){
	$('.left_box_nav_list li').click(function(){
		
		var datadef = $(this).attr('data-def');
		$('.left_nav_ul').addClass('none');
		$('#def'+datadef).removeClass('none');
		$('.left_box_nav_cur').removeClass('left_box_nav_cur');
		$(this).addClass('left_box_nav_cur');
	});
})
</script>