{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
	<div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
		<div class=right_box>
			<div id="grow_freedom" class="grow_mod_wrap my_freedom" style="padding:0px;border:none;">
				<iframe id="fdingdan"  name="fdingdan" onload="returnmessage('fdingdan');" style="display:none"></iframe>
				<div class="member_data">
					<div class="member_data_left">
						<div class="member_data_left_name">尊敬的企业用户：</div>
						<div class="mt10">您当前是：<span class="comindex_money_pd_s">{yun:}$statis.rating_name{/yun}</span></div>
						
						<!--未开通情况-->
						{yun:}if $statis.rating == 0{/yun}
						<div class="member_data_tip mt10">您还未开通任何会员，请及时开通！ <a href="index.php?c=right" class="cblue">立即开通</a></div>
						
						{yun:}else{/yun}
						<!--已开通情况-->
							<div>服务到期为：
								{yun:}if $statis.rating!='0'{/yun}
									{yun:}$statis.vip_stime|date_format:'%Y-%m-%d'{/yun} - 
									{yun:}if $statis.vip_etime==0{/yun}
										永久
									{yun:}else{/yun}
										{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}
									{yun:}/if{/yun}
								{yun:}else{/yun}
										已到期
								{yun:}/if{/yun}
							</div>
						{yun:}/if{/yun}
					</div>
        <div class="member_data_right">
          <ul>
            <li><span class="member_data_right_n">{yun:}if $statis.rating_type!='2'{/yun}{yun:}$statis.job_num{/yun}{yun:}else{/yun}不限{yun:}/if{/yun}</span>
              <div class="member_data_right_p">剩余职位数</div>
            </li>
            <li><span class="member_data_right_n">{yun:}if $statis.rating_type!='2'{/yun}{yun:}$statis.down_resume{/yun}{yun:}else{/yun}不限{yun:}/if{/yun}</span>
              <div class="member_data_right_p">剩余简历数</div>
            </li>
            <li><span class="member_data_right_n">{yun:}if $statis.rating_type!='2'{/yun}{yun:}$statis.invite_resume{/yun}{yun:}else{/yun}不限{yun:}/if{/yun}</span>
              <div class="member_data_right_p">剩余邀请数</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="admincont_box mt20">
        <div class="package_tit"><span class="com_tit_span">选择适合您的企业VIP套餐</span></div>
        <div class="report_uaer_list fl">
          <ul>
            {yun:}if $config.com_vip_type==2{/yun}
            <li><a href="index.php?c=right" >套餐会员</a></li>
            {yun:}/if{/yun}
            
            {yun:}if $config.com_vip_type==1{/yun}
            <li class="report_uaer_list_cur"><a href="index.php?c=right&act=time" >时间会员</a></li>
            {yun:}/if{/yun}
            
            {yun:}if $config.com_vip_type==0{/yun}
            <li><a href="index.php?c=right" >套餐会员</a></li>
            <li class="report_uaer_list_cur"><a href="index.php?c=right&act=time" >时间会员</a></li>
            {yun:}/if{/yun}
            <li><a href="index.php?c=right&act=added" >增值包</a></li>
          </ul>
        </div>
        
         <!--	时间模式	-->
        <ul class="package_time_list">
          {yun:}foreach from=$times item=v{/yun}
          <li>
            <div class="package_list_box">
              <div class="serve_zz_h_top ">{yun:}$v.name{/yun}
              <div class="serve_zz_h_top_time">有效时间 {yun:}if $v.service_time>0{/yun}{yun:}$v.service_time{/yun}天{yun:}else{/yun}永久{yun:}/if{/yun}</div>
              </div>
              <div class="serve_zz_h_nmb ">{yun:}if $v.time_start < time()&& $v.time_end > time(){/yun}￥{yun:}$v.yh_price{/yun}{yun:}else{/yun}￥{yun:}$v.service_price{/yun}{yun:}/if{/yun}
                {yun:}if $v.time_start < time()&& $v.time_end > time(){/yun}<i class="serve_zz_h_nmb_tcjg">￥{yun:}$v.service_price{/yun}</i>{yun:}/if{/yun} <span class="serve_zz_h_nmb_y"></span> </div>
              <div class="serve_zz_h_j ">
                <div class="serve_zz_h_jb "> 
                  <i class="com_grade_list_icon"></i>
                  <span class="serve_zz_h_jb_ft ">发布职位数</span>
                  <span class="serve_zz_h_jb_rt ">
                  {yun:}if $v.job_num > 0{/yun}
                  每日最多{yun:}$v.job_num{/yun}次/总数不限
                  {yun:}else{/yun}
                  不限
                  {yun:}/if{/yun}
                  </span>
                </div>
                <div class="serve_zz_h_jb "> <i class="com_grade_list_icon"></i> <span class="serve_zz_h_jb_ft ">刷新职位数</span> 
                  <span class="serve_zz_h_jb_rt ">
                  {yun:}if $v.breakjob_num > 0{/yun}
                  每日最多{yun:}$v.breakjob_num{/yun}次/总数不限
                  {yun:}else{/yun}
                  不限
                  {yun:}/if{/yun}
                  </span> </div>
                <div class="serve_zz_h_jb "> <i class="com_grade_list_icon"></i> <span class="serve_zz_h_jb_ft ">下载简历数</span>
                  <span class="serve_zz_h_jb_rt ">
                  {yun:}if $v.resume > 0{/yun}
                  每日最多{yun:}$v.resume{/yun}次/总数不限
                  {yun:}else{/yun}
                  不限
                  {yun:}/if{/yun}
                  </span> </div>
                <div class="serve_zz_h_jb "> <i class="com_grade_list_icon"></i> <span class="serve_zz_h_jb_ft ">邀请面试数</span> 
                  <span class="serve_zz_h_jb_rt ">
                  {yun:}if $v.interview > 0{/yun}
                  每日最多{yun:}$v.interview{/yun}次/总数不限
                  {yun:}else{/yun}
                  不限
                  {yun:}/if{/yun}
                  </span> </div>
                <div class="serve_zz_h_jb "> <i class="com_grade_list_icon"></i> <span class="serve_zz_h_jb_ft ">发布兼职数</span> 
                  <span class="serve_zz_h_jb_rt ">
                  {yun:}if $v.part_num > 0{/yun}
                  每日最多{yun:}$v.part_num{/yun}次/总数不限
                  {yun:}else{/yun}
                  不限
                  {yun:}/if{/yun}
                  </span> </div>
                <div class="serve_zz_h_jb "> <i class="com_grade_list_icon"></i> <span class="serve_zz_h_jb_ft ">刷新兼职数</span> 
                  <span class="serve_zz_h_jb_rt ">
                  {yun:}if $v.breakpart_num > 0{/yun}
                  每日最多{yun:}$v.breakpart_num{/yun}次/总数不限
                  {yun:}else{/yun}
                  不限
                  {yun:}/if{/yun}
                  </span> </div>
                <div class="serve_zz_h_jb "> <i class="com_grade_list_icon"></i> <span class="serve_zz_h_jb_ft ">发布猎头职位数</span> 
                  <span class="serve_zz_h_jb_rt ">
                  {yun:}if $v.lt_job_num > 0{/yun}
                  每日最多{yun:}$v.lt_job_num{/yun}次/总数不限
                  {yun:}else{/yun}
                  不限
                  {yun:}/if{/yun}
                  </span> </div>
                <div class="serve_zz_h_jb "> <i class="com_grade_list_icon"></i> <span class="serve_zz_h_jb_ft ">下载高级简历数</span> 
                  <span class="serve_zz_h_jb_rt ">
                  {yun:}if $v.lt_resume > 0{/yun}
                  每日最多{yun:}$v.lt_resume{/yun}次/总数不限
                  {yun:}else{/yun}
                  不限
                  {yun:}/if{/yun}
                  </span> </div>
                 
                <div class="serve_zz_h_jb "><i class="com_grade_list_icon"></i> <span class="serve_zz_h_jb_ft ">套餐说明</span> <span class="serve_zz_h_jb_rt "> <span class="com_grade_smbox ">
                  <div class="com_grade_smbox_cont" style="display:none;" id="rating{yun:}$v.id{/yun}">
					{yun:}if $v.explains{/yun}{yun:}$v.explains{/yun}{yun:}else{/yun}{yun:}$v.name{/yun}{yun:}/if{/yun}
									{yun:}if $v.integral_buy>0{/yun}赠送{yun:}$v.integral_buy{/yun}{yun:}$config.integral_pricename{/yun}{yun:}/if{/yun}
									{yun:}if $v.time_start < time() && $v.time_end >time(){/yun}
										{yun:}if $v.couponname{/yun}，现在购买，再送{yun:}$v.couponname{/yun}，先到先得，送完为止{yun:}/if{/yun}
									{yun:}/if{/yun}
				  </div>
                  <i class="com_grade_smicon" pid="{yun:}$v.id{/yun}"></i><i class="com_grade_smicon_san" style="display:none;" id="ratingtu{yun:}$v.id{/yun}"></i></span></span> </div>
                 
                <div class="serve_zz_but ">
                  <form name="alipayment" target="fdingdan" action="index.php?c=pay&act=dingdan" method="post" id='myform{yun:}$v.id{/yun}' >
                    <input type="hidden" value="{yun:}$v.id{/yun}" name="comvip" />
                    <a href="javascript:buyvip('{yun:}$v.id{/yun}');" class="added_list_gm">立即购买</a>
                  </form>
                </div>
              </div>
            </div>
          </li>
          {yun:}foreachelse{/yun}
          <div class="msg_no">
            <p>亲爱的用户，目前没有时间会员服务</p>
          </div>
          {yun:}/foreach{/yun}
        </ul>
        </div>
    </div>
  </div>
</div>
<style>
.serve_zz_h_nmb_tcjg_box{width:100%; text-align:center; padding-bottom:10px;}
.serve_zz_h_nmb_tcjg{ font-size:14px;color:#999; text-decoration:line-through; font-weight:normal}
</style>
<script>
function buyvip(id){
	setTimeout(function(){$('#myform'+id).submit();},0);
	
}
$(document).ready(function() {
	$(".com_grade_smicon").hover(function() {
        var pid=$(this).attr("pid");
		$("#rating"+pid).show();
		$("#ratingtu"+pid).show();
    },function(){
		var pid=$(this).attr("pid");
		$("#rating"+pid).hide();
		$("#ratingtu"+pid).hide();
	});
    
});
</script> 
{yun:}include file="$comstyle/footer.htm"{/yun} 