<!----职位赏金----------rewardpay--->
<div class="yun_resume_buy" id="rewardpay" style="display:none;">
	<div class="Value_added" style="width:100%;min-height:320px; padding:0px;border:0px; background:#fff">
		<div class="">
            <div class="clear"></div>
			<!--分享红包-->
			<div  class='reward-share' id="sharejob">

				<div class="job_redpack_h1"><i class="job_redpack_h1_icon job_redpack_h1_hb"></i>本职位赏金</div>

				<div class="job_redpack_list">
					<div class="job_redpack_list_name">投递赏金：</div> 
					<span class="job_redpack_list_n sqmoney"></span>
				</div>

				<div class="job_redpack_list">
					<div class="job_redpack_list_name">面试赏金：</div> 
					<span class="job_redpack_list_n invitemoney"></span>
				</div>

				<div class="job_redpack_list">
					<div class="job_redpack_list_name">入职赏金：</div> 
					<span class="job_redpack_list_n offermoney"></span>
				</div>

				<div class="clear"></div>
				
				<!---付款区域------>
			
				<form name="alipayment"  id="payform" action="../api/alipay/alipayto.php" method="post" target="_blank" onsubmit="return payforms();">
				<div  class="job_redpack_cz">

					<div  class="job_redpack_list">
						<div class="job_redpack_list_name">预先支付赏金：</div>
						<span class="added_de_box_fk_je" id="price">0</span> 元
					</div>
					 
					<div  class="job_redpack_list">
 						{yun:}if $config.alipay=='1' || $config.wxpay=='1'{/yun}
							<div class="job_redpack_list_name">支付方式：</div> 
							
							{yun:}if $config.wxpay=='1'{/yun}
								<div class="job_redpack_pay">
									<a href="javascript:;" onclick="getOrder('wxpay');"><img src="{yun:}$com_style{/yun}/images/wx_pay.png"> 微信支付</a>
								</div> 
							{yun:}/if{/yun}
							
							{yun:}if $config.alipay=='1'{/yun}
								<div class="job_redpack_pay">
									<a href="javascript:;" onclick="getOrder('alipay');"><img src="{yun:}$com_style{/yun}/images/ap_pay.png">支付宝支付</a>
								</div>
							{yun:}/if{/yun}

						{yun:}else{/yun}
							
							<div class="con_banner_no" style="width:300px;"><span></span><em>网站已关闭支付接口，请联系管理员</em></div>

						{yun:}/if{/yun}
  						
						<input type="hidden" value="" id="pay_type" name="pay_type" value=''/>
						<input type="hidden" name="dingdan" id="order_id" value=""/>
						<input type="hidden" value="预先支付职位赏金"  name="subject" value=''/>
						<input type="hidden" name="pay_bank" value="directPay">
						<input type="hidden" id="jobid" value="">
					
					</div>
				 
				</div>
				</form>
				<input type="hidden" name="orderid" id="orderid" value=""/>
			</div>
			<!--商家支付-->
	
		</div>
	</div>
</div>
<!----职位推广END------------->

<!--  微信tck-->
<div id="wxpayTx"  style="display:none;">
	<div class="wx_payment">
		<div class="wx_payment_cont">
			<div class="wx_payment_ewm">正在加载微信二维码,请稍候....</div> 
		</div>
		<div class="wx_payment_h2">二维码有效时长为2小时，请尽快支付</div>
		<div class="wx_payment_tip">
			<div class="wx_payment_tip_left">
				<i class="wx_payment_tip_line1"></i>
				<i class="wx_payment_tip_line2"></i>
				<i class="wx_payment_tip_line3"></i>
			</div> 
			<div class="wx_payment_tip_right">请使用微信扫一扫<br>扫描二维码支付</div>
		</div>
	</div>
</div>  
<!--支付弹出框-->
<div id="payshow" style="width:450px; position:absolute;left:0px;top:0px; background:#fff; display:none;">
	<div class="payment_tip">
		请在新打开的支付页面上完成付款，付款完成前请不要关闭此窗口。<br>
		如您在支付过程中遇到问题，请联系客服：<span class="payment_tip_s">{yun:}$config.sy_freewebtel{/yun}</span>
	</div>
	<div class="payment_bottom">
		<a href="javascript:;" onclick="location.reload();" class="payment_bottombutt">已完成付款</a>
		<a href="javascript:;" onclick="location.reload();" class="payment_bottom_bth2">重新支付</a>
	</div>
</div>

<!----邀请面试--->
<div id='job_box' style="display:none;float:left">
	<div class="resume_yqbox">
		<dl>
			<dt>联系人：</dt>
			<dd><input size='20'  id='linkman' value='' class="resume_yqbox_text"></dd>
		</dl>
		<dl>
			<dt>联系电话：</dt>
			<dd><input size='20'  id='linktel' value='' class="resume_yqbox_text"></dd>
		</dl>
		<dl>
			<dt>面试日期：</dt>
			<dd>
				<input size='34' id='intertime' value='' class="resume_yqbox_text">
				<script>layui.use(['laydate'], function(){var laydate = layui.laydate,$ = layui.$;laydate.render({elem: '#intertime'});});</script>
			</dd>
		</dl>
		<dl>
			<dt>面试地址：</dt>
			<dd><input size='34' id='address' value='' class="resume_yqbox_text"></dd>
		</dl>
		<dl>
			<dt>面试备注：</dt>
			<dd><textarea id="content" cols="40" rows="5" class="resume_yqbox_textarea"></textarea></dd>
		</dl>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input class="resume_sub_yq" onclick="invite();" type="button" value="邀请面试"></dd>
		</dl>
	</div>
</div>
<script>
	var pro = '{yun:}$config.integral_proportion{/yun}';
</script>
<script src="{yun:}$config.sy_weburl{/yun}/js/rewardpay.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script> 

