{yun:}include file="$comstyle/header.htm"{/yun} 
<script>
function statusbody(id){
	var statusbody=$("#statusbody"+id).attr('statusbody');
	$("#showbody").html(statusbody)
	$.layer({
		type : 1,
		title : '审核说明',
		closeBtn : [0 , true],
		border : [10 , 0.3 , '#000', true],
		area : ['320px','auto'],
		page : {dom : '#infobox'}
	});
}
</script>
<div class="w1000">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun}
    <div class=right_box>
      <div class=admincont_box>
        <div class="com_tit"><span class="com_tit_span">专题招聘</span></div>
        <div class="clear"></div>
        <div class="com_body">
          <div class="admin_new_tip">
            <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
            <div class="admin_new_tip_list_cont">
              <div class="admin_new_tip_list">只有网站管理员发起专题招聘才可参加 </div>
            </div>
          </div>
          <div class="clear"></div>
          <table class="com_table mt20">
            <tr>
              <th >专题名称</th>
              <th>时间</th>
              <th>状态 </th>
              <th width="60">操作</th>
            </tr>
            {yun:}foreach item=v from=$rows{/yun}
            <tr>
              <td><a href="{yun:}url m=special c=show id='`$v.sid`'{/yun}" class="cblue" target=_blank>{yun:}$v.title{/yun}</a></td>
              <td align="center">{yun:}$v.time|date_format:'%Y-%m-%d'{/yun}</td>
              <td align="center">{yun:}if $v.status==1{/yun}<font color="green">已审核</font>{yun:}elseif $v.status==2{/yun}<span class="tip_no"><i class="tip_no_icon"></i>未通过</span>{yun:}else{/yun}<span class="tip_no"><i class="tip_no_icon"></i>未审核</span>{yun:}/if{/yun}{yun:}if $v.status==2{/yun} <a href="javascript:void(0);" class="wtg_ly cblue " id="statusbody{yun:}$v.id{/yun}" statusbody="{yun:}$v.statusbody{/yun}" onclick="statusbody('{yun:}$v.id{/yun}');" >说明</a> {yun:}/if{/yun}</td>
              <td align="center"> <a href="javascript:void(0)" onclick="layer_del('确定要删除？', 'index.php?c=special&act=del&id={yun:}$v.id{/yun}');" class="com_bth cblue">删除</a></td>
            </tr>
            {yun:}foreachelse{/yun}
            <tr>
              <td colspan="8" class="table_end"><div class="com_msg_no">
                  <p>亲爱的用户，目前您还没有报名专题招聘</p>
                  <a class="com_msg_no_bth com_submit" href="{yun:}url m=special{/yun}" target="_blank">查看专题招聘信息</a> </div></td>
            </tr>
            {yun:}/foreach{/yun}
            <tr>
              <td colspan="8" class="table_end"><div class="diggg">{yun:}$pagenav{/yun}</div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="admin_Operating_sh" id="infobox" style="padding:10px;display:none;">
  <div class="" style="padding:5px; height:auto;color:#C30; font-size:14px; line-height:23px;white-space: normal; word-break: break-all;" id="showbody"> </div>
</div>
{yun:}include file="$comstyle/footer.htm"{/yun}